/* line 36, ../sass/_init.scss */
.imgContainerCenter img {
  display: block;
  margin: 0 auto;
}

/* line 40, ../sass/_init.scss */
.imgContainerRight img {
  display: block;
  margin-left: auto;
}

/* line 44, ../sass/_init.scss */
.imgContainerLeft img {
  display: block;
  margin-right: auto;
}

/* line 48, ../sass/_init.scss */
.txt-blanco {
  color: white;
}

/* line 51, ../sass/_init.scss */
.txt-naranja {
  color: #F08F04;
}

/* line 54, ../sass/_init.scss */
.textSeparator {
  clear: both;
  height: 1px;
  padding-bottom: 20px;
  border-top: 1px solid #989898;
  margin-top: 20px;
  border-bottom: 0;
  text-align: center;
}
/* line 62, ../sass/_init.scss */
.textSeparator div {
  background-color: #d0d0d0;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  padding: 0 35px;
  line-height: 36px;
  top: -19px;
}
/* line 70, ../sass/_init.scss */
.textSeparator div span {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}

/*checkboxes*/
/* line 80, ../sass/_init.scss */
input[type="checkbox"] {
  /*display: none;*/
}

/* line 83, ../sass/_init.scss */
label {
  cursor: pointer;
}

/* line 86, ../sass/_init.scss */
/*input[type="checkbox"] + label:before {*/
  /*border: 1px solid black;*/
  /*content: "\00a0";*/
  /*display: inline-block;*/
  /*font: 16px/1em sans-serif;*/
  /*height: 16px;*/
  /*margin: 0 .25em 0 0;*/
  /*padding: 0;*/
  /*vertical-align: top;*/
  /*width: 16px;*/
/*}*/

/* line 97, ../sass/_init.scss */
/*input[type="checkbox"]:checked + label:before {*/
  /*color: black;*/
  /*content: "\2713";*/
  /*text-align: center;*/
/*}*/

/* line 103, ../sass/_init.scss */
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

/* line 106, ../sass/_init.scss */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 115, ../sass/_init.scss */
.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  /* line 120, ../sass/_init.scss */
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 126, ../sass/_init.scss */
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 132, ../sass/_init.scss */
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/* line 1, ../sass/_styles.scss */
.header-space {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}

/* line 7, ../sass/_styles.scss */
.header-background {
  background-image: url("../images/header_nosotros_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 13, ../sass/_styles.scss */
.header-background-orange {
  background-image: url("../images/background-header-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 20, ../sass/_styles.scss */
.portalia-logo {
  width: 25%;
  height: 60%;
  margin: 2.5vw auto;
}

/* line 26, ../sass/_styles.scss */
.portalia-logo-background {
  background-image: url("../images/portalia_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 33, ../sass/_styles.scss */
.orange-divider {
  width: 100%;
  height: 1vw;
}

/* line 38, ../sass/_styles.scss */
.orange-divider-background {
  background-image: url("../images/orange-divider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 45, ../sass/_styles.scss */
.header-space .titleContainer {
  position: relative;
  top: 50;
}
/* line 49, ../sass/_styles.scss */
.header-space h2 {
  color: white;
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
}
/* line 56, ../sass/_styles.scss */
.header-space .line-separator {
  margin: 0 auto;
  height: 2px;
  width: 350px;
}

/* line 3, ../sass/404.scss */
.error-404 {
  background: url("../images/404-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 7, ../sass/404.scss */
.error-404 .header-space {
  background: rgba(0, 0, 0, 0.5);
}
/* line 9, ../sass/404.scss */
.error-404 .header-space .titleContainer {
  position: relative;
  top: 0;
}
@media screen and (min-width: 1500px) {
  /* line 9, ../sass/404.scss */
  .error-404 .header-space .titleContainer {
    top: 20%;
  }
}
/* line 15, ../sass/404.scss */
.error-404 .header-space .titleContainer h2 {
  color: #F08F04;
  font-size: 6rem;
}
/* line 21, ../sass/404.scss */
.error-404 .orange-divider {
  height: 3px;
}
/* line 24, ../sass/404.scss */
.error-404 h4 {
  color: white;
  text-align: center;
  font-family: montserrat-light;
  font-size: 4rem;
}
