/* line 1, ../sass/_styles.scss */

.header-space {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}


/* line 7, ../sass/_styles.scss */

.header-background {
  background-image: url("../images/header_nosotros_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* line 13, ../sass/_styles.scss */

.header-background-orange {
  background-image: url("../images/background-header-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* line 20, ../sass/_styles.scss */

.portalia-logo {
  width: 25%;
  height: 60%;
  margin: 2.5vw auto;
}


/* line 26, ../sass/_styles.scss */

.portalia-logo-background {
  background-image: url("../images/portalia_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* line 33, ../sass/_styles.scss */

.orange-divider {
  width: 100%;
  height: 4vw;
}


/* line 38, ../sass/_styles.scss */

.orange-divider-background {
  background-image: url("../images/orange-divider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* line 45, ../sass/_styles.scss */

.header-space .titleContainer {
  position: relative;
  top: 50;
}


/* line 49, ../sass/_styles.scss */

.header-space h2 {
  color: white;
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
}


/* line 56, ../sass/_styles.scss */

.header-space .line-separator {
  margin: 0 auto;
  height: 2px;
  width: 350px;
}


/* line 1, ../sass/_blog.scss */

.blogContainer {
  max-width: 194px;
}


/* line 3, ../sass/_blog.scss */

.blogContainer .titleContainer {
  background: black;
  width: 100%;
}


/* line 6, ../sass/_blog.scss */

.blogContainer .titleContainer h3 {
  text-transform: uppercase;
  color: white;
  padding: 6px 10px 6px 10px;
  font-family: montserrat-light;
  letter-spacing: 7px;
  font-size: 2.3rem;
  text-align: center;
}


/* line 16, ../sass/_blog.scss */

.blogContainer .trianguloBlog {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
  position: absolute;
  top: 42px;
}


/* line 26, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer {
  position: relative;
  margin-top: 10px;
}


/* line 29, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer .imgContainerCenter img {
  width: 100%;
}


/* line 32, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer .info {
  background: rgba(0, 0, 0, 0.5);
  max-width: 194px;
  min-height: 60px;
  position: absolute;
  top: 60%;
  width: 100%;
}

@media screen and (max-width: 1281px) {
  /* line 32, ../sass/_blog.scss */
  .blogContainer .postsContainer .postContainer .info {
    top: 44%;
  }
}


/* line 42, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer .info .col-xs-3 {
  min-height: 60px;
  background: rgba(240, 143, 4, 0.7);
}


/* line 46, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer .info .col-xs-3 span {
  color: white;
  font-family: montserrat-bold;
  font-size: 3em;
}


/* line 51, ../sass/_blog.scss */

.blogContainer .postsContainer .postContainer .info .col-xs-9 span {
  color: white;
  font-family: montserrat-hairline;
}


/* line 59, ../sass/_blog.scss */

.blogDivider {
  height: 3px;
  position: absolute;
  width: 194px;
}

@media screen and (max-width: 1281px) {
  /* line 59, ../sass/_blog.scss */
  .blogDivider {
    width: 100%;
  }
}


/* line 3, ../sass/Anuncios-por-sector.scss */

.filtrosContainer {
  max-width: 80%;
  margin: -10px auto;
}


/* line 7, ../sass/Anuncios-por-sector.scss */

.listContainer {
  height: auto;
  padding: 12px;
}


/* line 12, ../sass/Anuncios-por-sector.scss */

.listaAlfabetica {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
}


/* line 16, ../sass/Anuncios-por-sector.scss */

.listaAlfabetica li {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 4px;
}

@media screen and (min-width: 1500px) {
  /* line 16, ../sass/Anuncios-por-sector.scss */
  .listaAlfabetica li {
    font-size: 1.8rem;
    margin-right: 10px;
  }
}


/* line 26, ../sass/Anuncios-por-sector.scss */

.listaAlfabetica li:hover {
  color: white;
}


/* line 31, ../sass/Anuncios-por-sector.scss */

.buscarPorZona {
  display: inline-block;
  float: right;
  margin-top: -1px;
}


/* line 34, ../sass/Anuncios-por-sector.scss */

.buscarPorZona input {
  width: 250px;
  border: none;
  background: black;
  border-radius: .3em;
  padding: 3px 10px 5px 10px;
  display: inline-block;
}

@media screen and (min-width: 1500px) {
  /* line 34, ../sass/Anuncios-por-sector.scss */
  .buscarPorZona input {
    padding: 8px 10px 8px 10px;
  }
}


/* line 47, ../sass/Anuncios-por-sector.scss */

.buscarPorZona .icon {
  display: inline-block;
  width: 30px;
}


/* line 50, ../sass/Anuncios-por-sector.scss */

.buscarPorZona .icon img {
  max-width: 25px;
}

@media screen and (min-width: 1500px) {
  /* line 50, ../sass/Anuncios-por-sector.scss */
  .buscarPorZona .icon img {
    max-width: 30px;
  }
}


/* line 59, ../sass/Anuncios-por-sector.scss */

.anunciosDestacados {
  background: #000000;
}


/* line 61, ../sass/Anuncios-por-sector.scss */

.anunciosDestacados .anunciosDestacadosContainer {
  width: 70%;
  max-width: 1100px;
  min-height: 400px;
  overflow: auto;
  padding-top: 20px;
  margin: 0 auto;
}


/* line 69, ../sass/Anuncios-por-sector.scss */

.anunciosDestacados .anunciosDestacadosContainer .anuncioContainer .infoContainer h4 {
  color: white;
}


/* line 76, ../sass/Anuncios-por-sector.scss */

.imgContainerCenter img {
  width: 100%;
  margin: 0 auto;
  display: block;
}


/* line 82, ../sass/Anuncios-por-sector.scss */

.anuncioContainer {
  padding: 10px;
}


/* line 84, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .imgDestacado img {
  width: 218px;
  height: 218px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  -moz-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
}


/* line 92, ../sass/Anuncios-por-sector.scss */

.infoContainer {
  margin-top: 20px;
}


/* line 94, ../sass/Anuncios-por-sector.scss */

.infoContainer h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat-light;
  letter-spacing: 4px;
  font-size: 1.9rem;
}


/* line 102, ../sass/Anuncios-por-sector.scss */

.datosAnunciante {
  list-style: none;
  padding-left: 50px;
}


/* line 105, ../sass/Anuncios-por-sector.scss */

.datosAnunciante li {
  display: inline-block;
  line-height: 34px;
}


/* line 108, ../sass/Anuncios-por-sector.scss */

.datosAnunciante li .icon {
  display: inline-block;
}


/* line 110, ../sass/Anuncios-por-sector.scss */

.datosAnunciante li .icon img {
  width: 25px;
  margin-right: 10px;
}


/* line 115, ../sass/Anuncios-por-sector.scss */

.datosAnunciante li span {
  font-family: montserrat-light;
  color: white;
}


/* line 121, ../sass/Anuncios-por-sector.scss */

.otrosAnunciantes {
  background: white;
}


/* line 123, ../sass/Anuncios-por-sector.scss */

.otrosAnunciantes .otrosAnunciantesContainer {
  overflow: auto;
  padding-top: 20px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}


/* line 133, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .imgAnuncio img {
  width: 154px;
  border: 3px solid black;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
}


/* line 140, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .imgAnuncio+.infoContainer h4 {
  font-family: montserrat-bold;
  font-size: 1.69rem;
}


/* line 144, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .datosAnunciante.otros {
  padding-left: 10px;
}


/* line 146, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .datosAnunciante.otros li {
  line-height: 28px;
}


/* line 149, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .datosAnunciante.otros li .icon img {
  width: 24px;
  margin-right: 5px;
}


/* line 153, ../sass/Anuncios-por-sector.scss */

.anuncioContainer .datosAnunciante.otros li span {
  color: #666666;
}


/* line 159, ../sass/Anuncios-por-sector.scss */

.row.anuncio {
  margin-top: 20px;
}


/* line 163, ../sass/Anuncios-por-sector.scss */

.favorito {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/icons/favorito-before.svg");
  left: 67%;
  top: 5%;
}


/* line 171, ../sass/Anuncios-por-sector.scss */

.favorito:hover {
  background: url("../images/icons/favorito-after.svg");
}


/* line 176, ../sass/Anuncios-por-sector.scss */

.favorito.agregado {
  background: url("../images/icons/favorito-after.svg") !important;
}

.img-important {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.75) !important;
  -moz-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.75) !important;
  box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.75) !important;
}

.container-free {
  /*border: 2px solid black;*/
  border-left: 2px solid black;
  border-top: 2px solid black;
  -webkit-box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
  box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
}

.container-plus {
  background-color: white;
  /*border: 2px solid black;*/
  border-left: 2px solid black;
  border-top: 2px solid black;
  -webkit-box-shadow: 6px 6px 12px 0px rgba(240, 143, 4, 1);
  -moz-box-shadow: 6px 6px 12px 0px rgba(240, 143, 4, 1);
  box-shadow: 6px 6px 12px 0px rgba(240, 143, 4, 1);
}

.favorite-free {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1349px) {
  .buscador-letras {
    padding-bottom: 8px;
  }
  .buscador-letras input {
    margin-top: 1em;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .letras {
    font-size: 18px
  }
}

.ico {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.centradoPremium {
  float: none;
  margin: 0 auto;
}

.centradoPremiumDos {
  margin-left: 11%;
}

.fondo-select {
  border: 1.98px;
  border-color: rgba(240, 143, 4, 0.75);
  border-style: solid;
}

.img-container-background {
  height: 230px;
  width: 100%;
  overflow: hidden;
  display: block;
  display: table;
  position: relative;
}

.img-container {
  height: 230px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.img-container img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.icon-fix {
  width: 35px !important;
  height: 35px !important;
}
