.panel-title a
{
  font-size: 2rem;
  text-decoration: none;
}
.panel-body ul a
{
  color: #333;
  text-decoration: none;
}
.panel-body ul a:hover
{
  color: rgba(0, 0, 0, 0.5);;
  text-decoration: none;
}
.width-100 { width: 100%;}

.border-yellow
{
  border-bottom: 1px solid #f04f08;
}
.mini-letter
{
  font-size: 10px;
}

.filtros
{
  position: fixed;
  right: 33.3%;
  bottom:  0;
  background-color: #000;
  color: white;
  width: 33.3%;
  z-index: 10;
  font-size: 2.5rem;
  text-align: center;
  line-height: 4rem;
  border: 0px;
  border-radius: 6px 6px 0 0;
}

.border-panel
{
  padding: 3px;
  margin: 8px;
  /*border-radius: 8px;*/
  border: 1px solid #eee;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.35);
}
.panel-body ul a,
.panel-title
{
  font-family: Montserrat-Light ;
  font-size: 15px ;
}

h3.yellow,.tag { font-family: Montserrat-Light ; } 

#myNavmenu { overflow-x: hidden; }

.btn-loadnews 
{ 
  width: 100%; 
  border-radius: 0px;
  background-color: #808080;
  color: white;
  font-size: 20px;
}