.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
  width: 39px;
}

textarea {
  resize: none;
}

.padding-30 {
  padding: 30px;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.orange {
  color: #f08f04;
}

.logo-portalia {
  max-width:200px;
}

.btn-orange {
  color: #FFFFFF;
  background-color: #F08F04;
  border-color: #F08F04;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #FFFFFF;
  background-color: #FCB24B;
  border-color: #FCB24B;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #F08F04;
  border-color: #F08F04;
}

.btn-orange .badge {
  color: #F08F04;
  background-color: #FFFFFF;
}

.image-card {
  border-radius: 10px;

  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.20);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.20);
  height: 300px;
  padding: 10px;
  margin-bottom: 30px;
}

.image-card > img {
  width: 90%;
  max-height: 250px;
  margin-bottom: 100px;
}
.image-card > button {
  margin-top: 20px;
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0px;
}


.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.chat-container {
  background-color: rgba( 230,230,230, .6);
  border-radius: 5px;

}

.last-chats {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0px;
  height: 695px;
}

.chat-scroll { overflow-y: scroll; }
.chat-scroll::-webkit-scrollbar {
  width: 10px;
}

.chat-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
  border-radius: 0px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}


.last-chats > ul {
  padding: 0px 0px 0px 4px;
  background-color: transparent;
  max-height: 690px;
}
.last-chats > ul:first-child {
  margin-top: 10px;
}
.last-chats > ul > li{
  padding: 15px 15px 15px 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  line-height: 50px;
}
.last-chats > ul > li.active{
  background-color: #E9EBEB;
}
.last-chats > ul > li:hover{
  background-color: #F4F5F5;
}
.last-chats > ul > li > img{
  border-radius: 50%;
  width: 50px;
  height:50px;
}
@media (max-width:767px){
  .card-favorite{
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
    float: none !important;
  }
  .img-card-favorite{
    width: 300px !important;
    height: 300px !important;
    margin:  auto;
    float: none !important;
  }
}
@media (min-width:768px) and (max-width: 991px){
  .mt-card-item{
    padding: 20px 0px 10px !important;
  }
  .card-favorite{
    margin:0 auto;
    width: 250px !important;
    height: 250px !important;
    float: none !important;

  }
  .img-card-favorite{
    margin:0 auto;
    width: 250px !important;
    height: 250px !important;
    float: none !important;
  }
}
@media (min-width:992px) and (max-width: 1600px){
  .mt-card-item{
    padding: 20px 0px 10px !important;
  }
  .card-favorite{
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto;
    float: none !important;
  }
  .img-card-favorite{
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto;
    float: none !important;
  }
}
@media (min-width:1601px){
  .mt-card-item{
    padding: 20px 0px 10px !important;
  }
  .card-favorite{
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
    float: none !important;
  }
  .img-card-favorite{
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
    float: none !important;
  }
}

.last {
  color: red !important;}


.mt-card-item {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}

.mt-card-item:hover {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

#summernote {
  min-height:200px;
}

.mt-element-step .step-thin .done {
  background-color: #F08F04 !important;
}
.mt-element-step .step-thin .active {
  background-color: #F08F04 !important;
}
.mt-element-step .step-thin .active .mt-step-number{
  color: #F08F04 !important;
}
.mt-element-step .step-thin .done .mt-step-number {
  color: #F08F04 !important;
}

.mt-step-col {
  cursor: pointer;
}

.mt-step-col:hover {
  opacity: .8;
}





