.imgContainerCenter img {
  display: block;
  margin: 0 auto;
}
.imgContainerRight img {
  display: block;
  margin-left: auto;
}
.imgContainerLeft img {
  display: block;
  margin-right: auto;
}
.txt-blanco {
  color: white;
}
.txt-naranja {
  color: #F08F04;
}
.textSeparator {
  clear: both;
  height: 1px;
  padding-bottom: 20px;
  border-top: 1px solid #989898;
  margin-top: 20px;
  border-bottom: 0;
  text-align: center;
}
.textSeparator div {
  background-color: #d0d0d0;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  padding: 0 35px;
  line-height: 36px;
  top: -19px;
}
.textSeparator div span {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}

/*checkboxes*/

input[type="checkbox"] {
  /*display: none;*/
}
label {
  cursor: pointer;
}
/*input[type="checkbox"]+ label:before {*/
  /*border: 1px solid black;*/
  /*content: "\00a0";*/
  /*display: inline-block;*/
  /*font: 16px/1em sans-serif;*/
  /*height: 16px;*/
  /*margin: 0 0.25em 0 0;*/
  /*padding: 0;*/
  /*vertical-align: top;*/
  /*width: 16px;*/
/*}*/
/*input[type="checkbox"]:checked+ label:before {*/
  /*color: black;*/
  /*content: "\2713";*/
  /*text-align: center;*/
/*}*/
input[type="checkbox"]:checked+ label:after {
  font-weight: bold;
}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.col-xs-18, .col-sm-18, .col-md-18, .col-lg-18 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-18 {
  width: 12.5%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-18 {
    width: 12.5%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-18 {
    width: 12.5%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-18 {
    width: 12.5%;
    float: left;
  }
}
.header-space {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}
.header-background {
  background-image: url("../images/header_nosotros_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-background-orange {
  background-image: url("../images/background-header-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.portalia-logo {
  width: 25%;
  height: 60%;
  margin: 2.5vw auto;
}
.portalia-logo-background {
  background-image: url("../images/portalia_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.orange-divider {
  width: 100%;
  height: 1vw;
}
.orange-divider-background {
  background-image: url("../images/orange-divider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-space .titleContainer {
  position: relative;
  top: 50;
}
.header-space h2 {
  color: white;
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.header-space .line-separator {
  margin: 0 auto;
  height: 2px;
  width: 350px;
}
.loginContainer> div {
  overflow: auto;
  width: 400px;
  padding: 5px 20px 13px 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: 0px;
}
.loginContainer> div h4 {
  text-align: center;
  font-family: montserrat-hairline;
}
.loginContainer> div p {
  color: black;
  padding-top: 1.5%;
  font-size: 1.2rem;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: montserrat-hairline;
}
.loginContainer> div p a {
  font-family: montserrat;
  color: black;
}
.loginContainer> div .space {
  height: 30px;
}
.loginContainer> div .btnContainer.iniciarSesion {
  background: transparent;
  border: 2px solid #F08F04;
  text-align: center;
  padding: 6px 0 6px 0;
  max-width: 70%;
  margin: 0 auto;
}
.loginContainer> div .btnContainer.iniciarSesion a {
  color: #F08F04;
  font-family: montserrat-hairline;
  font-size: 2.2rem;
}
.loginContainer> div .fbLoginContainer {
  margin: 0 auto;
}
.loginContainer> div .or-lines {
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginContainer> div .or-lines .or-line {
  width: 43%;
  height: 1px;
  background: #f08f04;
  display: inline-block;
}
.loginContainer> div .or-lines .or {
  display: inline-block;
  width: 10%;
  text-align: center;
  position: relative;
  top: 3px;
}
.loginContainer> div .or-lines .or span {
  font-family: montserrat-hairline;
  font-size: 2rem;
}
.loginContainer> div .btnContainer.registro {
  background: #F08F04;
  text-align: center;
  padding: 6px 0 6px 0;
  width: 45%;
  display: inline-block;
}
.loginContainer> div .btnContainer.registro a {
  color: white;
  font-family: montserrat-hairline;
  font-size: 2.4rem;
}
.loginContainer> div form.login input {
  width: 100%;
  border: solid 1px #f08f04;
  padding: 10px 4px 10px 6px;
  font-family: montserrat-hairline;
  margin-bottom: 10px;
}
.loginContainer> div form.login input:focus {
  outline: solid 1px #f08f04;
}
.loginContainer> div form.login .btnContainer.iniciarSesion {
  background: #F08F04;
  text-align: center;
  padding: 6px 0 6px 0;
  max-width: 100%;
  border: none;
}
.loginContainer> div form.login .btnContainer.iniciarSesion a {
  color: white;
  font-family: montserrat-hairline;
  font-size: 2.4rem;
}
.loginContainer> div .recuperarPass {
  text-align: right;
}
.loginContainer> div .recuperarPass a {
  color: #F08F04;
  font-size: 1.2rem;
}
.loginContainer> div input[type="checkbox"]+ label:before {
  content: "\00a0";
  display: inline-block;
  font: 16px/1em montserrat-bold;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background: #F08F04;
  border: none;
}
.loginContainer> div input[type="checkbox"]:checked+ label:before {
  color: black;
  content: "\2713";
  text-align: center;
}
.loginContainer> div input[type="checkbox"]:checked+ label:after {
  font-weight: bold;
}
.loginContainer> div .lineSeparetor {
  height: 1px;
  background: #F08F04;
  width: 100%;
}
.loginContainer> div .no-tienes-cuenta {
  text-align: left;
  font-size: 1.4rem;
}
.loginContainer> div .no-tienes-cuenta a {
  color: #F08F04;
  margin-left: 5px;
}
.loginContainer {
  font-family: montserrat;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.loginContainer .cerrar {
  color: white;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  cursor: pointer;
  background: #F08F04;
  padding: 2px 6px 3px 6px;
}
.loginContainer .cerrar:hover {
  color: black;
}
.loginScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.loginContainer> div h4 {
  font-family: montserrat-light;
  font-size: 1.5rem;
}
.socialMediaContainer {
  overflow: auto;
  margin-top: 15px;
}
.socialMediaContainer .inputContainer {
  overflow: auto;
  margin-bottom: 10px;
}
.socialMediaContainer .inputContainer .imgContainerCenter img {
  max-width: 50px;
  position: relative;
  bottom: 3px;
}
.socialMediaContainer .inputContainer .col-xs-3 {
  padding-right: 0;
}
.socialMediaContainer .inputContainer .col-xs-9 {
  padding-left: 0;
}
.socialMediaContainer .inputContainer input {
  width: 100%;
  border: 1px solid #F08F04;
  height: 40px;
  padding-left: 10px;
  font-family: montserrat-light;
}
.socialMediaContainer .inputContainer input:focus {
  outline: none;
}
.btnContainer.registro.finalizar {
  width: 100% !important;
  margin-top: 20px;
}
