.footer-background {
  background-image: url(../images/footer_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-space {
  min-height: 323px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.footer-content {
  width: 100%;
  margin: 5rem auto;
}

.footer-title {
  color: #F08F04;
  font-family: montserrat-light;
  text-align: center;
  margin-bottom: 2vw;
  font-size: 20px;
}

.footer-text {
  color: white;
  font-size: 15px;
  font-family: montserrat-light;
  text-align: center;
}

.pricing-button {
  font-size: 2rem;
  width: 60%;
}

.blog-button {
  font-size: 1.8rem;
  width: 80%;
}

.footer-button {
  margin: 3rem auto;
  display: table;
  min-height: 4rem;
  color: white;
  border: solid 2px white;
  text-align: center;
}

.footer-button span {
  display: table-cell;
  vertical-align: middle;
}

.footer-button:hover {
  text-decoration: none;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.facebook-icon {
  background-image: url(../images/facebook.png);
}

.facebook-icon:hover {
  background-image: url(../images/facebook-black.png);
}

.gplus-icon {
  background-image: url(../images/gplus.png);
}

.gplus-icon:hover {
  background-image: url(../images/gplus-black.png);
}

.twitter-icon {
  background-image: url(../images/twitter.png);
}

.twitter-icon:hover {
  background-image: url(../images/twitter-black.png);
}

.linkedin-icon {
  background-image: url(../images/linkedin.png);
}

.linkedin-icon:hover {
  background-image: url(../images/linkedin-black.png);
}

.youtube-icon {
  background-image: url(../images/youtube.png);
}

.youtube-icon:hover {
  background-image: url(../images/youtube-black.png);
}

.social {
  display: block;
}

.social-icon {
  margin: 0 auto;
}

.madeby {
  color: white;
  font-family: montserrat-hairline;
  margin-left: 20%;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .madeby {
    margin-left: 60%;
  }
}

.container-footer {
  /*min-width: 1200px !important;*/
}

.div-border {
  border-left: 1px solid rgba(203, 203, 203, .6);
  height: 130px;
  right: 0;
  bottom: -30px;
}
