.altura {
  height: 1650px;
}

.search-industrial-solutions {
  width: 100%;
  /*height: 1020px;*/
}

.home-background {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.orange-divider-thick-background {
  background-image: url(../images/orange-divider-thick.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.news-header {
  width: 100%;
  height: 174px;
  text-align: center;
}

.news-header-text {
  margin: 0;
  display: inline-block;
  position: relative;
  top: 7rem;
  color: white;
}

.home-background-bottom {
  background-image: url(../images/home-background-bottom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-container {
  width: 90%;
  margin: 0 auto;
  min-height: 48rem;
  position: relative;
  top: 15rem;
}

.industrial-solutions-text {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 3.2rem;
}

.industrial-solutions-line {
  width: 40%;
  height: 2px;
  margin: 0.8rem auto;
}

.news-header-line {
  width: 20%;
  height: 2px;
  position: relative;
  top: 8rem;
  margin: 0 auto;
}

.search-bar-container {
  position: relative;
  margin-top: 3em;
  text-align: center;
}

.form-search {
  display: block;
  width: 100%;
}

.search-bar {
  height: 4.5rem;
  font-size: 2.5rem;
  width: 100%;
  margin-right: 1rem;
}

.search-bar-button {
  height: 4.5rem;
  vertical-align: bottom;
  width: 100%;
  background-color: #F08F04;
  border: solid 1px #F08F04;
  color: black;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.search-bar-button:hover {
  color: white;
  border-color: white;
  background-color: black;
}

.down-arrow {
  display: block;
  margin-left: 47.5%;
  height: 60px;
  width: 60px;
  bottom: 10px !important;
  background-image: url(../images/down-arrow-gray.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.down-arrow:hover {
  background-image: url(../images/down-arrow.png);
}

.separator-home {
  width: 100%;
  height: 56px;
}

.section-separator-home-background {
  background-image: url(../images/orange-divider-thick.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.news-space {
  min-height: 80rem;
  margin-bottom: 100px;
}

.news-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 10rem;
}

.new-container {
  /*text-align: center;*/
}

.new-info {
  height: 10rem;
  overflow: auto;
  text-align: center;
}

.new-thumbnail {
  position: relative;
}

.new-thumbnail>img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.new {
  margin: 0 auto;
  max-width: 25rem;
  position: relative;
}

.new-number {
  position: absolute;
  top: 68.8%;
  left: 6.7%;
  color: #F08F04;
  font-family: montserrat-bold;
  font-size: 120%;
}

.new-title {
  position: absolute;
  top: 75.5%;
  left: 6.7%;
  /*height: 16%;*/
  text-align: center;
  height: 6rem;
  overflow: auto;
  /*font-size: 0.7vmax;*/
}

.read-more {
  text-align: right;
}

.read-more a {
  color: black;
  text-decoration: none!important;
  border-bottom: 2px solid #F08F04;
}

.read-more a:hover {
  border-bottom-color: #F08F04;
}

.economy-header-background {
  background-image: url(../images/economy-header-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.economy-header {
  width: 100%;
  height: 174px;
  text-align: center;
}

.economy-background {
  background-image: url(../images/economy-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.economy-space {
  min-height: 674px;
  overflow: auto;
}

.economy-tables {
  margin-top: 8rem;
}

.economy-tables th {
  color: #F08F04;
}

.economy-tables {}

.table-icon {
  width: 12%;
}

.row-descriptions {
  width: 15%;
}

.more-economy {
  background-color: #E5E5E5;
  clear: none;
  width: 20px;
  height: 20px;
  float: right;
  margin-bottom: 2rem;
  text-align: center;
}

.table-responsive {
  margin-bottom: 0;
}

.row-description {
  text-align: left;
}

@media screen and (min-width: 500px) {
  .industrial-solutions-text {
    font-size: 5rem;
  }
  .search-bar {
    width: 70%;
  }
  .search-bar-button {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .economy-tables {
    width: 80%;
    margin: 8rem auto;
  }
  .economy-tables>table {
    width: 80%;
    margin-left: 10%;
  }
  .table-separator {
    margin-top: 0.8rem;
    height: 2px;
    width: 80%;
    margin-left: 12%;
    background-color: #CBCBCB;
    clear: none;
    float: left;
    position: relative;
    top: 10px;
  }
  .more-economy {
    float: left;
    margin-left: 1.5rem;
    border-left: solid orange;
    color: black;
    font-weight: bold;
  }
  .table-responsive {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 991px) {
  .industrial-solutions-text {
    letter-spacing: 5px;
  }
  .news-header-text {
    letter-spacing: 5px;
  }
  .form-search {
    display: inline-block;
  }
  .search-bar {
    width: 75rem;
  }
  .search-bar-button {
    width: 15rem;
  }
  .economy-tables {
    width: 60%;
  }
  .hacksote {
    height: 300px;
  }
}

@media screen and (min-width: 1300px) {
  .news-container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .search-container {
    width: 90%;
    margin: 0 auto;
    min-height: 48rem;
    position: relative;
    top: 5rem;
  }
}
