.imgContainerCenter img {
  display: block;
  margin: 0 auto;
}

.imgContainerRight img {
  display: block;
  margin-left: auto;
}

.imgContainerLeft img {
  display: block;
  margin-right: auto;
}

.txt-blanco {
  color: white;
}

.txt-naranja {
  color: #F08F04;
}

.textSeparator {
  clear: both;
  height: 1px;
  padding-bottom: 20px;
  border-top: 1px solid #989898;
  margin-top: 20px;
  border-bottom: 0;
  text-align: center;
}

.textSeparator div {
  background-color: #d0d0d0;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  padding: 0 35px;
  line-height: 36px;
  top: -19px;
}

.textSeparator div span {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}

/*checkboxes*/
input[type="checkbox"] {
  /*display: none;*/
}

label {
  cursor: pointer;
}

/*input[type="checkbox"] + label:before {*/
  /*border: 1px solid black;*/
  /*content: "\00a0";*/
  /*display: inline-block;*/
  /*font: 16px/1em sans-serif;*/
  /*height: 16px;*/
  /*margin: 0 0.25em 0 0;*/
  /*padding: 0;*/
  /*vertical-align: top;*/
  /*width: 16px;*/
/*}*/

/*input[type="checkbox"]:checked + label:before {*/
  /*color: black;*/
  /*content: "\2713";*/
  /*text-align: center;*/
/*}*/

input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-18 {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-18 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-18 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-18 {
    width: 12.5%;
    float: left;
  }
}

.header-space {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}

.header-background {
  background-image: url("../images/header_nosotros_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-background-orange {
  background-image: url("../images/background-header-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portalia-logo {
  width: 25%;
  height: 60%;
  margin: 2.5vw auto;
}

.portalia-logo-background {
  background-image: url("../images/portalia_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.orange-divider {
  width: 100%;
  height: 1vw;
}

.orange-divider-background {
  background-image: url("../images/orange-divider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-space .titleContainer {
  position: relative;
  top: 50;
}

.header-space h2 {
  color: white;
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
}

.header-space .line-separator {
  margin: 0 auto;
  height: 2px;
  width: 350px;
}

.blogContainer {
  max-width: 194px;
}

.blogContainer .titleContainer {
  background: black;
  width: 100%;
}

.blogContainer .titleContainer h3 {
  text-transform: uppercase;
  color: white;
  padding: 6px 10px 6px 10px;
  font-family: montserrat-light;
  letter-spacing: 7px;
  font-size: 2.3rem;
  text-align: center;
}

.blogContainer .trianguloBlog {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
  position: absolute;
  top: 42px;
}

.blogContainer .postsContainer .postContainer {
  position: relative;
  margin-top: 10px;
}

.blogContainer .postsContainer .postContainer .imgContainerCenter img {
  width: 100%;
}

.blogContainer .postsContainer .postContainer .info {
  background: rgba(0, 0, 0, 0.5);
  max-width: 194px;
  min-height: 60px;
  position: absolute;
  top: 60%;
  width: 100%;
}

@media screen and (max-width: 1281px) {
  .blogContainer .postsContainer .postContainer .info {
    top: 44%;
  }
}

.blogContainer .postsContainer .postContainer .info .col-xs-3 {
  min-height: 60px;
  background: rgba(240, 143, 4, 0.7);
}

.blogContainer .postsContainer .postContainer .info .col-xs-3 span {
  color: white;
  font-family: montserrat-bold;
  font-size: 3em;
}

.blogContainer .postsContainer .postContainer .info .col-xs-9 span {
  color: white;
  font-family: montserrat-hairline;
}

.blogDivider {
  height: 3px;
  position: absolute;
  width: 194px;
}

@media screen and (max-width: 1281px) {
  .blogDivider {
    width: 100%;
  }
}

.perfil-anunciante .header-space {
  background: url("../images/background-anunciante-orange.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 10vw;
  height: auto;
}

.perfil-anunciante .header-space .titleContainer {
  position: initial;
  margin-top: 3%;
}

.perfil-anunciante .header-space .titleContainer h2 {
  color: black;
}

.perfil-anunciante .header-space .titleContainer .line-separator {
  background: black;
}

.perfil-anunciante .social-icons {
  max-width: 29%;
  margin: 0 auto;
}

.perfil-anunciante .facebook-icon {
  background: url("../images/icons/facebook-anunciante.svg");
}

.perfil-anunciante .facebook-icon:hover {
  background-image: url("../images/icons/facebook-anunciante-blanco.svg");
}

.perfil-anunciante .twitter-icon {
  background: url("../images/icons/twitter-anunciante.svg");
}

.perfil-anunciante .twitter-icon:hover {
  background-image: url("../images/icons/twitter-anunciante-blanco.svg");
}

.perfil-anunciante .youtube-icon {
  background: url("../images/icons/youtube-anunciante.svg");
}

.perfil-anunciante .youtube-icon:hover {
  background-image: url("../images/icons/youtube-anunciante-blanco.svg");
}

.perfil-anunciante .google-icon {
  background: url("../images/icons/google_plus-anunciante.svg");
}

.perfil-anunciante .linkedin-icon {
  background: url("../images/icons/linked-in-anunciante.svg");
}

.perfil-anunciante .imgContainerAnunciante {
  width: 218px;
  height: 218px;
  position: absolute;
  top: 178px;
  left: 5%;
}

.perfil-anunciante .imgContainerAnunciante img {
  width: 218px;
  height: 218px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  -moz-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
}

.perfil-anunciante .informacionAnuncianteContainer {
  padding-left: 5%;
  padding-right: 5%;
}

.perfil-anunciante .informacionAnuncianteContainer .col-md-10 {
  padding-left: 0;
}

.perfil-anunciante .serviciosAnunciante {
  padding-right: 5%;
}

.perfil-anunciante .serviciosAnunciante .arriba-foto {
  padding-top: 147px;
  padding-left: 0;
}

.perfil-anunciante .serviciosAnunciante .arriba-foto .tagContainer {
  max-width: 65%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px;
}

@media screen and (max-width: 1280px) {
  .perfil-anunciante .serviciosAnunciante .arriba-foto .tagContainer {
    max-width: 100%;
  }
}

.perfil-anunciante .serviciosAnunciante .arriba-foto .tagContainer .tag {
  background: rgba(240, 143, 4, 0.3);
  padding: 2px;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.perfil-anunciante .somos {
  margin-top: 4%;
  margin-bottom: 10%;
}

.perfil-anunciante .descripcion {
  text-align: center;
  font-family: montserrat-light;
  font-size: 1.6rem;
}

.perfil-anunciante .ventajas h3 {
  text-align: center;
  color: #F08F04;
  text-transform: uppercase;
  font-family: montserrat-light;
  font-size: 2.5rem;
}

.perfil-anunciante .ventajas .descripcion {
  color: #F08F04;
}

.perfil-anunciante .informacionContacto {
  padding-top: 3%;
  clear: both;
  overflow: auto;
}

@media screen and (min-width: 1400px) {
  .perfil-anunciante .informacionContacto {
    padding-left: 5%;
  }
}

.perfil-anunciante .informacionContacto .imgContainerCenter img {
  max-width: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.perfil-anunciante .informacionContacto .col-xs-15 {
  font-family: montserrat-hairline;
  text-align: center;
}

.perfil-anunciante .informacionContacto .col-xs-15 h4 {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1400px) {
  .perfil-anunciante .informacionContacto .col-xs-15 h4 {
    font-size: 1.5rem;
  }
}

.perfil-anunciante .informacionContacto .col-xs-15 h4 .resaltar {
  display: block;
  text-transform: uppercase;
}

.perfil-anunciante .informacionContacto .web:hover .imgContainerCenter img {
  content: url(../images/icons/perfil-anunciante-web-2.svg);
}

.perfil-anunciante .informacionContacto .telefono:hover .imgContainerCenter img {
  content: url(../images/icons/perfil-anunciante-telefono-2.svg);
}

.perfil-anunciante .informacionContacto .correo:hover .imgContainerCenter img {
  content: url(../images/icons/perfil-anunciante-correo-2.svg);
}

.perfil-anunciante .informacionContacto .ubicacion:hover .imgContainerCenter img {
  content: url(../images/icons/perfil-anunciante-ubicacion-2.svg);
}

.perfil-anunciante .informacionContacto .mensaje:hover .imgContainerCenter img {
  content: url(../images/icons/perfil-anunciante-mensaje-2.svg);
}

.perfil-anunciante .lineSeparator {
  height: 1px;
  background: #CBCBCB;
  clear: both;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.perfil-anunciante .productosContainer img {
  max-width: 145px;
}

.perfil-anunciante .productosContainer h3 {
  text-align: center;
  text-transform: uppercase;
}

.perfil-anunciante .productosContainer .col-md-8 ul {
  display: -webkit-inline-flex;
  display: inline-flex;
  list-style: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap;
  padding-left: 0;
}

.perfil-anunciante .productosContainer .col-md-8 ul li {
  margin-right: 30px;
  /* padding-left: 7px; */
  font-family: montserrat-hairline;
  font-size: 2.5rem;
  width: 19%;
}

.perfil-anunciante .productosContainer .col-md-8 ul li:before {
  content: '|';
  color: #f08f04;
  font-size: 4rem;
  position: relative;
  right: 10px;
  top: 4px;
}

.perfil-anunciante .productosContainer .btnContainer {
  max-width: 30%;
  background: #f08f04;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.perfil-anunciante .productosContainer .btnContainer a {
  color: white;
}

.perfil-anunciante .galeriaContainer {
  padding-top: 2%;
  overflow: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  width: auto;
  background: #fcfcfc;
}

.perfil-anunciante .galeriaContainer .galeria {
  width: auto;
  margin: 0 auto;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.2);
}

.perfil-anunciante .galeriaContainer .galeria img {
  width: 100%;
  height: auto;
}

.perfil-anunciante .galeriaContainer .galeria figure {
  display: block;
  float: left;
  margin: 0 20px 20px 0;
  width: 190px;
}

@media screen and (min-width: 1500px) {
  .perfil-anunciante .galeriaContainer .galeria figure {
    width: 250px;
  }
}

.perfil-anunciante .galeriaContainer .galeria figcaption {
  display: none;
}

.perfil-anunciante .verMasFotos {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.perfil-anunciante .verMasFotos .line-separator {
  height: 1px;
  background: #CBCBCB;
  display: inline-block;
  float: left;
  width: 70%;
}

.perfil-anunciante .verMasFotos .btnContainer {
  max-width: 27%;
  display: inline-block;
  position: relative;
  top: -10px;
  background: #CBCBCB;
  text-align: center;
  margin-left: 2%;
  padding: 4px;
  border-left: 4px solid #F08F04;
}

.perfil-anunciante .verMasFotos .btnContainer a {
  color: black;
  font-size: 1rem;
}

.perfil-anunciante .videoContainer {
  max-width: 80%;
  margin: 0 auto;
}

.perfil-anunciante .videoContainer .videoTitle {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}

.perfil-anunciante .videoContainer .videoTitle .line-separator {
  height: 1px;
  background: #CBCBCB;
  width: 100%;
  margin-bottom: 10px;
}

.perfil-anunciante .videoContainer .btnContainer {
  max-width: 11%;
  /* float: right; */
  background: #CBCBCB;
  text-align: center;
  padding: 4px;
  border-left: 4px solid #F08F04;
  /* position: relative; */
  /* right: 0; */
  margin-left: auto;
}

.perfil-anunciante .videoContainer .btnContainer a {
  color: black;
  font-size: 1rem;
}

.img-profile {
  width: 140px;
  float: right;
}

.img-profile img {
  width: 37px;
  border-radius: 100%;
  margin-left: 15px;
  margin-top: -2px;
}

.editando {
  color: white !important;
}

.editar {
  margin-top: 30px;
  margin-right: -40px;
  float: right;
  background: black;
  padding: 3px 6px;
  margin-bottom: 3px;
}

.editar a {
  cursor: pointer;
  color: white;
  font-family: montserrat-hairline;
}

.editar.editando {
  background: white !important;
  border: 1px solid black;
}

.editar.editando a {
  color: black !important;
}

.titleContainer {
  text-align: center;
}

.titleContainer .nombre-usuario {
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border: none;
  color: black;
  width: 100%;
}

.titleContainer .line-separator {
  width: 400px;
}

.titleContainer .line-separator .editar {
  margin-top: -17px;
  margin-right: -124px;
  float: right;
  background: black;
  padding: 3px 6px;
  margin-bottom: 3px;
}

.titleContainer .line-separator .editar a {
  color: white;
  font-family: montserrat-hairline;
}

.imgContainerAnunciante .editar {
  position: relative;
  top: -29px;
  right: -130px;
  margin-top: 0;
  margin-right: 0;
  float: none;
  background: transparent;
  padding: 0;
  margin-bottom: 0;
  z-index: 3;
}

.imgContainerAnunciante .edit-image::-webkit-file-upload-button {
  visibility: hidden;
}
.imgContainerAnunciante .edit-image {
  color: transparent;
}
.imgContainerAnunciante .edit-image:before {
  content: url("../images/icons/edit-image.png");
  display: inline-block;
  background: black;
  padding: 3px 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

 .imgContainerAnunciante .edit-image:focus {
   outline: none;
 }

.favoritosContainer {
  padding-top: 150px;
  padding-bottom: 50px;
}

.favoritosContainer .favorito.eliminar-favorito {
  background: url("../images/icons/eliminar-favorito.svg") !important;
  cursor: pointer;
}

.favoritosContainer .titleMiddleLine {
  margin: 0 auto;
  text-align: center;
}

.favoritosContainer .titleMiddleLine .line {
  position: relative;
  top: -12px;
  background-color: #CBCBCB;
  height: 1px;
  width: 35%;
  display: inline-block;
}

.favoritosContainer .titleMiddleLine .title {
  text-transform: uppercase;
  font-size: 3em;
  margin-right: 15px;
}

.favoritosContainer .titleMiddleLine .title:before {
  content: url("../images/icons/favorito-perfil.png");
  position: relative;
  top: 9px;
  margin-right: 10px;
  margin-left: 15px;
}

.favoritosContainer .listFavoritos {
  margin-top: 3%;
}

.favoritosContainer .listFavoritos .col-md-18 {
  margin-bottom: 50px;
}

.favoritosContainer .nombre h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: montserrat-light;
}

.favoritosContainer .imgAnuncio {
  width: 100%;
}

.favoritosContainer .imgAnuncio img {
  width: 100%;
  border: 3px solid black;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
}

.favoritosContainer .favorito {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/icons/favorito-before.svg");
  left: 67%;
  top: 5%;
}

.favoritosContainer .line-separator {
  background: #F08F04;
  height: 1px;
}

.favoritosContainer .perfil-usuario .favoritosContainer .titleMiddleLine .line {
  width: 18% !important;
}

.favoritosContainer .articulo {
  text-transform: uppercase;
  font-size: 2em;
  margin-right: 15px;
}

.favoritosContainer .articulo:before {
  content: url("../images/icons/articulo-favorito.png");
  position: relative;
  top: 9px;
  margin-right: 10px;
  margin-left: 15px;
}

.favoritosContainer .line-media {
  position: relative;
  top: -12px;
  background-color: #CBCBCB;
  height: 1px;
  width: 30%;
  display: inline-block;
}

.favoritosContainer .list-articles {
  margin-top: 30px;
}

.favoritosContainer .list-articles .imgContainerCenter img {
  width: 100%;
}

.favoritosContainer .list-articles .favorito {
  background: url("../images/icons/favorito-blanco.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  left: 80%;
  top: 5%;
}

.favoritosContainer .list-articles .titlePost {
  background: url("../images/icons/background-title.png");
  width: 91.3%;
  height: 67px;
  position: absolute;
  top: 144px;
}

.favoritosContainer .list-articles .titlePost .numero {
  position: relative;
  left: 15px;
  top: 4px;
}

.favoritosContainer .list-articles .titlePost .numero span {
  color: #F08F04;
}

.favoritosContainer .list-articles .titlePost .title-post {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}

.favoritosContainer .list-articles .descripcion-post p {
  color: #808080;
  text-align: center;
  font-family: montserrat-hairline;
}

.favoritosContainer .list-articles .descripcion-post .leer-mas {
  position: absolute;
  right: 11px;
  bottom: -8px;
  border-bottom: 1px solid #F08F04;
}

.favoritosContainer .list-articles .descripcion-post .leer-mas a {
  color: black;
}

.favoritosContainer .list-articles .descripcion-post .leer-mas a:hover {
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.editar.btn-tags {
  margin-top: 0;
  margin-right: 0px;
  float: none;
  position: relative;
  right: -77px;
  top: -34px;
  width: 53px;
}

.editarTextarea {
  outline: 1px solid #F08F04;
}

.editarTextarea:focus {
  outline: 1px solid #F08F04 !important;
}

.producto {
  max-width: 100%;
  position: relative;
  top: -42px;
  border: none;
}

.editando-producto {
  outline: 1px solid #F08F04;
  border: 1px solid #F08F04;
}

.eliminar-tag {
  background: url("../images/icons/error.svg");
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: relative;
  /* margin-right: 3px; */
  top: -5px;
  /* right: -34px; */
  left: 95%;
}

.agregarTag {
  margin-bottom: 30px;
}

.agregarTag .btnContainer {
  position: relative;
  background: #f08f04;
  padding: 4px 6px 4px 6px;
  width: 70px;
  top: 8px;
}

.agregarTag .btnContainer a {
  color: white;
  cursor: pointer;
}

.agregarTag input {
  outline: none;
}

.editar-datos {
  margin-top: -36px;
  margin-right: 50px;
}

.datosContainer input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.datosContainer input.editarDatos {
  color: #706F6F;
}

.datosContainer input.editarDatos:focus {
  outline: 1px solid #f08f04;
}

.perfil {
  padding-left: 3%;
  padding-right: 3%;
}

.perfil .col-md-2 .imgContainerCenter img {
  width: 100%;
}

.videoContainer.perfil {
  max-width: 100% !important;
  margin-top: 20px !important;
  overflow: auto;
}

.add-image::-webkit-file-upload-button {
  visibility: hidden;
}

.add-image {
  background: url("../images/icons/add-image.png") no-repeat center center;
  display: inline-block;
  outline: none;
  border: none;
  width: 106px;
  height: 106px;
}

.add-image:focus {
  outline: none;
}

.editar.editar-imagen {
  margin-top: 0;
  margin-right: 0;
  float: none;
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}

.editar.redes {
  margin-right: 30%;
  margin-top: -32px;
}

.line-separator.naranja {
  background: #f08f04;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.orange-divider.orange-divider-background.article {
  height: 3px !important;
}

.articles {
  padding-top: 50px !important;
}

.chatContainer {
  background: black;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  height: 700px;
}

.chatContainer .titleContainer {
  text-align: left;
  margin-bottom: 2%;
}

.chatContainer .titleContainer span {
  color: white;
  text-transform: uppercase;
  font-family: montserrat;
  font-size: 3.6rem;
  letter-spacing: 3px;
}

.chatContainer .titleContainer span:after {
  content: url("../images/icons/chat-message.png");
  top: 8px;
  left: 20px;
  position: relative;
}

.chatContainer .titleContainer .line-separator {
  background: #F08F04;
  height: 1px;
  width: 100%;
}

.chatContainer .mensajesNuevos {
  background: #F08F04;
  padding: 3px 0px 3px 20%;
}

.chatContainer .mensajesNuevos span {
  color: white;
  font-family: montserrat-hairline;
  font-size: 1.4rem;
}

.chatContainer .listaChats ul {
  list-style: none;
  padding: 0;
  height: 474px;
  overflow: auto;
  background: #e5e5e5;
}

.chatContainer .listaChats ul li {
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

.chatContainer .listaChats ul li span {
  text-transform: uppercase;
  font-family: montserrat-light;
}

.chatContainer .listaChats ul li:nth-of-type(2n+1) {
  background: #E5E5E5;
}

.chatContainer .listaChats ul li:nth-of-type(2n) {
  background: #CBCBCB;
}

.chatContainer .listaChats ul li:hover {
  background: white;
}

.chatContainer .listaChats ul li:hover span {
  color: #F08F04;
}

.chatContainer .message-list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 10px;
  background: rgba(240, 143, 4, 0.1);
  height: 80%;
  overflow: scroll;
}

.chatContainer .message-list .msg .message {
  width: 40%;
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 15px;
  word-break: break-all;
}

.chatContainer .message-list .msg .message.in {
  background: rgba(240, 143, 4, 0.3);
  float: right;
}

.chatContainer .message-list .msg .message.out {
  background: white;
  float: left;
}

.chatContainer .messageContainer .col-md-3 {
  padding-right: 0;
  height: 500px;
}

.chatContainer .messageContainer .col-md-9 {
  background: white;
  padding: 10px;
  height: 500px;
}

.chatContainer .fotoChat img {
  max-width: 60px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(240, 143, 4, 0.7);
  -moz-box-shadow: 3px 3px 5px 0px rgba(240, 143, 4, 0.7);
  box-shadow: 3px 3px 5px 0px rgba(240, 143, 4, 0.7);
  border: 1px solid #F08F04;
}

.chatContainer .controlChatContainer {
  margin-top: 20px;
}

.chatContainer .controlChatContainer .col-xs-1 {
  padding: 0;
}

.chatContainer .controlChatContainer textarea {
  border: 1px solid #F08F04;
  width: 100%;
  resize: none;
  height: 59px;
  padding: 5px 92px 0 8px;
}

.chatContainer .controlChatContainer textarea:focus {
  outline: 1px solid rgba(240, 143, 4, 0.7);
}

.chatContainer .controlChatContainer .enviarMensaje {
  background: black;
  position: absolute;
  right: 31px;
  bottom: 33px;
  padding: 4px 10px 4px 10px;
}

.chatContainer .controlChatContainer .enviarMensaje a {
  color: white;
  text-transform: uppercase;
  font-family: montserrat-light;
  cursor: pointer;
}
