.section-register-company {
    /*margin-top: 6em;*/
    width: 100%;
    height: 2000px;
    overflow: auto;
}

@media only screen and (min-width : 768px) {
    .section-register-company {
        height: 100%;
    }
}
@media only screen and (max-width : 768px) {
    .section-register-company {
        width: 100%;
        height: 100%;
        overflow: hidden;
        /*margin-top: 3em;*/
    }
}

.container-13 { height: 13em; }
.section-register-company-background {
    /*height: 13em;*/
    background-image: url("../images/register_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-register-company h2{
    color: white;
    font-family: montserrat;
    text-align: center;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.header-underline-register {
    height: 2px;
    position: relative;
    top: 0rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 36rem;
}

.section-register-company form {
    margin: 4rem auto;
    width: 95%;
    height: 90rem;
}

@media only screen and (min-width : 768px) {
    .section-register-company form {
        padding-top: 2rem;
        width: 60rem;
    }
}

.form-text-field option {
    padding: 10px 0;
}

.section-register-company input, select {
    font-size: 2rem;
}

.form-row-captcha {
    width: 100%;
    overflow: auto;
    margin-top: 2.5rem;
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.optional-form {
    margin: 1rem;
    padding-left: 33%;
    color: white;
}

.optional-categories > div:first-child {
    margin-left: 10%;
    float: left;
    width: 40%;
    color: white;
}

.optional-categories > div:last-child {
    float: left;
    width: 40%;
    color: white;
}

.register-btn-container {
    margin: 0 auto;
}

.register-btn-container button {
    margin-top: 2rem;
    border: solid 2px #f08f04;
    background-color: #f08f04;
    width: 100%;
    height: 5rem;
    color: white;
    font-size: 2rem;
}

.register-btn-container div {
    margin-top: 2rem;
    color: white!important;
}

.fb-login {
    text-align: center;
    height: 5rem;
    margin-top: 5rem;
}

.fb_iframe_widget > span {
    width: 263px!important;
    height: 34px!important;
}

.fb-login iframe
{
transform: scale(1.5);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
-moz-transform: scale(1.5);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}

.or-lines  {
    width: 263px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 2rem;
}

.or-line {
    float: left;
    width: 120px;
    height: 1px;
    background-color: white;
    margin-top: 10px;
}

.or {
    float: left;
    text-align: center;
    color: white;
    width: 23px;
}


.invalid
{
  border-color: red;
}

.invalid-label
{
  color: red;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
  float: right;
}
