/* line 1, ../sass/styles.scss */
.header-space {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}

/* line 7, ../sass/styles.scss */
.header-background {
  background-image: url("../images/header_nosotros_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 13, ../sass/styles.scss */
.header-background-orange {
  background-image: url("../images/background-header-orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 20, ../sass/styles.scss */
.portalia-logo {
  width: 25%;
  height: 60%;
  margin: 2.5vw auto;
}

/* line 26, ../sass/styles.scss */
.portalia-logo-background {
  background-image: url("../images/portalia_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 33, ../sass/styles.scss */
.orange-divider {
  width: 100%;
  height: 1vw;
}

/* line 38, ../sass/styles.scss */
.orange-divider-background {
  background-image: url("../images/orange-divider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 45, ../sass/styles.scss */
.header-space .titleContainer {
  position: relative;
  top: 50;
}
/* line 49, ../sass/styles.scss */
.header-space h2 {
  color: white;
  font-family: montserrat-light;
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
}
/* line 56, ../sass/styles.scss */
.header-space .line-separator {
  margin: 0 auto;
  height: 2px;
  width: 350px;
}

/* line 1, ../sass/_sector-anuncio.scss */
.filtrosContainer {
  max-width: 70%;
  margin: 0 auto;
}

/* line 5, ../sass/_sector-anuncio.scss */
.listContainer {
  height: auto;
  padding: 12px;
}

/* line 10, ../sass/_sector-anuncio.scss */
.listaAlfabetica {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
}
/* line 14, ../sass/_sector-anuncio.scss */
.listaAlfabetica li {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 4px;
  font-size: 1.8rem;
  margin-right: 10px;
}
/* line 21, ../sass/_sector-anuncio.scss */
.listaAlfabetica li:hover {
  color: white;
}

/* line 26, ../sass/_sector-anuncio.scss */
.buscarPorZona {
  display: inline-block;
  float: right;
}
/* line 29, ../sass/_sector-anuncio.scss */
.buscarPorZona input {
  width: 250px;
  border: none;
  background: black;
  border-radius: .3em;
  padding: 8px 10px 8px 10px;
  display: inline-block;
}
/* line 38, ../sass/_sector-anuncio.scss */
.buscarPorZona .icon {
  display: inline-block;
  width: 30px;
}
/* line 41, ../sass/_sector-anuncio.scss */
.buscarPorZona .icon img {
  max-width: 30px;
}

/* line 46, ../sass/_sector-anuncio.scss */
.anunciosDestacados {
  background: #000000;
}
/* line 48, ../sass/_sector-anuncio.scss */
.anunciosDestacados .anunciosDestacadosContainer {
  width: 60%;
  max-width: 1100px;
  min-height: 400px;
  overflow: auto;
  padding-top: 20px;
  margin: 0 auto;
}
/* line 56, ../sass/_sector-anuncio.scss */
.anunciosDestacados .anunciosDestacadosContainer .anuncioContainer .infoContainer h4 {
  color: white;
}

/* line 63, ../sass/_sector-anuncio.scss */
.imgContainerCenter img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 69, ../sass/_sector-anuncio.scss */
.anuncioContainer {
  padding: 10px;
}
/* line 71, ../sass/_sector-anuncio.scss */
.anuncioContainer .imgDestacado img {
  width: 218px;
  height: 218px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  -moz-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
  box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, 0.7);
}

/* line 79, ../sass/_sector-anuncio.scss */
.infoContainer {
  margin-top: 20px;
}
/* line 81, ../sass/_sector-anuncio.scss */
.infoContainer h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat-light;
  letter-spacing: 4px;
  font-size: 1.9rem;
}

/* line 89, ../sass/_sector-anuncio.scss */
.datosAnunciante {
  list-style: none;
  padding-left: 50px;
}
/* line 92, ../sass/_sector-anuncio.scss */
.datosAnunciante li {
  display: inline-block;
  line-height: 34px;
}
/* line 95, ../sass/_sector-anuncio.scss */
.datosAnunciante li .icon {
  display: inline-block;
}
/* line 97, ../sass/_sector-anuncio.scss */
.datosAnunciante li .icon img {
  width: 25px;
  margin-right: 10px;
}
/* line 102, ../sass/_sector-anuncio.scss */
.datosAnunciante li span {
  font-family: montserrat-light;
  color: white;
}

/* line 108, ../sass/_sector-anuncio.scss */
.otrosAnunciantes {
  background: white;
}
/* line 110, ../sass/_sector-anuncio.scss */
.otrosAnunciantes .otrosAnunciantesContainer {
  overflow: auto;
  padding-top: 20px;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 120, ../sass/_sector-anuncio.scss */
.anuncioContainer .imgAnuncio img {
  width: 154px;
  border: 3px solid black;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
}
/* line 127, ../sass/_sector-anuncio.scss */
.anuncioContainer .imgAnuncio + .infoContainer h4 {
  font-family: montserrat-bold;
  font-size: 1.69rem;
}
/* line 131, ../sass/_sector-anuncio.scss */
.anuncioContainer .datosAnunciante.otros {
  padding-left: 10px;
}
/* line 133, ../sass/_sector-anuncio.scss */
.anuncioContainer .datosAnunciante.otros li {
  line-height: 28px;
}
/* line 136, ../sass/_sector-anuncio.scss */
.anuncioContainer .datosAnunciante.otros li .icon img {
  width: 24px;
  margin-right: 5px;
}
/* line 140, ../sass/_sector-anuncio.scss */
.anuncioContainer .datosAnunciante.otros li span {
  color: #666666;
}

/* line 146, ../sass/_sector-anuncio.scss */
.row.anuncio {
  margin-top: 20px;
}

/* line 149, ../sass/_sector-anuncio.scss */
.blogContainer {
  max-width: 194px;
}
/* line 151, ../sass/_sector-anuncio.scss */
.blogContainer .titleContainer {
  background: black;
  width: 100%;
}
/* line 154, ../sass/_sector-anuncio.scss */
.blogContainer .titleContainer h3 {
  text-transform: uppercase;
  color: white;
  padding: 6px 10px 6px 10px;
  font-family: montserrat-light;
  letter-spacing: 7px;
  font-size: 2.3rem;
  text-align: center;
}
/* line 164, ../sass/_sector-anuncio.scss */
.blogContainer .trianguloBlog {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
  position: absolute;
  top: 42px;
}
/* line 174, ../sass/_sector-anuncio.scss */
.blogContainer .postsContainer .postContainer {
  position: relative;
  margin-top: 10px;
}
/* line 177, ../sass/_sector-anuncio.scss */
.blogContainer .postsContainer .postContainer .info {
  background: rgba(0, 0, 0, 0.5);
  max-width: 194px;
  min-height: 60px;
  position: absolute;
  top: 60%;
  width: 100%;
}
/* line 184, ../sass/_sector-anuncio.scss */
.blogContainer .postsContainer .postContainer .info .col-xs-3 {
  min-height: 60px;
  background: rgba(240, 143, 4, 0.7);
}
/* line 188, ../sass/_sector-anuncio.scss */
.blogContainer .postsContainer .postContainer .info .col-xs-3 span {
  color: white;
  font-family: montserrat-bold;
  font-size: 3em;
}
/* line 193, ../sass/_sector-anuncio.scss */
.blogContainer .postsContainer .postContainer .info .col-xs-9 span {
  color: white;
  font-family: montserrat-hairline;
}

/* line 201, ../sass/_sector-anuncio.scss */
.favorito {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/icons/favorito-before.svg");
  left: 67%;
  top: 5%;
}
/* line 209, ../sass/_sector-anuncio.scss */
.favorito:hover {
  background: url("../images/icons/favorito-after.svg");
}

/* line 213, ../sass/_sector-anuncio.scss */
.blogDivider {
  height: 3px;
  position: absolute;
  width: 194px;
}

/* line 218, ../sass/_sector-anuncio.scss */
.favorito.agregado {
  background: url("../images/icons/favorito-after.svg") !important;
}

/* line 1, ../sass/_perfil-anunciante.scss */
.header-background-orange {
  padding-top: 40px;
}
/* line 3, ../sass/_perfil-anunciante.scss */
.header-background-orange h2 {
  color: black;
}
