

<div ng-controller="ContactRequestController">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <h3 class="orange"> Estas son las solicitudes de contacto pendientes </h3>

        <img src="/assets/images/gifs/cargando.gif" class="center-block margin-top-30" alt="" ng-show="loading">

        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Para</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat=" contact in contacts "
                ng-class=" { 'active-row' : contact._id == contactDetail._id } "
            >

              <td> {{ contact.name }}</td>
              <td> {{ contact.from[0].nombre }}</td>
              <td> {{ contact.to[0].nombre }}</td>
              <td> {{ getDateForHummans( contact.created_at ) }}</td>
              <td>

                <button class="btn btn-primary btn-xs"
                        ng-click=" showDetail( contact )"
                >
                  Ver datos
                </button>

                <button class="btn btn-success btn-xs"
                        ng-click=" aproveContact( contact ) "
                >
                  <i class="fa fa-check"></i>
                  Aprobar
                </button>

                <button class="btn btn-danger btn-xs"
                        ng-click=" rejectContact( contact ) "
                >
                  <i class="fa fa-close"></i>
                  Rechazar
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <div class="row" id="detail" ng-if=" contactDetail != null ">

      <div ng-repeat=" contact in contacts ">
        <div class="col-md-12 margin-bottom-30"
             ng-if=" contact._id == contactDetail._id "
        >
          <h3 class="orange">Detalle del contacto</h3>
          <h4>
            Nombre: <b class="orange"> {{ contact.name }} </b> <br><br>
            Empresa que solicita el contacto: <b class="orange"> {{ contact.from[0].nombre }}</b> <br><br>
            Empresa a quien se quiere contactar: <b class="orange"> {{ contact.to[0].nombre }}</b> <br><br>
            Email : <b class="orange">{{ contact.email }} </b><br><br>
            Teléfono : <b class="orange"> {{ contact.phone }}</b> <br><br><br>
            Motivo por el cual se quiere contactar: <br><br>
            <b> {{ contact.description }}</b>
          </h4>
        </div>
      </div>


    </div>

  </div>

</div>
