<div class="news-header home-background-bottom hidden-xs">
  <h2 class="news-header-text" ng-click="prueba()">EVENTOS</h2>
  <div class="news-header-line gradient-yellow-orange"></div>
</div>
<div class="separator-home gradient-yellow-orange hidden-xs" style="margin-bottom:3%;"></div>
<section id="sectorCal" class="economy-background" style="height:650px;" ng-controller="calendarioCrl">
  <div id='calendar' style="width:75%;margin: 0 auto;"></div>
  <div id="modal-evento" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h2 class="text-center" id="titulo"></h2>
          <p class="text-center" id="description"></p>
          <br>
          <div>
            <img style="width: 100%;" src="assets/images/icons/smile.png" id="img" alt="" class="img-center">
          </div>
          <div class="row" style="margin-top: 3%;">
            <div class="col-lg-6 col-md-6 col-xs-6" style="font-size:14px;">
              <span>Comienza:</span><br><span id="inicio">17 de Noviembre</span><br><br>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6" style="font-size:14px;">
              <span>Lugar:</span><br><span id="lugar"><a target="_blank" href="http://maps.google.com/?q=central+park">Central Park</a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6" style="font-size:14px;">
              <span>Finaliza:</span><br><span id="final">18 de Noviembre</span><br><br>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6" style="font-size:14px;">
              <span>Página web:</span><br><span id="uerl"><a target="_blank" href="http://www.facebook.com">http://www.facebook.com</a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6" style="font-size:14px;">
              <span>Evento Sector:</span><br><span id="sector">Servicios Especializados</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
