

<div ng-controller="SeguimientoCotizacionesController">

  <div class="container-fluid padding-60">

    <div class="row">
      <div class="col-md-12">

        <button class="btn btn-danger pull-right"
                ng-click="sendQuotesMail()"
        >
          <i class="fa fa-envelope"></i>
          Lanzar mail con las cotizaciones
        </button>

        <button class="btn btn-danger pull-right margin-right-10 hidden "
                ng-click="sendQuotesAnalysis()"
        >
          <i class="fa fa-user"></i>
          Lanzar análisis de usuarios
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center orange">
          Módulo para darle seguimiento a las cotizaciones, recuerda que las cotizaciones se envían a los usuarios que estén listados aquí abajo y senvían en el balance mensual
        </h3>
      </div>
    </div>

    <div class="row margin-top-20">

      <div class="col-md-10">

        <h4 class="orange">Valores de coincidencia</h4>

        <div class="row">
          <div class="col-md-2">
            <label for="">Nombre de la empresa</label>
            <input type="text"
                   class="form-control"
                   ng-model=" configuration.name_score "
                   disabled
            >
          </div>
          <div class="col-md-2">
            <label for="">Productos</label>
            <input type="text"
                   class="form-control"
                   ng-model=" configuration.products_score "
                   disabled
            >
          </div>
          <div class="col-md-2">
            <label for="">Tags</label>
            <input type="text"
                   class="form-control"
                   ng-model=" configuration.tags_score "
                   disabled
            >
          </div>
          <div class="col-md-2">
            <label for="">Descripción de la empresa</label>
            <input type="text"
                   class="form-control"
                   ng-model=" configuration.description_score "
                   disabled
            >
          </div>

          <div class="col-md-2">
            <label for=""> Tolerancia mínima</label>
            <input type="number"
                   class="form-control"
                   ng-model=" configuration.min_score "
            >
          </div>

        </div>

      </div>

      <div class="col-md-2">
        <br><br><br>
        <button class="btn btn-warning"
                ng-click=" setConfigFile() "
        >
          Generar archivo de configuraciones
        </button>
      </div>
      <div class="col-md-12 margin-top-10">
        <h4 class="orange">Cambiar el valor de tolerancia mínima</h4>

        <div class="row">



        </div>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">

        <table class="table table-striped table-hover table-bordered"
               id="quotesTable"
        >

          <thead>
          <tr>
            <th> Producto </th>
            <th> Sector </th>
            <th> Categoria </th>
            <th> Score </th>
            <th> Lanzar análisis personalizado</th>
            <th> Acciones </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="quote in quotes"
              ng-class="{ 'active-row' : activeQuote._id == quote._id }"
          >
            <td> {{ quote.product }}</td>
            <td> {{ quote.sector }}</td>
            <td> {{ quote.category }}</td>
            <td> {{ quote.score }}</td>
            <td>
              <div class="form-inline">
                <div class="form-group">
                  <input type="number"
                         class="form-control input-sm"
                         ng-model=" quote.score "
                  >
                  <button class="btn btn-sm btn-primary"
                          ng-click=" sendCustomQuoteAnalysis( quote ) "
                  >
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-primary btn-xs"
                      ng-click=" viewFollow( quote ) "
              >Ver seguimiento</button>

              <button class="btn btn-warning btn-xs"
                      ng-click=" defuseQuote(quote)"
              >
                <i class="fa fa-save"></i>
              </button>

            </td>
          </tr>
          </tbody>

        </table>

      </div>

      <div class="col-md-12 margin-top-30"
           ng-if=" activeQuote != null "
      >

        Se detectaron los siguientes prospectos para esta cotización que se creó el {{ getDateForHummans( activeQuote.createdAt ) }}

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Sector</th>
              <th>Categoria</th>
              <th>Status</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>


            <tr ng-repeat=" entity in prospects "
                ng-class="{ 'danger-row' : entity.quote.category != entity.user.categoria_name  }"
            >
              <td>
                <a href="/perfil/{{ entity.user._id }}/{{ entity.user.nombre }}"
                   target="_blank"
                >
                  {{ entity.user.nombre }}
                </a>
                <button class="btn btn-xs btn-warning pull-right"
                        ng-click="viewProspectDetail( entity.user )"
                > <i class="fa fa-list"></i> ver prospecto </button>
              </td>
              <td> {{ entity.user.sector_name }}</td>
              <td> {{ entity.user.categoria_name }} </td>
              <td>
                <label class="label label-warning"
                       ng-if=" ! entity.wasSend"
                >
                  No se ha enviado
                </label>
                <label class="label label-success"
                       ng-if=" entity.wasSend"
                >
                  Enviada
                </label>
              </td>
              <td>
                <button class="btn btn-danger btn-xs"
                        ng-click=" updateProspect( entity  , 'rejected' )"
                        ng-if=" entity.status == 'approved' "
                > <i class="fa fa-trash"></i>
                  Quitar
                </button>

                <button class="btn btn-success btn-xs no-radius"
                        ng-click=" updateProspect( entity  , 'approved' )"
                        ng-if=" entity.status == 'rejected' "
                > <i class="fa fa-check"></i>
                  Habilitar
                </button>
              </td>

            </tr>
          </tbody>
        </table>


      </div>

    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="modal-prospect-details" tabindex="-1" role="dialog" aria-labelledby="modal-prospect-details-label ">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content no-overflow">
        <div class="modal-header b-bottom-orange">
          <a class="pull-right btn-close-modal-gray " data-dismiss="modal">
            <i class="fa fa-remove"></i>
          </a>
          <h1 class="text-center">{{ activeQuote.product }}</h1> <br>
          <h4 class="modal-title text-center" id="modal-prospect-details-label">Detalles del prospecto</h4>
        </div>
        <div class="modal-body">
          <h3 class="">
            Nombre : {{ activeProspect.nombre }}
          </h3>
          <h4 class="">
            Descripción : {{ activeProspect.about }}
          </h4>

          <br>
          <h4>Listado de productos</h4>
          <ul>
            <li ng-repeat=" product in activeProspect.products ">
              {{ product }}
            </li>
          </ul>

          <br>
          <h4 class="text-center">Tags</h4>
          <div class="text-center">
            <button class="btn btn-warning margin-left-10 margin-top-10"
                    ng-repeat="tag in activeProspect.tags"
            >{{ tag }}</button>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
