<div class="container" ng-controller="SearchCtr">

	<div class="row top">

	</div>

	<div class="row top">

		<h1 class="text-center">Módulo para buscar usuarios</h1>

		<a href="/admin/createUser" class="btn btn-warning pull-right">
			<i class="fa fa-plus"></i> Agregar usuario
		</a>
		<a href="#" class="btn btn-warning pull-right" data-toggle="modal" data-target="#modal-export">
			<i class="fa fa-plus"></i> Exportación a CSV
		</a>

	</div>
	<div class="row margin-top-20">

		<div class="col-md-6">
			<label for="">Buscar por teléfono</label>
			<input ng-model="telefono" ng-change="searchUser()" type="text" class="form-control">
		</div>
		<div class="col-md-6">
			<label for="email">Buscar por correo</label>
			<input ng-model="email" ng-change="searchUser()" type="text" class="form-control">
		</div>
		<div class="col-md-6 top">
			<label for="name">Buscar por nombre</label>
			<input ng-model="nombre" ng-change="searchUser()" type="text" class="form-control">
		</div>
		<div class="col-md-6 top">
			<label for="">Buscar por ID</label>
			<input ng-model="id" ng-change="searchById()" type="text" class="form-control">
		</div>
		<div class="col-md-12 top text-center">
			<a href="#" class="btn btn-warning" ng-click="getFeaturedOnly()" ng-if="soloDestacados == false">
				Ver solo destacados
			</a>
			<a href="#" class="btn btn-warning" ng-click="clear()" ng-if="soloDestacados == true">
				Ver todos
			</a>
		</div>
	</div>

	<div class="row margin-top-30">

		<div class="col-md-12">
			<table class="table table-hover">

				<thead>
					<tr>
						<th>Teléfono</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{ user.telefono }}</td>
						<td>{{ user.nombre }}</td>
						<td>{{ user.email }}</td>
						<td>
							<a href="/admin/updateUser/{{ user._id }}" class="btn btn-warning"><i class="fa fa-pencil"></i> Editar</a>
							<a href="#" ng-show="user.destacado == false" class="btn btn-warning" ng-click="destacarUser(user)"><i class="fa fa-star"></i> Destacar</a>
							<a ng-click="undestacar(user)" href="#" ng-show="user.destacado == true" class="btn btn-warning"><i class="fa fa-minus-circle"></i> No Destacar</a>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<div id="modal-export" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sector y categoría a exportar</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.sector" ng-change="changeSector(exportData.sector)" id="sector" class="form-text-field" type="text">
							<option value="">Selecciona un sector</option>
							<option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
						</select>
						</div>
						<br>
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.categoria" class="form-text-field" type="text" id="categoria" ng-change="changeCategoria(exportData.categoria)">
		          <option value="">Selecciona un sub sector</option>
		        </select>
						</div>
						<br>
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.estado" class="form-text-field" id=estado type="text" ng-change="changeEstado(exportData.estado)">
		          <option value="">Selecciona un estado</option>
		          <option ng-repeat="estado in estados" value="{{estado.name}}">{{estado.name}}</option>
		        </select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<button class="btn btn-warning btn-40 col-xs-12" ng-click="export();">Exportar a CSV</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>

	<div id="modal-loading" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<img id="gif" src="assets/images/gifs/cargando.gif" class="img-center" alt="">
						</div>
					</div>
				</div>

				<div class="modal-footer">
				</div>
			</div>

		</div>
	</div>




</div>

<br><br>
