<div ng-controller="PromocionesController">

	<div class="container-fluid">
		<!-- seccion titulo -->
			<div class="row white text-center padding-section-90 bg-nosotros-2">

				<div class="container"  >
					<h2 class="mega-title-xs">
					  <span class="orange">"</span>
					  <b>
              3 Meses gratis al contratar tu anualidad 2018
					  </b>
					  <span class="orange"> "</span>
					</h2>
					<h2 id="top">
						Se de los primeros y obtén de cortesía 1 mes de banner en tu categoría
					</h2>
					<h3 class="margin-top-20">
					<br>
					  <span class="orange">Portalia Plus</span> es la opción ideal para acercarte a tu mercado meta de forma directa y sencilla. Mes con mes generarás nuevas relaciones comerciales y comenzarás a crecer aprovechando el inmenso mercado por internet.
					</h3>
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 margin-top-20">
								<input type="text"
									   class="form-control input-h-50"
									   placeholder="Nombre"
									   ng-model="formulario.nombre"
									   required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
								<input type="email"
									   class="form-control input-h-50"
									   placeholder="Correo"
									   ng-model="formulario.correo"
									   required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
								<input type="tel"
									   class="form-control input-h-50"
									   placeholder="Telefono"
									   ng-model="formulario.telefono"
									   required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
								<button class="btn btn-promocion"
										type="submit"
										ng-click="enviar()"
										>
									Solicitar Promoción <i class="fa fa-chevron-right magictime"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- fin seccion titulo -->
		<!-- seccion ventajas -->
			<div class="row white padding-section-90 bg-yellow">

				<div class="container">
					<div class="col-md-6 col-sm-4 col-xs-12 text-center-xs">
						<h1>
							¿Por qué confiar en nosotros?
						</h1>
					</div>
					<div class="col-md-6 col-sm-8 col-xs-12">
						<div class="row text-center-xs">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<span class="glyphicon glyphicon-user font-s-ventajas-80"></span>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h4 class="margin-top-15 margin-left-30 no-margin-xs">
								<br class="visible-xs">
									Más de 100 mil usuarios activos ya están buscando nuevos proveedores para su empresa
								</h4>
							</div>
						</div>
						<div class="row text-center-xs">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<span class="fa fa-briefcase font-s-ventajas-80"></span>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h4 class="margin-top-15 margin-left-30 no-margin-xs">
								<br class="visible-xs">
									Al mes generamos más de 50 mil oportunidades de negocio
								</h4>
							</div>
						</div>
						<div class="row text-center-xs">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<span class="fa fa-money font-s-ventajas-80"></span>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h4 class="margin-top-15 margin-left-30 no-margin-xs">
								<br class="visible-xs">
									Te ayudaremos a que entiendas y apliques web marketing para tu empresa y así puedas vender más
								</h4>
							</div>
						</div>
						<div class="row text-center-xs">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<span class="fa fa-comments-o font-s-ventajas-80"></span>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h4 class="margin-top-15 margin-left-30 no-margin-xs">
								<br class="visible-xs">
									Podrás contactarte de manera directa con tus clientes y proveedores a través de un chat directo
								</h4>
							</div>
						</div>
						<div class="row text-center-xs">
							<div class="col-md-2 col-sm-2 col-xs-12">
								<span class="fa fa-phone font-s-ventajas-80"></span>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<h4 class="margin-top-15 margin-left-30 no-margin-xs">
								<br class="visible-xs">
									Te daremos atención personalizada vía telefónica o en nuestro chat en línea
								</h4>
							</div>
						</div>
						<div class="row text-center-xs">
							<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-12">
								<br class="visible-xs">
								<a href="/pricing" class="btn btn-transition btn-100">
									¡Contrata Ya!
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- fin seccion ventajas -->
		<!-- seccion beneficios -->
			<div class="row white text-center padding-section-90 bg-nosotros-2">

				<div class="container">
					<h1 class="mega-title-xs">
					  <span class="orange">"</span><b> Beneficios</b> <span class="orange"> "</span>
					</h1>

					<h3 class="margin-top-20">
					<br>
						Al contratar una <span class="orange">membresía select</span> para tu empresa, tendrás múltiples beneficios que te ayudarán a cumplir tus objetivos como empresa.
					</h3>
				    <div class="col-md-6 col-md-offset-3 margin-top-30">
						<div class="embed-responsive embed-responsive-4by3">
						    <iframe class="embed-responsive-item"
						    		src="https://www.youtube.com/embed/jM5fRZmdqrA">

						    </iframe>
						</div>
				    </div>
				</div>
			</div>
		<!-- fin seccion beneficios -->
		<!-- seccion empresas -->
			<div class="row white text-center padding-section-90 bg-yellow">

				<div class="container-fluid">
					<h1 class="">
					  <b>¡Estas empresas ya confiaron en <br>Portalia plus!</b>
					</h1>
					<div ng-class="col-md-12">
					  <ul id="lightSlider">
					    <li>
							<div class="row">
								<div class="col-xs-12">
								  <h3>
								  	Alpura
								  </h3>
								</div>
							</div>
							<a target="_blank" href="https://portaliaplus.com/perfil/586bde7604cb2b3468abb316">
								<img src="https://s-media-cache-ak0.pinimg.com/736x/c6/c5/39/c6c5394038cb2a629ae6297cea3d2843.jpg"
									 alt=""
									 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
						 	</a>
					    </li>
				        <li>
				    		<div class="row">
				    			<div class="col-xs-12">
				    			  <h3>
				    			  	Aceros Murillo
				    			  </h3>
				    			</div>
				    		</div>
				    		<a target="_blank" href="https://portaliaplus.com/perfil/58743fd6d253f4321089c8ea">
				    			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAIUAAAAJDNhZTI5OGVmLTZlNjgtNDMyOC04M2M5LTlkOTcyOTcxMDBjNQ.jpg"
				    			 alt=""
				    			 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
				    		</a>
				        </li>
			            <li>
			        		<div class="row">
			        			<div class="col-xs-12">
			        			  <h3>
			        			  	LTH Baterías
			        			  </h3>
			        			</div>
			        		</div>

			        		<a target="_blank" href="https://portaliaplus.com/perfil/586bde7604cb2b3468abb2b9">

			        		<img src="http://logovector.net/wp-content/uploads/2012/12/272933-lth-acumuladores-logo.gif"
			        			 alt=""
			        			 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
			        		</a>
			            </li>
					    <li>
							<div class="row">
								<div class="col-xs-12">
								  <h3>
								  	Grupo Aeroportuario
								  </h3>
								</div>
							</div>
							<a  target="_blank" href="https://portaliaplus.com/perfil/586bdeba04cb2b3468abb5cd">

							<img src="http://bolsamexicanadevalores.com.mx/wp-content/uploads/GAP.jpg"
								 alt=""
								 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
							</a>
					    </li>
					    <li>
				    		<div class="row">
				    			<div class="col-xs-12">
				    			  <h3>
				    			  	Prisa
				    			  </h3>
				    			</div>
				    		</div>
				    		<a target="_blank" href="https://portaliaplus.com/perfil/586bde7604cb2b3468abb2f2">

				    		<img src="http://javierastasio.blogspot.es/img/prisalogo.jpg"
				    			 alt=""
				    			 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
				    		</a>
				        </li>
			            <li>
			        		<div class="row">
			        			<div class="col-xs-12">
			        			  <h3>
			        			  	City Express
			        			  </h3>
			        			</div>
			        		</div>
			        		<a target="_blank" href="https://portaliaplus.com/perfil/586bde7604cb2b3468abb2e4">
								<img src="https://pbs.twimg.com/profile_images/684129744401465345/2XfHgm9q.jpg"
									 alt=""
									 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider">
			        		</a>
        			 	</li>
				        <li>
				    		<div class="row">
				    			<div class="col-xs-12">
				    			  <h3>
				    			  	CAT
				    			  </h3>
				    			</div>
				    		</div>
				    		<a target="_blank" href="https://portaliaplus.com/perfil/58ae7f817d4511fc468670b9">
					    		<img src="http://a1277.phobos.apple.com/us/r30/Purple/v4/d4/67/88/d46788c5-a9b7-836a-7b8d-ca9c8f1471f1/mzl.srkrquer.png"
					    			 alt=""
					    			 class="responsiveItemSliderOne responsiveItemSlider img-circle img-slider center-block">
				    		</a>
				        </li>

					  </ul>
					</div>

				</div>
			</div>
		<!-- fin seccion empresas -->
		<!-- seccion Esto dicen de nosotros -->
			<div class="row white padding-section-90 bg-nosotros-2">

				<div class="container">

					<h1 class="mega-title-xs text-center">

					  <span class="orange">"</span><b> Esto dicen de nosotros</b> <span class="orange"> "</span>

					</h1>

					<div class="col-md-12 margin-top-30">

						<div class="row">

							<div class="col-sm-5 col-md-5 bg-white h-300">

								<div class="row">

									<div class="col-md-3">
										<a href="https://www.forbes.com.mx/brand-voice/marketing-digital-un-beneficio-que-deberias-estar-aprovechando/#gs.1z_o_ak">
											<img src="https://blogs-images.forbes.com/assets/images/avatars/blog-3949_400.jpg"
												 alt=""
												 class="img-responsive img-rounded img-n">
										</a>

									</div>

									<div class="col-md-9">

										<h4 class="margin-top-30">
											Forbes
										</h4>

									</div>

								</div>

								<div class="row">

									<div class="col-md-12">
										<h5 class="padding-20">
											“Por su amplia gama de servicios y su catálogo especializado, Portalia Plus es un directorio industrial de máxima calidad en el que podrás materializar tus ideas mientras llegas no sólo a un mayor público, sino al que en verdad te está buscando”.
											<div class="row margin-top-15">
												<div class="col-md-4">
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
												</div>
										   	</div>
										</h5>


									</div>

								</div>

							</div>
							<br class="visible-xs">
							<div class="col-sm-5 col-md-5 pull-right bg-white h-300">

								<div class="row">

									<div class="col-md-3">
										<a href="https://www.entrepreneur.com/article/280509">
											<img src="https://assets.entrepreneur.com/content/3x2/1300/20160408155709-default-hero-entrepreneur.png"
												 alt=""
												 class="img-responsive img-rounded img-n">
										</a>

									</div>

									<div class="col-md-9">

										<h4 class="margin-top-30">
											Entrepeneur
										</h4>

									</div>

								</div>

								<div class="row">

									<div class="col-md-12">
										<h5 class="padding-20">
											“Por su amplio alcance, diseño amigable y contenido de valor, Portalia Plus es un directorio industrial de la mayor calidad, con beneficios atractivos para tu negocio”
											<br>
											<br>
											<br>
											<div class="row">
												<div class="col-md-4">
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star yellow"></span>
													<span class="fa fa-star"></span>
												</div>
										   	</div>
										</h5>

									</div>

								</div>

							</div>

						</div>

					</div>
					<div class="col-md-12 text-center margin-top-20">
						<button class="btn btn-warning"
                    ng-click="goToTop()"
            >
							Contratar Promoción Ahora
						</button>
					</div>

				</div>

			</div>
		<!-- fin seccion Esto dicen de nosotros -->
	</div>


  </div>

<script>
	$("#lightSlider").lightSlider({
		item:4,
		easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
		responsive : [
	        {
	        	breakpoint:1000,
	        	settings: {
	        	    item:3,
	        	    slideMove:1,
	        	    slideMargin:6,
	        	}
        	},
	        {
	            breakpoint:800,
	            settings: {
	                item:2,
	                slideMove:1,
	                slideMargin:6,
	              }
	        },
	        {
	            breakpoint:480,
	            settings: {
	                item:1,
	                slideMove:1
	              }
	        }
        ]

	});
</script>
