<div id="fix" ng-controller="NosotrosCtr">
  <section class="top-page">
    <div class="nosotros-bg">
      <h1 class="white text-center font-normal">NOSOTROS</h1>
      <div class="header-underline gradient-yellow-orange"></div>
    </div>
    <div class="orange-divider orange-divider-background"></div>
    <div class="row bg-black">
      <div class="col-md-6" id="nosotros-video">

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="embed-responsive embed-responsive-4by3">
                <video  controls class="embed-responsive-item" poster="assets/images/thumbnailNosotros.jpg">
                    <source src="assets/videos/landing.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-6" id="nosotros-text">
        <div class="row">

          <div class="col-md-10 col-md-offset-1">

            <h2 class="orange">NOSOTROS</h2>
            <p >
              Portal Industrial <br>
              Somos un <b>portal industrial</b> que busca el crecimiento de tu negocio usando el potencial de los Medios Digitales.
              <br><br>

              ¿Quiéres Vender? <br>
              Con Portalia Plus podrás conectar con tu mercado meta, al igual que tus nuevos clientes te contactarán de forma directa y sin contratiempos. Crea nuevas relaciones comerciales y/o consigue distribuidores de la manera más fácil y amigable mediante internet.
              Puedes anunciarte gratis para publicar tus productos o servicios o puedes acceder a una membresía para formar parte de la comunidad de networking para aprovechar al máximo todos los clientes potenciales y oportunidades de negocios que se generan día con día en nuestro portal.
              <br><br>
              ¿Quieres Comprar? <br>
              Te ayudamos a encontrar distintos proveedores para que puedas comparar y elegir el correcto. Encuentra miles de proveedores al alcance de un clic, organizados por categorías y sectores industriales.
              Encuentra información técnica de los productos o equipos industriales anunciados en nuestro portal, cotiza directamente y ahorra tiempo. <br>
              <br>



            </p>
          </div>

        </div>
      </div>
    </div>

  </section>

  <div class="row white bg-orange">

    <div class="col-md-4 bg-valores padding-60">
      <h1>NUESTROS VALORES</h1>
      <p class="white light font-20">
        <br> EFICIENCIA
        <br> INNOVACIÓN
        <br> PROFESIONALISMO
        <br> HONESTIDAD
        <br> COMPROMISO SOCIAL

      </p>
    </div>

    <div class="col-md-4 bg-mision padding-60">
      <h1>MISIÓN</h1>
      <p class="white light font-20">
        Ser líder en directorios industriales y empresariales, ofreciendo soluciones integrales para aquellos que quieren crecer su negocio de manera eficiente mediante estrategias innovadoras y de gran calidad para anunciantes y visitantes.
      </p>
    </div>

    <div class="col-md-4 bg-vision padding-60">
      <h1>VISIÓN</h1>
      <p class="white light font-20">
        Ser el portal industrial líder en México y Latinoamérica, proporcionando a visitantes y anunciantes las mejores experiencias y oportunidades de negocio de forma confiable, eficiente e innovadora.
      </p>
    </div>

  </div>

  <div class="row bg-black white text-center ">
    <div class="container bot">
      <h1>BENEFICIOS</h1>
      <div class="header-underline gradient-yellow-orange"></div>
      <br>
      <p>Tenemos todo lo que necesitas para conectar tu mercado</p>

      <div class="row top">
        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_directorio.png" class="img-responsive center-block" alt="">
          <p> <br> Directorios Industriales <br> Optimizados</p>
        </div>

        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_uso_amigable.png" class="img-responsive center-block" alt="">
          <p> <br> Uso Amigable</p>
        </div>

        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_soluciones_integrales.png" class="img-responsive center-block" alt="">
          <p> <br> Soluciones Integrales</p>
        </div>
      </div>
      <div class="row top">
        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_mejora_continua.png" class="img-responsive center-block" alt="">
          <p> <br> Mejora Continua</p>
        </div>

        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_personalizacion.png" class="img-responsive center-block" alt="">
          <p> <br> Personalización</p>
        </div>

        <div class="col-md-4">
          <img src="assets/images/nosotros/icons/icono_mayor_difusion.png" class="img-responsive center-block" alt="">
          <p><br> Mayor Difusión <br> Sin Costo</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row bg-nosotros white text-center padding-section-30">
    <h1>EMPRESAS REGISTRADAS <br><br></h1>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_agroindustria.png" alt="">
      <h1>{{ agroindustria }}</h1>
      <p>Agroindustria</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_construccion.png" alt="">
      <h1>{{ construccion }}</h1>
      <p>Construcción</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_electricidad_agua.png" alt="">
      <h1>{{ electricidad }}</h1>
      <p>Electricidad <br> y Agua</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_industrias_manufactureras.png" alt="">
      <h1>{{ industrias }}</h1>
      <p>Industrias <br> Manofactureras</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_servicios_especializados.png" alt="">
      <h1>{{ servicios }}</h1>
      <p>Servicios <br> Especializados</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/nosotros/icons/icono_turismo.png" alt="">
      <h1>{{ turismo }}</h1>
      <p>Turismo</p>
    </div>
  </div>

  <div class="row white text-center padding-section-90 bg-nosotros-2">

    <div class="container">
      <h1 class="mega-title">
        <span class="orange">" Soluciones</span> <b>Industriales</b> <span class="orange"> "</span>
      </h1>
      <h2 class="top">
        <br><br>
        Basados en nuestra <span class="orange">experiencia de muchos años</span> ayudamos a nuestros clientes a construir sus industrias
      </h2>
    </div>
  </div>

  <div class="row white text-center padding-section-90 bg-nosotros-3">

    <h1 class="orange mega">MEDIOS</h1>
    <div class="col-md-10 col-md-offset-1 bot"> <hr class="bold"> <br><br> </div>
    <div class="col-md-4 heigh-100 b-right-bold">
      <a target="_blank" href=" http://www.forbes.com.mx/brand-voice/marketing-digital-un-beneficio-que-deberias-estar-aprovechando/#gs.p5G4xCs">
        <img src="assets/images/nosotros/medios/1.png" class="center-block" alt="">
      </a>
    </div>
    <div class="col-md-4 heigh-100 b-right-bold">
      <a target="_blank" href="https://www.entrepreneur.com/article/280509">
        <img src="assets/images/nosotros/medios/2.png" class="center-block" alt="">
      </a>
    </div>
    <div class="col-md-4 heigh-100">
      <a target="_blank" href="http://www.1070noticias.com.mx/jalisco/recomiendan-a-empresarios-aprovechar-instrumentos-tecnologicos-ante-recortes-presupuestales/">
        <img src="assets/images/nosotros/medios/3.png" class="center-block" alt="">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-60" id="compromiso-text"> <br>
      <h2 class="orange">COMPROMISO SOCIAL</h2>
      <p>

        En Portalia Plus creemos firmemente que la base de toda empresa radica en los valores que ésta promueve y practica entre sus colaboradores,
        clientes proveedores y comunidad. Marcando con ello un elemento de valor que impulsa para el éxito y desarrollo de la empresa y quienes la conforman.
        <br><br>

        Para evidenciar y compartir los logros de nuestro compromiso social; Portalia Plus promueve acciones en conjunto de la sociedad civil organizada:
        <br><br>

        ALAS de Luz A.C. <br><br>

        Una asociación Civil sin fines de lucro que trabaja con el objetivo de evidenciar la necesidad, importancia y trascendencia de la práctica de
        valores universales en la vida cotidiana a través de programas, talleres y eventos de sensibilización, concientización y práctica de los valores.
        <br>
        Una sociedad consciente de los valores universales, es el primer paso para lograr la unión y combatir la delincuencia que es en ocasiones aquello que nos detiene al crecimiento.
        <br><br>

        Conexión México <br><br>

        México es un país lleno de riquezas naturales, turísticas y culturales. Ahora más que nunca nuestro país necesita estar unido,
        comprar a empresas de origen mexicano hace la diferencia entre apoyar al crecimiento económico de nuestro país y apoyar el
        crecimiento económico de potencias mundiales aisladas a nuestra economía. <br>
        Hacer fuerte nuestro comercio comienza dentro de nuestras alianzas comerciales, primero hay que intentar consumir lo hecho en
        méxico, la calidad y valores de las empresas mexicanas son garantía que nos caracterizan. <br><br>

        Las Grande Acciones las Hacemos Todos <br>




      </p>
    </div>

    <div class="col-md-6 padding-60" id="compromiso-video">

      <div class="embed-responsive embed-responsive-4by3">

        <iframe  class="embed-responsive-item"
          src="https://www.youtube.com/embed/Wgxs1j1cmpk">
        </iframe>
      </div>

    </div>
  </div>

</div>
