<div class="container" ng-controller="categoriasCrl">
  <div class="row">
    <div class="col-xs-6">
      <div class="square"></div>
    </div>
    <div class="col-xs-6">
      <div class="square"></div>
    </div>
    <div class="col-xs-6">
      <div class="square"></div>
    </div>
    <div class="col-xs-6">
      <div class="square"></div>
    </div>
    <div class="col-xs-6">
      <div class="square"></div>
    </div>
  </div>
</div>
<style>
  .square {
    width: 100%;
    padding-bottom: 100%;
    background-image: url('http://vignette3.wikia.nocookie.net/disney/images/c/c9/Entertainment-Weekly-The-Avengers-Age-of-Ultron.jpg/revision/latest?cb=20140719174339');
    background-size: cover;
  }
</style>
