<div ng-controller="anunciosCtrl" class="bg-gray-light padding-bottom-30">
  <update-title title="{{title}}"></update-title>
  <update-meta name="description" content="{{description}}"></update-meta>
  <update-meta name="title" content="{{title}}"></update-meta>
  <div class="container-fluid">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
      <div class="col-lg-12 top">

        <button id="closeBlog" class="btn btn-post col-xs-12" data-toggle="offcanvas" data-target="#myNavmenu">
          <div class="triangle-post"></div>REGRESAR</button>

        <div class="row" ng-repeat="post in posts">
          <a href="/blog/post/{{post.slug}}/{{post.id}}">
            <div class="col-xs-12 top postdiv">
              <div class="gradient-yellow-orange gradient-menu"></div>
              <img ng-src="{{post.attachments[0].images.medium.url}}" class="post " alt="">
              <div class="post-in">
                {{ post.title }}
              </div>
              <div class="post-number">
                {{$index + 1}}
              </div>
            </div>
          </a>
        </div>
        <button  class="btn btn-post col-xs-12"><a href='/blog'>TODOS LOS POSTS</a></button>

      </div>

    </nav>

    <div class="row ">
      <div class="col-lg-12 col-md-12 bg-header" id="imagenSector">
        <h1 class="white text-center top-header hidden-xs ng-binding">{{customTitle ||  categoria || sector || "Directorio Industrial General"}}</h1>
        <h1 class="white text-center top-header visible-xs ng-binding"><br>{{customTitle ||  categoria || sector || "Directorio Industrial General"}}</h1>
        <div class="line-separator orange-divider-background"></div>
        <p class="white text-center top-header hidden-xs ng-binding col-md-6 col-md-offset-3" ng-if="customDescription" ng-bind-html="customDescription"></p>
      </div>
    </div>

  </div>


  <!-- Componente de listado de empresas -->
  <bussinesslist></bussinesslist>
  <!-- Termina componente de listado de empresas -->
  <button type="button" class="btn btn-editar btn-blog-md" style="position: sticky;" data-toggle="offcanvas" data-target="#myNavmenu" data-placement="left">
    BLOG
    <br>
    <i class="fa fa-book"></i>
  </button>
  <!--Modal de contqacto-->
  <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9000;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">

          <!-- Formulario de contacto básico -->
          <contactform></contactform>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</div>
