<div class="container" ng-controller="panelMailingCrl">
	<div class="row top">
	</div>
  <!-- Modal -->
  <div class="modal" id="mailingQuery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content no-overflow">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalQuery">Filtros de Busqueda</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-text-field" ng-model="datos.email" name="email" placeholder="Email">
            <input type="text" class="form-text-field" ng-model="datos.nombre" name="nombre" placeholder="Nombre de la Empresa">
            <select  ng-model="query.sector" class="form-text-field" ng-change="changeSector(query.sector)" id="sector" type="text">
                <option value="">Selecciona un sector</option>
                <option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
            </select>
						<div class="">
			        <select ng-model="query.categoria" ng-change="changeCategoria(query.sector, query.categoria)" class="form-text-field" type="text" id="categoria">
			          <option value="">Selecciona un sub sector</option>
			        </select>
			      </div>
            <input type="text" ng-model="datos.otraSub" name="otraSub" placeholder="Otra Categoria" class="form-text-field">
						<input type="text" ng-model="datos.keyword" name="keyword" placeholder="Palabra clave" class="form-text-field">
						<select ng-model="query.estado" ng-change="changeEstado(query.estado)" class="form-text-field" id="estado" type="text">
              <option value="">Selecciona un estado</option>
              <option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
            </select>
            <select ng-model="query.municipio" ng-change="selectMunicipio(query.estado,query.municipio)" class="form-text-field" type="text" id="municipio">
              <option value="">Selecciona un municipio</option>
            </select>

						<input type="text" ng-model="datos.telefono" name="telefono" placeholder="Telefono" class="form-text-field">
            <select ng-model="datos.paquete" class="form-text-field" name="">
							<option value="">Selecciona un paquete</option>
							<option value="gratis">Gratis</option>
							<option value="basico">Basico</option>
							<option value="premium">Premium</option>
            </select>
            <select ng-model="datos.role" class="form-text-field" name="">
							<option value="">Selecciona un role</option>
							<option value="user">User</option>
							<option value="empresa">Empresa</option>
            </select>
						<input type="radio" id="1" name="all" ng-model="datos.tipoQuery" value="and" style="display: -webkit-inline-box" checked>Hacer coincidir con todos los campos<br>
						<input type="radio" id="2" name="one" ng-model="datos.tipoQuery" value="or" style="display: -webkit-inline-box">Hacer coincidir con cada uno de los campos

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-default" ng-click="restartData()">Borrar datos</button>
          <button type="button" class="btn btn-warning" ng-click="compQuery()">Buscar</button>
        </div>
      </div>
    </div>
  </div>

	<div class="row top">

		<h1 class="text-center">Módulo de Mailing</h1>
		<div class="btn-toolbar">
			<input type="text" ng-model="mailSend.bloque" name="bloque" placeholder="Nombre del Bloque">
			<button type="button" name="button" class="btn btn-warning pull-right" ng-click="datosModal()"> Filtros</button>
			<button type="button" name="button" class="btn btn-warning pull-right" ng-click="enviarMailing()"> Enviar mail a: {{users.length}} usuarios</button>
			<button type="button" name="button" class="btn btn-warning pull-right" ng-click="datosModal()"> Enviar Push a: {{users.length}} usuarios</button>
		</div>
		<!-- <a href="/admin/createUser" class="btn btn-warning pull-right">
			<i class="fa fa-plus"></i> Agregar usuario
		</a> -->

	</div>
	<div class="row margin-top-30">

		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Teléfono</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users" >
						<td>{{ user.telefono }}</td>
						<td>{{ user.nombre }}</td>
						<td>{{ user.email }}</td>
						<td>
							<a href="" class="btn btn-warning" ng-click="mailingSingle(user)"><i class="fa fa-envelope-o"></i> Enviar Mail</a>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>



</div>

<br><br>
