<!-- <div class="container" ng-controller="subsectoresCrl">
  <div class="row" style="background-color:black;">
    <div class="col-xs-6" ng-click="goToAnuncios($index)" ng-repeat="subsector in sector.subsectores" style="padding-left: 0%;padding-right: 0%;">
      <div class="squareBG" style="background-image: url('assets/images/iconos_anuncios/{{subsector.name}}.jpg');"><span class="prueba">
        <br><br><br><br><br>{{subsector.name}}</span></div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row" ng-controller="subsectoresCrl">
    <div class="col-xs-6" ng-click="goToAnuncios($index)" ng-repeat="subsector in sector.subsectores" style="padding-top:15px;padding-right:15px;">
      <div class="ratio img-responsive img-circle" style="background-image: url('assets/images/iconos_anuncios/{{subsector.name}}.jpg');">
        <div class="pruebados" data-fittext>{{subsector.name}}</div>
      </div>
    </div>
  </div>
</div>
<style>
  .squareBG {
    font-size: 13pt !important;
    width: 100%;
    padding-bottom: 100%;
    background-image: url('assets/images/iconos_anuncios/Urbanización.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
  }

  .pruebados {
    position: absolute;
    bottom: 50%;
    width: 100%;
    /*padding-left: 10%;
    padding-right: 10%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
     text-align: center;
    color: white;
    font-size: 0.8em !important;
    /* -webkit-box-orient: vertical; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 7; */
  }

  .prueba {
    color: white;
    font-size: 10pt !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
  }

  .caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
  }

  .img-circle {
    border-radius: 50%;
  }

  .img-circle {
    border-radius: 0;
  }

  .ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }

  .img-circle {
    border-radius: 50%;
  }

  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }
</style>
