<div class="container-fluid" ng-controller="registrosCrl">
  <div class="row top">
    <div class="col-md-3"></div>
    <admin-menu-superior></admin-menu-superior>
  </div>
  <div class="row bot">
    <!-- Directiva del menú lateral del panel administrativo -->
    <!-- Esta directiva tiene la clase col-md-3 -->
    <!-- <admin-menu-lateral></admin-menu-lateral> -->
    <div class="col-md-3 top">
      <button class="btn col-xs-12 btn-menu-yellow top" ng-click="chartGeneral()">Registros Generales</button>
      <button class="btn col-xs-12 btn-menu-yellow top" ng-click="chartSectores()">Registros por Sector</button>
      <!-- <button class="btn col-xs-12 btn-menu-yellow top">Registros por Categoria</button> -->
      <button class="btn col-xs-12 btn-menu-yellow top" ng-click="chartSubsectores()">Registros por Subsector</button>
      <button class="btn col-xs-12 btn-menu-yellow top" ng-click="chartVisitantes()">Registros de Visitantes</button>
      <!-- <button class="btn col-xs-12 btn-menu-yellow top">Promociones / Cortesías</button> -->
      <button class="btn col-xs-12 btn-menu-yellow top">Disponibilidad de espacios</button>
    </div>

    <div class="col-md-9 top">
      <div class="text-center">
        <h1 id="titulo">ESTADÍSTICAS DE REGISTRO POR PAQUETE</h1>
        <hr class="title-border"></hr>
        <!-- <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div> -->
        <div id="chartRegistrosGenerales" class="chart-500 " />
        <!-- <div id="chartRegistrosSector" class="chart-500 top "/> -->
      </div>
      <div id="lol" style="display:none;">
        <div class="col-md-12">
          <button class="btn col-xs-12 btn-menu-yellow top" ng-click="normalRegistros()" id="registros" ng-show="seeRegistros == true">Ver Registros</button>
          <button class="btn col-xs-12 btn-menu-yellow top" ng-click="preregistros()" id="preregistros" ng-show="seeRegistros == false">Ver Pre-Registros</button>
          <div class="col-md-6 col-md-offset-2 text-center top">
            <label for="">Filtrar un sector</label>
            <select ng-model="sectorFilter" class="form-control" id="sector">
              <option value="">Selecciona un sector (Todos)</option>
              <option ng-repeat="sector in sectors" value="{{sector.name}}">{{sector.name}}</option>
            </select>
          </div>
    			<table class="table table-hover">

    				<thead>
    					<tr>
    						<th>Sector</th>
    						<th>Categoria</th>
    						<th>Registros</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr ng-repeat="categorie in categories | orderBy:'sector' | filter:sectorFilter">
    						<td>{{categorie.sector}}</td>
    						<td>{{categorie._id}}</td>
    						<td>{{categorie.count}}</td>
    					</tr>
    				</tbody>

    			</table>
    		</div>
      </div>
      <div id="visitantes" style="display:none;">
        <div style="text-align:center;">Registros totales: {{visitantes.length}}</div>
        <input ng-model="query" type="text" class="form-control" placeholder="Filtrar por nombre o correo electrónico" />
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="visitante in visitantes | filter: search " style="font-size:11pt;">
              <td style="padding-right:10px;">{{visitante.nombre}}</td>
              <td style="padding-right:10px;"style="padding-right:10px;">
                {{visitante.email}}
              </td style="padding-right:10px;">
              <td>{{visitante.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="assets/js/admin/masonry.js"></script>
  <script src="assets/js/admin/registros.js"></script>

  <script>
  </script>



  <script>
  </script>
