.chart-500 { height: 500px; }
.list-group-item { border-color: transparent;   border-radius: 0px; }
li.list-group-item
{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, .5);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, .5);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, .5);

}
  /*.nav-tabs { border-color: transparent; }*/
  /*.nav-tabs li*/
  /*{*/
    /*background-color: #808080;*/
    /*font-size: 14px;*/
    /*-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);*/
    /*-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 1);*/
    /*box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 1);*/
  /*}*/
  /*.nav-tabs li:hover a,*/
  /*.nav-tabs li:hover,*/
  /*.nav-tabs li:active,*/
  /*.nav-tabs li:focus*/
  /*{ background-color: #000; color: white; }*/

  /*.nav-tabs li.active a{ background-color: #000 !important; color: white; }*/


  /*.nav-tabs li a { color: white;  }*/



@media (min-width: 1700px) {
  .nav-tabs li { font-size: 19px; }
}
@media (min-width: 1500px) and (max-width: 1499px; ) {
  .nav-tabs li { font-size: 16px; }
}
