


<div ng-controller="PromocionesContactoController">


  <div class="container">

    <div class="row margin-top-30">

      <div class="col-md-5">

        <input type="text"
               class="form-control"
               ng-model="newPromotion.name"
        >

      </div>

      <div class="col-md-3">
        <button class="btn btn-orange-dark"
                ng-click="newpromotion()"
        >Agregar</button>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">

        <ul class="list-group">
          <li class="list-group-item"
              ng-repeat=" promotion in promotions track by $index "
          > {{ promotion.name }}
            <button class="btn btn-xs btn-danger pull-right"
                    ng-click="deletePromotion( promotion._id )"
            >
              <i class="fa fa-trash"></i>
            </button>
          </li>
        </ul>

      </div>

    </div>

  </div>

</div>
