<div ng-controller="ActivarBannerController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Activar banner publicitario
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Activar banner</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Ingresa los datos correspondientes</span>
          </div>
          <div class="actions">
            <h4 class="orange"></h4>
          </div>
        </div>
        <div class="portlet-body">


          <div class="row">
            <div class="col-md-12">
              <h2 class="orange text-center"
                  ng-if=" ! banner.isActive "
              >
                Tu banner por {{ diffinDays( banner.until , banner.since  )}} días, a partir de {{ getDateForHummans( banner.since )}}
                ( recuerda que el precio por palabra puede variar dependiendo la demanda )


                <h2 class="orange text-center"
                    ng-if=" banner.isActive "
                >
                  {{ ( isActiveBanner(banner) ) ? 'Tu banner se activará el ' + getDateForHummans( banner.since ) : 'Tu banner se encuentra activo' }}
                </h2>
            </div>
          </div>

          <div class="row margin-top-30">
            <div class="col-md-12 text-center">
              <h4 class="orange" ng-if="! banner.isActive">Palabras clave solicitadas </h4>
              <h4 class="orange" ng-if="banner.isActive">Haz click en tus palabras clave para ver el resultado de tu banner </h4>
              <button class="btn btn-outline yellow-gold margin-left-20"
                      ng-repeat=" entity in pricePerTag "
                      ng-if=" ! banner.isActive "
              > {{ entity.tag }} <b>${{ entity.price.toFixed(2) }} por día</b> </button>

              <button class="btn btn-outline yellow-gold margin-left-20"
                     ng-repeat=" entity in pricePerTag "
                     ng-if=" banner.isActive "
                     ng-click="sendtoBusinessList( entity.tag )"
              > {{ entity.tag }} </button>

            </div>
          </div>

          <div class="row"
               ng-if="! banner.isActive"
          >

            <div class="col-md-6 col-md-offset-3 margin-top-30">
              <h2 class="orange text-center">Total a pagar:
                {{ totalToPay }}
              </h2>

              <h3 class="text-center orange">
                Tu banner estará activo un total de {{ diffinDays( banner.until , banner.since  )}} días,
                lo que da un coste total de ${{ ( totalToPay / diffinDays( banner.until , banner.since ) ).toFixed(2) }} por día
              </h3>
            </div>


            <div class="col-md-6 col-md-offset-3"
                 ng-show=" user.openpayID != null "
            >
              <div class="note alert-block note-info fade in margin-top-30"
                   ng-repeat=" card in userCards "
              >
                <h4 class="blue text-center">
                  Tarjeta {{ card.bank_name }} número <b>{{ card.card_number }}</b>
                </h4>

                <button class="btn btn-outline blue center-block"
                        ng-click=" buyBanner( card )"
                        ng-disabled="pendingTransaction"
                >
                  <i class="fa fa-spinner fa-spin fa-fw"
                     ng-show="pendingTransaction"
                  ></i>
                  <i class="icon-credit-card"
                     ng-hide="pendingTransaction"
                  ></i>
                  Usar esta tarjeta
                </button>



              </div>
            </div>

            <div class="col-md-6 col-md-offset-3 ">

              <button class="btn btn-outline blue center-block"
                      ng-click="addNewCard()"
              >
                <i class="fa fa-plus"></i> Agregar una nueva tarjeta
              </button>

            </div>
          </div>




        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>


  </div>


  <div class="modal fade"
       id="modal-activate-banner"
       tabindex="-1"
       role="modal-activate-banner"
       aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">¿Quieres que tu banner sea visible en nuestro sitio web?</h4>
        </div>
        <div class="modal-body">


        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn dark btn-outline"
                  data-dismiss="modal"
          >Cerrar</button>
          <a type="button"
             class="btn green"
             ng-href="/perfil-usuario/activar-banner/{{ bannerToActivate._id }}"
          >Ir a pantalla de activación.</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal fade"
       id="modal-add-card"
       tabindex="-1"
       role="modal-add-card"
       aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title text-center">Ingresa los datos de tu tarjeta</h4>
        </div>
        <div class="modal-body">

          <div class="credit-card-container">
            <div class="card-wrapper"></div>

            <div class="form-container row">

              <form id="cardForm"
                    ng-submit="saveCard()"
              >

                <div class="col-md-6 margin-top-15">
                  <input placeholder="Número de tarjeta"
                         type="tel"
                         name="number"
                         class="form-control no-radius cc-num"
                         ng-model="card.number"
                  >
                </div>
                <div class="col-md-6 margin-top-15">
                  <input placeholder="Nombre completo"
                         type="text"
                         name="name"
                         class="form-control no-radius"
                         ng-model="card.name"
                  >
                </div>

                <div class="col-md-6 margin-top-15">

                  <input placeholder="MM/YY"
                         type="tel"
                         name="expiry"
                         class="form-control no-radius"
                         ng-model="card.expiration"
                  >

                </div>

                <div class="col-md-6 margin-top-15">

                  <input placeholder="CVC"
                         type="number"
                         name="cvc"
                         class="form-control no-radius"
                         ng-model="card.cvv"
                  >

                </div>

                <div class="col-md-12 margin-top-30">
                  <button class="btn btn-outline blue center-block"
                          ng-disabled="pendingTransaction"
                  >
                    <i class="fa fa-spinner fa-pulse fa-fw"
                       ng-show="pendingTransaction"
                    ></i>
                    Guardar tarjeta
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn dark btn-outline"
                  data-dismiss="modal"
          >Cerrar</button>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


</div>
