<div class="container-fluid top bot" ng-controller="blogCtrl">
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=542917605891843";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="row">
    <div class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <div class="row">
        <h2 ng-show="title">{{ title }}</h2>
        <div class="col-sm-6 col-md-6 top" ng-repeat="post in posts" ng-show="post.attachments[0].images.medium.url">
          <a href="/blog/post/{{post.slug}}/{{post.id}}" target="_self">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-12 postdiv" style="margin-left: 15.5%;">
                <img ng-src="{{post.attachments[0].images.medium.url}}" class="img-center width-100 post" alt="">

              </div>
              <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="bg-yellow micro-top white">
                  {{ post.title }}
                </div>
                <div class="col-lg-7 border-yellow micro-top"></div>
                <div class="col-lg-5 yellow mini-letter text-center">{{post.date}}</div>
              </div>
            </div>

            <a/>
        </div>

      </div>
    </div>

    <!-- Estos son los filtros utilizados para LG y MD -->
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs">
      <div class="panel-group border-panel" id="accordion" aria-multiselectable="false">
        <div style="text-align: center;">
          <button class="paginacionCat" ng-disabled="currentPageCat == 0" ng-click="currentPageCat=currentPageCat-1">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>
          <span>
        {{currentPageCat+1}}/{{numberOfPagesCat()}}
      </span>
          <button class="paginacionCat" ng-disabled="currentPageCat >= categories.length/pageSizeCat - 1" ng-click="currentPageCat=currentPageCat+1">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
        </div>
        <h3 class="yellow">CATEGORÍAS</h3>
        <div style="text-align: center;">
          <h4 class="panel-title font-light">
          <a class="no-scroll" href="/blog">
           Todas
          </a>
        </h4>
        </div>

        <div class="panel " ng-repeat="category in categories | startFrom:currentPageCat*pageSizeCat | limitTo:pageSizeCat">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title font-light">
              <a class="no-scroll" href="/blog?category={{category.id}}&category_name={{category.title}}">
               {{category.title}}
              </a>
            </h4>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs hidden">
      <div class="panel-group border-panel" id="anteriores" aria-multiselectable="false">
        <h3 class="yellow">ARTÍCULOS ANTERIORES</h3>

        <div class="panel ">
          <div class="panel-heading" role="tab" id="headingArticulosOne">
            <h4 class="panel-title">
              <a class="no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos1" aria-expanded="true" aria-controls="collapseArticulos1">
                ENERO
              </a>
            </h4>
          </div>
          <div id="collapseArticulos1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ul>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel ">
          <div class="panel-heading" role="tab" id="headingArticulosTwo">
            <h4 class="panel-title">
              <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos2" aria-expanded="false" aria-controls="collapseArticulos2">
                FEBRERO
              </a>
            </h4>
          </div>
          <div id="collapseArticulos2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
                <a href="">
                  <li>hi world</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel ">
          <div class="panel-heading" role="tab" id="headingArticulosThree">
            <h4 class="panel-title">
              <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos3" aria-expanded="false" aria-controls="collapseArticulos3">
                MARZO
              </a>
            </h4>
          </div>
          <div id="collapseArticulos3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ul>
                <a href="">
                  <li>Hi world</li>
                </a>
                <a href="">
                  <li>Hi world</li>
                </a>
                <a href="">
                  <li>Hi world</li>
                </a>
                <a href="">
                  <li>Hi world</li>
                </a>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs">
      <div class="panel-group border-panel" id="" aria-multiselectable="true">
        <div style="text-align: center;">
          <button class="paginacionCat" ng-disabled="currentPageTag == 0" ng-click="currentPageTag=currentPageTag-1">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>
          <span>
        {{currentPageTag+1}}/{{numberOfPagesTag()}}
      </span>
          <button class="paginacionCat" ng-disabled="currentPageTag >= categories.length/currentPageTag - 1" ng-click="currentPageTag=currentPageTag+1">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
        </div>
        <h3 class="yellow">TAGS</h3>
        <a class="btn btn-warning tag micro-top" href="/blog">Todas</a>
        <br>
        <a class="btn btn-warning tag micro-top" ng-repeat="tag in tags  | startFrom:currentPageTag*pageSizeTag | limitTo:pageSizeTag" href="/blog?tag={{tag.id}}&tag_name={{tag.title}}">{{tag.title}}</a>

      </div>

    </div>

    <button id="btnFilter" class="filtros hidden-md hidden-lg" data-toggle="collapse" data-target="#myNavmenu">
      <i class="fa fa-filter"></i> Filtros
    </button>

    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas bg-white" role="navigation">

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default col-xs-12 bot " id="close-filter">Cerrar Menú <i class="fa   fa-close"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-group border-panel" id="accordion-xs" aria-multiselectable="false">
            <div style="text-align: center;">
              <button class="paginacionCat" ng-disabled="currentPageCat == 0" ng-click="currentPageCat=currentPageCat-1">
                  &larr;
            </button>
              <span>
            {{currentPageCat+1}}/{{numberOfPagesCat()}}
          </span>
              <button class="paginacionCat" ng-disabled="currentPageCat >= categories.length/pageSizeCat - 1" ng-click="currentPageCat=currentPageCat+1">
                 &rarr;
            </button>
            </div>
            <h3 class="yellow">CATEGORÍAS</h3>
            <div style="text-align: center;">
              <h4 class="panel-title font-light">
              <a href="/blog">
               Todas
              </a>
            </h4>
            </div>
            <div class="panel " ng-repeat="category in categories | startFrom:currentPageCat*pageSizeCat | limitTo:pageSizeCat">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title font-light">
                  <a class="clickCat" href="/blog?category={{category.id}}&category_name={{category.title}}">
                   {{category.title}}
                  </a>
                </h4>
              </div>
            </div>
            <!-- <div class="panel ">
              <div class="panel-heading" role="tab" id="headingTwo-xs">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-xs" aria-expanded="false" aria-controls="collapseTwo">
                    Construcción
                  </a>
                </h4>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingThree-xs">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-xs" aria-expanded="false" aria-controls="collapseThree">
                    Electricidad y Agua
                  </a>
                </h4>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-xs-12">
          <div class="panel-group border-panel" id="anteriores-xs" aria-multiselectable="false">
            <h3 class="yellow">ARTÍCULOS ANTERIORES</h3>

            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos1-xs" aria-expanded="true" aria-controls="collapseArticulos1-xs">
                    ENERO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos1-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos2-xs" aria-expanded="false" aria-controls="collapseArticulos2-xs">
                    FEBRERO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos2-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos3-xs" aria-expanded="false" aria-controls="collapseArticulos3-xs">
                    MARZO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos3-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </nav>



  </div>
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4 top font-light">
      <button ng-show="currentPage != 1" ng-click="menosPosts()" class="btn btn-default btn-loadnews">ANTERIOR</button>
      <button id="masPostsBtn" ng-click="masPosts()" class="btn btn-default btn-loadnews">SIGUIENTE</button>
    </div>
  </div> -->
  <div class="row">
    <!-- panel-footer -->
    <div class="col-xs-6" style="text-align:center;">
      <div class="previous">
        <button type="button" class="btn btn-default btn-lg" ng-show="currentPage != 1" ng-click="menosPosts()">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
      </div>
    </div>
    <div class="col-xs-6" style="text-align:center;">
      <div class="next">
        <button type="button" class="btn btn-default btn-lg" id="masPostsBtn" ng-click="masPosts()">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
      </div>
    </div>
  </div>
  <!-- end panel-footer -->

  <div class="modal fade" id="likes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Sigue a PortaliaPlus en Facebook</h4>
        </div>
        <div class="modal-body" style="height: 75%;text-align:center;">
          <div class="fb-page" data-href="https://www.facebook.com/PortaliaDirectorioIndustrial/" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/PortaliaDirectorioIndustrial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PortaliaDirectorioIndustrial/">Portalia Plus</a></blockquote>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<script src="assets/js/blog.js"></script>
<style>
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
  }
</style>
