


<div ng-controller="MembresiaController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1 >
        Mi membresía
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span >Membresia</span>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Membresía actual {{ user.paquete }}</span>
          </div>
          <div class="actions">
            <h4 class="orange"></h4>
          </div>
        </div>
        <div class="portlet-body">

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>Plan</td>
                <td>Fecha de inicio</td>
                <td>Siguiente pago</td>
                <td>Tarjeta</td>
                <td>Banco</td>
                <td>Acciones </td>
              </tr>
            </thead>

            <tbody>
              <tr ng-show=" subscriptions == null ">
                <td colspan="6" class="text-center">No tienes ninguna subscripción activa en Portalia</td>
              </tr>
              <tr ng-repeat="subscription in subscriptions"
                  ng-show=" activeSubscription == null || activeSubscription.id == subscription.id "
                  ng-if=" subscription.status == 'active' "
              >

                <td>Select</td>
                <td> {{ getDateForHummans( subscription.creation_date )}}</td>
                <td> {{ getDateForHummans( subscription.charge_date )}}</td>
                <td>
                  <label class="label label-info label-sm">{{ subscription.card.brand }}</label>
                  {{ subscription.card.card_number }}
                </td>
                <td>
                  <label for="" class="label label-info label-sm">
                    {{ subscription.card.bank_name }}
                  </label>
                </td>
                <td>
                  <button class="btn btn-xs btn-outline green margin-left-20"
                          ng-click="setCardToUpdate( subscription )"
                          ng-show="activeSubscription == null"
                  >
                    <i class="icon-credit-card"></i>
                    Cambiar tarjeta
                  </button>
                  <button class="btn btn-danger btn-xs"
                          ng-click=" cancelSubscription( subscription ) "
                          ng-disabled=" cancellingSubscription != null "
                          ng-if=" subscriptions.length > 1 "
                  >
                    <i class="fa fa-spinner fa-pulse fa-fw"
                       ng-show="cancellingSubscription == subscription "
                    ></i>
                    <i class="fa fa-trash"
                       ng-hide="cancellingSubscription == subscription"
                    ></i>
                    Cancelar subscripción
                  </button>
                  <button class="btn btn-xs btn-outline red margin-left-20"
                          ng-click="cancelCardUpdate()"
                          ng-show="activeSubscription != null"
                  >
                    <i class="icon-close"></i>
                    Cancelar
                  </button>
                </td>

              </tr>



            </tbody>
          </table>

          <!-- Bloque de tarjeta -->
          <div class="row"
               ng-show="activeSubscription != null "
          >

            <div class="col-md-8 col-md-offset-2">


              <div class="credit-card-container">
                <div class="card-wrapper"></div>

                <div class="form-container row">

                  <form id="cardForm"
                        ng-submit="updateCard()"
                  >

                    <div class="col-md-6 margin-top-15">
                      <input placeholder="Número de tarjeta"
                             type="tel"
                             name="number"
                             class="form-control no-radius cc-num"
                             ng-model="card.number"
                      >
                    </div>
                    <div class="col-md-6 margin-top-15">
                      <input placeholder="Nombre completo"
                             type="text"
                             name="name"
                             class="form-control no-radius"
                             ng-model="card.name"
                      >
                    </div>

                    <div class="col-md-6 margin-top-15">

                      <input placeholder="MM/YY"
                             type="tel"
                             name="expiry"
                             class="form-control no-radius"
                             ng-model="card.expiration"
                      >

                    </div>

                    <div class="col-md-6 margin-top-15">

                      <input placeholder="CVC"
                             type="number"
                             name="cvc"
                             class="form-control no-radius"
                             ng-model="card.cvv"
                      >

                    </div>

                    <div class="col-md-12 margin-top-30">
                      <button class="btn btn-warning center-block"
                              ng-disabled="updatingCard"
                      >
                        <i class="fa fa-spinner fa-pulse fa-fw"
                           ng-show="updatingCard"
                        ></i>
                        Actualizar tarjeta
                      </button>
                    </div>
                  </form>
                </div>
              </div>


            </div>

          </div>
          <!-- Termina bloque de tarjeta -->

        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>


  </div>


</div>


