<div ng-controller="ModalBeSelectController" >
  <!-- Modal -->
  <div class="modal fade" id="modal-be-select" tabindex="-1" role="dialog" aria-labelledby="modal--be-select-label ">
    <div class="modal-dialog " role="document">
      <div class="modal-content no-overflow">
        <div class="modal-header b-bottom-orange">
          <a class="pull-right btn-close-modal-gray " data-dismiss="modal">
            <i class="fa fa-remove"></i>
          </a>
          <h4 class="modal-title text-center" id="modal--be-select-label">Oportunidad de negocio</h4>
        </div>
        <div class="modal-body">
          <h4 class="gray text-center">
            Para acceder a esta información necesitas <br> una membresía select
          </h4>
          <button ng-click="goToPricing('modal-be-select')" class="btn btn-be-select center-block margin-top-20">QUIERO SER SELECT</button>
        </div>

      </div>
    </div>
  </div>

</div>
