

.btn-menu
{
  border-radius: 0px;
  font-size: 25px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-menu:hover
{
  border-radius: 0px;
  font-size: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.btn-menu-active
{
  border-radius: 0px;
  font-size: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.mini-left { margin-left: 1em; }

.bootstrap-datetimepicker-widget
{
  background-color: white;
  border: 1px solid #f08f04;
color: #333 ;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #cbcbcb;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #f08f04 ;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #cbcbcb;
  cursor: pointer;
}
