<!-- Este es el contenedor general de esta sección -->
<div class="col-md-12">

  <div class="row">
    <div class="col-md-2">
      <a href="/admin/registros" target="_self">
        <button id="btnRegistros" class="col-xs-12 btn btn-menu">Registros</button>
      </a>
    </div>
    <div class="col-md-2">
      <button id="btnVentas" class="col-xs-12 btn btn-menu">Ventas</button>
    </div>
    <div class="col-md-2">
      <a href="/admin/bd">
        <button id="btnBD" class="col-xs-12 btn btn-menu">Base de Datos</button>
      </a>
    </div>
    <div class="col-md-2">
      <button id="btnBlog" class="col-xs-12 btn btn-menu">Blog</button>
    </div>
    <div class="col-md-2">
      <a href="/admin/codigos">
        <button id="btnBlog" class="col-xs-12 btn btn-menu">Códigos</button>
      </a>
    </div>
    <div class="col-md-2">
      <a href="/admin/eventos">
        <button id="btnBlog" class="col-xs-12 btn btn-menu">Eventos</button>
      </a>
    </div>
  </div>
  <div class="row top">


    <!-- <div class="form-inline">
      <div class="form-group">
        <div class="radio mini-left yellow">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Semanales
          </label>
        </div>
        <div class="radio mini-left yellow">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Mensuales
          </label>
        </div>
        <div class="radio mini-left yellow">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Anuales
          </label>
        </div>
      </div>
      <div class="form-group">
          <div class='input-group date mini-left' id='dateDesde'>
              <input type='text' class="form-control" placeholder="Desde:"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
          <div class='input-group date mini-left' id='dateHasta'>
              <input type='text' class="form-control" placeholder="Hasta:"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>

    </div> -->

  </div>

</div>

<script type="text/javascript">
  $(function() {
    $('#dateDesde').datetimepicker();
    $('#dateHasta').datetimepicker();
  });
</script>
