<div class="container-fluid padding-60" ng-controller="quotationCheckCrl">

  <h3 class="orange text-center">Listado de cotizaciones</h3>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-bordered"
             id="quotesTable"
      >

        <thead>
        <tr>
          <th> Producto </th>
          <th> Sector </th>
          <th> Categoria </th>
          <th> Usuario </th>
          <th> Acciones </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="quote in quotes"
            ng-class="{ 'active-row' : activeQuote == quote._id }"
        >
          <td> {{ quote.product }}</td>
          <td> {{ quote.sector }}</td>
          <td> {{ quote.category }}</td>
          <td> {{ quote.user[0].nombre }}</td>
          <td>
            <button class="btn btn-primary btn-xs"
                    ng-click=" showQuote( quote._id ) "
            >Ver cotización</button>

            <button class="btn btn-danger btn-xs"
                    ng-click=" deleteQuote( quote._id ) "
            ><i class="fa fa-trash"></i>
            </button>

            <button class="btn btn-success btn-xs no-radius"
                    ng-click=" approveQuote( quote ) "
            ><i class="fa fa-check"></i>
            </button>

          </td>
        </tr>
        </tbody>

      </table>

    </div>
  </div>


  <div class="row padding-30" ng-show="activeQuote" id="activeQuote">
    <div class="col-md-12 ">
      <quotationdetail></quotationdetail>
    </div>
  </div>


</div>

