<script>
  // var console = {};
  // console.log = function() {};
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<section class="section-register-company section-register-company-background" ng-controller="registroPreCrl">
  <h2>REGISTRO PARA EMPRESAS</h2>
  <div class="header-underline-register gradient-yellow-orange"></div>
  <div class="text-center" style="color: #FFF;">Para anunciar tus servicios/productos gratis es necesario registrarte</div>
  <h2>PASO 1 DE 2</h2>
  <form novalidate name="registro">

    <div class="form-row">
      <div class="form-label">
        <span>*Correo</span>
      </div>

      <div class="form-text-field-container ">
        <input id="formEmail" ng-model="data.email" class="form-text-field bg-white" type="email" required>
      </div>
      <div class="form-text-field-container" ng-show="(isValidEmail==false)" style="color: white;">
        Un usuario con este correo ya existe
      </div>
    </div>
    <label class="invalid-label hidden" id="error-mail">Email invalido</label>

    <div class="form-row">
      <div class="form-label">
        <span>*Contraseña</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.password" class="form-text-field bg-white" id="password1" type="password" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <span>*Confirmar Contraseña</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.password2" class="form-text-field bg-white" id="password2" type="password" required>
      </div>
    </div>
    <label class="invalid-label hidden" id="error-password">Las contraseñas no son iguales</label>

    <div class="form-row margin-top-30">
      <div class="form-label form-gray">
        <span>*Nombre Comercial</span>
      </div>
      <div class="form-text-field-container">
        <input id="nombreEmpresa" ng-model="data.nombre" class="form-text-field bg-white" type="text" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>Razon Social</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.razon" id="razon" class="form-text-field bg-white" type="text">
      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>RFC</span>
      </div>
      <div class="form-text-field-container">
        <input id="rfc" ng-model="data.rfc" class="form-text-field bg-white" type="text">
      </div>
    </div>
    <label class="invalid-label hidden" id="error-rfc">Ingresa un RFC Valido</label>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Sector</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.sector" ng-change="changeSector(data.sector)" class="form-text-field" type="text" required>
          <option value="">Selecciona un sector</option>
          <option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Categoria</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.categoria" ng-change="changeCategoria(data.categoria)" class="form-text-field" type="text" required id="categoria">
          <option value="">Selecciona un sub sector</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>Otra / Especialidad</span>
      </div>
      <div class="form-text-field-container">
        <input id="otraSub" ng-model="data.otraSub" class="form-text-field bg-white" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Estado base</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.estado" ng-change="changeEstado(data.estado)" class="form-text-field" type="text" required>
          <option value="">Selecciona un estado</option>
          <option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Municipio base</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.municipio" class="form-text-field" type="text" required id="municipio">
          <option value="">Selecciona un municipio</option>
        </select>
      </div>
    </div>
    <div class="form-row" ng-show="data.codigo_invitacion">
      <div class="form-label form-gray">
        <span>Codigo invitación:</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.codigo_invitacion" id="codigo" class="form-text-field bg-white" type="text">
      </div>
    </div>
    <br>
    <div style="width: 304px;margin: 0 auto;">
      <div vc-recaptcha key="'6Lf90yQTAAAAAMjWsw00jYqQi1bW5VddSKjVe4ut'" ng-model="myRecaptchaResponse"></div>
      <!-- <div class="g-recaptcha" data-sitekey="6Lf90yQTAAAAAMjWsw00jYqQi1bW5VddSKjVe4ut"></div> -->
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="register-btn-container bot">
        <button>Registrarme</button>

        <button id="boton" ng-click="registrar()" class="hidden"></button>

        <div>
          <label class="invalid-label col-xs-12 hidden" id="error-general">Los campos marcados con rojo son obligatorios</label>
          <input type="checkbox" id="terms" class="chkbox check-white" required>
          <img src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""> Al crear una cuenta, aceptas las
          <a target="_blank" href="/assets/legal/terminos_y_condiciones_PORTALIA.pdf">Condiciones de uso</a> y la
          <a target="_blank" href="/assets/legal/aviso_privacidad.pdf">Política de privacidad</a> de Portalia Plus
        </div>
      </div>
    </div>
  </form>
</section>
<div class="separator-sm gradient-yellow-orange"></div>
<script src="assets/js/registro.js"></script>
