<div class="separator-sm gradient-yellow-orange  "></div>
<div ng-show="!logged()">
  <div class="container">
    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 text-center">
      <h4 class="yellow">REGÍSTRATE GRATIS Y OBTÉN LOS MEJORES BENEFICIOS</h4>
    </div>
    <a href="/registro" class="btn pull-right btn-orange col-sm-12 col-md-6 col-lg-2 col-xs-12">REGÍSTRATE</a>
  </div>
</div>
<!-- <section class="footer  " id="esconderdos"> -->
<section class="footer  " id="">
  <div class="footer-space footer-background">
    <div class="container container-footer col-lg-12">
      <div class="footer-content col-lg-12 col-xs-12">
        <div class="hidden-md footer-column col-lg-3">
          <div class="footer-title" onclick="window.location='/nosotros';" style="cursor:pointer;">NOSOTROS</div>
          <div class="footer-text">
            <p>Las mejores oportunidades de negocio mediante una experiencia confiable, eficiente e innovadora.
            </p>
            <a class="footer-button blog-button btn-transition" href="/evento" style="z-index: 10; position: relative; cursor:pointer;">
              <span>Evento</span>
            </a>
            <!--<div class="div-border"></div> -->
          </div>
        </div>
        <div class="col-md-4 footer-column col-lg-3">
          <div class="footer-title">¡ANÚNCIATE!</div>
          <div class="footer-text">
            <p>Encuentra los beneficios que Portalia tiene para ti
              <!--<div class="div-border" style="bottom: 16px"></div> -->
            </p>

          </div>
          <a class="footer-button blog-button btn-transition" href="/pricing" style="z-index: 10; position: relative; cursor:pointer;">
            <span>PRICING</span>
          </a>
        </div>
        <div class="col-md-4 footer-column col-lg-3">
          <div class="footer-title">TOP</div>
          <div class="footer-text">
            <p>Explora las empresas y búsquedas más populares de PortaliaPlus
              <!--<div class="div-border" style="bottom: 16px"></div>-->
            </p>
          </div>
          <a class="footer-button blog-button btn-transition" href="/top" style="z-index: 10; position: relative; cursor:pointer;">
            <span>Ir al Top</span>
          </a>
        </div>
        <div class="col-md-4 footer-column col-lg-3">
          <div class="footer-title">SÍGUENOS DE CERCA</div>
          <div class="" style="z-index: 10; position: relative; cursor:pointer;">

            <div class="social col-xs-2">
              <div onclick="window.open('https://www.facebook.com/PortaliaDirectorioIndustrial', '_blank')" class="social-icon facebook-icon">
              </div>
            </div>
            <div class="social col-xs-2">
              <div onclick="window.open('https://twitter.com/PortaliaPlus', '_blank')" class="social-icon twitter-icon">
              </div>
            </div>
            <div class="social col-xs-2">
              <div onclick="window.open('https://www.linkedin.com/company/portalia-plus', '_blank')" class="social-icon linkedin-icon"></div>
            </div>

            <div class="social col-xs-2">
              <div onclick="window.open('https://www.youtube.com/channel/UCDOq7R56cBaRFNyYQOSwhOw', '_blank')" class="social-icon youtube-icon"></div>
            </div>
            <a class="social col-xs-2" href="https://plus.google.com/110116091216601593427" rel=”publisher” target="_blank">
              <div class="social-icon gplus-icon"></div>
            </a>


          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="col-md-3 footer-column">
        <div class="light-16"><a target="_blank" href="/assets/legal/aviso_privacidad.pdf">AVISO DE PRIVACIDAD</a></div>
        <div class="light-16"><a target="_blank" href="/assets/legal/terminos_y_condiciones_PORTALIA.pdf">CONDICIONES DE USO</a></div>
      </div>
      <div class="top pull-right bot">
        <span class="white">&copy; 2017 Made with feedstock by <a target="_blank" href="http://it4pymes.mx">IT4Pymes</a> &amp; <a target="_blank" href="http://sitiorandom.com">RANDOM</a></span>
      </div>
    </div>
  </div>
</section>
