

<div ng-controller="UserImgController"
     nv-file-drop=""
     uploader="uploader"
     filters="queueLimit, customFilter"
>



  <div ng-if="user.role != 'visitante'">

    <!-- Portlet de upload-->
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-upload font-blue"></i>
          <span class="caption-subject font-blue sbold uppercase">Subir nuevas imágenes a mi perfil</span>
        </div>
      </div>
      <div class="portlet-body">


        <div class="row margin-top-20">
          <div class="form-group">

            <div class="col-md-6">
              <div class="fileinput fileinput-new" data-provides="fileinput">

                <div class="input-group input-large">

                  <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                  </div>
                  <span class="input-group-addon btn default btn-file">
                      <span class="fileinput-new"> Selecciona tus imágenes </span>
                      <span class="fileinput-exists"> Selecciona tus imágenes </span>
                      <input type="file"
                             nv-file-select=""
                             uploader="uploader"
                             multiple
                             ngf-pattern="'image/*'"
                             accept="image/*"
                             ngf-max-size="10MB"
                             class="ng-pristine ng-untouched ng-valid ng-empty"
                      >
                    </span>

                </div>

              </div>
            </div>

          </div>

        </div>
        <div class="row">

          <div class="col-md-3">

            <h3>Arrastrar archivos</h3>

            <div ng-show="uploader.isHTML5">
              <!-- 3. nv-file-over uploader="link" over-class="className" -->
              <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                Arrastrar tus archivos
              </div>

            </div>

            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <!--Multiple-->
            <!--<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>-->

            <!--Single-->
            <!--<input type="file" nv-file-select="" uploader="uploader" />-->



          </div>

          <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Archivos pendientes</h3>
            <p>Archivos en cola: {{ uploader.queue.length }}</p>

            <table class="table">
              <thead>
              <tr>
                <th width="50%">Nombre</th>
                <th ng-show="uploader.isHTML5">Tamaño</th>
                <th ng-show="uploader.isHTML5">Progreso</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Subir
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Quitar
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div>
              <div>
                Progreso general:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Subir todo
              </button>
              <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todo
              </button>
              <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Quitar todo
              </button>
            </div>

          </div>

        </div>

      </div>
    </div>
    <!-- Portlet de upload-->

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-camera font-blue"></i>
          <span class="caption-subject font-blue sbold uppercase">Imágenes de mi perfil</span>
        </div>

      </div>
      <div class="portlet-body">
        <div class="row">



            <div ng-repeat="image in user.productsImg track by $index" class="col-md-3">
            <div class="image-card padding-10">
              <img ng-src="assets/uploads/{{user.sector_name | decodeURI}}/{{user.categoria_name | decodeURI}}/{{user._id | decodeURI}}/productos/{{ image }}"
                   alt=""
                   class="center-block img-rounded"
                   ng-if=" ! image.includes('/assets/uploads') "
              >
              <img ng-src="{{ image }}"
                   alt=""
                   class="center-block img-rounded"
                   ng-if=" image.includes('/assets/uploads') "
              >

              <button class="btn btn-outline red center-block "
                      ng-click="deleteImage( $index )"
              >
                <i class="fa fa-trash"></i>
                Eliminar
              </button>
              <br><br>
            </div>
          </div>

        </div>


      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

  </div>

  <div ng-if="user.role == 'visitante'">

    <h1 class="text-center">
      Este módulo solo está disponible para perfiles de empresa
    </h1>

  </div>

</div>
