<section class="search-industrial-solutions home-background height-100" ng-controller="PromocionInvitarCrtl">
  <div class="img-container-background col-lg-12">
    <div class="img-container col-lg-12" style="height:50%">
      <img src="assets/images/promocion2.jpg" alt="" class="img-responsive" />
    </div>
  </div>
  <div class="white col-lg-4 col-lg-offset-4">
    <h2 class="mega text-center">Información de la promoción</h2>
    <ol>
      <li>Introduce el correo electronico de tus amigos</li>
      <li>Tus amigos reciben una invitación para registar su empresa en PortaliaPlus</li>
      <li>Por cada registro exitoso de las empresas de tus amigos, obtén $500 de crédito canjeable en PortaliaPlus</li>
    </ol>
    <a ng-hide="ocultar" target="modal-invitar" class="btn gradient-border text-center col-lg-12" data-toggle="modal" data-target="#modal-amigos">Invitar amigos</a>
    <a ng-show="ocultar" target="modal-invitar" class="btn gradient-border text-center col-lg-12" data-toggle="modal" data-target="#myModal">Invitar amigos</a>
  </div>

  <div class="img-container-background">
    <div class="img-container" style="height:40%">
      <br>
      <span class="white mega" ng-hide="ocultar">Hola {{userData.nombre}} tienes {{information.total}} amigo(s) registrado(s) de los cuales {{information.validos}} ya </span>
      <span class="white mega" ng-show="information.validos == 1">lleno</span>
      <span class="white mega" ng-show="information.validos != 1" ng-hide="ocultar">llenaron</span>
      <span class="white mega" ng-hide="ocultar">su perfil cuentas con:</span>
      <br>
      <h1 class="white text-center mega">{{information.credito | currency}}<h1>
    </div>
  </div>
  <br/>
  <div class="text-center">
    <span class="white">* Promoción pot tiempo limitado, válida del 1 de Octubre a el 15 de noviembre y canjeables hasta el 31 de diciembre<a target="_blank" href="/assets/legal/terminos_y_condiciones_PROMO.pdf"> terminos y condiciones</a></span>
  </div>

  <div id="modal-amigos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Invitar a tus amigos</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1" id="emails">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 pagination-centered">
                  <img src="assets/images/icons/add-image.png" class="img-ico img-center" alt="" id="addExtraEmail" ng-click="agregarEmailExtra()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="enviar();">Invitar</button>
            <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</section>
