<div class="container-100" ng-controller="landingCrl">

  <update-title title="Directorios de Empresas Industriales Portalia Plus"></update-title>
  <update-meta name="description" content="Regístrate gratis en nuestros directorios para empresas, encuentra soluciones especializadas para tu negocio. Además disfruta de beneficios para hacer crecer tus ventas."></update-meta>
  <update-meta name="title" content="Directorios de Empresas Industriales Portalia Plus"></update-meta>
  <update-link rel="canonical" href="https://portaliaplus.com/landing" />

  <div class="circle first hidden-xs"></div>
  <div class="circle second hidden-xs"></div>
  <div class="circle third hidden-xs"></div>

  <div class="bloque-1 row height-100 ">

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 top-15">
      <h1 class="white text-center mega">SOLUCIONES INDUSTRIALES
        <br>PARA TODOS</h1>
      <div class="col-xs-4 col-xs-offset-4 top">
        <div class="gradient-yellow-orange gradient-menu-5 top"></div>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="subtitle-landing gray text-center font-light">
          <br>Somos el directorio industrial con más beneficios en el mercado.</div>
      </div>
    </div>

    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 top-landing">

      <!-- <button onclick="document.location+='#lanzamiento';return false;" id="btnConocenos" class="btn gradient-border col-lg-5  col-md-5 col-xs-12 pull-left top-sm">CONÓCENOS</button> -->

      <button ng-click="onInit()" class="btn gradient-border col-lg-5  col-md-5 col-xs-12 pull-left top-sm">CONÓCENOS</button>

      <a href="/registroPrelanzamiento" class="btn gradient-border-white col-lg-5  col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-12 pull-right top-xs">REGÍSTRATE GRATIS</a>
    </div>

  </div>

  <div class="bloque-2 row" id="beneficios">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <h1 class="white text-center mega top-nav-fixed">BENEFICIOS</h1>
      <div class="col-xs-4 col-xs-offset-4 top">
        <div class="gradient-yellow-orange gradient-menu"></div>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        <div class="subtitle-landing gray text-center font-light">Tenemos todo lo que necesitas para conectar tu mercado</div>
      </div>
    </div>
    <div class="container">
      <!-- Estons son los iconos para LG y MD -->
      <div class="hidden-sm hidden-xs">
        <div class="row ">
          <div class="col-lg-4 col-md-4 medium-top">

            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Encuentra las mejores soluciones para tu empresa y/o anúnciate en un portal confiable, actualizado y completo</p>" data-placement="bottom" src="assets/images/landing/Portalia-14.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-15.png'" onmouseout="this.src='assets/images/landing/Portalia-14.png'">
            <h3 class="text-center">Directorios Industriales Optimizados</h3>
          </div>
          <div class="col-lg-4 col-md-4 medium-top">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Experimenta la facilidad de registrarte y generar oportunidades de negocio de forma dinámica</p>" data-placement="bottom" src="assets/images/landing/Portalia-16.png" class="img-center benficio-icon"
                alt="" onmouseover="this.src='assets/images/landing/Portalia-17.png'" onmouseout="this.src='assets/images/landing/Portalia-16.png'">
            <h3 class="text-center">Uso Amigable</h3>
          </div>
          <div class="col-lg-4 col-md-4 medium-top">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Descubre la comodidad de encontrar diversas soluciones y oportunidades de negocio en un sólo lugar de manera sencilla. Accede a noticias, indicadores y artículos de interés para tu negocio</p>"
                data-placement="bottom" src="assets/images/landing/Portalia-18.png" class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-19.png'" onmouseout="this.src='assets/images/landing/Portalia-18.png'">
            <h3 class="text-center">Soluciones Integrales</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 top">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Participa en un medio informático seguro y de vanguardia</p>" data-placement="bottom" src="assets/images/landing/Portalia-20.png" class="img-center benficio-icon" alt=""
                onmouseover="this.src='assets/images/landing/Portalia-21.png'" onmouseout="this.src='assets/images/landing/Portalia-20.png'">
            <h3 class="text-center">Mejora Continua</h3>
          </div>
          <div class="col-lg-4 col-md-4 top">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Crea y desarrolla el perfil de tu empresa con contenidos e imágenes de acuerdo a tus necesidades y objetivos</p>" data-placement="bottom" src="assets/images/landing/Portalia-22.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-23.png'" onmouseout="this.src='assets/images/landing/Portalia-22.png'">
            <h3 class="text-center">Personalización</h3>
          </div>
          <div class="col-lg-4 col-md-4 top">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Obtén los mejores beneficios sin costo y encuentra crecientes oportunidades de negocio en internet</p>" data-placement="bottom" src="assets/images/landing/Portalia-24.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-25.png'" onmouseout="this.src='assets/images/landing/Portalia-24.png'">
            <h3 class="text-center">Mayor Difusión Sin Costo</h3>
          </div>
        </div>
      </div>
      <!-- Estons son los iconos para SM y XS -->
      <div class="hidden-md hidden-lg">
        <div class="row ">
          <div class="col-sm-6 col-xs-12 top-sm">

            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Encuentra las mejores soluciones para tu empresa y/o anúnciate en un portal confiable, actualizado y completo</p>" data-placement="bottom" src="assets/images/landing/Portalia-14.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-15.png'" onmouseout="this.src='assets/images/landing/Portalia-14.png'">
            <h3 class="text-center">Directorios Industriales Optimizados</h3>
          </div>
          <div class="col-sm-6 col-xs-12 top-sm">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Experimenta la facilidad de registrarte y generar oportunidades de negocio de forma dinámica</p>" data-placement="bottom" src="assets/images/landing/Portalia-16.png" class="img-center benficio-icon"
                alt="" onmouseover="this.src='assets/images/landing/Portalia-17.png'" onmouseout="this.src='assets/images/landing/Portalia-16.png'">
            <h3 class="text-center">Uso amigable</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12 top-sm">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Descubre la comodidad de encontrar diversas soluciones y oportunidades de negocio en un sólo lugar de manera sencilla. Accede a noticias, indicadores y artículos de interés para tu negocio</p>"
                data-placement="bottom" src="assets/images/landing/Portalia-18.png" class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-19.png'" onmouseout="this.src='assets/images/landing/Portalia-18.png'">
            <h3 class="text-center">Soluciones Integrales</h3>
          </div>
          <div class="col-sm-6 col-xs-12 top-sm">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Participa en un medio informático seguro y de vanguardia</p>" data-placement="bottom" src="assets/images/landing/Portalia-20.png" class="img-center benficio-icon" alt=""
                onmouseover="this.src='assets/images/landing/Portalia-21.png'" onmouseout="this.src='assets/images/landing/Portalia-20.png'">
            <h3 class="text-center">Mejora Continua</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12 top-sm">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Crea y desarrolla el perfil de tu empresa con contenidos e imágenes de acuerdo a tus necesidades y objetivos</p>" data-placement="bottom" src="assets/images/landing/Portalia-22.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-23.png'" onmouseout="this.src='assets/images/landing/Portalia-22.png'">
            <h3 class="text-center">Personalización</h3>
          </div>
          <div class="col-sm-6 col-xs-12 top-sm">
            <img data-toggle="popover" tabindex="50" data-content="<p class='black font-light'>Obtén los mejores beneficios sin costo y encuentra crecientes oportunidades de negocio en internet</p>" data-placement="bottom" src="assets/images/landing/Portalia-24.png"
                class="img-center benficio-icon" alt="" onmouseover="this.src='assets/images/landing/Portalia-25.png'" onmouseout="this.src='assets/images/landing/Portalia-24.png'">
            <h3 class="text-center">Mayor Difusión Sin Costo</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 medium-top bot text-center">
          <a href="/registroPrelanzamiento" class="btn gradient-border col-xs-12 bot">REGÍSTRATE GRATIS</a>
          <a href="" class="white text-center top yellow">
            <i class="fa fa-chevron-circle-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bloque-3 row" id="lanzamiento">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 top-nav-fixed bot">
      <h1 class="white text-center mega">CONÓCENOS</h1>
      <div class="col-xs-4 col-xs-offset-4 top">
        <div class="gradient-yellow-orange gradient-menu-5 top"></div>
      </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <video id="video" controls loop class="embed-responsive-item">
        <source src="assets/videos/landing.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-xs-12">
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 medium-top bot text-center">
        <a href="/" class="btn gradient-border col-xs-12 bot">Ir a PortaliaPlus</a>
        <a href="" class="white text-center top yellow">
          <i class="fa fa-chevron-circle-down"></i>
        </a>
      </div>
    </div>

  </div>

  <!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
  <div id="modal-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h1 class="text-center">¡Correo validado!</h1>
          <br>
          <p class="text-center">
            Gracias por validar tu correo en Portalia Plus. Te invitamos a completar la información de tu página de negocio para que tus clientes te encuentren más rápido.
          </p>
          <br>
          <img src="assets/images/icons/smile.png" alt="" class="img-center">
          <br>
          <p class="text-center">¡Gracias por tu confianza!</p>
          <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal">Entendido</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id="modal-amigos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Invitar a tus amigos</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1" id="emails">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 pagination-centered">
                  <img src="assets/images/icons/add-image.png" class="img-ico img-center" alt="" id="addExtraEmail" ng-click="agregarEmailExtra()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="enviar();">Invitar</button>
            <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

  </div>

  <script src="assets/js/landing.js"></script>
