<div ng-controller="ProductoDatosTecnicosController">

  <div ng-show="productExists"
       id="datos-tecnicos"
  >

    <div class="note note-danger"
         ng-show=" $parent.newProduct == null "
    >
      <h4 class="block">Hay un error para este bloque: </h4>
      No se han capturado datos generales
    </div>

    <h1>

    </h1>
    <div class="row margin-top-30">

      <div class="form-group">
        <div class="col-md-6">

          <label for="">Ficha técnica</label> <br>
          <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="input-group input-large">

              <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                <span class="fileinput-filename"> </span>
              </div>
              <span class="input-group-addon btn default btn-file">
                      <span class="fileinput-new"> Seleccionar un archivo </span>
                      <span class="fileinput-exists"> Cambiar </span>
                      <input type="file"
                             nv-file-select=""
                             name="datasheet"
                             accept=".txt,.csv,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.jpg,.png,.gif"
                             ngf-max-size="10MB"
                             uploader="uploader"
                      >
                    </span>
              <a href="javascript:;"
                 class="input-group-addon btn red fileinput-exists"
                 data-dismiss="fileinput"
              > Eliminar </a>

            </div>

          </div>

        </div>

        <div class="col-md-1">
          <label for="">Divisa</label>
          <select class="form-control"
                  ng-model=" $parent.newProduct.currency "
          >
            <option value="MXN" selected>MXN</option>
            <option value="USD">USD</option>
          </select>
        </div>
        <div class="col-md-5">
          <label for="">Precio</label>
          <input type="text"
                 class="form-control"
                 name="price"
                 id="price"
          >
        </div>

      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">
        <label for="">¿Cual es el valor agregado de tu producto?</label>
        <textarea class="form-control"
                  rows="5"
                  ng-model=" $parent.newProduct.addedValue "
        ></textarea>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">

        <button class="btn btn-orange center-block next-step"
                ng-click=" saveProductInfo() "
                ng-disabled=" isLoading "
        >Siguiente</button>

      </div>

    </div>

  </div>

</div>
