doctype true
html
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=9; IE=8; IE=7; IE=EDGE')
    title Template Base
    style#media-query.
      /* Client-specific Styles & Reset */
      #outlook a {
        padding: 0;
      }
      /* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail) */
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      #backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
      }
      /* Buttons */
      .button a {
        display: inline-block;
        text-decoration: none;
        -webkit-text-size-adjust: none;
        text-align: center;
      }
      .button a div {
        text-align: center !important;
      }
      /* Outlook First */
      body.outlook p {
        display: inline !important;
      }
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important; }
      /*  Media Queries */
      @media only screen and (max-width: 600px) {
        table[class="body"] img {
          height: auto !important;
          width: 100% !important; }
        table[class="body"] img.fullwidth {
          max-width: 100% !important; }
        table[class="body"] center {
          min-width: 0 !important; }
        table[class="body"] .container {
          width: 95% !important; }
        table[class="body"] .row {
          width: 100% !important;
          display: block !important; }
        table[class="body"] .wrapper {
          display: block !important;
          padding-right: 0 !important; }
        table[class="body"] .columns, table[class="body"] .column {
          table-layout: fixed !important;
          float: none !important;
          width: 100% !important;
          padding-right: 0px !important;
          padding-left: 0px !important;
          display: block !important; }
        table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
          display: table !important; }
        table[class="body"] table.columns td, table[class="body"] table.column td, .col {
          width: 100% !important; }
        table[class="body"] table.columns td.expander {
          width: 1px !important; }
        table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
          padding-left: 10px !important; }
        table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
          padding-right: 10px !important; }
        table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
          display: none !important; }
        table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
          display: inherit !important; }
        .mixed-two-up .col {
          width: 100% !important; } }
      @media screen and (max-width: 600px) {
        div[class="col"] {
          width: 100% !important;
        }
      }
      @media screen and (min-width: 601px) {
        table[class="container"] {
          width: 600px !important;
        }
      }
  body(style='width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF')
    table.body(cellpadding='0', cellspacing='0', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed')
      tbody
        tr(style='vertical-align: top')
          td.center(align='center', valign='top', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #FFFFFF')
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #000000')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#000000', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #000000;background-color: #000000')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #000000;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#000000', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(cellpadding='0', cellspacing='0', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(align='center', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 25px;padding-right: 25px;padding-bottom: 25px;padding-left: 25px')
                                                      div(align='center', style='font-size:12px')
                                                        img.center(align='center', border='0', src='https://portaliaplus.com/assets/images/portalia_logo_sm.png', alt='Image', title='Image', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: 0;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 100% !important;max-width: 310px', width='310')
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #EAE3DD')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #333;background-color: #FFFFFF')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #FFFFFF;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px')
                                                      div(style="color:#283C4B;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                        div(style="font-size:12px;line-height:14px;color:#283C4B;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                          p(style='margin: 0;font-size: 18px;line-height: 22px;text-align: center')
                                                            span(style='font-size: 24px; line-height: 28px;', mce-data-marked='1')
                                                              strong
                                                                span(style='line-height: 28px; font-size: 24px;', mce-data-marked='1') Hola....
                                                            span(style='font-size: 24px; line-height: 28px;', mce-data-marked='1')
                                                              strong
                                                                span(style='line-height: 28px; font-size: 24px;', mce-data-marked='1') Te han contactado en Portalia Plus
                                              table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 0px;padding-right: 20px;padding-bottom: 0px;padding-left: 20px')
                                                      div(style="color:#283C4B;line-height:150%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                        div(style="font-size:12px;line-height:18px;color:#283C4B;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                          p(style='margin: 0;font-size: 12px;line-height: 18px;text-align: center')
                                                            span(style='font-size: 16px; line-height: 24px;')
                                                            span(style='font-size: 14px; line-height: 21px;')
                                                              | Un Usuario con el correo #{correo_usuario} te ha enviado el siguiente mensaje:
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #EAE3DD')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #000000;background-color: #FFFFFF')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #FFFFFF;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px')
                                                      div(style="color:#E0563A;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                        div(style="font-size:12px;line-height:14px;color:#E0563A;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                          p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                            span(style='font-size: 16px; line-height: 19px;') #{mensaje}
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #EAE3DD')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #333;background-color: #FFFFFF')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #FFFFFF;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px')
                                                      div(style="color:#F89D04;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                        div(style="font-size:12px;line-height:14px;color:#F89D04;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                          p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                            span(style='font-size: 24px; line-height: 28px;') Si tienes alguna duda escríbenos a:
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #EAE3DD')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #000000;background-color: #FFFFFF')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #FFFFFF;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px')
                                                      div(style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                        div(style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                          p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                            span(style='font-size: 14px; line-height: 16px;') contacto@portaliaplus.com y le resolveremos lo más pronto posible
                                                          p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                            br
                                                          p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                            span(style='font-size: 16px; line-height: 19px;')
                                                              strong Gracias por tu confianza. El equipo de Portalia Plus
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #555555')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #000000;background-color: #FFFFFF')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #FFFFFF;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='#FFFFFF', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(width='100%', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td.button-container(align='center', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px')
                                                      table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                        tbody
                                                          tr(style='vertical-align: top')
                                                            td.button(width='100%', align='center', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                              //if mso
                                                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='', style='height:46px;   v-text-anchor:middle; width:161px;', arcsize='9%', strokecolor='#E3930C', fillcolor='#E3930C')
                                                                  w:anchorlock
                                                                    center(style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:18px;")
                                                              // [if !mso] <!
                                                              div(align='center', style='display: inline-block; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 100%; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent;')
                                                                table(width='100%', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 46')
                                                                  tbody
                                                                    tr(style='vertical-align: top')
                                                                      td(valign='middle', style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; color: #ffffff; background-color: #E3930C; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: center")
                                                                        // <![endif]
                                                                        a(href='https://portaliaplus.com', target='_blank', style='display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #E3930C;color: #ffffff')
                                                                          span(style='font-size:12px;line-height:24px;')
                                                                            span(style='font-size: 18px; line-height: 36px;', data-mce-style='font-size: 18px; line-height: 28px;') Ir a Portalia
                                                                        // [if !mso] <!
                                                              // <![endif]
                                                              //if mso
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
              tbody
                tr(style='vertical-align: top')
                  td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #283C4B')
                    //if gte mso 9
                      table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                        tr
                          td
                    //if (IE)
                      table(width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td
                    table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 600px;margin: 0 auto;text-align: inherit')
                      tbody
                        tr(style='vertical-align: top')
                          td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                            table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='transparent', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 600px;color: #000000;background-color: transparent')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0')
                                    //if (gte mso 9)|(IE)
                                      table(width='100%', align='center', bgcolor='transparent', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                    //if (gte mso 9)|(IE)
                                      td(valign='top', width='600', style='width:600px;')
                                    .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                      table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                        tbody
                                          tr(style='vertical-align: top')
                                            td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                              table(width='100%', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                tbody
                                                  tr(style='vertical-align: top')
                                                    td(align='center', valign='top', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                      table(border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                        tbody
                                                          tr(style='vertical-align: top')
                                                            td(align='center', valign='top', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;max-width: 161px')
                                                              //if (gte mso 9)|(IE)
                                                                table(width='156', align='left', border='0', cellspacing='0', cellpadding='0')
                                                                  tr
                                                                    td(align='left')
                                                              table(width='100%', align='left', cellpadding='0', cellspacing='0', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                tbody
                                                                  tr(style='vertical-align: top')
                                                                    td(align='left', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                      table(align='left', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 10px 5px 0', height='37')
                                                                        tbody
                                                                          tr(style='vertical-align: top')
                                                                            td(width='42', align='left', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                              a(href='https://www.facebook.com/PortaliaDirectorioIndustrial', title='Facebook', target='_blank')
                                                                                img(src='https://portaliaplus.com/assets/images/facebook.png', alt='Facebook', title='Facebook', width='32', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important')
                                                                      table(align='left', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 10px 5px 0', height='37')
                                                                        tbody
                                                                          tr(style='vertical-align: top')
                                                                            td(width='42', align='left', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                              a(href='http://twitter.com/PortaliaDirectorioIndustrial', title='Twitter', target='_blank')
                                                                                img(src='https://portaliaplus.com/assets/images/twitter.png', alt='Twitter', title='Twitter', width='32', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important')
                                                                      table(align='left', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 10px 5px 0', height='37')
                                                                        tbody
                                                                          tr(style='vertical-align: top')
                                                                            td(width='42', align='left', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                              a(href='http://plus.google.com/PortaliaDirectorioIndustrial', title='Google+', target='_blank')
                                                                                img(src='https://portaliaplus.com/assets/images/gplus.png', alt='Google+', title='Google+', width='32', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important')
                                                              //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                                    //if (gte mso 9)|(IE)
                    //if mso
                    //if (IE)
