doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
  style(media='screen').
    body {
    font-family: 'Montserrat', sans-serif;
    }
    .myH1 {
    font-size: 50px;
    margin-top: 10px;
    }
    .myH4 {
    font-size: 20px;
    margin-top: 10px;
    }
    .myH5 {
    font-size: 16px;
    margin-top: 10px;
    }
    .container {
    background-image: url("https://portaliaplus.com/assets/images/landing/Portalia-27.jpg");
    width: 480px;
    height: 750px;
    }
    .title {
    background-color: #000;
    }
    .img-center {
    margin: 0 auto;
    display: inherit;
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .yellow {
    color: #f08f04;
    text-align: center;
    }
    .white {
    color: white;
    text-align: center;
    }
    ul li {
    color: white;
    text-align: left;
    }
    .bloque-1 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .border {
    display: block;
    border: none;
    color: white;
    height: 8px;
    background: #f9b800;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#f9b800), to(#e85a0c));
    }
    .bloque-2 {
    background-color: rgba(0, 0, 0, .5);
    margin-left: 10px;
    margin-right: 10px;
    }
    .mini {
    font-size: 10px;
    margin-top: 40px;
    }
    .top {
    margin-top: 15px;
    }
    a {
    text-decoration: none;
    text-align: center;
    color: white;
    }
    .button {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #f08f04;
    color: white;
    margin-top: 10px;
    width: 33%;
    margin-left: 33%;
    text-align: center;
    color: white;
    }
  body
    .container
      .title
        img.img-center(src='https://portaliaplus.com/assets/images/portalia_logo_sm.png', alt='')
      .bloque-1
        .yellow.top.myH1 Hola
        .white.myH4
          | Recibiste este correo porque  #{nombre_usuario} te invitó a registrarte en Portalia Plus, el portal industrial con más beneficios para tu empresa.
      .bloque-2
        .border
        p.white
          | En Portalia Plus puedes presentar tus servicios sin costo y así llegar a un mayor y mejor público. Además, gozarás de estos beneficios adicionales:
          ul
            li Conectar con proveedores y aliados comerciales
            li Noticias del mundo empresarial e industrial
            li Una página personalizada para tu negocio
            li Contenidos de interés variado
      .bloque-3
        .mini.white
          | Por esto y más #{nombre_usuario} quiere que tú también seas parte de Portalia Plus.
        .white.myH4.top Bienvenido
        .white.myH5.top El equipo de Portalia Plus
      a(href='https://portaliaplus.com/registro?codigo=#{codigo_usuario}')
        .button Regístrate dando clic aquí
