doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
  style(media='screen').
    body {
    font-family: 'Montserrat', sans-serif;
    }
    .myH1 {
    font-size: 50px;
    margin-top: 10px;
    }
    .myH4 {
    font-size: 20px;
    margin-top: 10px;
    }
    .myH5 {
    font-size: 16px;
    margin-top: 10px;
    }
    .container {
    background-image: url("https://portaliaplus.com/assets/images/landing/Portalia-27.jpg");
    width: 480px;
    height: 750px;
    }
    .title {
    background-color: #000;
    }
    .img-center {
    margin: 0 auto;
    display: inherit;
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .yellow {
    color: #f08f04;
    text-align: center;
    }
    .white {
    color: white;
    text-align: center;
    }
    ul li {
    color: white;
    text-align: left;
    }
    .bloque-1 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .border {
    display: block;
    border: none;
    color: white;
    height: 8px;
    background: #f9b800;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#f9b800), to(#e85a0c));
    }
    .bloque-2 {
    background-color: rgba(0, 0, 0, .5);
    margin-left: 10px;
    margin-right: 10px;
    }
    .mini {
    font-size: 10px;
    margin-top: 40px;
    }
    .top {
    margin-top: 15px;
    }
    a {
    text-decoration: none;
    text-align: center;
    color: white;
    }
    .button {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #f08f04;
    color: white;
    margin-top: 10px;
    width: 33%;
    margin-left: 33%;
    text-align: center;
    color: white;
    }
    .black { color: black !important; }

    .bg-gray { background-color: #000; }
  body
    .container.bg-gray
      .title
        img.img-center(src='https://portaliaplus.com/assets/images/portalia_logo_sm.png', alt='')
      .bloque-1
        .yellow.top.myH1 Solicitan una cotización de la empresa #{data.nombre} <br><br>


    table(style="width: 800px;")
        thead(style="height: 50px; font-size: 20px;").black.bg-gray
            tr
                th Email
                th Teléfono
                th Sector
        tbody(style="height: 50px; font-size: 20px; ")
                tr(style="background-color:#cbcbcb; text-align: center; height: 50px; font-size: 20px;")
                    td(style="color:#000;")= data.email
                    td= data.telefono
                    td= data.sector
    p Solicitud: <br>
    p #{data.solicitud} <br><br>