doctype true
html
    head
        //if gte mso 9
            xml
                o:officedocumentsettings
                    o:allowpng
                        o:pixelsperinch 96
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=9; IE=8; IE=7; IE=EDGE')
        title BF-basic-onecolumn
        style#media-query.
            /* Client-specific Styles & Reset */
            #outlook a {
            padding: 0;
            }
            /* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail) */
            .ExternalClass {
            width: 100%;
            }
            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
            line-height: 100%;
            }
            #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
            }
            /* Buttons */
            .button a {
            display: inline-block;
            text-decoration: none;
            -webkit-text-size-adjust: none;
            text-align: center;
            }
            .button a div {
            text-align: center !important;
            }
            /* Outlook First */
            body.outlook p {
            display: inline !important;
            }
            a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important; }
            /*  Media Queries */
            @media only screen and (max-width: 500px) {
            table[class="body"] img {
            height: auto !important;
            width: 100% !important; }
            table[class="body"] img.fullwidth {
            max-width: 100% !important; }
            table[class="body"] center {
            min-width: 0 !important; }
            table[class="body"] .container {
            width: 95% !important; }
            table[class="body"] .row {
            width: 100% !important;
            display: block !important; }
            table[class="body"] .wrapper {
            display: block !important;
            padding-right: 0 !important; }
            table[class="body"] .columns, table[class="body"] .column {
            table-layout: fixed !important;
            float: none !important;
            width: 100% !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            display: block !important; }
            table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
            display: table !important; }
            table[class="body"] table.columns td, table[class="body"] table.column td, .col {
            width: 100% !important; }
            table[class="body"] table.columns td.expander {
            width: 1px !important; }
            table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
            padding-left: 10px !important; }
            table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
            padding-right: 10px !important; }
            table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
            display: none !important; }
            table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
            display: inherit !important; }
            .mixed-two-up .col {
            width: 100% !important; } }
            @media screen and (max-width: 500px) {
            div[class="col"] {
            width: 100% !important;
            }
            }
            @media screen and (min-width: 501px) {
            table[class="container"] {
            width: 500px !important;
            }
            }
    body(style='width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #E8A05D')
        table.body(cellpadding='0', cellspacing='0', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed')
            tbody
                tr(style='vertical-align: top')
                    td.center(align='center', valign='top', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #E8A05D')
                        table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                            tbody
                                tr(style='vertical-align: top')
                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #040000')
                                        //if gte mso 9
                                            table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                                                tr
                                                    td
                                        //if (IE)
                                            table(width='500', align='center', cellpadding='0', cellspacing='0', border='0')
                                                tr
                                                    td
                                        table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit')
                                            tbody
                                                tr(style='vertical-align: top')
                                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                        table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='transparent', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent')
                                                            tbody
                                                                tr(style='vertical-align: top')
                                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0')
                                                                        //if (gte mso 9)|(IE)
                                                                            table(width='100%', align='center', bgcolor='transparent', cellpadding='0', cellspacing='0', border='0')
                                                                                tr
                                                                        //if (gte mso 9)|(IE)
                                                                            td(valign='top', width='500', style='width:500px;')
                                                                        .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                                                            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                tbody
                                                                                    tr(style='vertical-align: top')
                                                                                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                                                                            table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                                tbody
                                                                                                    tr(style='vertical-align: top')
                                                                                                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 0px;padding-left: 10px')
                                                                                                            div(style="color:#E8A05D;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                                                                                div(style="font-size:12px;line-height:14px;color:#E8A05D;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                                                                                    p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                                                                                                                        span(style='font-size: 36px; line-height: 43px;')
                                                                                                                            strong TIENES UN CHAT NUEVO
                                                                        //if (gte mso 9)|(IE)
                                                                        //if (gte mso 9)|(IE)
                                                                        //if mso
                                                                        //if (IE)
                        table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                            tbody
                                tr(style='vertical-align: top')
                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #EDEDED')
                                        //if gte mso 9
                                            table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                                                tr
                                                    td
                                        //if (IE)
                                            table(width='500', align='center', cellpadding='0', cellspacing='0', border='0')
                                                tr
                                                    td
                                        table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit')
                                            tbody
                                                tr(style='vertical-align: top')
                                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                        table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='transparent', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #000000;background-color: transparent')
                                                            tbody
                                                                tr(style='vertical-align: top')
                                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0')
                                                                        //if (gte mso 9)|(IE)
                                                                            table(width='100%', align='center', bgcolor='transparent', cellpadding='0', cellspacing='0', border='0')
                                                                                tr
                                                                        //if (gte mso 9)|(IE)
                                                                            td(valign='top', width='500', style='width:500px;')
                                                                        .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                                                            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                tbody
                                                                                    tr(style='vertical-align: top')
                                                                                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                                                                            table(cellpadding='0', cellspacing='0', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                                tbody
                                                                                                    tr(style='vertical-align: top')
                                                                                                        td(align='center', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px')
                                                                                                            div(align='center', style='font-size:12px')
                                                                                                                a(href='http://pro-bee-beepro-img.s3-eu-west-1.amazonaws.com', target='_blank')
                                                                                                                    img.center.fullwidth(align='center', border='0', src='http://i.imgur.com/zVl0ELg.png', alt='Image', title='Image', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 100% !important;max-width: 480px', width='480')
                                                                        //if (gte mso 9)|(IE)
                                                                        //if (gte mso 9)|(IE)
                                                                        //if mso
                                                                        //if (IE)
                        table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                            tbody
                                tr(style='vertical-align: top')
                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent')
                                        //if gte mso 9
                                            table#outlookholder(border='0', cellspacing='0', cellpadding='0', align='center')
                                                tr
                                                    td
                                        //if (IE)
                                            table(width='500', align='center', cellpadding='0', cellspacing='0', border='0')
                                                tr
                                                    td
                                        table.container(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit')
                                            tbody
                                                tr(style='vertical-align: top')
                                                    td(width='100%', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                        table.block-grid(cellpadding='0', cellspacing='0', width='100%', bgcolor='transparent', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent')
                                                            tbody
                                                                tr(style='vertical-align: top')
                                                                    td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0')
                                                                        //if (gte mso 9)|(IE)
                                                                            table(width='100%', align='center', bgcolor='transparent', cellpadding='0', cellspacing='0', border='0')
                                                                                tr
                                                                        //if (gte mso 9)|(IE)
                                                                            td(valign='top', width='500', style='width:500px;')
                                                                        .col.num12(style='display: inline-block;vertical-align: top;width: 100%')
                                                                            table(cellpadding='0', cellspacing='0', align='center', width='100%', border='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                tbody
                                                                                    tr(style='vertical-align: top')
                                                                                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 30px;padding-right: 0px;padding-bottom: 30px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent')
                                                                                            table(cellpadding='0', cellspacing='0', width='100%', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                                tbody
                                                                                                    tr(style='vertical-align: top')
                                                                                                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 0px;padding-left: 10px')
                                                                                                            div(style="color:#000000;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;")
                                                                                                                div(style="font-size:12px;line-height:14px;color:#000000;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                                                                                    p(style='margin: 0;font-size: 12px;line-height: 14px')
                                                                                                                        span(style='font-size: 16px; line-height: 19px;')
                                                                                                                            | Para ver tu mensaje dirígete a 
                                                                                                                            strong Portalia Plus
                                                                                                                            |  y entra a tu perfil
                                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                                tbody
                                                                                                    tr(style='vertical-align: top')
                                                                                                        td.button-container(align='left', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px')
                                                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', align='left', style='border-spacing: 0;border-collapse: collapse;vertical-align: top')
                                                                                                                tbody
                                                                                                                    tr(style='vertical-align: top')
                                                                                                                        td.button(width='100%', align='left', valign='middle', style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                                                                            //if mso
                                                                                                                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='https://portaliaplus.com/perfil-usuario/chat', style='height:42px;   v-text-anchor:middle; width:146px;', arcsize='12%', strokecolor='#C7702E', fillcolor='#C7702E')
                                                                                                                                    w:anchorlock
                                                                                                                                        center(style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;")
                                                                                                                            // [if !mso] <!
                                                                                                                            div(align='left', style='display: inline-block; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; max-width: 25%; width: 100%; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent;')
                                                                                                                                table(width='100%', border='0', cellspacing='0', cellpadding='0', style='border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42')
                                                                                                                                    tbody
                                                                                                                                        tr(style='vertical-align: top')
                                                                                                                                            td(valign='middle', style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #ffffff; background-color: #C7702E; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: center")
                                                                                                                                                // <![endif]
                                                                                                                                                a(href='https://www.portaliaplus.com', target='_blank', style='display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #C7702E;color: #ffffff')
                                                                                                                                                    span(style='font-size:12px;line-height:24px;')
                                                                                                                                                        span(style='font-size: 16px; line-height: 32px;', data-mce-style='font-size: 16px; line-height: 28px;')
                                                                                                                                                            strong Ir al sitio
                                                                                                                                                // [if !mso] <!
                                                                                                                                                // <![endif]
                                                                                                                                                //if mso
                                                                                                                                                //if (gte mso 9)|(IE)
                                                                                                                                                //if (gte mso 9)|(IE)
                                                                                                                                                //if mso
                                                                                                                                                //if (IE)
