
<div class="container-fluid" ng-controller="cotizacionesCtr" >
	
	<div class="row ">

		<div class="col-md-12 padding-90 bg-exito">

			<h2 class="header-text">COTIZACIÓN ENVIADA</h2>
			<div class="header-underline gradient-yellow-orange"></div>
			

		</div>

	</div>
	


	<div class=" row contact-background bot">
		
		<div class="col-md-6 col-md-offset-3 margin-top-30">
			
			<h3>
				Tu solicitud de cotización ha sido enviada  con éxito, en los próximos días comenzarás a  recibir las cotizaciones de los diferentes proveedores en nuestro portal. <br><br>

				Te invitamos a que leas nuestro blog, tenemos diferentes artículos de interés sobre la industria. 


			</h3>
			
			<div class="row margin-top-30">
				<div class="col-md-6">
					<a href="/blog" class="btn gradient-border btn-100">IR AL BLOG</a>
				</div>
				<div class="col-md-6">
					<a href="/" class="btn gradient-border-white btn-100">IR AL INICIO</a>
				</div>
			</div>
	  	    
			<br><br>
	  	</div>


	</div>


</div>




	