<div ng-controller="confirmacionCrl" class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center">Confirmacion</h1>
      </div>
      <div class="panel-body">
        <h1 class="lead">
          Por pagar:
          {{adeudo | currency}}
        </h1>
        <hr>
        <button class="btn btn-primary btn-block" ng-click="pagar()">
          Confirmar Pago
        </button>
      </div>
    </div>
  </div>
</div>
