<div ng-controller="topCtrl" style="overflow-x:hidden;">
  <div id="pasoDos" class="section-register-company section-register-company-background  container-13">
    <h2>EMPRESAS DESTACADAS</h2>
    <div class="header-underline-register gradient-yellow-orange"></div>
  </div>
  <div class="separator-orange row"></div>
  <div class="container-fluid">
    <div class="row" style="margin-bottom:2%;">
      <div class="col-lg-12 col-xs-12">
        <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 top light-16" ng-repeat="subarticulo in usuariosDestacados">
          <div ng-class="isSelectClass(subarticulo.paquete)">
            <div class="img-container-background" style="cursor:pointer;">
              <div class="img-container">
                <a href="/perfil/{{subarticulo._id}}/{{ subarticulo.nombre.split(' ').join('-') }}">
                  <img ng-src="assets/uploads/{{subarticulo.sector_name}}/{{subarticulo.categoria_name}}/{{subarticulo._id}}/foto-perfil.jpg" onerror="this.src='assets/images/foto-perfil-default.png'" alt="" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-md-offset-0 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-xs ">
              <br>
              <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <span>
                  {{subarticulo.nombre}}
                </span>
              </div>
              <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <img src="assets/images/icons/anunciante-telefono.svg" alt="" class="ico"> <a href="tel:{{subarticulo.telefono}}"> {{ subarticulo.telefono }} </a>
              </div>
              <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <img src="assets/images/icons/anunciante-correo.svg" alt="" class="ico"> <a ng-hide="subarticulo.emailSec" href="mailto:{{subarticulo.email}}"> {{ subarticulo.email }} </a> <a ng-show="subarticulo.emailSec" href="mailto:{{subarticulo.emailSec}}"> {{ subarticulo.emailSec }} </a>
              </div>
            </div>
            <div class="visible-xs col-xs-10 col-xs-offset-1">
              <div class="black text-left micro-top">
                <br>
                <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                  <span>
                      {{subarticulo.nombre}}
                    </span>
                </div>
                <div ng-if="subarticulo.hasOwnProperty('telefono')" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                  <img src="assets/images/icons/anunciante-telefono.svg" alt="" class="ico"> <a href="tel:{{subarticulo.telefono}}"> {{ subarticulo.telefono }} </a>
                </div>
                <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                  <img src="assets/images/icons/anunciante-correo.svg" alt="" class="ico"> <a ng-hide="subarticulo.emailSec" href="mailto:{{subarticulo.email}}"> {{ subarticulo.email }} </a> <a ng-hide="subarticulo.emailSec" href="mailto:{{subarticulo.emailSec}}"> {{ subarticulo.emailSec }} </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="separator-orange row"></div>
  <div id="pasoDos" class="section-register-company section-register-company-background  container-13">
    <h2>BÚSQUEDAS POPULARES</h2>
    <div class="header-underline-register gradient-yellow-orange"></div>
  </div>
  <div class="separator-orange row"></div>
  <div class="resultsContainer col-lg-12 col-md-12 col-sm-12">
    <h3 style="text-align:center;"
        ng-repeat="terminos in busquedasPopulares | orderBy:'-' | limitTo: 10">{{$index+1}})
      <a href="#" ng-click="goToTermino(terminos.key)">{{terminos.key}}</a></h3>
</div>
</div>
<style>
  .img-container-background {
    height: 230px;
    width: 100%;
    overflow: hidden;
    display: block;
    background: #000;
    display: table;
    position: relative;
  }

  .img-container {
    height: 230px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .img-container img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>
