<div ng-controller="ContactFormController" id="contact">

    <h3 class="text-center orange-dark" ng-click="log()">Contacta proveedores rápidamente, sin costo</h3>

    <div class="row border-orange">

        <form name="contactForm"
               novalidate
               ng-submit="saveContact( contactForm.$valid )"
        >

            <div class="col-md-6 col-xs-12">

                <div class="row">

                    <!-- Input de producto solicitado -->
                    <div class="form-group"
                         ng-class="{ 'has-error': ( contactForm.product.$touched || contactForm.$submitted ) && ! contactForm.product.$valid }"
                    >
                        <div class="col-md-12 margin-top-15">
                            <label class="control-label big-label orange-dark">
                                * Tipo de producto / Servicio Solicitado
                            </label>
                            <input  type="text"
                                    class="form-control no-radius"
                                    ng-model="contactData.product"
                                    name="product"
                                    ng-required="true"
                                    pattern="([A-z0-9À-ž\s]){4,}"
                                    maxlength="100"
                            >
                            <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.required">
                                El campo producto es requerido
                            </span>
                            <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.pattern">
                                No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                            </span>
                            <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.maxlength ">
                                No puedes ingresar más de 100 caracteres en este campo
                            </span>
                        </div>
                    </div>
                    <!-- Termina producto solicitado-->

                    <!-- Grupo sector -->
                    <div class="form-group" ng-class="{ 'has-error': ( contactForm.sector.$touched || contactForm.$submitted ) && ! contactForm.sector.$valid }">
                        <div class="col-md-6 margin-top-15">
                            <label class="control-label big-label"><span class="orange-dark">*</span> Sector</label>

                            <select class="form-control select-rounded"
                                    name="sector"
                                    id="sector"
                                    ng-model="contactData.sector"
                                    ng-options="item.name as item.name for item in sectors"
                                    ng-required="true"
                            >
                            </select>
                            <span class="help-block" ng-show="( contactForm.sector.$touched || contactForm.$submitted )&& contactForm.sector.$error.required">
                                Este campo es requerido
                            </span>

                        </div>
                    </div>
                    <!-- Termina grupo sector -->

                    <!-- Grupo categoría -->
                    <div class="form-group">
                        <div class="col-md-6 margin-top-15">
                            <label class="control-label big-label"> Categoria</label>
                            <select class="form-control select-rounded"
                                    name="category"
                                    id="category"
                                    ng-model="contactData.category"
                                    ng-options="item for item in subsectores"
                            >

                            </select>
                        </div>
                    </div>
                    <!-- Termina grupo categoria-->


                    <div class="col-md-12 margin-top-15">
                        <p class="orange">Ubicación</p>
                    </div>


                    <!-- Grupo estado -->
                    <div class="form-group"
                         ng-class="{ 'has-error': ( contactForm.state.$touched || contactForm.$submitted ) && ! contactForm.state.$valid }"
                    >
                        <div class="col-md-4">
                            <label for="state" class="control-label big-label"> Estado <span class="orange-dark">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control select-rounded"
                                    id="state"
                                    name="state"
                                    ng-model="contactData.state"
                                    ng-options="item for item in states"
                                    ng-required="true"
                            >
                            </select>
                            <span class="help-block" ng-show="( contactForm.state.$touched || contactForm.$submitted )&& contactForm.state.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <!-- Termina grupo estado -->

                    <div class="col-md-12 margin-top-15">
                        <p class="orange-dark text-left">Consumo</p>
                    </div>
                    <!-- Grupo cantidad -->
                    <div class="form-group" ng-class="{ 'has-error': ( contactForm.quantity.$touched || contactForm.$submitted ) && ! contactForm.quantity.$valid }">
                        <div class="col-md-4">

                            <label class="control-label big-label ">
                                <span class="orange-dark">*</span> Cantidad
                                <span ng-show="contactForm.quantity.$error.integer">The value is not a valid integer!</span>
                            </label>
                            <input type="text"
                                   name="quantity"
                                   class="form-control no-radius"
                                   ng-model="contactData.quantity"
                                   ng-required="true"
                                   pattern="[0-9$,.]*"
                            >
                            <span class="help-block" ng-show="( contactForm.quantity.$touched || contactForm.$submitted )&& contactForm.quantity.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="( contactForm.quantity.$touched || contactForm.$submitted )&& contactForm.quantity.$error.pattern">
                                Este campo solo puede contener números
                            </span>
                        </div>
                    </div>
                    <!-- Termina grupo cantidad -->

                    <!-- Grupo unidad -->
                    <div class="form-group"
                         ng-class="{ 'has-error': ( contactForm.unity.$touched || contactForm.$submitted ) && ! contactForm.unity.$valid }"
                    >
                        <div class="col-md-4" ng-class="{ 'has-error': contactForm.unity.$touched && contactData.unity == '' }">
                            <label for="unity" class="control-label big-label"><span class="orange-dark">*</span> Unidad</label>
                            <select class="form-control select-rounded"
                                    name="unity"
                                    ng-model="contactData.unity"
                                    ng-options="item  for item in unities"
                                    ng-required="true"
                            >
                                <option value="">Selecciona</option>
                            </select>
                            <span class="help-block" ng-show="( contactForm.unity.$touched || contactForm.$submitted )&& contactForm.unity.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <!-- Termina grupo unidad -->

                    <!-- Grupo frecuencia -->
                    <div class="form-group ">
                        <div class="col-md-4 ">
                            <label for="frecuency" class="control-label big-label"> Frecuencia</label>
                            <select class="form-control select-rounded"
                                    id="frecuency"
                                    ng-model="contactData.frecuency"
                                    ng-options="item  for item in frecuencies"
                            >
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                    </div>
                    <!-- Termina grupo frecuencia-->

                    <div class="col-md-12 margin-top-15">
                        <p class="orange-dark text-left">Otros datos</p>
                    </div>

                    <!-- Grupo fecha -->
                    <div class="form-group ">
                        <div class="col-md-4">
                            <label for="date" class="control-label big-label"> Fecha</label>
                        </div>
                        <div class="col-md-8">
                            <input id="date" type='text' class="form-control no-radius">
                        </div>

                    </div>
                    <!-- Termina grupo fecha -->

                    <!-- Grupo uso del producto -->
                    <div class="form-group ">
                        <div class="col-md-4 margin-top-15">
                            <label for="productUse" class="control-label big-label"> Uso del producto</label>
                        </div>
                        <div class="col-md-8 margin-top-15">
                            <select class="form-control select-rounded"
                                    id="productUse"
                                    ng-model="contactData.product_use"
                                    ng-options="item  for item in productUses"
                            >
                                <option value="">Selecciona el uso del producto</option>
                            </select>
                        </div>
                    </div>
                    <!-- Termina grupo uso del producto -->

                    <!-- Grupo comentarios -->
                    <div class="form-group ">
                        <div class="col-md-4 margin-top-15 margin-bottom-30">
                            <label for="comments" class="control-label big-label"> Detalles del Producto / Servicio </label>
                        </div>
                        <div class="col-md-8 margin-top-15">
                            <textarea id="comments" class="form-control" ng-model="contactData.comments" cols="30" rows="6" oncopy="return false" onpaste="return false"></textarea>
                        </div>
                    </div>
                    <!-- Termina grupo comentarios -->

                </div>

            </div>

            <div class="col-md-6 col-xs-12">

                <div class="row bg-black  container-rounded">
                    <div class="col-md-12 padding-30">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="orange">Datos del solicitante</h4>
                            </div>

                            <!-- Grupo email -->
                            <div class="form-group"
                                 ng-class="{ 'has-error': ( contactForm.email.$touched || contactForm.$submitted ) && ! contactForm.email.$valid }"
                            >
                                <div class="col-md-3 margin-top-15">
                                    <label class="control-label big-label"> <span class="orange">*</span> E-mail </label>
                                </div>
                                <div class="col-md-9 margin-top-15">
                                    <input type="email"
                                           name="email"
                                           ng-model="contactData.contact_email"
                                           class="form-control no-radius"
                                           oncopy="return false"
                                           onpaste="return false"
                                           ng-required="true"
                                    >
                                    <span class="help-block" ng-show="( contactForm.email.$touched || contactForm.$submitted )&& contactForm.email.$error.required">
                                        Este campo es requerido
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.email.$touched || contactForm.$submitted )&& contactForm.email.$error.email">
                                        El correo no contiene un formato válido
                                    </span>
                                </div>
                             </div>
                            <!-- Termina grupo email -->

                            <!-- Grupo nombre-->
                            <div class="form-group"
                                 ng-class="{ 'has-error': ( contactForm.contact_name.$touched || contactForm.$submitted ) && ! contactForm.contact_name.$valid }"
                            >
                                <div class="col-md-6 margin-top-15">
                                    <label for="name" class="control-label big-label"> Nombre <span class="orange">*</span></label>
                                    <input  type="text"
                                            name="contact_name"
                                            ng-model="contactData.contact_name"
                                            class="form-control no-radius"
                                            oncopy="return false"
                                            onpaste="return false"
                                            ng-required="true"
                                            pattern="([A-z0-9À-ž\s]){4,}"
                                            maxlength="50"
                                    >
                                    <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.required">
                                        Este campo es requerido
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.pattern ">
                                        No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.maxlength ">
                                        No puedes ingresar más de 50 caracteres en este campo
                                    </span>
                                </div>
                            </div>
                            <!-- Termina grupo nombre -->

                            <!-- Grupo apellido -->
                            <div class="form-group"
                                 ng-class="{ 'has-error': ( contactForm.contact_lastname.$touched || contactForm.$submitted ) && ! contactForm.contact_lastname.$valid }"
                            >
                                <div class="col-md-6 margin-top-15">
                                    <label for="lastname" class="control-label big-label"> Apellido <span class="orange">*</span></label>
                                    <input type="text"
                                           name="contact_lastname"
                                           ng-model="contactData.contact_lastname"
                                           class="form-control no-radius"
                                           oncopy="return false"
                                           onpaste="return false"
                                           ng-required="true"
                                           pattern="([A-z0-9À-ž\s]){4,}"
                                           maxlength="50"
                                    >
                                    <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.required">
                                        Este campo es requerido
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.pattern ">
                                        No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.maxlength ">
                                        No puedes ingresar más de 50 caracteres en este campo
                                    </span>
                                </div>
                            </div>
                            <!-- Termina grupo apellido -->

                            <div class="form-group "
                                 ng-class="{ 'has-error': ( contactForm.bussiness_name.$touched || contactForm.$submitted ) && ! contactForm.bussiness_name.$valid }"
                            >
                                <div class="col-md-12 margin-top-15">
                                    <label for="comments" class="control-label big-label"> Empresa </label>
                                    <input type="text"
                                           class="form-control no-radius"
                                           name="bussiness_name"
                                           ng-model="contactData.bussiness_name"
                                           oncopy="return false"
                                           onpaste="return false"
                                           maxlength="50"
                                    >
                                    <span class="help-block" ng-show="( contactForm.bussiness_name.$touched || contactForm.$submitted )&& contactForm.bussiness_name.$error.maxlength ">
                                        No puedes ingresar más de 50 caracteres en este campo
                                    </span>
                                </div>
                            </div>

                            <div class="form-group"

                            >
                                <div class="col-md-6 margin-top-15">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="comments" class="control-label big-label"> Tipo </label>
                                            <select class="form-control select-rounded"
                                                    id="phone-type"
                                                    ng-model="contactData.contact_phone.type"
                                                    ng-options="item  for item in phoneTypes"
                                            >
                                                <option>Fijo</option>
                                            </select>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{ 'has-error': ( contactForm.lada.$touched || contactForm.$submitted ) && ! contactForm.lada.$valid }"
                                        >
                                        <div class="col-md-6">
                                            <label class="control-label big-label"> Lada </label>
                                            <input type="text"
                                                   class="form-control no-radius"
                                                   name="lada"
                                                   ng-model="contactData.contact_phone.lada"
                                                   oncopy="return false"
                                                   onpaste="return false"
                                                   pattern="[0-9$,.]*"
                                            >
                                        </div>
                                        <span class="help-block" ng-show="( contactForm.lada.$touched || contactForm.$submitted )&& contactForm.lada.$error.pattern ">
                                            Solo puedes ingresar números en este campo
                                        </span>
                                      </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group"
                                 ng-class="{ 'has-error': ( contactForm.phone.$touched || contactForm.$submitted ) && ! contactForm.phone.$valid }"
                            >
                                <div class="col-md-6 margin-top-15">
                                    <label for="comments" class="control-label big-label"> Número <span class="orange">*</span> </label>
                                    <input type="text"
                                           class="form-control no-radius"
                                           name="phone"
                                           ng-model="contactData.contact_phone.number"
                                           oncopy="return false"
                                           onpaste="return false"
                                           ng-required="true"
                                           pattern="[0-9$,.]*"
                                    >
                                    <span class="help-block" ng-show="( contactForm.phone.$touched || contactForm.$submitted )&& contactForm.phone.$error.required">
                                        Este campo es requerido
                                    </span>
                                    <span class="help-block" ng-show="( contactForm.phone.$touched || contactForm.$submitted )&& contactForm.phone.$error.pattern ">
                                        Solo puedes ingresar números en este campo
                                    </span>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-12 bg-orange no-padding">
                        <div class="row padding-10">
                            <div class="col-md-6 text-center" ng-if="logged">
                                <h4 class="black">Soy usuario registrado</h4>
                            </div>
                            <div class="col-md-6 text-center" ng-if="!(logged)">
                                <h4>
                                    <a ng-click=" openLoginModal() " href="#" class="white"> Iniciar sesión con tu correo</a>
                                </h4>
                            </div>

                            <div class="col-md-6 text-center" ng-if="logged == true">
                                <h4>
                                    <a href="#" class="white"> {{ userData.nombre    }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-15 margin-bottom-20"></div>
                </div>

                <div class="row">
                    <div class="col-md-12 margin-top-30">
                        <div class="row">
                            <div class="col-md-6">

                                <input type="checkbox" name="terms" ng-model="terms" required>
                                Al solicitar información, aceptas las
                                <a target="_blank" href="/assets/legal/terminos_y_condiciones_PORTALIA.pdf">Condiciones de uso</a> y la
                                <a target="_blank" href="/assets/legal/aviso_privacidad.pdf">Política de privacidad</a> de Portalia Plus


                            </div>
                            <div class="col-md-6">
                                <p class="text-center">Si estás registrado pon tu correo y tu información se autorellenará</p>
                            </div>
                        </div>
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3 margin-top-10">
                            <button type="submit" class="btn btn-warning btn-100 shadow padding-10">
                              SOLICITAR INFORMACIÓN
                            </button>
                          <span class="help-block text-center red" ng-show="( contactForm.terms.$touched || contactForm.$submitted )&& contactForm.terms.$error.required">
                              Debes aceptar los términos y condiciones
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </form>

    </div>


</div>
