


<div class="container-fluid">
  <div class="row top">
    <div class="col-md-3"></div>
    <!-- Directiva del menú superior del panel administrativo -->
    <admin-menu-superior></admin-menu-superior>
  </div>
  <div class="row bot">
    <!-- Directiva del menú lateral del panel administrativo -->
    <!-- Esta directiva tiene la clase col-md-3 -->
    <admin-menu-lateral></admin-menu-lateral>

    <div class="col-md-9 top">
      <!-- Sección de ventas por paquete -->
      <div id="chartVentas" class="chart-500 "/>

        <!-- Sección de promociones o Cortesías -->
        <div  class="text-center ">
          <h1>VENTAS REGISTRADAS POR PAQUETE</h1>
          <hr class="title-border">
          <div class="col-md-10 col-md-offset-1 border-yellow bot">
            <table class="table table-bordered top">
              <thead>
                <tr>
                  <th class="text-center bg-black">PAQUETE</th>
                  <th class="text-center bg-black">PROMOCIONES</th>
                  <th class="text-center bg-black">PROMOCIONES TOTALES</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-table">
                  <td>PLUS</td>
                  <td >15%</td>
                  <td >15%</td>
                </tr>
                <tr class="bg-gray-light">
                  <td >SELECT</td>
                  <td >20%</td>
                  <td >20%</td>
                </tr>
              </tbody>
            </table>
          </div>


          <div id="promociones" class="row bot">
            <div class="form-inline text-left">
              <div class="form-group">
                <div class="radio mini-left yellow">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Semanales
                  </label>
                </div>
                <div class="radio mini-left yellow">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Mensuales
                  </label>
                </div>
                <div class="radio mini-left yellow">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Anuales
                  </label>
                </div>
              </div>
              <div class="form-group">
                  <div class='input-group date mini-left' id='dateDesde2'>
                      <input type='text' class="form-control" placeholder="Desde:"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                  <div class='input-group date mini-left' id='dateHasta2'>
                      <input type='text' class="form-control" placeholder="Hasta:"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>

            </div>
          </div>

          <div class="col-md-10 col-md-offset-1 border-yellow bot">
            <table class="table table-bordered top">
              <thead>
                <tr>
                  <th class="text-center bg-black">PAQUETE</th>
                  <th class="text-center bg-black">VENTAS(Q)</th>
                  <th class="text-center bg-black">PRECIO UNIT. <small>(MENSUAL)</small></th>
                  <th class="text-center bg-black">PROMOCIONES</th>
                  <th class="text-center bg-black">VENTAS TOTALES</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-table">
                  <td>PLUS</td>
                  <td >10</td>
                  <td >$10,000</td>
                  <td >15%</td>
                  <td >$85,000</td>
                </tr>
                <tr class="bg-gray-light">
                  <td>PLUS</td>
                  <td >5</td>
                  <td >$2,000</td>
                  <td >20%</td>
                  <td >$10,000</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered top">
            <thead>
              <tr>
                <th class="text-center bg-black">PAQUETE</th>
                <th class="text-center bg-black">ESPACIOS DISPONIBLES</th>
                <th class="text-center bg-black">ESPACIO OCUPADO POR:</th>
                <th class="text-center bg-black">FECHA REGISTRO / VIGENCIA</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-table">
                <td class="text-center rowspan3"  rowspan="3">PLUS</td>
                <td class="text-center rowspan3"  rowspan="3">3</td>
                <td class="text-center">VOLKSWAGEN</td>
                <td class="text-center">01·3·16 - 01·3·17</td>
              </tr>
              <tr class="bg-gray-table">
                <td class="text-center">AUDI</td>
                <td class="text-center">01·03·16 - 01·3·17</td>
              </tr>
              <tr class="bg-gray-table">
                <td class="text-center">MERCEDEZ BENZ</td>
                <td class="text-center">01·03·16 - 01·3·17</td>
              </tr>

              <tr class="bg-gray-normal">
                <td class="text-center rowspan3"  rowspan="2">SELECT</td>
                <td class="text-center rowspan3"  rowspan="2">3</td>
                <td class="text-center">FORD</td>
                <td class="text-center">01·03·16 - 01·3·17</td>
              </tr>
              <tr class="bg-gray-normal">
                <td class="text-center">TOYOTA</td>
                <td class="text-center">01·03·16 - 01·3·17</td>
              </tr>

              <tr class="bg-gray-light">
                <td class="text-center rowspan3"  rowspan="1">GRATIS</td>
                <td class="text-center rowspan3"  rowspan="1">3</td>
                <td class="text-center">FORD</td>
                <td class="text-center">01·3·16 - 01·3·17</td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>
  </div>

</div>

<script src="assets/js/admin/ventas.js"></script>

<script>



</script>



<script>

</script>
