

.bg-gray-table { background-color: #999 }
.bg-gray-light { background-color: #ccc }
.bg-gray-normal { background-color: #b6b5b5 }

.border-yellow { border: 1px solid #f08f04; }

.rowspan3
{
  vertical-align: middle !important;
  font-weight: bold !important;
}
