<div class="col-md-3 top">
  <button class="btn col-xs-12 btn-menu-yellow top">Registros Generales</button>
  <button class="btn col-xs-12 btn-menu-yellow top">Registros por Sector</button>
  <!-- <button class="btn col-xs-12 btn-menu-yellow top">Registros por Categoria</button> -->
  <button class="btn col-xs-12 btn-menu-yellow top">Registros por Subsector</button>
  <!-- <button class="btn col-xs-12 btn-menu-yellow top">Ventas por Paquete</button> -->
  <!-- <button class="btn col-xs-12 btn-menu-yellow top">Promociones / Cortesías</button> -->
  <button class="btn col-xs-12 btn-menu-yellow top">Disponibilidad de espacios</button>
</div>
