
.btn-menu-yellow
{
  line-height: 40px;
  border-radius: 0px;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-menu-yellow:hover
{
  line-height: 40px;
  border-radius: 0px;
  font-size: 20px;
  background-color: black;
  color: #f08f04;
  border: 1px solid black;
}
.btn-menu-active-yellow
{
  line-height: 40px;
  border-radius: 0px;
  font-size: 25px;
  background-color: black;
  color: #f08f04;
  border: 1px solid black;
}

@media (max-width: 1349px ) {
  .btn-menu-yellow { font-size: 16px !important; }
}
@media (max-width: 1200px ) {
  .btn-menu-yellow { font-size: 13px !important; }
}
