<div class="container" ng-controller="SetSuggestedTagsCtr">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">
                Módulo para agregar palabras clave sugeridas
            </h1>
            <div class="form-group">
                <div class="row margin-top-30">
                    <div class="col-md-6">
                        <label for="sector">Sector</label>
                        <select id="sector" class="form-control">
                            <option value="" selected>Selecciona un sector</option>
                            <option value="{{ sector._id }}" ng-repeat="sector in sectors">{{sector.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="categoria">Subsector</label>
                        <select id="categoria" class="form-control">
                            <option value="{{ subsector.name }}" ng-repeat="subsector in subsectores">{{ subsector.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea name="tags" class="form-control" cols="30" rows="10" ng-model="tags"></textarea>
                <p>Agrega cada tag con una ( , ) entre cada palabra</p>
            </div>
            <button ng-click="saveTags()" class="btn btn-warning margin-top-30 margin-bottom-20 pull-right">Guardar</button>
        </div>
    </div>

</div>