<div class="container" ng-controller="facturadorCtrl">
  <div class="row top">
  </div>
  <div class="row top">
    <h1 class="text-center">Módulo para facturar</h1>
  </div>
  <div class="row margin-top-20">
    <div class="col-md-6">
      <label for="">ID de Orden</label>
      <input ng-model="data.idOrden" type="text" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="email">Plan Solicitado</label>
      <select ng-model="data.planSolicitado" class="form-text-field">
        <option value="">Selecciona un paquete</option>
        <option value="basico">Basico</option>
        <option value="premium">Premium</option>
      </select>
    </div>
    <div class="col-md-6 top">
      <label for="name">Precio Mensual</label>
      <input ng-model="data.precioMes" type="number" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Nombre (Razón)</label>
      <input ng-model="data.razon" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="name">RFC</label>
      <input ng-model="data.rfc" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Correo electrónico</label>
      <input ng-model="data.correoFactu" type="email" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="name">Estado</label>
      <input ng-model="data.estado" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="name">Ciudad</label>
      <input ng-model="data.ciudad" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Colonia</label>
      <input ng-model="data.colonia" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Calle</label>
      <input ng-model="data.calle" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Número</label>
      <input ng-model="data.numeroCalle" type="text" class="form-control">
    </div>
    <div class="col-md-6 top">
      <label for="">Código Postal</label>
      <input ng-model="data.codigoPostal" type="text" class="form-control">
    </div>
    <div class="col-md-12 top text-center" ng-click="generar()">
      <a href="#" class="btn btn-warning">
				Generar Factura
			</a>
    </div>
  </div>
</div>
<br><br>
