<div ng-controller="BussinessListController" id="contact">


  <!-- Banner de publicidad del listado de empresas -->
  <a target="_blank"
     ng-repeat=" banner in banners "
     ng-href="{{ banner.url }}"
  >
    <img ng-src="{{ banner.img1 }}"
         class="categorias{{ $index + 1 }}"
         alt=""
    >
  </a>
  <!-- Termina banner de publicidad del listado de empresas -->

    <div class="container bg-white publicidad-sm">
      <div class="col-md-4"
           ng-repeat=" banner in banners "
      >
        <!-- Banner de publicidad del listado de empresas -->
        <a target="_blank"
           ng-href="{{ banner.url }}"
        >
          <img ng-src="{{ banner.img2 }}"
               class="img-responsive banner-sm"
               alt=""
          >
        </a>
      </div>
      <!-- Termina banner de publicidad del listado de empresas -->
    </div>
    <div class="container bg-white padding-30 margin-top-20 margin-bottom-20">

        <!--Sección de ordenamiento-->
        <!--<div class="row ">-->

            <!--<div class="col-md-2 col-xs-12 bg-orange no-padding filter-block">-->
                <!--<span class="text-uppercase">ordenar por</span>-->
            <!--</div>-->
            <!--<div class="col-md-10 col-xs-12 bg-gray-light filter-block">-->
                <!--<div class="row">-->

                    <!--<div  class="col-md-3 col-sm-6 col-xs-12  text-black link" ng-click="setOrderAlphabetical()">-->
                        <!--<i class=""-->
                           <!--ng-class="{ 'fa fa-arrow-down' : alphabetical == 'true', 'fa fa-arrow-up' : alphabetical == 'false' }"-->
                        <!--&gt;</i>-->
                        <!---->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--Termina ordenamiento-->

        <!--Sección filtros-->
        <div class="row margin-top-20">
            <div class="col-md-2 hidden-sm hidden-xs bg-black no-padding filter-block">
                <span class="text-uppercase">filtros</span>
            </div>
            <div class="col-md-10 col-xs-12">

                <div class="row padding-left-30 hidden-sm hidden-xs">

                    <div class="col-md-12 search-title">
                        <b ng-if="totalResults != 1">{{ totalResults | number }} Resultados {{ urlFilters.keyword }} en {{ totalPages | number }} páginas</b>
                        <b ng-if="totalResults == 1">{{ totalResults | number }} Resultado {{ urlFilters.keyword }} </b>
                    </div>

                </div>

                <div class="row hidden-lg hidden-md">
                    <div class="col-sm-3 col-xs-12">
                        <!--Botón para desplegar los filtros en tablet y celular-->
                        <button type="button"  class="btn btn-editar btn-filter" data-toggle="offcanvas" data-target="#nav-filter" data-placement="left">
                            <i class="fa fa-filter"></i>
                            Filtros
                        </button>
                        <!--Termina botónd e filtros tablet y celular-->
                        <br><br>
                    </div>

                    <div class="col-sm-9 col-xs-12 text-center">
                        <b ng-if="totalResults != 1">{{ totalResults }} Resultados {{ urlFilters.keyword }} en {{ totalPages }} páginas</b>
                        <b ng-if="totalResults == 1">{{ totalResults }} Resultado {{ urlFilters.keyword }} </b>
                    </div>
                </div>

            </div>
        </div>
        <!--Terminan filtros-->

        <!--Paginación-->
        <div class="row ">
            <div class="col-md-10 col-md-offset-2 margin-top-10">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li ng-if="currentPage != 1 && currentPage != undefined" ng-click="setFilter( before  ,'pagina' )">
                            <a href="#" aria-label="Previous">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                        </li>
                        <li ng-repeat="n in range( lowerLimit , upperLimit )"
                            ng-class=" { 'active': n+1 == currentPage || ($index == 0 && currentPage == undefined ) } "
                        >

                            <a ng-click="setFilter( n+1 ,'pagina' )" class="pointer"
                            >
                                {{ n +1}}
                            </a>

                        </li>
                        <li ng-if="currentPage != totalPages && currentPage != undefined && totalPages > 1 ">
                            <a aria-label="Next" ng-click="setFilter( next  ,'pagina' )">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Termina paginación-->

        <div class="row ">

            <!--Nav de filtros tablet y celular-->
            <nav id="nav-filter" class="navmenu navmenu-default navmenu-fixed-left offcanvas"
                 role="navigation"
            >
                <div class="row">
                    <div class="col-md-12 ">
                        <!--
                        <button id="closeBlog" class="btn btn-post col-xs-12" data-toggle="offcanvas" data-target="#nav-filter">
                            <div class="triangle-post"></div>REGRESAR
                        </button>
                        -->

                        <button class="list-link margin-top-20" data-toggle="collapse" data-target="#sectors-xs" aria-expanded="true" aria-controls="sectors-xs">
                            Sector
                        </button>
                        <div class="collapse" id="sectors-xs">
                            <ul class="margin-top-10 no-padding">
                                <li ng-repeat="( sector_name , count ) in searchSectors "
                                    class="margin-top-5 text-center"
                                    ng-if="urlFilters.sector == undefined || urlFilters.sector == '' "
                                >

                                  <a  class="text-black"
                                      ng-click="setFilter( sector_name ,'sector' )"
                                  >
                                    {{ sector_name }} <span class="orange"> ( {{ count }}  ) </span>
                                  </a>

                                </li>

                                <li class="margin-top-5 text-center" ng-if="urlFilters.sector != undefined && urlFilters.sector != '' ">

                                    <a class="btn btn-orange-dark center-block "
                                       ng-click="setFilter( '' ,'sector' )"
                                    >
                                      {{ urlFilters.sector.slice(0,18) }}... <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-30" ng-if="urlFilters.sector != undefined && urlFilters.sector != '' ">
                        <button class="list-link" data-toggle="collapse" data-target="#category" aria-expanded="false" aria-controls="category">
                            Categoría
                        </button>
                        <div class="collapse" id="category">
                            <ul class="margin-top-10 no-padding">
                                <li ng-repeat="(category_name , count ) in searchCategories"
                                    class="margin-top-5 text-center"
                                    ng-if="urlFilters.categoria == undefined || urlFilters.categoria == '' "
                                >

                                    <a  class="text-black"
                                        ng-click="setFilter( category_name ,'categoria' )"
                                    >
                                        {{ category_name }}
                                        <span class="orange">({{ count }})</span>
                                    </a>
                                </li>
                                <li class="margin-top-5 text-center" ng-if="urlFilters.categoria != undefined && urlFilters.categoria != '' ">

                                    <a  class="btn btn-orange-dark center-block "
                                        ng-click="setFilter( '' ,'categoria' )"
                                    >
                                        {{ urlFilters.categoria }} <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-30">
                        <button class="list-link" data-toggle="collapse" data-target="#state" aria-expanded="false" aria-controls="state">
                            Estado
                        </button>
                        <div class="collapse" id="state">
                            <ul class="margin-top-10 no-padding">

                                <li ng-repeat="( state_name , count ) in searchStates"
                                    class="margin-top-5 text-center"
                                    ng-if="urlFilters.ubicacion == undefined || urlFilters.ubicacion == '' "
                                >
                                    <a class="text-black"
                                       ng-click="setFilter( state_name ,'ubicacion' )"
                                    >
                                        {{ state_name }} <span class="orange"> {{ count }}</span>
                                    </a>
                                </li>
                                <li class="margin-top-5 text-center" ng-if="urlFilters.ubicacion != undefined && urlFilters.ubicacion != '' ">

                                    <a class="btn btn-orange-dark center-block"
                                       ng-click="setFilter( '' ,'ubicacion' )"
                                    >
                                        {{ urlFilters.ubicacion.slice(0,18) }}... <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--Termina nav de filtros-->

            <!--Listado de filtros-->
            <div class="col-md-2  hidden-xs hidden-sm text-right">
                <div class="row" >
                    <div class="col-md-12 " ng-if=" showSectors ">
                        <button class="list-link" data-toggle="collapse" data-target="#sectors" aria-controls="sectors">
                            Sector
                        </button>
                        <div class="collapse in" id="sectors">
                            <ul class="margin-top-10 no-padding">
                                <li ng-repeat="( sector_name , sector_count ) in searchSectors "
                                    class="margin-top-5"
                                    ng-if="urlFilters.sector == undefined || urlFilters.sector == '' "
                                >

                                  <a href="#" class="text-black"
                                       ng-click="setFilter( sector_name ,'sector' )"
                                    >
                                        {{ sector_name.slice(0,16) }}<span ng-if="sector_name.length > 15">...</span>
                                    <span class="orange"> ({{ sector_count }}) </span>
                                    </a>
                                </li>
                                <li class="margin-top-5" ng-if="urlFilters.sector != undefined && urlFilters.sector != '' ">

                                    <a href="#" class="btn btn-orange-dark pull-right "
                                       ng-click="setFilter( '' ,'sector' )"
                                    >
                                        {{ urlFilters.sector.slice(0,18) }}... <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 " ng-if="urlFilters.sector != undefined && urlFilters.sector != '' && showSectors ">
                        <button class="list-link" data-toggle="collapse" data-target="#category-xs" aria-expanded="false" aria-controls="category-xs">
                            Categoría
                        </button>
                        <div class="collapse in" id="category-xs">
                            <ul class="margin-top-10 no-padding">
                                <li ng-repeat="( category_name , count ) in searchCategories"
                                    class="margin-top-5"
                                    ng-if="urlFilters.categoria == undefined || urlFilters.categoria == '' "
                                >

                                    <a href="#" class="text-black"
                                       ng-click="setFilter( category_name ,'categoria' )"
                                    >
                                        {{ category_name.slice(0,15) }} {{ (category_name.length >= 16)? '...' : '' }}
                                      <span class="orange">({{ count }})</span>
                                    </a>
                                </li>
                                <li class="margin-top-5" ng-if="urlFilters.categoria != undefined && urlFilters.categoria != '' ">
                                    <button href="#" class="btn btn-orange-dark pull-right "
                                            ng-click="setFilter( '' ,'categoria' )"
                                    >
                                      {{ urlFilters.categoria.slice(0,18) }}... <i class="fa fa-close"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <button class="list-link" data-toggle="collapse" data-target="#state-xs" aria-expanded="false" aria-controls="state-xs">
                            Estado
                        </button>
                        <div class="collapse in" id="state-xs">
                            <ul class="margin-top-10 no-padding">
                                <li ng-repeat="( state_name , count ) in searchStates"
                                    class="margin-top-5"
                                    ng-if="urlFilters.ubicacion == undefined || urlFilters.ubicacion == '' "
                                >
                                    <a href="#" class="text-black"
                                       ng-click="setFilter( state_name ,'ubicacion' )"
                                    >
                                        {{ state_name }} <span class="orange">({{ count }})</span>
                                    </a>
                                </li>
                                <li class="margin-top-5" ng-if="urlFilters.ubicacion != undefined && urlFilters.ubicacion != '' ">

                                    <button href="#" class="btn btn-orange-dark pull-right "
                                            ng-click="setFilter( '' ,'ubicacion' )"
                                    >
                                        {{ urlFilters.ubicacion.slice(0,18) }}... <i class="fa fa-close"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Termina listado de filtros-->


            <!--Lista de empresas-->
            <div class="col-md-10 col-xs-12 text-left">

                <img src="/assets/images/gifs/cargando.gif" class="center-block margin-top-30" alt="" ng-show="loading">
                <div ng-class="{'bussiness-plus': item.paquete == 'plus' , 'bussiness' : item.paquete != 'plus' }"
                     class="row  margin-top-20 "
                     ng-repeat="entity in documents"
                     ng-show="!loading"

                >
                    <div class="col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1" >
                        <a ng-href="/perfil/{{ entity._id }}/{{ entity.nombre.split(' ').join('') }}" target="_blank">

                            <img  ng-src="/assets/uploads/{{entity.sector_name}}/{{entity.categoria_name}}/{{entity._id}}/foto-perfil.jpg"
                                  class="img-responsive img-rounded v-align center-block"
                                  on-error-src="/assets/images/iconos_sectores/{{ entity.sector_name }}.jpg"
                                  ng-if=" entity.profilePic == null "
                            >
                            <img  ng-src="{{ entity.profilePic }}"
                                  class="img-responsive img-rounded v-align center-block"
                                  on-error-src="/assets/images/iconos_sectores/{{ entity.sector_name }}.jpg"
                                  ng-if=" entity.profilePic != null "
                          >
                        </a>
                        <br>
                        <a class="margin-top-20" ng-if="entity.noPaquete == 2 ">
                            <img class="img-responsive center-block icon-plus"
                                 ng-src="/assets/images/icons/select.png" alt=""
                            >
                        </a>
                        <a class="margin-top-20" ng-if="entity.noPaquete == 3 ">
                          <img class="img-responsive center-block icon-plus"
                               ng-src="/assets/images/icons/plus.png" alt=""
                          >
                        </a>
                    </div>

                    <div class="col-md-10 col-sm-9 col-xs-12 text-center-xs ">

                        <h3 class="orange">

                            <div class="col-xs-12">
                                <a class="orange text-center visible-xs" href="/perfil/{{ entity._id}}/{{ entity.nombre.split(' ').join('') }}" target="_blank" >
                                    {{ entity.nombre }}
                                    {{ (entity.nombre.length >= 30)? '...' : '' }}
                                    {{ (entity.nombre.length == 0)? 'Sin datos':'' }}
                                </a>
                            </div>

                            <a class="orange hidden-xs" href="/perfil/{{ entity._id}}/{{ entity.nombre.split(' ').join('') }}" target="_blank" >
                                {{ entity.nombre.slice(0,25)  }}
                                {{ (entity.nombre.length >= 25)? '...' : '' }}
                                {{ (entity.nombre.length == 0)? 'Sin datos':'' }}
                            </a>

                            <!-- Botones de acciones para celular-->
                            <div class="col-xs-6 visible-xs margin-top-10 margin-bottom-10">
                                <button class="btn btn-orange-dark btn-100 margin-left-10" ng-click="llamar(entity._id)">
                                    <i class="glyphicon glyphicon-phone"></i>
                                    <span class="hidden-sm">Llamar</span>
                                </button>
                            </div>
                            <div class="col-xs-6 visible-xs margin-top-10 margin-bottom-10">
                                <button class="btn btn-orange-dark btn-100" data-toggle="modal"
                                        data-target="#contact-modal"
                                        ng-click=" $parent.contactBussiness = entity._id; saveParent(entity._id) "
                                >
                                    <i class="fa fa-envelope"></i>
                                    <span class="hidden-sm">Contactar</span>
                                </button>
                            </div>
                            <!-- Terminan acciones para celular -->

                            <!-- Botones de acciones para tablet y desktop -->
                            <button class="btn btn-orange-dark pull-right hidden-xs margin-left-10" ng-click="llamar(entity._id)" >
                                <i class="glyphicon glyphicon-phone"></i>
                                <span class="hidden-sm">Llamar</span>
                            </button>
                            <button class="btn btn-orange-dark pull-right hidden-xs" data-toggle="modal"
                                    data-target="#contact-modal"
                                    ng-click=" $parent.contactBussiness = entity._id; saveParent(entity._id) "
                            >
                                <i class="fa fa-envelope"></i>
                                <span class="hidden-sm">Contactar</span>
                            </button>
                            <!-- Terminan acciones para tablet y desktop -->

                        </h3>
                        <h4><br class="visible-xs">
                            {{entity.estado_name }}, México</h4>
                        <div class="rate orange">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span ng-if="entity.shedules.length > 0"><i class="fa fa-clock-o orange"></i> {{isOpen(entity.shedules)}}</span>
                        <p class="margin-top-10">
                            <span class="orange">Categoria: </span> {{entity.categoria_name}}
                        </p>
                        <p>
                            <span class="orange">Sector: </span>{{entity.sector_name}}
                            <br class="visible-xs">
                            <br class="visible-xs">
                            <span ng-show="entity.cover == undefined"
                                  class="mar-cob-r-5"
                            >Local
                            </span>
                            <span ng-show=" entity.cover != undefined "
                                  class="mar-cob-r-5"
                            >{{entity.cover}}
                            </span>
                            <img ng-show=" entity.cover == 'Internacional' "
                                 src="/assets/images/icons/icono_internacional.png"
                                 alt=""
                                 class="img-responsive img-cobertura-internacional">
                            <img ng-show=" entity.cover == 'Nacional' "
                                 src="/assets/images/icons/icono_nacional.png"
                                 alt=""
                                 class="img-responsive img-cobertura-nacional">
                            <img ng-show=" entity.cover == 'Local' "
                                 src="/assets/images/icons/icono_local.png"
                                 alt=""
                                 class="img-responsive img-cobertura-local">
                            <img ng-show=" entity.cover == undefined "
                                 src="/assets/images/icons/icono_local.png"
                                 alt=""
                                 class="img-responsive img-cobertura-local">
                        </p>
                    </div>

                </div>

            </div>

            <!--Termina listado de empresas-->



        </div>

        <!--Paginación-->
        <div class="row ">
            <div class="col-md-10 col-md-offset-2 margin-top-20">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li ng-if="currentPage != 1 && currentPage != undefined" ng-click="setFilter( before  ,'pagina' )">
                            <a href="#" aria-label="Previous" class="pointer">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                        </li>
                        <li ng-repeat="n in range( lowerLimit , upperLimit )"
                            ng-class=" { 'active': n+1 == currentPage || ($index == 0 && currentPage == undefined ) } "
                        >

                            <a href="#" ng-click="setFilter( n+1 ,'pagina' )" class="pointer"
                            >
                                {{ n +1}}
                            </a>

                        </li>
                        <li ng-if="currentPage != totalPages && currentPage != undefined && totalPages > 1">
                            <a href="#" aria-label="Next" ng-click="setFilter( next  ,'pagina' )">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Termina paginación-->

    </div>

    <!--Modal de contqacto-->
    <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9000;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <a class="pull-right btn-close-modal" data-dismiss="modal">
                    <i class="fa fa-remove"></i>
                </a>
                <div class="modal-body top">

                    <!-- Formulario de contacto básico -->
                    <contactform></contactform>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
