/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.spanResultsEmp {
  color: #F08F04;
}

.spanResultsProd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}


/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  overflow: auto;
  /*min-width: 500px;*/
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
}

.modal-content>h4 {
  text-align: center;
  font-family: montserrat-hairline;
}

.modal-content>div .fbLoginContainer {
  margin: 0 auto;
}

.modal-content>div .fb-login {
  text-align: center;
  height: 5rem;
  margin-top: 2rem;
}

.modal-content>div .or-lines {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-content>div .or-lines .or-line {
  width: 43%;
  height: 1px;
  background: #f08f04;
  display: inline-block;
}

.modal-content>div .or-lines .or {
  display: inline-block;
  width: 10%;
  text-align: center;
  position: relative;
  top: 3px;
}

.modal-content>div .or-lines .or span {
  font-family: montserrat-hairline;
  font-size: 2rem;
}

form.login input {
  width: 100%;
  border: solid 1px #f08f04;
  padding: 10px 4px 10px 6px;
  font-family: montserrat-hairline;
  margin-bottom: 10px;
}

form.login input:focus {
  outline: solid 1px #f08f04;
}

div .recuperarPass {
  text-align: right;
}

div .recuperarPass a {
  color: #F08F04;
  font-size: 1.2rem;
}


/*div input[type="checkbox"]+label:before {*/


/*content: "\00a0";*/


/*display: inline-block;*/


/*font: 16px/1em montserrat-bold;*/


/*height: 16px;*/


/*margin: 0 0.25em 0 0;*/


/*padding: 0;*/


/*vertical-align: top;*/


/*width: 16px;*/


/*background: #F08F04;*/


/*border: none;*/


/*}*/


/*div input[type="checkbox"]:checked+label:before {*/


/*color: black;*/


/*content: "\2713";*/


/*text-align: center;*/


/*}*/


/*div input[type="checkbox"]:checked+label:after {*/


/*font-weight: bold;*/


/*}*/

div .lineSeparetor {
  height: 1px;
  background: #F08F04;
  width: 100%;
}

div .no-tienes-cuenta {
  text-align: left;
  font-size: 1.4rem;
}

div .no-tienes-cuenta a {
  color: #F08F04;
  margin-left: 5px;
}

div form.login .btnContainer.iniciarSesion {
  background: #F08F04;
  text-align: center;
  padding: 6px 0 6px 0;
  max-width: 100%;
  border: none;
}

div form.login .btnContainer.iniciarSesion a {
  color: white;
  font-family: montserrat-hairline;
  font-size: 2.4rem;
}

div .lineSeparetor {
  height: 1px;
  background: #F08F04;
  width: 100%;
}

div .btnContainer.iniciarSesion {
  background: transparent;
  border: 2px solid #F08F04;
  text-align: center;
  padding: 6px 0 6px 0;
  max-width: 70%;
  margin: 0 auto;
}

div .btnContainer.iniciarSesion a {
  color: #F08F04;
  font-family: montserrat-hairline;
  font-size: 2.2rem;
}


/* The Close Button */

.close {
  color: white;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  cursor: pointer;
  background: #F08F04;
  padding: 2px 6px 3px 6px;
}

.close:hover {
  color: black;
}

.Cerrar {
  color: white;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  cursor: pointer;
  background: #F08F04;
  padding: 2px 6px 3px 6px;
}

.Cerrar:hover {
  color: black;
}


/*.ac-container {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 999;
  width: 100%;
}*/


/* fix styles */

[mass-autocomplete] {
  position: relative;
}

/*.ac-container {*/
  /*position: absolute;*/
  /*top: 108px !important;*/
  /*left: 22.4% !important;*/
  /*width: 17.7% !important;*/
/*}*/

.ac-container{
  z-index:1;
  top: 35px !important;
  left: 0px !important;
  width: 100% !important;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .ac-container {
    /* right: 3% !important; */
    position: absolute;
    top: 119px !important;
    left: 5% !important;
    width: 90% !important;
  }
}

.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}

.ac-container .ac-menu .ac-menu-item {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  margin: 0;
}

.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}

.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}

.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}

.paddingHidden {
  margin-left: 12%;
}

.paginacionCat {
  background: none;
  border: none;
  font-size: 1em;
  color: #ec971f;
}

.paginacionABC {
  background: none;
  border: none;
  font-size: 1em;
}

.nav li .amenu {
  padding: 7.5px 7.5px 12px 7.5px;
}


/* Fix for IE10 and IE11 Montserrat font display issues. */


/*body {
  -ms-font-feature-settings: normal;
}*/

.regular-16 {
  font-family: inherit !important;
}
