<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<section class="section-register-company section-register-company-background" ng-controller="registroCrl">

  <!-- Banner de publicidad del registro -->
  <a target="_blank" href="https://distribuidornacional.com/Distribuidores-Rotoplas-en-Mexico">
    <img src="/assets/images/gifs/registrov.gif" class="registro-empresa-banner" alt="">
  </a>
  <!-- Termina banner de publicidad del registro -->

  <update-title title="Registrate Directorios de Empresas Industriales Portalia Plus"></update-title>
  <update-meta name="description" content="Regístrate gratis en nuestro directorio para empresas, encuentra soluciones especializadas para tu negocio. Además disfruta de beneficios para hacer crecer tus ventas."></update-meta>
  <update-meta name="title" content="Registrate Directorios de Empresas Industriales Portalia Plus"></update-meta>

  <h2 ng-click="test()">REGISTRO PARA EMPRESAS</h2>
  <div class="header-underline-register gradient-yellow-orange"></div>
  <div class="text-center" style="color: #FFF;">
    Para anunciar tus servicios/productos gratis es necesario registrarte <br> <br>

    <h3>
      <b>
      Sí deseas asesoría personalizada y gratis para tu registro <br> <br>
      <img src="/assets/images/icons/contactanos-white.png" alt="" class="icon-80">
      ¡Llámanos y te ayudamos!
      <a class="hidden-xs white" href="tel:+5247700504">(33) 47700504</a>
      <div class="col-xs-12 visible-xs bot-xs">
        <a class=" btn btn-danger btn-100 top" href="tel:+5247700504  "> <i class="fa fa-phone"></i> 47700504 </a> <br>
      </div>
      </b>
    </h3>
  </div>
  <h2>PASO 1 DE 2</h2>
  <form novalidate name="registro">
    <div class="form-row">
      <div class="form-label">
        <span>*Correo</span>
      </div>

      <div class="form-text-field-container ">
        <input
                ng-model="data.email"
                ng-blur="checkEmail()"
                ng-class="{invalid: isValidEmail==false }"
                class="form-text-field bg-white" type="email"
                required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <span>*Confirmar Correo</span>
      </div>

      <div class="form-text-field-container ">
        <input
                ng-model="data.email2"
                ng-blur="isEqualEmail()"
                ng-class="{invalid: equalEmail == false}"
                class="form-text-field bg-white "
                type="email"
                required
        />
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <label  class="invalid-label"
                  ng-show="equalEmail == false "
            >
              <br>Los correos no son iguales
            </label>
          </div>

        </div>
      </div>



    </div>
    <label class="invalid-label hidden" id="error-mail"><br>Email invalido</label>


    <div class="form-row">
      <div class="form-label">
        <span>*Contraseña</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.password" class="form-text-field bg-white" id="password1" type="password" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <span>*Confirmar Contraseña</span>
      </div>
      <div class="form-text-field-container">

        <input  ng-model="data.password2"
                ng-blur="isEqualPass()"
                ng-class="{ invalid: equalPass==false }"
                class="form-text-field bg-white"
                type="password"
                required
        >

      </div>
    </div>

    <label class="invalid-label" ng-show="equalPass==false" >
      <br>
      Las contraseñas no son iguales
    </label>


    <br><br>
    <div class="form-row margin-top-30">
      <div class="form-label form-gray">
        <span>Correo de contacto</span>
      </div>

      <div class="form-text-field-container ">
        <input
          ng-model="data.emailSec"
          class="form-text-field bg-white "
          type="email"
          placeholder="Correo de contacto directo"
        />
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <label  class="invalid-label"
                    ng-show="equalEmail == false "
            >
              <br>Los correos no son iguales
            </label>
          </div>

        </div>
      </div>



    </div>


    <div class="form-row margin-top-30">
      <div class="form-label form-gray">
        <span>*Nombre Empresa</span>
      </div>
      <div class="form-text-field-container">

        <div class="input-group">
          <input id="nombreEmpresa" type="text" ng-model="data.nombre" ng-blur="checkBussines()" class="form-text-field bg-white">
          <span class="input-group-btn">
            <div class="btn btn-verificar" ng-click="checkBussines()" >
                <span ng-show="verifyied != true" >Verificar</span>
                <span ng-show="verifyied == true" ><i class="fa fa-check"></i></span>
                <i ng-show="verifying==true" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
          </span>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>Nombre contacto</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.nombre_contacto"
               id="nombre_contacto"
               class="form-text-field bg-white"
               type="text"
        >
      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>Teléfono</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.telefono"
               id="telefono"
               class="form-text-field bg-white"
               type="text"
        >
      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>Razón Social</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.razon" placeholder="Opcional" id="razon" class="form-text-field bg-white" type="text">
        <!-- Volver a hacerlo required después del testing -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>RFC</span>
      </div>
      <div class="form-text-field-container">
        <input id="rfc" placeholder="Opcional" ng-model="data.rfc" class="form-text-field bg-white" type="text">
        <!-- Volver a hacerlo required después del testing -->
      </div>
    </div>
    </div>
    </div>
    <label class="invalid-label hidden" id="error-rfc">Ingresa un RFC Valido</label>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Sector</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.sector" ng-change="changeSector(data.sector)" id="sector" class="form-text-field" type="text" required>
          <option value="">Selecciona un sector</option>
          <option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Categoría</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.categoria" ng-change="changeCategoria(data.categoria)" class="form-text-field" type="text" required id="categoria">
          <option value="">Selecciona un sub sector</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Otra / Especialidad</span>
      </div>
      <div class="form-text-field-container">
        <input required id="otraSub" ng-model="data.otraSub" class="form-text-field bg-white" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Estado base</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.estado" ng-change="changeEstado(data.estado)" class="form-text-field" id=estado type="text" required>
          <option value="">Selecciona un estado</option>
          <option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>*Municipio base</span>
      </div>
      <div class="form-text-field-container">
        <select ng-model="data.municipio" class="form-text-field" type="text" required id="municipio">
          <option value="">Selecciona un municipio</option>
        </select>
      </div>
    </div>
    <div class="form-row" ng-show="data.codigo_invitacion">
      <div class="form-label form-gray">
        <span>Codigo invitación:</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.codigo_invitacion" id="codigo" class="form-text-field bg-white" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>Cupón Promocional:</span>
      </div>
      <div class="form-text-field-container">
        <input id="cupon" ng-keyup="getCode()" ng-model="datosCupon.codigo" class="form-text-field bg-white" type="text" placeholder="Opcional/No requerido.">
      </div>
      <div ng-if="codigoObtenido != null">
        <div style="color:#5ff442;text-align: center;">Válido</div>
        <br> <span style="color:white;">Paquete otorgado: {{codigoObtenido.paquete}}</span>
        <br> <span style="color:white;">Periodo: {{codigoObtenido.numeroOfrecido}}</span> <span style="color:white;" ng-if="codigoObtenido.unidadOfrecida == 'd'">días</span><span style="color:white;" ng-if="codigoObtenido.unidadOfrecida == 'm'">meses</span>
        <span
            style="color:white;" ng-if="codigoObtenido.unidadOfrecida == 'y'">años</span>
      </div>
      <div ng-if="codigoObtenido == null && typed == true">
        <div style="color:red;text-align: center;">Inválido</div>
        <br>
        <span style="color:white;" ng-if="vigenciaIncorrecta == true">Este código promocional ya ha expirado y no puede ser utilizado, ¡lo sentimos!</span>
        <span style="color:white;" ng-if="usado == true">Este código promocional ya ha superado su límite de usos, ¡lo sentimos!</span>
        <span style="color:white;" ng-if="correoDif == true">Este código promocional no se encuentra ligado a tu correo, ¡lo sentimos!</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-label form-gray">
        <span>¿Cómo nos conociste?</span>
      </div>
      <div class="form-text-field-container">
        <select class="form-control form-text-field" id="commonRegister">
          <option value="{{ item._id }}" ng-repeat="item in commonRegisters">{{ item.name }}</option>
        </select>
      </div>
    </div>
    <br>

    <div class="form-row text-center margin-bottom-20" ng-show="tags.length > 0">
      <h3 class="white">Palabras clave recomendadas</h3>
      <div class="btn btn-warning margin-left-10 margin-top-10" ng-repeat="tag in tags" ng-click="removeTag(tag)">
        {{ tag }} <i class="fa fa-close margin-left-10"></i>
      </div>
    </div>

    <div style="width: 304px;margin: 0 auto;">
      <!-- <div vc-recaptcha key="'6Lf90yQTAAAAAMjWsw00jYqQi1bW5VddSKjVe4ut'" ng-model="myRecaptchaResponse"></div> -->
      <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
    </div>
    <div class="optional-form" style="display: inline-block;">
      <input ng-click="blog()" id="blog" type="checkbox" name="" class="chkbox check-yellow blog" value="">
      <img ng-click="blog()" src="assets/images/checkbox/yellow-normal.png" class="chkbox check-yellow" alt=""><span> Recibir Blog Quincenal</span>
      <!-- <label for="3mes">3 meses
        <span class="claro">(5% descuento)</span>
      </label> -->
      <!-- <input id="6mes" type="checkbox"> -->
    </div>
    <div id="boxes" style="display: none;" class="optional-categories">
      <div>
        <input ng-model="data.suscripcion.manufactureras" id="uno" type="checkbox" name="" value="" class="chkbox check-white">
        <img ng-click="uno()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[0].name}}</span>
        <br>
        <input value="" ng-model="data.suscripcion.construccion" id="dos" type="checkbox" name="" class="chkbox check-white">
        <img ng-click="dos()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[1].name}}</span>
        <br>
        <input value="" ng-model="data.suscripcion.elecAgua" id="tres" type="checkbox" name="" class="chkbox check-white blog" value="">
        <img ng-click="tres()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[2].name}}</span>
        <br>
      </div>
      <div>
        <input value="" id="cuatro" ng-model="data.suscripcion.agroindustria" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="cuatro()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[3].name}}</span>
        <br>
        <input value="" id="cinco" ng-model="data.suscripcion.especializados" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="cinco()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[4].name}}</span>
        <br>
        <input value="" id="seis" ng-model="data.suscripcion.turismo" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="seis()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[5].name}}</span>

        <br>
        <br>
        <!-- <input type="checkbox" name="" class="chkbox check-white" value="">
        <img src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> Seleccionar todas</span> -->

        <br>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2">
      <div class="register-btn-container bot">

        <button id="boton" ng-click="registrar()">Registrarme</button>

        <div>
          <label class="invalid-label col-xs-12 hidden" id="error-general">Los campos marcados con rojo son obligatorios</label>
          <input type="checkbox" id="terms" class="chkbox check-white" required>
          <img src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""> Al crear una cuenta, aceptas las
          <a target="_blank" href="/assets/legal/terminos_y_condiciones_PORTALIA.pdf">Condiciones de uso</a> y la
          <a target="_blank" href="/assets/legal/aviso_privacidad.pdf">Política de privacidad</a> de Portalia Plus
        </div>
      </div>
    </div>
  </form>



  <div class="modal fade z-index-10" id="modalVerify">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Coincidencias en nombres de empresas</h4>
        </div>
        <div class="modal-body text-center">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th>Municipio</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table">
                  <tr ng-repeat="empresa in coincidencias">
                      <td>{{ empresa.nombre }}</td>
                      <td>{{ empresa.estado }}</td>
                      <td> {{ empresa.municipio }} </td>
                      <td>
                        <div class="col-md-6">
                        <a class="btn btn-orange center-block" ng-click="goToVerificacion(empresa._id)"><i class="fa fa-building"></i> Esta es mi empresa</a>
                        </div>
                        <div class="col-md-6">
                        <a target="_blank" href="/perfil/{{ empresa._id }}" class="btn btn-orange center-block">
                          <i class="fa fa-vcard"></i> Ver empresa
                        </a>
                        </div>

                      </td>
                  </tr>
              </tbody>
          </table>

          <button class="btn btn-gray center-block" data-dismiss="modal" ng-click="verifyied = true">Continuar con mi registro</button>
          <br>
          <small class="text-center">
            En caso de que ninguna de las emrpesas enlistadas anteriormente sea la tuya, da click en continuar con el registro
          </small>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</section>
<div class="separator-sm gradient-yellow-orange"></div>





<script src="assets/js/registro.js"></script>
