<div ng-controller="MisCotizacionesController">

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1>
          Mis cotizaciones
        </h1>
      </div>
      <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href="/perfil-usuario">Inicio</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a href="#">Mis cotizaciones</a>

      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">

      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-list font-blue"></i>
              <span class="caption-subject font-blue sbold uppercase">Listado de las cotizaciones de {{ user.nombre }}</span>
            </div>
            <div class="actions">

            </div>
          </div>
          <div class="portlet-body">

            <table class="table table-striped table-hover table-bordered"
                   id="quotesTable"
            >

              <thead>
                <tr>
                  <th> Producto </th>
                  <th> Sector </th>
                  <th> Categoria </th>
                  <th> Acciones </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="quote in quotes">
                  <td> {{ quote.product }}</td>
                  <td> {{ quote.sector }}</td>
                  <td> {{ quote.category }}</td>
                  <td>
                    <button class="btn btn-primary btn-xs"
                            ng-click=" showQuote( quote._id ) "
                            ng-if=" user.paquete != 'gratis' "
                    >Ver cotización</button>
                    <button class="btn btn-primary btn-xs"
                            ng-if=" user.paquete == 'gratis' "
                            data-toggle="modal"
                            data-target="#modal-be-select"
                    >Ver cotización</button>
                  </td>
                </tr>
              </tbody>

            </table>

            <div class="row padding-30" ng-show="activeQuote" id="activeQuote">
              <div class="col-md-12 ">
                <quotationdetail></quotationdetail>
              </div>
            </div>


          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>

      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-list font-blue"></i>
              <span class="caption-subject font-blue sbold uppercase">Listado de las empresas que me contactaron</span>
            </div>
            <div class="actions">

            </div>
          </div>
          <div class="portlet-body">

            <table class="table table-striped table-hover table-bordered"
                   id="contactTable"
            >

              <thead>
              <tr>
                <th> Nombre </th>
                <th> Empresa </th>
                <th> Fecha </th>
                <th> Acciones </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="contact in contacts">
                <td> {{ contact.name }}</td>
                <td> {{ contact.from[0].nombre }}</td>
                <td> {{ contact.created_at }}</td>
                <td>
                  <button class="btn btn-primary btn-xs"
                          ng-click=" showContact ( contact ) "
                          ng-if=" user.paquete != 'gratis' "
                  >Ver contacto</button>
                  <buton class="btn btn-primary btn-xs"
                         data-toggle="modal"
                         data-target="#modal-be-select"
                         ng-if=" user.paquete == 'gratis' "
                  >Ver contacto
                  </buton>

                </td>
              </tr>
              </tbody>

            </table>

            <div class="row padding-30"
                 id="activeContact"
                 ng-if=" activeContact != null "
            >
              <div class="col-md-12 ">

                <h3 class="orange">Detalle del contacto </h3>
                <h4>
                  Nombre: <b class="orange"> {{ activeContact.name }} </b> <br><br>
                  Empresa que solicita el contacto: <b class="orange"> {{ activeContact.from[0].nombre }}</b> <br><br>
                  Empresa a quien se quiere contactar: <b class="orange"> {{ activeContact.to[0].nombre }}</b> <br><br><br>
                  Motivo por el cual se quiere contactar: <br><br>
                  <b> {{ activeContact.description }}</b>
                </h4>

              </div>
            </div>


          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>

    </div>


</div>


