
<div ng-controller="MisDatosController">
  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Datos de perfil
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Datos de perfil</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->


  <div class="row">
    <div class="col-md-6">

      <form name="generalData"
            novalidate
            ng-submit="saveGeneralData( generalData.$valid )"
      >

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">


            <div class="portlet-title">
              <div class="caption">
                <i class="icon-list font-blue"></i>
                <span class="caption-subject font-blue sbold uppercase">Datos Generales</span>
              </div>
              <div class="actions">
                <div class="btn btn-primary"
                     ng-click="allowGeneralDataEdit = true " ng-show=" ! allowGeneralDataEdit "
                     ng-hide=" allowShedulesEdit || allowProfilInfoEdit || allowSocialMediaEdit"
                >
                  <i class="icon-pencil"></i>
                  Editar
                </div>
                <button class="btn btn-success"  type="submit" ng-show=" allowGeneralDataEdit ">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
            <div class="portlet-body">

                <!-- Bloque de datos generales -->
                <div class="row">
                  <div class="form-group" >

                    <div class="col-md-6 margin-top-20 ">
                      <label for="">Nombre de empresa</label>
                      <input type="text"
                             class="form-control"
                             value="{{ user.nombre }}"
                             required
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 ">
                      <label for="">Correo</label>
                      <input type="text"
                             class="form-control"
                             value="{{ user.email }}"
                             required
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " >
                      <label for="" class="control-label">Sector</label>
                      <input type="text"
                             class="form-control text-uppercase"
                             value="{{ user.sector_name }}"
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " >
                      <label for="" class="control-label">Categoria</label>
                      <input type="text"
                             class="form-control text-uppercase"
                             value="{{ user.categoria_name }}"
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " >
                      <label for="" class="control-label">Estado</label>
                      <input type="text"
                             class="form-control"
                             value="{{ user.estado_name }}"
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " >
                      <label for="" class="control-label">Municipio</label>
                      <input type="text"
                             class="form-control"
                             value="{{ user.municipio_name }}"
                             disabled
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 ">
                      <label for="">Razón social</label>
                      <input type="text"
                             class="form-control"
                             value="{{ user.razon }}"

                             ng-disabled=" ! allowGeneralDataEdit "
                             name="razon"
                             ng-model="user.razon"
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " ng-class="{ 'has-error': ( generalData.rfc.$touched || generalData.$submitted ) && ! generalData.rfc.$valid }">
                      <label for="" class="control-label">RFC</label>
                      <input type="text"
                             class="form-control text-uppercase"
                             value="{{ user.rfc }}"
                             name="rfc"
                             pattern='^(([A-Z]|[a-z]|\s){1})(([A-Z]|[a-z]){2,3})([0-9]{6})((([A-Z]|[a-z]|[0-9]){3}))'
                             ng-model=" user.rfc "
                             ng-disabled=" ! allowGeneralDataEdit "
                      >
                      <span class="help-block" ng-show="( generalData.rfc.$touched || generalData.$submitted )&& generalData.rfc.$error.pattern">
                          Tiene que tener un formato rfc válido
                      </span>
                    </div>

                    <div class="col-md-6 margin-top-20 " ng-class="{ 'has-error': ( generalData.contact_email.$touched || generalData.$submitted ) && ! generalData.contact_email.$valid }">
                      <label for="" class="control-label">Email de contacto</label>
                      <input type="email"
                             class="form-control"
                             name="contact_email"
                             ng-model=" user.emailSec "
                             ng-disabled=" ! allowGeneralDataEdit "
                      >
                      <span class="help-block" ng-show="( generalData.contact_email.$touched || generalData.$submitted )&& generalData.contact_email.$error.email">
                          El email ingresado no contiene un formato válido
                      </span>
                    </div>

                    <div class="col-md-6 margin-top-20 " >
                      <label for="" class="control-label">Dirección</label>
                      <input type="text"
                             class="form-control"
                             name="address"
                             ng-model=" user.direccion "
                             ng-disabled=" ! allowGeneralDataEdit "
                      >
                    </div>

                    <div class="col-md-6 margin-top-20 " ng-class="{ 'has-error': ( generalData.phone.$touched || generalData.$submitted ) && ! generalData.phone.$valid }">
                      <label for="" class="control-label">Teléfono</label>
                      <input type="text"
                             class="form-control"
                             name="phone"
                             ng-model=" user.telefono "
                             ng-disabled=" ! allowGeneralDataEdit "
                             pattern="[0-9$,.]*"
                      >
                      <span class="help-block" ng-show="( generalData.phone.$touched || generalData.$submitted )&& generalData.phone.$error.pattern">
                          Tiene que tener un teléfono válido
                      </span>
                    </div>
                    <div class="col-md-6 margin-top-20 ">
                      <div class="btn" data-toggle="modal" data-target="#modalTelefonos" style="text-decoration:underline;">
                        Añadir más teléfonos
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Termina bloque de datos generales -->

            </div>


        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

                </form>

    </div>

    <div class="col-md-6">

      <form name="socialMedia"
            novalidate
            ng-submit="saveGeneralData( socialMedia.$valid )"
      >

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">


          <div class="portlet-title"  >
            <div class="caption">
              <i class="icon-user font-blue"></i>
              <span class="caption-subject font-blue sbold uppercase">Redes sociales</span>
            </div>
            <div class="actions">
              <div class="btn btn-primary"
                   ng-click="allowSocialMediaEdit = true " ng-show=" ! allowSocialMediaEdit "
                   ng-hide=" allowGeneralDataEdit || allowProfilInfoEdit || allowShedulesEdit"
              >
                <i class="icon-pencil"></i>
                Editar
              </div>
              <button class="btn btn-success"  type="submit" ng-show=" allowSocialMediaEdit ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>
          <div class="portlet-body">

            <!-- Bloque de datos generales -->
            <div class="row">
              <div class="form-group" >

                <div class="col-md-12 margin-top-20 " ng-class="{ 'has-error': ( socialMedia.facebook.$touched || socialMedia.$submitted ) && ! socialMedia.facebook.$valid }" >
                  <label for="" class="control-label">Facebook <i class="fa fa-facebook"></i></label>
                  <input type="text"
                         class="form-control"
                         name="facebook"
                         ng-model=" user.redes.facebook "
                         ng-disabled=" ! allowSocialMediaEdit "
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.facebook.$touched || socialMedia.$submitted )&& socialMedia.facebook.$error.pattern">
                      Tienes que ingresar una url válida
                  </span>
                </div>

                <div class="col-md-12 margin-top-20 "ng-class="{ 'has-error': ( socialMedia.twitter.$touched || socialMedia.$submitted ) && ! socialMedia.twitter.$valid }"  >
                  <label for="">Twitter <i class="fa fa-twitter"></i></label>
                  <input type="text"
                         class="form-control"
                         ng-disabled=" ! allowSocialMediaEdit "
                         name="twitter"
                         ng-model="user.redes.twitter"
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.twitter.$touched || socialMedia.$submitted )&& socialMedia.twitter.$error.pattern">
                      Tienes que ingresar una url válida
                  </span>
                </div>

                <div class="col-md-12 margin-top-20 " ng-class="{ 'has-error': ( socialMedia.youtube.$touched || socialMedia.$submitted ) && ! socialMedia.youtube.$valid }"  >
                  <label for="" class="control-label">Youtube <i class="fa fa-youtube"></i></label>
                  <input type="text"
                         class="form-control"
                         ng-model=" user.redes.youtube "
                         name="youtube"
                         ng-disabled=" ! allowSocialMediaEdit "
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.youtube.$touched || socialMedia.$submitted )&& socialMedia.youtube.$error.pattern">
                      Tienes que ingresar una url válida
                  </span>
                </div>

                <div class="col-md-12 margin-top-20 " ng-class="{ 'has-error': ( socialMedia.linkedin.$touched || socialMedia.$submitted ) && ! socialMedia.linkedin.$valid }"  >
                  <label for="" class="control-label">LinkedIn <i class="fa fa-linkedin"></i></label>
                  <input type="text"
                         class="form-control"
                         ng-model=" user.redes.linkedin "
                         name="linkedin"
                         ng-disabled=" ! allowSocialMediaEdit "
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.linkedin.$touched || socialMedia.$submitted )&& socialMedia.linkedin.$error.pattern">
                      Tienes que ingresar una url válida
                  </span>
                </div>

                <div class="col-md-12 margin-top-20 " ng-class="{ 'has-error': ( socialMedia.googleplus.$touched || socialMedia.$submitted ) && ! socialMedia.googleplus.$valid }"  >
                  <label for="" class="control-label">Google Plus <i class="fa fa-google"></i></label>
                  <input type="text"
                         class="form-control"
                         ng-model=" user.redes.googleplus "
                         name="googleplus"
                         ng-disabled=" ! allowSocialMediaEdit "
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.googleplus.$touched || socialMedia.$submitted )&& socialMedia.googleplus.$error.pattern">
                      Tienes que ingresar una url válida
                  </span>
                </div>

                <div class="col-md-12 margin-top-20 " ng-class="{ 'has-error': ( socialMedia.webpage.$touched || socialMedia.$submitted ) && ! socialMedia.webpage.$valid }">
                  <label for="" class="control-label">Página web de la empresa</label>
                  <input type="text"
                         class="form-control"
                         name="webpage"
                         ng-model=" user.web "
                         ng-disabled=" ! allowSocialMediaEdit "
                         pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                  >
                  <span class="help-block" ng-show="( socialMedia.webpage.$touched || socialMedia.$submitted )&& socialMedia.webpage.$error.pattern">
                    Este campo tiene que tener una url válida
                  </span>
                </div>

              </div>
            </div>
            <!-- Termina bloque de datos generales -->

          </div>


        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

      </form>


    </div>

  </div>

  <div class="row">

    <div class="col-md-12">

      <form name="userShedules"
            novalidate
            ng-submit="saveShedules( userShedules.$valid )"
      >
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light portlet-fit ">
            <div class="portlet-title">
              <div class="caption">
                <i class="icon-clock font-blue"></i>
                <span class="caption-subject font-blue sbold uppercase"> Horarios de apertura</span>
              </div>
              <div class="actions" ng-if=" user.role != 'visitante'">

                <div class="btn btn-primary"
                     ng-click="editShedules()" ng-show=" ! allowShedulesEdit "
                     ng-hide=" allowGeneralDataEdit || allowProfilInfoEdit || allowSocialMediaEdit"
                >
                  <i class="icon-pencil"></i>
                  Editar
                </div>
                <button class="btn btn-success"  type="submit" ng-show=" allowShedulesEdit ">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
            <div class="portlet-body">

              <div class="row" ng-if=" user.role != 'visitante' ">

                <div class="form-group margin-top-30">
                  <div class="col-md-6" ng-repeat=" item in user.shedules track by $index">

                    <div class="row">

                      <div class="col-md-4">
                        <div class="mt-checkbox-list">
                          <label class="mt-checkbox mt-checkbox-outline" id="day_{{ $index }}"> {{ item.day }}
                            <input type="checkbox"
                                   name="check_{{ $index }}"
                                   id="check_{{ $index }}"
                                   ng-disabled=" ! allowShedulesEdit "
                                   ng-model=" user.shedules[$index].oppened "
                            >
                            <span></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-md-4" >
                        <div class="input-group">
                          <input class="form-control"
                                 data-provide="timepicker"
                                 data-minute-step="1"
                                 type="text"
                                 placeholder="Apertura"
                                 id="opening_{{ $index }}"
                                 name="opening_{{ $index }}"
                                 ng-disabled=" ! allowShedulesEdit "
                                 ng-model=" user.shedules[$index].opening "
                          >
                          <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-clock-o"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="input-group">
                          <input class="form-control"
                                 data-provide="timepicker"
                                 data-minute-step="1"
                                 type="text"
                                 placeholder="Cierre"
                                 id="closing_{{ $index }}"
                                 name="closing_{{ $index }}"
                                 ng-disabled=" ! allowShedulesEdit "
                                 ng-model=" user.shedules[$index].closing "
                          >
                          <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-clock-o"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="row" ng-if=" user.role == 'visitante' ">
                <div class="col-md-12">
                  <h3>Algunos campos no se pueden editar por que tienes un perfil de visitante, para cambiar tu perfil a empresarial
                    <a target="_blank " href="/contacto">contáctanos</a></h3>
                </div>

              </div>

          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>

      </form>
  </div>




</div>

  <div class="row">

    <div class="col-md-12">
      <form name="profileInfo"
            novalidate
            ng-submit="saveProfileInfo( profileInfo.$valid )"
      >
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-info font-blue"></i>
              <span class="caption-subject font-blue sbold uppercase">Información de perfil</span>
            </div>
            <div class="actions" ng-if="user.role != 'visitante'" >

              <div class="btn btn-primary"
                   ng-click="editProfileInfo()" ng-show=" ! allowProfilInfoEdit "
                   ng-hide=" allowGeneralDataEdit || allowShedulesEdit || allowSocialMediaEdit"
              >
                <i class="icon-pencil"></i>
                Editar
              </div>
              <button class="btn btn-success"  type="submit" ng-show=" allowProfilInfoEdit ">
                <i class="fa fa-save"></i>
                Guardar
              </button>

            </div>
          </div>
          <div class="portlet-body">

            <div class="row" ng-if="user.role != 'visitante' " >
              <div class="form-group">
                <div class="col-md-6 margin-top-20">
                  <label for=""> Cobertura </label>
                  <select class="form-control"
                          ng-disabled="! allowProfilInfoEdit"
                          ng-model=" user.cover "
                          >
                    <option value="Local">Local</option>
                    <option value="Nacional">Nacional</option>
                    <option value="Internacional">Internacional</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 margin-top-20">
                  <label for=""> Descripción de la empresa </label>
                  <textarea rows="5"
                            class="form-control"
                            ng-disabled="! allowProfilInfoEdit"
                            ng-model=" user.about "
                  ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 margin-top-20">
                  <label for=""> Ventajas competitivas </label>
                  <textarea rows="5"
                            class="form-control"
                            ng-disabled="! allowProfilInfoEdit"
                            ng-model=" user.ventajas "
                  ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 margin-top-20">
                  <label for=""> Palabras clave <b> ( para guardar las palabras clave es necesario que ingreses cada palabra separada por , )</b></label>
                  <textarea rows="5"
                            class="form-control"
                            ng-disabled="! allowProfilInfoEdit"
                            ng-model=" user.tags "
                            id="tags"
                  ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 margin-top-20 hidden">
                  <label for=""> Productos ( para guardar las palabras clave es necesario que ingreses cada palabra separada por , )</label>
                  <textarea rows="5"
                            class="form-control"
                            ng-disabled="! allowProfilInfoEdit"
                            ng-model=" user.products "
                            id="products"
                  ></textarea>
                </div>
              </div>

              <div class="form-group" ng-show="user.paquete != 'gratis'">
                <div class="col-md-12 margin-top-20">
                  <label for="">Agregar sucursales de tu negocio: </label>
                  <button class="btn btn-orange" ng-click="sucursales()">
                    <i class="fa fa-back"></i>
                    Ir a sucursales
                  </button>
                </div>
              </div>

            </div>

            <div class="row" ng-if=" user.role == 'visitante' ">
              <div class="col-md-12">
                <h3>Algunos campos no se pueden editar por que tienes un perfil de visitante, para cambiar tu perfil a empresarial
                  <a target="_blank " href="/contacto">contáctanos</a></h3>
              </div>

            </div>


          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div id="modalTelefonos" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar teléfonos</h4>
        </div>
        <div class="modal-body">
          <p>¿Tu negocio tiene más de un teléfono para contactarlos? Introdúcelos a continuación, puedes añadir hasta 10 teléfonos</p>
          <div class="col-md-12">
            <table class="table table-hover">

              <thead>
                <tr>
                  <th>Teléfono</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="telefono in user.telefonos">
                  <td>{{ telefono.tel }}</td>
                  <td>{{ telefono.nombre }}</td>
                  <td>
                    <a href="#" class="btn btn-warning" ng-click="editPhone($index, telefono)"><i class="fa fa-pencil"></i> Editar</a>
                    <a href="#" class="btn btn-warning" ng-click="deletePhone($index)"><i class="fa fa-trash"></i> Eliminar</a>
                  </td>
                </tr>
                <tr ng-if="(user.telefonos.length < 10 && editing == false) || editing == true">
                  <td><input class="form-control" style="width:96px;" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="toAdd.tel"></td>
                  <td><input class="form-control" style="width: 110px;" type="text" onkeypress="return onlyAlphabets(event,this);" ng-model="toAdd.nombre"></td>
                  <td>
                    <a href="#" class="btn btn-editar" ng-click="addPhone()" ng-if="editing == false"><i class="fa fa-plus"></i> Agregar</a>
                    <a href="#" class="btn btn-editar" ng-click="submitEdit()" ng-if="editing == true"><i class="fa fa-pencil"></i> Editar</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
  <!-- Modal -->
</div>
<script language="Javascript" type="text/javascript">

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>
