<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1769259946646001";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<style>
.etiquetas{
  color: red !important;
  padding-right: 10px;
}
</style>
<div class="container-fluid top bot" ng-controller="postCtrl">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1" style="overflow:hidden">
      <div class="row">
        <div class="col-md-12 font-light ">
          <h2><span class="yellow">|</span> {{post.title}}</h2>
          <h4 class="gray">Publicado {{post.date}}
            <br>
				<div class="etiquetas" ng-repeat="categoria in post.categories" style="display:inline"><a href="/blog?category={{categoria.id}}&category_name={{categoria.title}}"><span class="black" > | </span>{{categoria.title}}</a></div>
			</h4>
        </div>
        <div class="col-md-12 top">
          <!-- Se le puso doble grid para alinearlo con lo demás -->
          <div class="col-md-12 bg-black font-light text-center">
            <h1>
				{{post.title}}
				</h1>
            <div ng-click="guardarArticulo()" style="-webkit-filter: brightness(500%);filter: brightness(500%);" ng-if="userData.role == 'visitante'" class="favorite">
              <img src="assets/images/icons/favorito-before.svg" class="favorite-free ico" style="margin-top: -8px;" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="separator-sm gradient-yellow-orange  "></div>
        </div>

        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
          <p class="gray top bot font-light">
            <div ng-bind-html="post.content"></div>
          </p>
        </div>
        <div class="col-xs-12">
          <div class="separator-sm gradient-yellow-orange top "></div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 font-light" style="overflow-y:auto;">
          <div class="fb-comments" data-href="window.location.href" data-width="700px" data-numposts="5"></div>

          <br> <br> <br><br>
          <br> <br> <br><br>
          <br> <br> <br><br>
          <br> <br> <br><br>
          <br> <br> <br><br>
          <br> <br> <br><br>
        </div>

        <div class="col-xs-12 col-lg-12 col-md-12">
          <div class="separator-xs bg-black top "></div>
          <p class="text-center font-light top">
            Tags:
          </p>
          <!-- <span ng-repeat="tag in post.tags" class="bg-light small-padding m-left"><a href="/blog?tag={{tag.id}}&tag_name={{tag.title}}">{{tag.title}}</a></span> -->
          <a style="z-index:100;" class="btn btn-warning tag micro-top" ng-repeat="tag in post.tags  | startFrom:currentPageTag*pageSizeTag | limitTo:pageSizeTag" href="/blog?tag={{tag.id}}&tag_name={{tag.title}}">{{tag.title}}</a>
        </div>


      </div>
    </div>

    <!-- Estos son los filtros utilizados para LG y MD -->
    <div class="col-lg-3 top">
      <div class="row">
        <div class="col-lg-8  col-md-3 hidden-sm hidden-xs ">
          <div class="panel-group border-panel" id="accordion" aria-multiselectable="false">
            <div style="text-align: center;">
              <button class="paginacionCat" ng-disabled="currentPageCat == 0" ng-click="currentPageCat=currentPageCat-1">
                 <i class="fa fa-angle-double-left" aria-hidden="true"></i>
               </button>
              <span>
            {{currentPageCat+1}}/{{numberOfPagesCat()}}
          </span>
              <button class="paginacionCat" ng-disabled="currentPageCat >= categories.length/pageSizeCat - 1" ng-click="currentPageCat=currentPageCat+1">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
            </div>
            <h3 class="yellow">CATEGORÍAS</h3>
            <div style="text-align: center;">
              <h4 class="panel-title font-light">
              <a class="no-scroll" href="/blog">
               Todas
              </a>
            </h4>
            </div>

            <div class="panel " ng-repeat="category in categories | startFrom:currentPageCat*pageSizeCat | limitTo:pageSizeCat">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title font-light">
                  <a class="no-scroll" href="/blog?category={{category.id}}&category_name={{category.title}}">
                   {{category.title}}
                  </a>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8  col-md-3 hidden-sm hidden-xs hidden">
          <div class="panel-group border-panel" id="anteriores" aria-multiselectable="false">
            <h3 class="yellow">ARTÍCULOS ANTERIORES</h3>

            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingArticulosOne">
                <h4 class="panel-title">
		              <a class="no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos1" aria-expanded="true" aria-controls="collapseArticulos1">
		                ENERO
		              </a>
		            </h4>
              </div>
              <div id="collapseArticulos1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingArticulosTwo">
                <h4 class="panel-title">
		              <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos2" aria-expanded="false" aria-controls="collapseArticulos2">
		                FEBRERO
		              </a>
		            </h4>
              </div>
              <div id="collapseArticulos2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingArticulosThree">
                <h4 class="panel-title">
		              <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos3" aria-expanded="false" aria-controls="collapseArticulos3">
		                MARZO
		              </a>
		            </h4>
              </div>
              <div id="collapseArticulos3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-8  col-md-3 hidden-sm hidden-xs">
          <div class="panel-group border-panel" id="" aria-multiselectable="true">
            <div style="text-align: center;">
              <button class="paginacionCat" ng-disabled="currentPageTag == 0" ng-click="currentPageTag=currentPageTag-1">
                 <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </button>
              <span>
            {{currentPageTag+1}}/{{numberOfPagesTag()}}
          </span>
              <button class="paginacionCat" ng-disabled="currentPageTag >= categories.length/currentPageTag - 1" ng-click="currentPageTag=currentPageTag+1">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
            </div>
            <h3 class="yellow">TAGS</h3>
            <a class="btn btn-warning tag micro-top" href="/blog">Todas</a>
            <br>
            <a class="btn btn-warning tag micro-top" ng-repeat="tag in tags  | startFrom:currentPageTag*pageSizeTag | limitTo:pageSizeTag" href="/blog?tag={{tag.id}}&tag_name={{tag.title}}">{{tag.title}}</a>

          </div>

        </div>
      </div>

    </div>

    <button id="btnFilter" class="filtros hidden-md hidden-lg" data-toggle="collapse" data-target="#myNavmenu">
      <i class="fa fa-filter"></i> Filtros
    </button>

    <!-- Estos son los  filtros para XS y SM -->
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas bg-white" role="navigation">

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default col-xs-12 bot " id="close-filter">Cerrar Menú <i class="fa   fa-close"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-group border-panel" id="accordion-xs" aria-multiselectable="false">
            <div style="text-align: center;">
              <button class="paginacionCat" ng-disabled="currentPageCat == 0" ng-click="currentPageCat=currentPageCat-1">
                  &larr;
            </button>
              <span>
            {{currentPageCat+1}}/{{numberOfPagesCat()}}
          </span>
              <button class="paginacionCat" ng-disabled="currentPageCat >= categories.length/pageSizeCat - 1" ng-click="currentPageCat=currentPageCat+1">
                 &rarr;
            </button>
            </div>
            <h3 class="yellow">CATEGORÍAS</h3>
            <div style="text-align: center;">
              <h4 class="panel-title font-light">
              <a href="/blog">
               Todas
              </a>
            </h4>
            </div>
            <div class="panel " ng-repeat="category in categories | startFrom:currentPageCat*pageSizeCat | limitTo:pageSizeCat">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title font-light">
                  <a class="clickCat" href="/blog?category={{category.id}}&category_name={{category.title}}">
                   {{category.title}}
                  </a>
                </h4>
              </div>
            </div>
            <!-- <div class="panel ">
              <div class="panel-heading" role="tab" id="headingTwo-xs">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-xs" aria-expanded="false" aria-controls="collapseTwo">
                    Construcción
                  </a>
                </h4>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingThree-xs">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-xs" aria-expanded="false" aria-controls="collapseThree">
                    Electricidad y Agua
                  </a>
                </h4>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 hidden">
          <div class="panel-group border-panel" id="anteriores-xs" aria-multiselectable="false">
            <h3 class="yellow">ARTÍCULOS ANTERIORES</h3>

            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos1-xs" aria-expanded="true" aria-controls="collapseArticulos1-xs">
                    ENERO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos1-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos2-xs" aria-expanded="false" aria-controls="collapseArticulos2-xs">
                    FEBRERO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos2-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                    <a href="">
                      <li>hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel ">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed no-scroll" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticulos3-xs" aria-expanded="false" aria-controls="collapseArticulos3-xs">
                    MARZO
                  </a>
                </h4>
              </div>
              <div id="collapseArticulos3-xs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <ul>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                    <a href="">
                      <li>Hi world</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </nav>



  </div>

</div>


<script src="assets/js/blog.js"></script>
