<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<section class="section-register-company section-register-company-background" ng-controller="registroVCrl">


  <!-- Banner de publicidad del registro -->
  <a target="_blank" href="https://distribuidornacional.com/Distribuidores-Rotoplas-en-Mexico">
    <img src="/assets/images/gifs/registro.gif" class="registro-visitante-banner" alt="">
  </a>
  <a target="_blank" href="https://distribuidornacional.com/Distribuidores-Rotoplas-en-Mexico">
    <img src="/assets/images/gifs/registro2.gif" class="registro-visitante-banner-2" alt="">
  </a>
  <!-- Termina banner de publicidad del registro -->


  <h2>REGISTRO PARA VISITANTES</h2>
  <div class="header-underline-register gradient-yellow-orange"></div>
  <div class="fb-login">
    <button type="button" class="btn btn-primary btn-facebook" onclick="window.location = '/auth/facebook'">
      Inicia sesión con facebook</button>

    <div class="or-lines">
      <div class="or-line"></div>
      <div class="or">
        <span>ó</span>
      </div>
      <div class="or-line"></div>
    </div>
  </div>
  <form novalidate name="registro">
    <div class="form-row">
      <div class="form-label">
        <span>*Correo</span>
      </div>

      <div class="form-text-field-container ">
        <input id="formEmail" ng-model="data.email" class="form-text-field bg-white" type="email" required>
      </div>
      <div class="form-label">
        <span>*Confirmar Correo</span>
      </div>

      <div class="form-text-field-container ">
        <input id="formEmailDos" ng-model="data.email2" class="form-text-field bg-white" type="email" required>
      </div>
      <label class="invalid-label hidden" id="error-correo">Los correos no son iguales</label>
      <div class="form-text-field-container" ng-show="(isValidEmail==false)" style="color: white;">
        Un usuario con este correo ya existe
      </div>
    </div>
    <label class="invalid-label hidden" id="error-mail">Email invalido</label>

    <div class="form-row">
      <div class="form-label">
        <span>*Contraseña</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.password" class="form-text-field bg-white" id="password1" type="password" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <span>*Confirmar Contraseña</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.password2" class="form-text-field bg-white" id="password2" type="password" required>
      </div>
    </div>
    <label class="invalid-label hidden" id="error-password">Las contraseñas no son iguales</label>

    <div class="form-row margin-top-30">
      <div class="form-label form-gray">
        <span>*Nombre</span>
      </div>
      <div class="form-text-field-container">
        <input id="nombreEmpresa" ng-model="data.nombre" class="form-text-field bg-white" type="text" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label form-gray">
        <span>Teléfono</span>
      </div>
      <div class="form-text-field-container">
        <input ng-model="data.telefono" id="telefono" class="form-text-field bg-white" type="text">
        <!-- Volver a hacerlo required después del testing -->
      </div>
    </div>
    <div style="width: 304px;margin: 0 auto;">
      <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
    </div>
    <div class="optional-form" style="display: inline-block;">
      <input ng-click="blog()" id="blog" type="checkbox" name="" class="chkbox check-yellow blog" value="">
      <img ng-click="blog()" src="assets/images/checkbox/yellow-normal.png" class="chkbox check-yellow" alt=""><span> Recibir Blog Quincenal</span>
      <!-- <label for="3mes">3 meses
          <span class="claro">(5% descuento)</span>
        </label> -->
      <!-- <input id="6mes" type="checkbox"> -->
    </div>
    <div id="boxes" style="display: none;" class="optional-categories">
      <div>
        <input ng-model="data.suscripcion.manufactureras" id="uno" type="checkbox" name="" value="" class="chkbox check-white">
        <img ng-click="uno()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[0].name}}</span>
        <br>
        <input value="" ng-model="data.suscripcion.construccion" id="dos" type="checkbox" name="" class="chkbox check-white">
        <img ng-click="dos()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[1].name}}</span>
        <br>
        <input value="" ng-model="data.suscripcion.elecAgua" id="tres" type="checkbox" name="" class="chkbox check-white blog" value="">
        <img ng-click="tres()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[2].name}}</span>
        <br>
      </div>
      <div>
        <input value="" id="cuatro" ng-model="data.suscripcion.agroindustria" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="cuatro()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[3].name}}</span>
        <br>
        <input value="" id="cinco" ng-model="data.suscripcion.especializados" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="cinco()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[4].name}}</span>
        <br>
        <input value="" id="seis" ng-model="data.suscripcion.turismo" type="checkbox" name="" class="chkbox check-white blog">
        <img ng-click="seis()" src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> {{sectors[5].name}}</span>

        <br>
        <br>
        <!-- <input type="checkbox" name="" class="chkbox check-white" value="">
          <img src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""><span> Seleccionar todas</span> -->

        <br>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="register-btn-container bot">
        <button>Registrarme</button>

        <button id="boton" ng-click="registrar()" class="hidden"></button>

        <div>
          <label class="invalid-label col-xs-12 hidden" id="error-general">Los campos marcados con rojo son obligatorios</label>
          <input type="checkbox" id="terms" class="chkbox check-white" required>
          <img src="assets/images/checkbox/white-normal.png" class="chkbox check-white" alt=""> Al crear una cuenta, aceptas las
          <a target="_blank" href="/assets/legal/terminos_y_condiciones_PORTALIA.pdf">Condiciones de uso</a> y la
          <a target="_blank" href="/assets/legal/aviso_privacidad.pdf">Política de privacidad</a> de Portalia Plus
        </div>
      </div>
    </div>
  </form>
</section>
<div class="separator-sm gradient-yellow-orange"></div>
<script src="assets/js/registroVisitante.js"></script>
