<div ng-controller="MisOportunidadesController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Mis oportunidades
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Mis oportunidades</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Listado de mis oportunidades </span>
          </div>
          <div class="actions">
            <h4 class="orange">Portalia lleva generadas un total de {{ totalQuotes | number}} oportunidades</h4>
          </div>
        </div>
        <div class="portlet-body">



          <h1 class="orange"
              ng-if=" documents.totalResults > 0"
          >
            Tengo un total de {{ documents.totalResults }} oportunidades
          </h1>
          <h3 class="orange text-center"
              ng-if=" documents.totalResults == 0"
          >
            No encontramos oportunidades de negocio aún, te recomendamos que tengas tu perfil completo,
            esto nos permitirá encontrar oportunidades de negocio para tu empresa, si ya tienes el perfil
            lleno puedes ponerte en contacto con nosotros para ver por que aún no tienes oportunidades de negocio
          </h3>

          <div class="row"
               ng-show="isLoading "
          >
            <div class="col-md-12">
              <img src="/assets/images/gifs/cargando.gif"
                   alt=""
                   class="center-block img-responsive"
              >
            </div>
          </div>

          <div ng-show=" ! isLoading ">


            <table class="table table-striped table-hover table-bordered margin-top-30"
                   id="quotesTable"
                   ng-show=" documents.totalResults > 0 "
            >

              <thead>
              <tr>
                <th> Producto </th>
                <th> Sector </th>
                <th> Categoria </th>
                <th> Fecha </th>
                <th> Acciones </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="entity in documents.quotes">
                <td> {{ entity.quote.product }}</td>
                <td> {{ entity.quote.sector }}</td>
                <td> {{ entity.quote.category }}</td>
                <td> {{ getDateForHummans(entity.quote.date) }}</td>
                <td>
                  <button class="btn btn-primary btn-xs"
                          ng-click=" showQuote( entity.quote ) "
                          ng-if=" user.paquete != 'gratis' "
                  >Ver cotización</button>
                  <button class="btn btn-primary btn-xs"
                          ng-if=" user.paquete == 'gratis' "
                          ng-click=" showQuote( entity.quote ) "
                  >Ver cotización</button>

                  <button class="btn btn-success btn-xs"
                          ng-click="quoted( entity )"
                          ng-show=" entity.quoted == null "
                  >
                    Coticé
                  </button>
                </td>
              </tr>
              </tbody>

            </table>

            <ul class="pagination bootpag">
              <li class="prev"
                  ng-class="{ 'disabled' : documents.actualPage + 1 == 1 }"
              >
                <a ng-href="/perfil-usuario/mis-oportunidades/{{ ( documents.actualPage == 0 ) ? 1 : documents.actualPage }}"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-class="{ 'active' : $index == documents.actualPage  }"
                  ng-repeat=" page in range( 1 , documents.numPages )"
              >
                <a ng-href="/perfil-usuario/mis-oportunidades/{{ $index + 1}}"> {{ $index + 1 }} </a>
              </li>

              <li class="next"
                  ng-class="{ 'disabled' : documents.numPages <= documents.actualPage + 1 }"
              >
                <a ng-href="/perfil-usuario/mis-oportunidades/{{ ( documents.actualPage + 1 >= documents.numPages ) ? documents.numPages : documents.actualPage + 2 }}"
                >
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>

            </ul>

            <div class="row padding-30" ng-show="activeQuote" id="activeQuote">

              <div class="col-md-12 no-padding">
                <button class="btn btn-orange"
                        ng-click=" activeQuote = false "
                >
                  Ocultar detalles
                </button>
              </div>

              <div class="col-md-12 margin-top-30">

                <quotationdetail></quotationdetail>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>


  </div>


</div>


