<div class="container-fluid" ng-controller="oportunidadesController">

  <div class="row">
  <div class="col-md-12 padding-90 bg-oportunidades">
    <img src="/assets/images/icons/oportunidades.png" class="img-responsive center-block" alt="">
    <h2 class="header-text">Solicitudes de compradores</h2>
    <div class="header-underline gradient-yellow-orange"></div>


  </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="container">

        <!-- Header alert -->
        <div class="row margin-top-20">

          <div class="col-md-12">
            <div class="notification">
              Estos son otros productos, servicios y equipos solicitados por ejecutivos que buscan proveedores, empezando por los más recientes
            </div>
          </div>

        </div>
        <!-- Termina header alert -->

        <!-- Bloque de filtros-->
        <div class="row margin-top-20">
          <div class="col-md-4">
            <label for="">Sector</label>

            <select name=""
                    id="sector"
                    class="form-control"
                    ng-show=" sectors.length > 1"
            >
              <option value="">Selecciona un sector</option>
              <option value="{{sector}}"
                      ng-repeat="sector in sectors"
              >
                {{ sector }}
              </option>
            </select>

            <button class="btn btn-block btn-warning"
                    ng-click=" setFilter('','sector')"
                    ng-show="sectors.length == 1"
            >
              {{ sectors[0] }} <i class="fa fa-close pull-right"></i>
            </button>

          </div>
          <div class="col-md-4">
            <label for="">Categoría</label>
            <select name=""
                    id="category"
                    class="form-control"
                    ng-show="categories.length > 1"
            >
              <option>Selecciona una categoría</option>
              <option value="{{ category }}"
                      ng-repeat=" category in categories "
              >
                {{ category }}
              </option>
            </select>

            <button class="btn btn-block btn-warning"
                    ng-click=" setFilter('','category')"
                    ng-show="categories.length == 1"
            >
              {{ categories[0] }} <i class="fa fa-close pull-right"></i>
            </button>

          </div>
          <div class="col-md-4">
            <label for="">Estado</label>
            <select name=""
                    id="state"
                    class="form-control"
                    ng-show="states.length > 1"
            >
              <option>Selecciona un estado</option>
              <option value="{{ state }}"
                      ng-repeat=" state in states "
              >
                {{ state }}
              </option>
            </select>

            <button class="btn btn-block btn-warning"
                    ng-click=" setFilter('','state')"
                    ng-show="states.length == 1"
            >
              {{ states[0] }} <i class="fa fa-close pull-right"></i>
            </button>
          </div>
        </div>


        <!-- Tabla de oportunidades de negocio -->
        <div class="row margin-top-20">

          <div class="col-md-12">

            <table class="table table-hover " >
              <thead>
              <tr>
                <th class="orange"> Producto de interés</th>
                <th class="orange hidden-xs"> Cantidad </th>
                <th class="orange hidden-xs"> Frecuencia </th>
                <th class="orange"> Contactar </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="quote in quotes">
                <td>{{ quote.product }}</td>
                <td class="hidden-xs">{{ quote.quantity }}</td>
                <td class="hidden-xs">{{ quote.frecuency }}</td>
                <th>
                  <a class="btn btn-warning"
                     href="/detalle-cotizacion/{{ quote._id }}"
                     ng-if="isSelect()"
                  >
                    Contactar
                  </a>
                  <button class="btn btn-warning"
                          ng-click="sendToQuote( quote._id )"
                          ng-if="! isSelect()"
                  >
                    Contactar
                  </button>

                </th>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
        <!-- Termina tabla de oportunidades de negocio -->

        <!--Paginación-->
        <div class="row ">
          <div class="col-md-10 margin-top-20">
            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                <li ng-if="currentPage != 1 && currentPage != undefined" ng-click="setFilter( before  ,'requestedPage' )">
                  <a href="#" aria-label="Previous">
                    <i class="fa fa-long-arrow-left"></i>
                  </a>
                </li>
                <li ng-repeat="n in range( lowerLimit , upperLimit )"
                    ng-class=" { 'active': n+1 == currentPage || ($index == 0 && currentPage == undefined ) } "
                >

                  <a href="#" ng-click="setFilter( n+1 ,'requestedPage' )"
                  >
                    {{ n +1}}
                  </a>

                </li>
                <li ng-if="currentPage != totalPages && currentPage != undefined">
                  <a href="#" aria-label="Next" ng-click="setFilter( next  ,'requestedPage' )">
                    <i class="fa fa-long-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--Termina paginación-->

      </div>

    </div>
  </div>

  <!-- modal-be-select es el id de este modal -->
  <modalbeselect></modalbeselect>
</div>





