<div class="container-fluid container-top" id="contenedorMadre" style="padding-right: 0px;padding-left: 0px;">


  <div class="col-md-12">
    <!-- Publicidad para todas las páginas -->
    <a  href="https://tecnotanques.com/tanques-industriales/"
        target="_blank"
    >
      <img ng-src="assets/images/gifs/{{ getRandom() }}.gif" class="img-responsive publicidad-img" loop="-1">
    </a>
  </div>


  <div class="container top " ng-show="mode == 'portalia'">
    <a style="padding-bottom: 4%;" href="/"><img src="assets/images/portalia_logo_sm.png"></a>
    <!-- Para usuario no loggeado -->
    <div class="dropdown pull-right" ng-if="!logged()">
      <button id="dLabel" class="btn btn-default btn-nav regular-16 top-10" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        REGÍSTRATE
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu multi-level drop-registro" aria-labelledby="dropdownMenu ">
        <li>
          <div class="triangle gradient-yellow-orange"></div>
        </li>
        <div class="separator-dropdown "></div>
        <li classs="white " style="cursor:pointer">
          <a href="/registro">
            <span class="item">Empresa</span>
          </a>
        </li>
        <li classs="white " style="cursor:pointer">
          <a href="/registroVisitante">
            <span class="item" >Visitante</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dropdown pull-right" ng-if="!logged()">
      <button style="font-family: inherit;" id="inicia" class="btn btn-default btn-nav regular-16 top-10" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        INICIAR SESIÓN
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu multi-level drop-inicio" aria-labelledby="dropdownMenu ">
        <li>
          <div class="triangle gradient-yellow-orange"></div>
        </li>
        <div class="separator-dropdown "></div>
        <li classs="white ">
          <a>
            <span ng-click="openLoginModal('empresa')" class="item" style="cursor:pointer">Empresa</span>
          </a>
        </li>
        <li classs="white ">
          <a>
            <span ng-click="openLoginModal('visitante')" class="item" style="cursor:pointer">Visitante</span>
          </a>
        </li>
      </ul>
    </div>
    <div id="logged" ng-if="logged()">
      <a href="" ng-click="sendToProfile()">

        <img class="img-perfil img-circle pull-right profileImg"
             ng-src="assets/images/foto-perfil-default.png"
             ng-if=" userData.profilePic == null "
             alt=""
        >
        <img class="img-perfil img-circle pull-right profileImg"
             ng-src="{{ userData.profilePic }}"
             onerror="this.src='assets/images/foto-perfil-default.png'"
             ng-if=" userData.profilePic != null "
             alt=""
        >
      </a>
      <a href="#">
        <button ng-click="logout()" class="btn btn-default btn-nav regular-16 pull-right btn-logout">CERRAR SESIÓN</button>
      </a>
      <a href="#">
        <a href="" ng-click="sendToProfile()">
          <button class="btn btn-default btn-nav regular-16 pull-right top-10 hidden-xs">
            {{userData.nombre}}
          </button>
        </a>
      </a>

      <a href="#"
         class="btn btn-oportunidades regular-16  pull-right margin-top-10 "
         ng-click=" redirect('/perfil-usuario/oportunidades-de-negocio/' + userData.categoria_name )"
         ng-if=" quotesByCategory.length > 0 "
      >
        <span class="badge "
              ng-show=" quotesByCategory.length > 0 "
        >{{ quotesByCategory.length }}</span> Oportunidades de negocio en {{ userData.categoria_name }}
      </a>

    </div>
    <div class="col-lg-4 pull-right">
      <div style="display: none;" mass-autocomplete class="inner-addon right-addon hidden-xs" id="searchBar">
        <i class="glyphicon glyphicon-search yellow"></i>
        <input id="autocomplete" ng-model="dirty.value" mass-autocomplete-item="autocomplete_options" class="form-control input-nav top-10 autocompleteNavbar" placeholder="Producto o servicio">

      </div>
    </div>
  </div>
  <nav id="barraUno" class="navbar navbar-inverse" style="margin-bottom:0px;border-radius: 4px;background-color:#27282a;" ng-show="mode == 'portalia'">
    <div class="container">
      <div class="navbar-header">
        <div id="menuText" class="hidden-lg hidden-sm hidden-md" style="right: 50%;position: absolute;display: -webkit-inline-box;text-align: center;bottom: 34.5%;color:white;">MENÚ</div>
        <button onclick="$('#menuText').toggle();" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/"><img src="assets/images/portalia_logo_sm.png"></a> -->
      </div>
      <div class="collapse navbar-collapse pagination-centered" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav top navbar-right" style="margin-top: 0em;">


          <li class="dropdown" ng-if="userData.role == 'admin'">
            <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-vcard"></i> ADMINISTRADOR <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">



              <li><a href="/admin/paymentLogs">Registros de Pagos</a></li>
              <li><a href="/admin/facturador">Facturador</a></li>
              <li><a href="/admin/promociones-contacto">Panel de promociones</a></li>


              <li role="presentation" class="divider"></li>
              <li><a href="/admin/categorias-productos">Categorias de productos</a></li>
              <li><a href="/admin/searchUser">Configuración de usuarios</a></li>
              <li><a href="/admin/panelMailing">Panel Mailing</a></li>
              <li><a href="/admin/updateLogs">Lista de modificaciones</a></li>
              <li><a href="/admin/setSuggestedTag">Palabras clave recomendadas</a></li>
              <li><a href="/admin/setCommonRegister">¿Como nos conociste?</a></li>

              <li role="presentation" class="divider"></li>
              <li><a href="/admin/registros">Panel de Registros</a></li>
              <li><a href="/admin/registro-de-accesos">Registro de accesos</a></li>

              <li role="presentation" class="divider"></li>
              <li><a href="/admin/quotationCheck">Panel de Cotizaciones</a></li>
              <li><a href="/admin/solicitud-contactos">Solicitudes de contacto</a></li>
              <li><a href="/admin/seguimiento-cotizaciones">Seguimiento de cotizaciones</a></li>
              <!--<li><a href="/admin/seguimiento-prospectos">Seguimiento de prospectos</a></li>-->
              <li><a href="/admin/exportar-cotizaciones">Exportar cotizaciones</a></li>

              <li role="presentation" class="divider"></li>
              <li><a href="/admin/autorizacion-banners">Módulo de banners</a></li>
            </ul>
          </li>


          <li class="closeNav closeNavBlack" id="inicioBoton">
            <a href="/" class="black-on-hover margin-top-5 margin-bottom-5">
              <i class="fa fa-cog icon-nav"></i> INICIO

            </a>
          </li>

          <li class="closeNav closeNavBlack" id="inicioBoton">
            <a href="/nosotros" class="black-on-hover border-navbar-left">
              <i class="fa fa-users icon-nav"></i> NOSOTROS
            </a>
          </li>


          <li class="closeNav closeNavBlack" id="blogButton">
            <a href="http://blog.portaliaplus.com/"
               class="black-on-hover border-navbar-left"
               target="_blank"
            >
              <img src="assets/images/icono_blog_inactivo.png" class="blog-img">
              BLOG
            </a>
          </li>

          <li class="closeNav closeNavBlack" id="blogButton">
            <a href="https://marketing-digital.portaliaplus.com/" class="black-on-hover border-navbar-left">
              <img src="assets/images/icono_blog_inactivo.png" class="blog-img">
              WEB MARKETING
            </a>
          </li>


          <li class="closeNav closeNavBlack" id="inicioBoton">
            <a href="/pricing" class="black-on-hover border-navbar-left">
              <i class="fa fa-dollar icon-nav"></i> PRICING
            </a>
          </li>

          <li class="closeNav closeNavBlack" id="inicioBoton">
            <a href="/contacto" class="black-on-hover border-navbar-left">
              <i class="fa fa-user icon-nav"></i> CONTÁCTANOS
            </a>
          </li>


          <li class="closeNav closeNavBlack" id="cotizacionesButton">
            <a href="/cotizaciones" class="black-on-hover border-navbar-left">
              <img src="assets/images/icons/cotiza.png" style="width: 20px;">
              COTIZA
            </a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-inverse" id="nav-submenu" ng-show="mode == 'portalia'">
    <div class="container">
      <div class="navbar-header">
        <div id="sectorsText" class="hidden-lg hidden-md hidden-sm" style="right: 43%;position: absolute;display: -webkit-inline-box;text-align: center;bottom: 34.5%;">SECTORES</div>
        <button onclick="$('#sectorsText').toggle();" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/"><img src="assets/images/portalia_logo_sm.png"></a> -->
      </div>
      <div class="collapse navbar-collapse pagination-centered" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav top navbar-right hidden-xs navbar-border">
          <li ng-class="{'btn-on' : activeMenu === sectores.name}" class="navbar-border-li" style="font-size:9pt;" ng-click="setActive(sectores.name, $index)" ng-repeat="sectores in sectors">
            <a href="#" class="amenu navbar-a margin-left-10 margin-right-10">
              <img src="assets/images/iconos_sectores/{{sectores._id}}.jpg" class="navbar-img">
              <div class="navbar-span" ng-if="( sectores.name.split(' ').length == 1 )">
                <span ng-bind-html="sectores.name"></span><br><br>
              </div>
              <div class="navbar-span" ng-if="( sectores.name.split(' ').length == 2 )">
                <span ng-bind-html="getHtmlResource2( sectores.name )"></span>
              </div>
              <div class="navbar-span" ng-if="( sectores.name.split(' ').length > 2 )">
                <span ng-bind-html=" getHtmlResource( sectores.name ) "></span>
              </div>
            </a>
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav top navbar-right visible-xs" style="margin-top: 0em;">
          <li ng-repeat="sectores in sectors">
            <a href="#">
              <div><img src="assets/images/iconos_sectores/{{sectores._id}}.jpg"></div>
            </a>
          </li>
        </ul> -->
        <!-- <ul class="nav navbar-nav top navbar-right visible-xs" style="margin-top: 0em;">
          <li ng-repeat="sectores in sectors">
            <a href="#">
              <div><img src="assets/images/iconos_sectores/{{sectores._id}}.jpg"></div>
            </a>
          </li>
        </ul> -->
        <div ng-click="goToSectorMob($index)" ng-repeat="sectores in sectors" style="padding-left: 20%;" ng-if="$index < (sectors.length / 2)" class="nav navbar-nav top navbar-right col-xs-6 visible-xs-block border"><img style="width:60px;" src="assets/images/iconos_sectores/{{sectores._id}}.jpg"><br><span style="display: block;line-height: 85%;font-size:10px;">{{sectores.name}}</span></div>
        <div ng-click="goToSectorMob($index)" ng-repeat="sectores in sectors" style="padding-left: 20%;" ng-if="$index >= (sectors.length / 2)" class="nav navbar-nav top navbar-right col-xs-6 visible-xs-block border"><img style="width:60px;" src="assets/images/iconos_sectores/{{sectores._id}}.jpg"><br><span style="display: block;line-height: 85%;font-size:10px;">{{sectores.name}}</span></div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-inverse" style="margin-bottom:0px;border-radius: 4px;background-color:#b9b4b4;border:0px;display:none;padding-top:2.5%;padding-bottom:2.5%;" id="menuDrop" ng-show="mode == 'portalia'">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" id="colapsar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/"><img src="assets/images/portalia_logo_sm.png"></a> -->
      </div>
      <div class="collapse navbar-collapse pagination-centered" id="bs-example-navbar-collapse-3" style="line-height: 165%;">
        <div class="row rowprron" style="padding-left: 30%;font-size:12pt;">
          <div class="pull-left" style="left: 15%;position: absolute;"><img class="pull-left" style="width: 63px;;" src="assets/images/iconos_sectores/{{idSector}}.jpg"></div>
          <div style="cursor:pointer;font-size: 11pt"
               ng-click="goToSector($index)"
               class="col-lg-6 col-md-6 hover"
               ng-repeat="subsectors in sectors[indiceDrop].subsectores"
               ng-if="$index < (sectors[indiceDrop].subsectores.length / 2)">
            <a style="color:black;" ng-href="/anuncios/pagina-1/sector-{{sectors[indiceDrop].name}}/categoria-{{sectors[indiceDrop].subsectores[$index].name}}/tipo-producto">{{subsectors.name}}</a>
          </div>
          <div style="cursor:pointer;font-size: 11pt"
               ng-click="goToSector($index)"
               class="col-lg-6 col-md-6 hover"
               ng-repeat="subsectors in sectors[indiceDrop].subsectores"
               ng-if="$index >= (sectors[indiceDrop].subsectores.length / 2)">
            <a style="color:black;" ng-href="/anuncios/pagina-1/sector-{{sectors[indiceDrop].name}}/categoria-{{sectors[indiceDrop].subsectores[$index].name}}/tipo-producto">{{subsectors.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </nav>


</div>



<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9000;">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="pull-right btn-close-modal" data-dismiss="modal">
        <i class="fa fa-remove"></i>
      </a>
      <div class="modal-body top">
        <div class="row top" ng-show="mode == 'portalia' && type == 'visitante'">
          <div class="btn-group col-xs-12">
            <button type="button" class="btn btn-primary btn-facebook col-xs-2" onclick="window.location = '/auth/facebook'">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary btn-facebook col-xs-10" onclick="window.location = '/auth/facebook'">
              Inicia sesión con facebook</button>
          </div>
        </div>

        <div class="row" ng-show="mode == 'portalia' && type == 'visitante'">
          <div class="col-xs-5 mid-border"></div>
          <h1 class="col-xs-2 text-center o-separator">Ó</h1>
          <div class="col-xs-5 mid-border"></div>
        </div>
        <br>
        <input class="form-control text-modal font-light" placeholder="Correo electrónico" ng-model="data.email" type="email" name="name" value="">
        <input class="form-control text-modal font-light top" data-ng-keypress="data.onFolderNumberKeyPress($event)" placeholder="Contraseña" ng-model="data.password" type="password" name="name" value="">
        <a ng-show="mode == 'portalia'" href="/reestablecerContrasena" onclick="$('#myModal').modal('hide')" class="orange pull-right">¿Has olvidado tu contraseña?</a>
        <br>
        <br>
        <input id="recuerdame" type="checkbox" ng-show="mode == 'portalia'" />
        <label ng-show="mode == 'portalia'" for="recuerdame">Recuérdame siempre
        </label>
        <br>
        <!-- TODO cambiar cuando este terminado-->
        <button class="btn btn-login text-center col-xs-12 micro-top" ng-click="logearse()">Iniciar Sesión</button>

        <div class="row" ng-show="mode == 'portalia'">
          <br>
          <br>
          <div class="mid-border"></div>
        </div>
        <div class="row" ng-show="mode == 'portalia'">
          <br>
          <p class="font-light">¿No tienes una cuenta? Regístrate como
            <a onclick="$('#myModal').modal('hide')" class="yellow" href="/registro">
              empresa</a> o
            <a onclick="$('#myModal').modal('hide')" class="yellow" href="/registroVisitante">
              visitante
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!--
<button class="btn btn-promociones text-uppercase "
        data-toggle="modal"
        data-target="#modalPromocion"
>
  <img src="/assets/images/botones/promociones.png" alt="">
</button>
-->


<!-- Modal -->
<div class="modal fade" id="modalPromocion" tabindex="-1" role="dialog" aria-labelledby="modalPromocionLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content transparent no-padding-xs">

      <div class="modal-body no-padding-xs">
        <button ng-click="sendToContact()"
           data-dismiss="modalPromocion"
           class="center-block"
        >
          <img src="/assets/images/banner/buenfin-lg.jpg"
               class="img-promociones hidden-sm hidden-xs center-block"
               alt=""
          >
          <img src="/assets/images/banner/buenfin-cel.jpg"
               class="img-promociones visible-sm visible-xs"
               alt=""
          >
        </button>
      </div>

    </div>
  </div>
</div>



<script type="text/javascript" src="assets/js/ScrollFade.js"></script>
<script type="text/javascript" src="assets/js/jquery.autocomplete.js"></script>

<script>
  // $('html').click(function() {   $('#myModal').hide(); })   $('#esconder').click(function (e) {     e.stopPropagation();   }); $('#myBtn').click(function(e) {   $('#myModal').toggle(); });
</script>
<script>
  $("#txtSearch").attr('hidden', 'true');
  $(document).ready(function() {
    $('.closeNav ').on('click', function() {
      $('.navbar-toggle').click() //bootstrap 3.x by Richard
    });
  })
</script>
