<div ng-controller="SetCommonRegisterCtr" class="container">
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <input class="form-control"
               type="text"
               placeholder="Ingresa el nuevo nombre o cierre este cuadro..."
               ng-model="aEditar.name"
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveName()">Guardar cambios</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <h1 class="text-center">
        Porque medio nos conociste
    </h1>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control"
                   type="text"
                   placeholder="Agregar un nuevo elemento"
                   ng-model="text"
                   ng-keypress="($event.which === 13)?addCommonRegister():0"
            >
        </div>
        <div class="col-md-6">
            <button class="btn btn-warning" ng-click="addCommonRegister()">
                <i class="fa fa-plus"></i> Agregar
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 margin-top-30">
            <table class="table table-striped table-hover " id="sample_editable_1">
                <thead>
                <tr>
                    <th>Registro</th>
                    <th>Conteo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in commonRegisters">
                    <td> {{ item.name }} </td>
                    <td> {{ item.count }} </td>
                    <td>
                        <button class="btn btn-danger"
                                ng-click="deleteCommonRegister(item._id)"
                        > <i class="fa fa-trash"></i> Eliminar</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" ng-click="editOpen(item)"> Editar </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>
