

<div class="row">
	
	<div class="col-md-12">
		
		<h1>
			Horarios de atención 
			<button ng-if="logged()" class="btn btn-editar" ><i class="fa fa-edit"></i> Editar</button>
			<button  class="btn btn-editar" data-toggle="modal" data-target="#modal-view-hr">Mostrar</button>
		</h1>
		

		
	</div>

</div>



<!-- Modal -->
<div class="modal fade" id="modal-view-hr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content no-overflow">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
			
				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>