<div ng-controller="ContactController">

  <div class="row">

    <!-- Para cuando el usuario esta loggeado abre el modal -->
    <p class="light-16 text-center pointer" >
      <a href="#"
         data-toggle="modal"
         data-target="#contact-business"
         ng-if=" user._id != undefined "
      >{{ message }}</a>
    </p>

    <!-- Cuando el usuario no está loggeado abre el modal de loggin -->
    <p class="light-16 text-center pointer" >
      <a href="#"
         ng-click=" openLoginModal('empresa')"
         ng-if=" user._id == undefined "
      >{{ message }}</a>
    </p>

  </div>

  <!-- /.modal -->

  <!--Modal de contacto a empresas-->
  <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="contact-business" aria-hidden="true" id="contact-business">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-center orange-dark" >
            Contacta a esta empresa <br>
            <b>Solo los miembros select o plus</b> del portal tienen acceso directo a los datos de las empresas
          </h3>
          <a class="pull-right btn-close-modal" data-dismiss="modal">
            <i class="fa fa-remove"></i>
          </a>
        </div>
        <div class="modal-body">


          <form name="contactBusinessForm"
                class="form"
                ng-submit="setContact( contactBusinessForm.$valid )"
                novalidate
          >

            <div class="row border-orange padding-10">
              <div class="col-md-6">

                <div class="form-group"
                     ng-class="{ 'has-error': ( contactBusinessForm.name.$touched || contactBusinessForm.$submitted ) && ! contactBusinessForm.name.$valid }"
                >
                  <label for="name">Nombre</label>
                  <input type="text"
                         class="form-control no-radius"
                         name="name"
                         ng-required="true"
                         ng-model="contactData.name"
                  >
                  <span class="help-block" ng-show="( contactBusinessForm.name.$touched || contactBusinessForm.$submitted ) && contactBusinessForm.name.$error.required">
                      El campo nombre es requerido
                  </span>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': ( contactBusinessForm.email.$touched || contactBusinessForm.$submitted ) && ! contactBusinessForm.email.$valid }"
                >
                  <label for="email">Correo</label>
                  <input type="email"
                         class="form-control no-radius"
                         name="email"
                         ng-required="true"
                         ng-model="contactData.email"
                  >
                  <span class="help-block" ng-show="( contactBusinessForm.email.$touched || contactBusinessForm.$submitted ) && contactBusinessForm.email.$error.required">
                      El correo es requerido
                  </span>
                  <span class="help-block" ng-show="( contactBusinessForm.email.$touched || contactBusinessForm.$submitted ) && contactBusinessForm.email.$error.email">
                      El correo tiene un formato incorrecto
                  </span>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': ( contactBusinessForm.phone.$touched || contactBusinessForm.$submitted ) && ! contactBusinessForm.phone.$valid }"
                >
                  <label for="phone">Teléfono</label>
                  <input type="tel"
                         class="form-control no-radius"
                         name="phone"
                         ng-required="true"
                         ng-model="contactData.phone"
                  >
                  <span class="help-block" ng-show="( contactBusinessForm.phone.$touched || contactBusinessForm.$submitted ) && contactBusinessForm.phone.$error.required">
                      El campo teléfono es requerido
                  </span>
                </div>

              </div>

              <div class="col-md-6 bg-black container-rounded">
                <div class="row">
                  <div class="col-md-12 padding-20">
                    <div class="form-group"
                         ng-class="{ 'has-error': ( contactBusinessForm.description.$touched || contactBusinessForm.$submitted ) && ! contactBusinessForm.description.$valid }"
                    >
                      <label for="description">Motivo del contacto</label>
                      <textarea name="description"
                                cols="30"
                                rows="5"
                                class="form-control"
                                ng-required="true"
                                ng-model="contactData.description"
                      ></textarea>
                      <span class="help-block" ng-show="( contactBusinessForm.description.$touched || contactBusinessForm.$submitted ) && contactBusinessForm.description.$error.required">
                          Es necesario que ingreses el motivo del contacto
                      </span>
                    </div>

                    <div class="form-group">
                      <button class="btn btn-orange-dark btn-block " >
                        <i class="fa fa-envelope"></i>
                        <span class="hidden-sm">Contactar</span>
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>





          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Modal de contacto a empresas-->

</div>
