<section class="search-industrial-solutions home-background container-fluid">

  <div class="col-md-12">
  <update-title title="Directorio de Empresas Industriales Portalia Plus"></update-title>
  <update-meta name="description" content="Anúnciate gratis en nuestro directorio para empresas. Soluciones especializadas para tu negocio. Además disfruta de beneficios para hacer crecer tus ventas."></update-meta>
  <update-meta name="title" content="Directorio de Empresas Industriales Portalia Plus"></update-meta>

  <div class="search-container ">
    <div class="text-center">
      <h1 class="industrial-solutions-text" ng-click="log()">SOLUCIONES INDUSTRIALES <br> PARA TODOS</h1>
    </div>
    <div class="industrial-solutions-line gradient-yellow-orange"></div>
    <h4 style="color: white;text-align: center;">Somos el directorio industrial con más beneficios en el mercado</h4>
    <br>
    <div class="row">
      <div mass-autocomplete>

          <div class="col-md-12">
            <div class="btn-group btn-100" data-toggle="buttons">

              <div class="row">

                <div class="col-md-6 hidden-sm hidden-xs ">
                  <label class="btn btn-warning  pull-right" ng-click="changeTipo('producto')">
                    <input type="radio" name="options"  ng-model="dataQuery.tipoBusqueda" value="producto" autocomplete="off" > Buscar por productos y servicios
                  </label>
                </div>
                <div class="col-md-6 hidden-sm hidden-xs ">
                  <label class="btn btn-warning active" ng-click="changeTipo('nombre')">
                    <input type="radio" name="options"  ng-model="dataQuery.tipoBusqueda" value="nombre" autocomplete="off" checked> Buscar por nombre de empresa
                  </label>
                </div>

                <div class="col-xs-12 visible-sm visible-xs ">
                  <label class="btn btn-warning  center-block" ng-click="changeTipo('producto')">
                    <input type="radio" name="options"  ng-model="dataQuery.tipoBusqueda" value="producto" autocomplete="off" > Buscar por productos y servicios
                  </label>
                </div>
                <div class="col-xs-12 visible-sm visible-xs ">
                  <label class="btn btn-warning center-block margin-top-15 active" ng-click="changeTipo('nombre')">
                    <input type="radio" name="options"  ng-model="dataQuery.tipoBusqueda" value="nombre" autocomplete="off" checked> Buscar por nombre de empresa
                  </label>
                </div>

              </div>


            </div>
          </div>

        <div class="col-md-10 col-xs-12 margin-top-15"
             ng-show="dataQuery.tipoBusqueda == 'nombre' || true "
        >


          <div class="row" >

            <div class="form-group">

              <div class="col-md-3 col-xs-12 top-xs-new">
                <input ng-keyup="$event.keyCode == 13 ? prueba() : null" ng-model="dataQuery.keyword" type="text" class="search-bar-four form-control" placeholder="¿Qué estás buscando?">
              </div>
              <div class="col-md-3 col-xs-12 top-xs-new" ng-keyup="$event.keyCode == 13 ? prueba() : null">

                <div mass-autocomplete >
                  <input type="text"
                         id="state"
                         class="search-bar-four form-control autocompleteNavbar"
                         maxlength="50"
                         placeholder="Ciudad, estado o municipio"
                         ng-model="dirty.value"
                         mass-autocomplete-item="autocomplete_options"
                  >
                </div>

              </div>
              <div class="col-md-3 col-xs-12 top-xs-new">
                <select ng-model="dataQuery.sector" ng-change="changeSector(dataQuery.sector)" id="sector" class="search-bar-four form-control" type="text">
                  <option value="">Todos los sectores</option>
                  <option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-12 top-xs-new">
                <select ng-model="dataQuery.categoria" ng-change="changeCategoria(data.categoria)" class="search-bar-four form-control" type="text" id="categoria">
                  <option value="">Todas las categorías</option>
                </select>
              </div>

            </div>

          </div>


        </div>

        <div class="col-md-12"
             ng-show="false"
        >

          <div class="row margin-top-20" >



              <div class="col-md-8 col-md-offset-2 col-xs-12 top-xs-new">
                <input ng-keyup="$event.keyCode == 13 ? searchProducts() : null"
                       ng-model="dataQuery.product"
                       type="text"
                       class="search-bar-four form-control"
                       placeholder="¿Qué producto estás buscando?"
                >
              </div>

              <div class="col-md-12 margin-top-15">
                <button class="search-bar-button center-block"
                        ng-click="searchProducts()"
                >BUSCAR</button>
              </div>


          </div>

        </div>

      </div>
      <div class="col-md-2 col-xs-12 margin-top-30"
           ng-show="dataQuery.tipoBusqueda == 'nombre' || 1==1 "
      >
        <button class="search-bar-button" ng-click="prueba()">BUSCAR</button>
        <br class="visible-xs"><br class="visible-xs">
      </div>
    </div>

    <a href="#news" class="down-arrow hidden-xs"></a>
  </div>

  </div>
</section>


  <!-- Contenedor principal -->
  <div class="container-fluid">

    <!-- Separador -->
    <div class="row">
        <div class="separator-home gradient-yellow-orange"></div>
    </div>
    <!-- Separador -->

    <!-- Banner oportunidades de negocio y eventos -->
    <div class="row banner bg-index">
      <div class="col-md-12">
        <div class="container">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h2>OPORTUNIDADES DE NEGOCIO <br>
              <span class="visible-sm visible-xs">Y <br> EVENTOS</span>
            </h2>
            <hr class="gradient-yellow-orange">
          </div>
          <div class="col-md-6 hidden-sm hidden-xs">
            <h2>EVENTOS</h2>
            <hr class="gradient-yellow-orange">
          </div>
      </div>
      </div>
    </div>
    <!-- Termina banner oportunidades de negocio y eventos -->

    <a href="https://tecnotanques.com/tanques-industriales/"
       target="_blank"
    >
      <img src="/assets/images/gifs/3.gif" alt="" class="banner-left">
    </a>

    <a href="https://tecnotanques.com/tanques-industriales/"
       target="_blank"
    >
      <img src="/assets/images/gifs/4.gif" alt="" class="banner-right">
    </a>

    <div class="container">


      <!-- Bloque de oportunidades de negocio -->
      <div class="row padding-30 no-padding-xs" >


        <div class="col-md-6 ">

          <img src="assets/images/icons/oportunidades_2.jpg" class="img-center-absolute img-icon-medium" alt="">
          <div class="row padding-30 margin-top-100">

            <div class="col-md-12 rounded b-gray container-v">
              <!-- Título bloque -->
              <div class="row">
                <div class="col-md-12 text-center margin-top-30">
                  <h4 class="orange">
                    <br>
                    <br>Oportunidades de negocio
                  </h4>
                </div>
              </div>
              <!-- Título bloque -->

              <!-- Bloque listado de cotizaciones destacadas -->
              <div class="row" ng-repeat="quote in topQuotes | limitTo:12" ng-class="{ 'margin-top-30': $index==0}">

                <div class="col-md-12 padding-left-30 hidden-sm hidden-xs">
                  <p class="title-gray"> {{ quote.product.slice(0,20) }} {{ (quote.product.length >= 20)? '...' : '' }}

                    <a class="btn btn-warning pull-right"
                       href="/detalle-cotizacion/{{ quote._id }}"
                       ng-if="isSelect()"
                    >
                      Contactar <br>Compradores
                    </a>

                    <button class="btn btn-warning pull-right"
                            ng-if="! isSelect()"
                            ng-click="sendToQuote( quote._id )"
                    >Contactar <br>Compradores</button>

                  </p>
                </div>

                <div class="col-xs-12 visible-sm visible-xs">
                  <p class="gray text-center"> {{ quote.product }}</p>
                  <a class="btn btn-warning center-block"
                     href="/detalle-cotizacion/{{ quote._id }}"
                     ng-if="isSelect()"
                  >
                    Contactar <br>Compradores
                  </a>

                  <button class="btn btn-warning center-block"
                          ng-click="sendToQuote( quote._id )"
                          ng-if="! isSelect()"
                  >Contactar <br>Compradores</button>


                </div>

                <!-- modal-be-select es el id de este modal -->
                <modalbeselect></modalbeselect>

                <div class="col-md-12">
                  <hr>
                </div>

              </div>

              <!-- Bloque listado de cotizaciones destacadas -->

              <!-- Botón ver todas -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <a href="/oportunidades-de-negocio" class="btn btn-orange-dark center-block margin-top-20 margin-bottom-20 btn-100" >
                    <span class="hidden-sm">VER TODAS</span>
                  </a>
                </div>
              </div>
              <!-- Botón ver todas -->

            </div>

          </div>

        </div>

        <!-- Bloque de eventos -->
        <div class="col-md-6 ">
          <img src="assets/images/icons/calendario.jpg" class="img-center-absolute img-icon-medium" alt="">
          <div class="row padding-30 margin-top-100">

            <div class="col-md-12  rounded b-gray container-v " >

              <!-- Título bloque -->
              <div class="row">
                <div class="col-md-12 text-center margin-top-30">
                  <h4 class="orange">
                    <br>
                    <br>Eventos
                  </h4>
                </div>
              </div>
              <!-- Título bloque -->

              <!-- Bloque listado de eventos -->


              <a class="left carousel-control" role="button"
                 ng-click=" activeEvent = activeEvent - 1 "
                 ng-show=" activeEvent >= 1"
              >
                <span class="glyphicon glyphicon-chevron-left" ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control"
                 ng-click=" activeEvent = activeEvent + 1 " role="button"
                 ng-show=" activeEvent < destacados.length -1"
              >
                <span class="glyphicon glyphicon-chevron-right" ></span>
                <span class="sr-only">Next</span>
              </a>

              <div ng-repeat="event in destacados"
                   ng-show=" $index == activeEvent "
              >

                <img    class="center-block img-responsive"
                        ng-src="/assets/uploads/eventos/{{ event.imagen }}"
                >
                <h3 class="text-center orange">{{ event.title }}</h3>
                <p class="text-center">
                  {{ event.description }} <br>
                  <span class="orange">Inicio: </span> {{ getMommentHummans( event.start ) }} <br>
                  <span class="orange">Fin: </span> {{ getMommentHummans( event.end ) }}
                </p>
              </div>


            </div>

          </div>


        </div>
        <!-- Termina bloque de eventos -->


      </div>
      <!-- Termina oportunidades de negocio-->

    </div>


    <!-- Top 12 empresas -->
    <div class="row banner bg-index">
      <div class="col-md-12">
        <h2>TOP 12 EMPRESAS DESTACADAS</h2>
        <hr class="gradient-yellow-orange">
      </div>
    </div>

    <div class="container">
      <div class="row padding-30">
        <div class="col-md-3  ">
          <img src="assets/images/icons/top12.jpg" class=" img-100" alt="">
        </div>
        <div class="col-md-9 margin-top-30">
          <p class="">
            Estas son las 12 empresas más destacadas registradas en nuestro directorio industrial.
            Es importante reconocer a las empresas de diferentes sectores industriales que cuentan
            con un rendimiento alto en consultas y respuestas a clientes. Sé una empresa destacada
            y tú al igual que ellas aprovecha al máximo las oportunidades de negocio que nuestro
            portal industrial ofrece
          </p>
        </div>
      </div>

      <div  class="row  margin-top-20 " >

        <div ng-repeat="item in topUsers track by $index"
             class="col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1 margin-top-20 "
        >
          <div class="row">
            <div class="col-md-12 margin-bottom-30">
              <div
                   class="top-bussiness-home"
              >
                <a href="/perfil/{{ item._id }}/{{ item.nombre.split(' ').join('-') }}" target="_blank">

                  <div class="top-bussiness-img">
                    <img ng-if="item.hasPic == true" ng-src="assets/uploads/{{item.sector_name}}/{{item.categoria_name}}/{{item._id}}/foto-perfil.jpg"
                         class="img-responsive  center-block"
                         onerror="this.src='assets/images/foto-perfil-default.png'"
                    >
                    <img ng-if="item.hasPic == false" ng-src="assets/images/iconos_sectores/{{ item.sector }}.jpg"
                         class="img-responsive  center-block"
                         onerror="this.src='assets/images/foto-perfil-default.png'"
                    >
                  </div>
                </a>
                <br>

                <h5 class="orange">

                  <div class="col-xs-12">
                    <a class="orange text-center visible-xs" href="/perfil/{{ item._id }}/{{ item.nombre.split(' ').join('-') }}" target="_blank" >
                      {{ item.nombre.slice(40) }}
                      {{ (item.nombre.length >= 40)? '...' : '' }}
                      {{ (item.nombre.length == 0)? 'Sin datos':'' }}
                    </a>
                  </div>

                  <a class="orange hidden-xs" href="/perfil/{{ item._id }}/{{ item.nombre.split(' ').join('-') }}" target="_blank" >
                    {{ item.nombre.slice(0,13)  }}
                    {{ (item.nombre.length >= 15)? '...' : '' }}
                    {{ (item.nombre.length == 0)? 'Sin datos':'' }}
                  </a>

                </h5>

                <h5 class="text-center-xs"><br class="visible-xs">
                  {{item.estado_name.slice(0,30) }}</h5>
                <div class="rate orange text-center-xs">
                  <i class="fa fa-star"
                     ng-repeat="stars in getStars(item.stars) track by $index"
                  ></i>
                </div>

                <p class="margin-top-10 text-center-xs">
                  <span class="orange">Categoria: <br> </span> {{item.categoria_name.slice(0,15) }}
                </p>
                <p class="text-center-xs">
                  <span class="orange ">Servicio: <br> </span>{{item.sector_name.slice(0,15) }}
                </p>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- Termina top 12 -->

    <!-- Banner oportunidades de negocio y eventos -->
    <div class="row banner bg-index">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
        <h2>
          TOP 12 BÚSQUEDAS
          <span class="visible-sm visible-xs"> Y <br> ECONOMÍA</span>
        </h2>
        <hr class="gradient-yellow-orange">
      </div>
            <div class="col-md-6 hidden-sm hidden-xs">
        <h2>ECONOMÍA</h2>
        <hr class="gradient-yellow-orange">
      </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Termina banner oportunidades de negocio y eventos -->

    <div class="container">

      <!-- Bloque de economía y finanzas -->
      <div class="row padding-30 no-padding-xs" >


        <div class="col-md-6   ">

          <img src="assets/images/icons/top12_busquedas.jpg" class="img-center-absolute img-icon-medium margin-top-60 no-margin-xs" alt="">
          <div class="row padding-30 margin-top-100">

            <div class="col-md-12 rounded b-gray container-v-small">

              <!-- Bloque listado de cotizaciones destacadas -->

              <div class="row" ng-repeat="search in topSearch | orderBy:'-' | limitTo: 12" ng-class="{ 'margin-top-30': $index==0}">

                <div class="col-md-12 padding-left-30">
                  <p class="title-gray-small">{{ search.key }} </p>
                </div>

                <div class="col-md-12">
                  <hr>
                </div>

              </div>

              <!-- Bloque listado de cotizaciones destacadas -->

            </div>

          </div>

        </div>

        <!-- Bloque de divisas -->
        <div class="col-md-6 ">
          <img src="assets/images/icons/economia.jpg" class="img-center-absolute img-icon-medium margin-top-30 no-margin-xs" alt="">
          <div class="row padding-30 margin-top-100">

            <div class="col-md-12  rounded b-gray container-v-small " >

              <div class="row margin-top-60 no-margin-xs">

                <div class="col-md-12 margin-top-30">

                  <div class="row text-center">
                    <div class="col-md-4 col-md-offset-4 col-xs-5 col-xs-offset-2 margin-top-30">
                      <h5 class="orange">COMPRA</h5>
                    </div>
                    <div class="col-md-4 col-xs-5 margin-top-30">
                      <h5 class="orange">VENTA</h5>
                    </div>
                  </div>
                  <div class="row text-center margin-top-30">
                    <div class="col-md-4 col-xs-2"><span class="orange">$</span></div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.usdAsk }} </div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.usdBid }} </div>
                  </div>
                  <div class="row text-center margin-top-30">
                    <div class="col-md-4 col-xs-2"><span class="orange">€</span></div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.eurAsk }} </div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.eurBid }} </div>
                  </div>
                  <div class="row text-center margin-top-30">
                    <div class="col-md-4 col-xs-2"><span class="orange">£</span></div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.gbpAsk }} </div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.gbpBid }} </div>
                  </div>
                  <div class="row text-center margin-top-30">
                    <div class="col-md-4 col-xs-2"><span class="orange">¥</span></div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.cnyAsk }} </div>
                    <div class="col-md-4 col-xs-5"> {{ resultadosYahoo.moneda.cnyBid }} </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Termina bloque de divisas -->


      </div>
      <!-- Termina economía y finanzas-->

    </div>

  </div>
<!-- Termina contenedor principal-->




<section class="news" id="news">
  <div class="separator-home gradient-yellow-orange"></div>
  <div class="news-header home-background-bottom">
    <h2 class="news-header-text">NOTICIAS DESTACADAS</h2>
    <div class="news-header-line gradient-yellow-orange"></div>
  </div>
  <div class="news-space">
    <div class="container ">
      <div class="row">

        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen0" />
              <div class="new-number">1</div>
              <div class="new-title" id="noticia0" style="font-size: 1.14rem; margin-top: 6.5px;"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link0" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen1" />
              <div class="new-number">2</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia1"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link1" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen2" />
              <div class="new-number">3</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia2"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link2" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen3" />
              <div class="new-number">4</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia3"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link3" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen4" />
              <div class="new-number">5</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia4"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link4" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen5" />
              <div class="new-number">6</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia5"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link5" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen6" />
              <div class="new-number">7</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia6"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link6" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img src="assets/images/thumbnail-info.png" id="imagen7" />
              <div class="new-number">8</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;" id="noticia7"></div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a id="link7" target="_blank" href="#">Leer más</a>
              </div>
            </div>
          </div>
        </div>
        <div ng-repeat="post in postsPrint | limitTo:4" class="col-sm-6 col-md-3 col-lg-3 medium-top">
          <div class="new">
            <div class="new-thumbnail">
              <img style="background: url({{post.attachments[0].images.medium.url}}) 0% 0% / cover;" src="assets/images/thumbnail-info.png" />
              <div class="new-number">{{$index+9}}</div>
              <div class="new-title" style="font-size: 1.14rem; margin-top: 6.5px;">{{post.title}}</div>
            </div>
            <div class="new-info">
              <div class="read-more">
                <a target="_blank" href="/blog/post/{{post.slug}}/{{post.id}}">Leer más</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
<div id="modal-promocion" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="pull-right btn-close-modal" data-dismiss="modal">
        <i class="fa fa-remove"></i>
      </a>
      <div class="modal-body top">
        <h2 class="text-center">Invita a tus amigos y obtén hasta 2,500 MXN de crédito en PortaliaPlus</h2>
        <br>
        <p class="text-center">
          Es muy sencillo, sólo tienes que invitar a tus amigos, ellos se registrarán con el link.
        </p>
        <br>
        <img src="assets/images/icons/smile.png" alt="" class="img-center">
        <br>
        <a class="btn btn-warning btn-40 col-xs-12" ng-click="gotoRegistro()">Más información</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
<div id="modal-evento" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="pull-right btn-close-modal" data-dismiss="modal">
        <i class="fa fa-remove"></i>
      </a>
      <div class="modal-body top">
        <h2 class="text-center" id="titulo"></h2>
        <br>
        <p class="text-center" id="description"></p>
        <br>
        <div>
          <img style="width: 100%;" src="assets/images/icons/smile.png" id="img" alt="" class="img-center">
        </div>
        <p class="text-center" ng-click="verMas()"><a href="#">Ver más</a></p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script src="assets/js/main.js"></script>
<script src="assets/js/feed.js"></script>
<script src="assets/js/feedFuncionalidad.js"></script>
