<div ng-controller="pagoCrl">
  <section class="top-page">
    <div class="header-space-sm header-background">
      <div class="titleContainer">
        <h2 ng-click="goToMain()">
          Forma de pago</h2>
        <div class="line-separator orange-divider-background"></div>
        <!--<a href="/promocionInvitar">-->
          <!--<div class="text-center" style="color: #FFF;">Aprovecha nuestra promoción y obtén hasta 2,500 MXN de crédito en PortaliaPlus, da click aquí para más información</div>-->
        <!--</a>-->
      </div>
    </div>
    <div class="orange-divider orange-divider-background listContainer"></div>
  </section>

  <section class="metodos-de-pago hidden">
    <div class="pagosContainer col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <!--<div class="text-center hidden">-->
        <!--<h3 class="nombrePaquete" ng-click="consume()">Paquete Actual {{ userData.paquete | uppercase }}</h3>-->
        <!--<p>-->
          <!--<div ng-if="userData.paquete != 'gratis'">con fecha de vencimiento {{ fechaFront }}</div>-->
        <!--</p>-->
      <!--</div>-->
      <div class="informacionPaquete">
        <h3 class="nombrePaquete">Paquete {{plan}}
        </h3>
        <h3 class="tiempoPaquete">Tiempo:<span class="tiempo"><span ng-show="userData.planSolicitadoPricing.periodo == 'year'">12</span><span ng-show="userData.planSolicitadoPricing.periodo == 'sixmonth'">6</span> meses</span>
        </h3>
        <h3 class="tiempoPaquete">Pagos:<span class="tiempo">{{userData.planSolicitadoPricing.numeroPagos}} de {{userData.planSolicitadoPricing.frequentCost | currency}}</span>
        </h3>
        <h3 class="tiempoPaquete" ng-show="discountMoney>0">Descuento:<span class="tiempo" ng-show="discountMoney>0"> - {{discountMoney| currency}}</span>
        </h3>
        <h3 class="tiempoPaquete" ng-show="information.credito > 0">Promoción:<span class="tiempo" ng-show="information.credito > 0"> - {{information.credito| currency}} (Amigos Referidos)</span>
          </h3>
        <div class="line-separator orange-divider-background"></div>
        <h3 class="cargoTotal">Total:<span class="cargo">{{userData.planSolicitadoPricing.total | currency}}</span>
        </h3>
      </div>

      <div class="container-fluid">
        <h4 ng-click="pdfPrueba()">¿Requieres factura?</h4>
        <input required data-toggle="modal" data-target="#modal-facturacion" ng-click="facturacionModal()" id="siFactura" name="factura" type="radio" />
        <label for="siFactura" class="mini-bot"> Sí</label>
        <input required ng-click="facturacionModal();noFac()" id="noFactura" name="factura" type="radio"/>
        <label for="noFactura" class="mini-bot"> No</label>
      </div>
      <div class="container-fluid" ng-if="showAcept == true">
        <h4 ng-click="pdfPrueba()">Si elige este método, no se generará factura y no podrá solicitarla posteriormente. </h4>
        <input required ng-click="enable()" id="siAcepto" name="aceptoSi" type="radio" />
        <label for="siAcepto" class="mini-bot"> Acepto</label>
        <h4 ng-click="pdfPrueba()"> Si tiene alguna duda comunicarse al (33) 47700504. </h4>
      </div>
      <div class="metodosContainer">
        <a target="_blank" href="http://www.openpay.mx/terminos-servicio.html">
          <div class="imgContainerCenter"><img style="width:117px;height:28px;" src="assets/images/open-pay.png" /></div>
        </a>
        <div class="btnPago hidden" id="transfer" ng-click="openpayBank()">
          <a class="txt-blanco">Transferencia bancaria</a>
        </div>
        <div class="textSeparator mediano hidden">
          <div>
            <span>Ó</span>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-xs-12 col-sm-6">
            <div class="btnPago" id="credito">
              <a class="txt-naranja">Tarjetas de crédito</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="btnPago" id="debito">
              <a class="txt-naranja">Tarjetas de débito</a>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-xs-6 img-center borderRight">
            <div class="imgContainerRight"><img src="assets/images/icons/visa-mc-american.png" /></div>
          </div>
          <div class="col-xs-6 img-center">
            <div class="imgContainerLeft"><img src="assets/images/icons/otras_tarjetas.png" /></div>
          </div>
        </div>
      </div>
      <div class="datosTarjetaContainer">
        <div class="container-fluid">
          <div class="col-xs-12 col-sm-6">
            <h4>Nombre del titular</h4>
            <input required type="text" class="inputPagos" value="" ng-model="name" placeholder="Como aparece en la tarjeta" />
          </div>
          <div class="col-xs-12 col-sm-6">
            <h4>Apellido del titular</h4>
            <input required ng-model="last_name" class="inputPagos" value="" type="text" placeholder="Como aparece en la tarjeta" />
          </div>
          <div class="col-xs-12 col-sm-6">
            <h4>Número de la tarjeta</h4>
            <input required ng-model="openPayData.card_number" class="inputPagos" value="" type="text" />
          </div>
          <div class="col-xs-12 col-sm-6">
            <h4>Fecha de expiración</h4>
            <div class="col-xs-6">
              <input required ng-model="openPayData.expiration_month" class="inputPagos" value="" type="text" placeholder="Mes" />
            </div>
            <div class="col-xs-6">
              <input required ng-model="openPayData.expiration_year" class="inputPagos" value="" type="text" placeholder="Año" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <h4>Código de seguridad</h4>
              <div class="col-xs-6">
                <input required style="width: 138%;margin-bottom: 10%;" class="inputPagos" ng-model="openPayData.cvv2" value="" type="text" placeholder="3/4 dígitos" />
              </div>
            </div>
          </div>
        </div>
        <!-- <button type="button" name="button" ng-click="test()">test</button> -->
        <div class="container-fulid" ng-if="userData.planSolicitadoPricing.numeroPagos != 1">
          <div class="col-xs-6 center">
            <div class="btnPago naranja" id="pagar" ng-click="newSuscription()">
              <a class="txt-blanco">Pagar</a>
            </div>
          </div>
        </div>
        <div class="container-fulid" ng-if="userData.planSolicitadoPricing.numeroPagos == 1">
          <div class="col-xs-6 center">
            <div class="btnPago naranja" id="pagar" ng-click="openpayCard()">
              <a class="txt-blanco">Pagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container">

    <!-- Bloque de resumen pedido -->
    <div class="row">

      <div class="col-md- text-center">

        <h3>Paquete: <b class="orange text-uppercase">{{plan}}</b></h3>
        <h3>Tiempo:
                    <b ng-show="userData.planSolicitadoPricing.periodo == 'year'"
                       class="orange"
                    >12 meses</b>
                    <b ng-show="userData.planSolicitadoPricing.periodo == 'sixmonth'"
                       class="orange"
                    >6 meses</b>
        </h3>
        <h3 class="tiempoPaquete">Pagos:
            <b class="orange">{{userData.planSolicitadoPricing.numeroPagos}} de {{userData.planSolicitadoPricing.frequentCost | currency}}</b>
        </h3>
        <div class="line-separator orange-divider-background"></div>
        <h3>Total: <b class="orange">{{userData.planSolicitadoPricing.total | currency}}</b>
        </h3>

      </div>

    </div>
    <!-- Termina resumen de pedido -->

    <!--Bloque de factura-->
    <div class="row margin-top-15">

      <div class="col-md-12 text-center">

        <h3 class="orange text-center">¿Requieres factura?</h3>

        <button class="btn btn-warning btn-radio"
                ng-class="{ 'active' : userData.datosDeFacturacion.requested }"
                ng-click=" userData.datosDeFacturacion.requested = true "
        >Si</button>

        <button class="btn btn-warning btn-radio"
                ng-class="{ 'active' : ! userData.datosDeFacturacion.requested }"
                ng-click=" userData.datosDeFacturacion.requested = false "
        >No</button>

      </div>

    </div>
    <div class="row margin-top-15"
         ng-show=" userData.datosDeFacturacion.requested "
    >

      <div class="col-md-12">

        <h5 class="text-center orange"
            ng-if=" userData.datosDeFacturacion.requested"
        >Tu factura llegara a tú correo en menos de 24 hrs</h5>

        <form name="invoiceForm"
        >

          <div class="row">

            <div class="col-md-8 col-md-offset-2">

              <!-- Razón social de factura -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.razon.$touched || invoiceForm.$submitted ) && ! invoiceForm.razon.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Razón social </label>
                <input ng-model="userData.datosDeFacturacion.razon"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="razon"
                       ng-required="true"
                >
                <span class="help-block" ng-show="( invoiceForm.razon.$touched || invoiceForm.$submitted )&& invoiceForm.razon.$error.required">
                    Es necesario que ingreses la razón social
                </span>
              </div>
              <!-- Termina razón social -->

              <!-- RFC -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.rfc.$touched || invoiceForm.$submitted ) && ! invoiceForm.rfc.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> RFC </label>
                <input ng-model="userData.datosDeFacturacion.rfc"
                       required
                       class="form-control no-radius bg-white text-uppercase"
                       type="text"
                       name="rfc"
                       ng-required="true"
                       pattern='^(([A-Z]|[a-z]|\s){1})(([A-Z]|[a-z]){2,3})([0-9]{6})((([A-Z]|[a-z]|[0-9]){3}))'
                >
                <span class="help-block" ng-show="( invoiceForm.rfc.$touched || invoiceForm.$submitted )&& invoiceForm.rfc.$error.required">
                    Es necesario que ingreses el RFC
                </span>
                <span class="help-block" ng-show="( invoiceForm.rfc.$touched || invoiceForm.$submitted )&& invoiceForm.rfc.$error.pattern">
                    Es RFC que ingresaste es inválido
                </span>
              </div>
              <!-- Termina el rfc -->

              <!-- Calle y número -->
              <div class="form-group"

              >
                <div class="row">

                  <div class="col-md-8"
                       ng-class="{ 'has-error': ( invoiceForm.calle.$touched || invoiceForm.$submitted ) && ! invoiceForm.calle.$valid }"
                  >
                    <label for="" class="control-label big-label orange-dark"> Calle </label>
                    <input ng-model="userData.datosDeFacturacion.calle"
                           required
                           class="form-control no-radius bg-white"
                           type="text"
                           name="calle"
                           ng-required="true"
                    >
                    <span class="help-block" ng-show="( invoiceForm.calle.$touched || invoiceForm.$submitted )&& invoiceForm.calle.$error.required">
                        Es necesario que ingreses la calle
                    </span>
                  </div>

                  <div class="col-md-4"
                       ng-class="{ 'has-error': ( invoiceForm.numero.$touched || invoiceForm.$submitted ) && ! invoiceForm.numero.$valid }"
                  >

                    <label for="" class="control-label big-label orange-dark"> Número </label>
                    <input ng-model="userData.datosDeFacturacion.numeroCalle"
                           required
                           class="form-control no-radius bg-white"
                           type="tel"
                           name="numero"
                           ng-required="true"
                    >
                    <span class="help-block" ng-show="( invoiceForm.numero.$touched || invoiceForm.$submitted )&& invoiceForm.numero.$error.required">
                      Es necesario que ingreses el número
                  </span>

                  </div>

                </div>

              </div>
              <!-- Termina calle y número -->

              <!-- Colonia -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.colonia.$touched || invoiceForm.$submitted ) && ! invoiceForm.colonia.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Colonia </label>
                <input ng-model="userData.datosDeFacturacion.colonia"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="colonia"
                       ng-required="true"
                >
                <span class="help-block" ng-show="( invoiceForm.colonia.$touched || invoiceForm.$submitted )&& invoiceForm.colonia.$error.required">
                    Es necesario que ingreses la colonia
                </span>
              </div>
              <!-- Termina colonia -->

              <!-- Código postal -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.codigoPostal.$touched || invoiceForm.$submitted ) && ! invoiceForm.codigoPostal.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Código postal </label>
                <input ng-model="userData.datosDeFacturacion.codigoPostal"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="codigoPostal"
                       ng-required="true"
                       pattern="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$"
                >
                <span class="help-block" ng-show="( invoiceForm.codigoPostal.$touched || invoiceForm.$submitted )&& invoiceForm.codigoPostal.$error.required">
                    Es necesario que ingreses el codigo postal
                </span>
                <span class="help-block" ng-show="( invoiceForm.codigoPostal.$touched || invoiceForm.$submitted )&& invoiceForm.codigoPostal.$error.pattern">
                    El código postal ingresado es inválido
                </span>
              </div>
              <!-- Termina código postal -->

              <!-- Estado -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.estado.$touched || invoiceForm.$submitted ) && ! invoiceForm.estado.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Estado </label>
                <input ng-model="userData.datosDeFacturacion.estado"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="estado"
                       ng-required="true"
                >
                <span class="help-block" ng-show="( invoiceForm.estado.$touched || invoiceForm.$submitted )&& invoiceForm.estado.$error.required">
                    Es necesario que ingreses el estado
                </span>
              </div>
              <!-- Termina estado -->

              <!-- Ciudad -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.ciudad.$touched || invoiceForm.$submitted ) && ! invoiceForm.ciudad.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Ciudad </label>
                <input ng-model="userData.datosDeFacturacion.ciudad"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="ciudad"
                       ng-required="true"
                >
                <span class="help-block" ng-show="( invoiceForm.ciudad.$touched || invoiceForm.$submitted )&& invoiceForm.ciudad.$error.required">
                    Es necesario que ingreses la ciudad
                </span>
              </div>
              <!-- Termina ciudad -->

              <!-- Correo de facturación -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.correoFactu.$touched || invoiceForm.$submitted ) && ! invoiceForm.correoFactu.$valid }"
              >
                <label for="" class="control-label big-label orange-dark"> Correo </label>
                <input ng-model="userData.datosDeFacturacion.correoFactu"
                       required
                       class="form-control no-radius bg-white"
                       type="text"
                       name="correoFactu"
                       ng-required="true"
                >
                <span class="help-block" ng-show="( invoiceForm.correoFactu.$touched || invoiceForm.$submitted )&& invoiceForm.correoFactu.$error.required">
                    Es necesario que ingreses la ciudad
                </span>
              </div>
              <!-- Termina correo de facturación -->

              <!-- Términos y condiciones -->
              <div class="form-group"
                   ng-class="{ 'has-error': ( invoiceForm.terminos.$touched || invoiceForm.$submitted ) && ! invoiceForm.terminos.$valid }"
              >
                <div class="checkbox ">

                  <div class="checkbox">
                    <input ng-model="terminos"
                           required
                           class="hidden"
                           type="checkbox"
                           name="terminos"
                           id="terminos"
                           ng-required="true"
                    >
                    <label for="terminos" class="check">
                      Estoy seguro que mis datos están correctos. <br>
                      (Una vez que se le de continuar no se aceptan cambios ni reclamaciones.)
                    </label>

                  </div>
                </div>
                <span class="help-block red" ng-show="( invoiceForm.correoFactu.$touched || invoiceForm.$submitted )&& invoiceForm.terminos.$error.required">
                    Debes marcar este campo
                </span>

              </div>
              <!-- Termina términos y condiciones -->
              <!--<input type="checkbox" name="acepto" id="acepto" required value="si"> Estoy seguro que mis datos están correctos. (Una vez que se le de continuar no se aceptan cambios ni reclamaciones.)-->

            </div>

          </div>
        </form>

      </div>

    </div>
    <!-- Termina bloque de factura -->

    <!-- Bloque de tarjeta -->
    <div class="row">

      <div class="col-md-8 col-md-offset-2">


        <div class="credit-card-container">
          <div class="card-wrapper"></div>

          <div class="form-container row">

            <form action="" id="cardForm">

              <div class="col-md-6 margin-top-15">
                <input placeholder="Número de tarjeta"
                       type="tel"
                       name="number"
                       class="form-control no-radius cc-num"
                       ng-model="card.number"
                >
              </div>
              <div class="col-md-6 margin-top-15">
                <input placeholder="Nombre completo"
                       type="text"
                       name="name"
                       class="form-control no-radius"
                       ng-model="card.name"
                >
              </div>

              <div class="col-md-6 margin-top-15">

                <input placeholder="MM/YY"
                       type="tel"
                       name="expiry"
                       class="form-control no-radius"
                       ng-model="card.expiration"
                >

              </div>

              <div class="col-md-6 margin-top-15">

                <input placeholder="CVC"
                       type="number"
                       name="cvc"
                       class="form-control no-radius"
                       ng-model="card.cvv"
                >

              </div>


            </form>
          </div>
        </div>


      </div>

    </div>
    <!-- Termina bloque de tarjeta -->

    <!-- Bloque de botón de pago y alerta-->
    <div class="row margin-top-15 ">
      <div class="col-md-8 col-md-offset-2">

        <div class="notification">
          Nuestros pagos los procesa Openpay, <b class="orange">nosotros no guardamos la información de tu tarjeta en nuestros servidores.</b>
        </div>
      </div>
    </div>
    <div class="row margin-top-15 margin-bottom-30">
      <div class="col-md-12 padding-h-20 text-center">

        <!-- Botón para cuando es un solo pago -->
        <button class="btn btn-orange-dark padding-h-30"
                ng-click="openpayCard()"
                ng-disabled=" pendingTransaction "
                ng-if="userData.planSolicitadoPricing.numeroPagos == 1 "
        >
          <i class="fa fa-spinner fa-spin fa-fw"
             ng-show="pendingTransaction"
          ></i>
          <span ng-show=" ! pendingTransaction ">Completar pago</span>
        </button>

        <!-- Botón para cuando son pagos diferidos (subscription) -->
        <button class="btn btn-orange-dark padding-h-30"
                ng-click="newSubscription()"
                ng-disabled=" pendingTransaction "
                ng-if="userData.planSolicitadoPricing.numeroPagos != 1 "
        >
          <i class="fa fa-spinner fa-spin fa-fw"
             ng-show="pendingTransaction"
          ></i>
          <span ng-show=" ! pendingTransaction ">Completar pago</span>
        </button>

        <h3 class="orange text-center"
            ng-show="pendingTransaction"
        >Espera un momento, el proceso de pago toma un par de minutos</h3>

      </div>
    </div>
    <!-- Termina bloque de pago y alerta -->

  </div>

  <!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
  <div id="modal-success" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h1 class="text-center">¡Pago generado!</h1>
          <br>
          <p class="text-center">
            Pago generado, Portalia Plus no guarda información de tu tarjeta de crédito, Revisa tu correo para consultar más informacion.
            <br>
            Para activar tu membresía debes esperar 24 horas, y podrás disfrutar de los beneficios de tu membresía. <br>
            <span class="orange">!Muchas gracias</span>
          </p>
          <br>
          <img src="assets/images/icons/smile.png" alt="" class="img-center">
          <br>
          <p class="text-center">¡Gracias por tu confianza!</p>
          <a class="btn btn-warning btn-40 col-xs-12"
             data-dismiss="modal"
             ng-click="goToMain();"
          >Entendido</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</div>


