

<div class="container" ng-controller="UpdateUserCtr">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<a href="/admin/searchUser" class="btn btn-warning pull-right margin-top-10"><i class="fa fa-chevron-left"></i> Regresar</a> <br>
		</div>
	</div>

	<div class="row">

		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Módulo de modificación de usuarios</h1>
			<h3>
				<br>Id del usuario: {{ user._id }}
				<button ng-click="sendRecoveryPassword()" class="btn btn-warning pull-right"><i class="fa fa-envelope"></i> Enviar correo de recuperación de contraseña</button>
			</h3>


				<h3><br> Datos básicos</h3>
				<div class="form-group top">
					<label for="telefono">Teléfono</label>
					<input 	type="text"
							ng-model = "user.telefono"
							name="telefono"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setBasicData():return"
					>
				</div>
				<div class="form-group top">
					<label for="email">Email</label>
					<input 	type="text"
							ng-model = "user.email"
							name="email"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setBasicData():return"
					>
				</div>
				<div class="form-group top">
					<label for="email">Rol (usar solo minúsculas)</label>
					<input	type="text"
							ng-model = "user.role"
							name="email"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setBasicData():return"
					>
				</div>
				<div class="form-group top">
					<button ng-click="setBasicData()" class="btn btn-warning pull-right">Guardar</button>
				</div>



				<h3> <br>Datos de facturación</h3>
				<div class="form-group">
					<label for="razon">Razón Social</label>
					<input 	type="text"
							ng-model = "user.razon"
							name="razon"
							class="form-control"
					>
				</div>
				<div class="form-group">
					<label for="rfc">RFC</label>
					<input 	type="text"
							ng-model = "user.rfc"
							name="rfc"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setFacturacion():return"
					>
				</div>
				<div class="form-group">
					<label for="direccion">Dirección</label>
					<input 	type="text"
							id="pac-input"
							ng-model = "user.direccion"
							name="direccion"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setFacturacion():return"
					>
				</div>
				<div class="form-group top">
					<button ng-click="setFacturacion()" class="btn btn-warning pull-right">Guardar</button>
				</div>


				<h3><br>Datos de la empresa</h3>
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input 	type="text"
							ng-model = "user.nombre"
							name="nombre"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setEmpresa():return"
					>
				</div>
				<div class="form-group">
					<label for="sector">Sector</label>
					<select id="sector" class="form-control">
						<option selected value="{{ user.sector }}">{{ user.sector_name }}</option>
						<option value="{{ sector._id }}" ng-repeat="sector in sectors">{{ sector.name }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="subsector">Subsector</label>
					<select id="subsector" class="form-control">
						<option selected value="{{ user.categoria }}">{{ user.categoria_name }}</option>
						<option value="{{$index }}" ng-repeat="subsector in subsectores">{{ subsector.name }}</option>
					</select>
				</div>
				<div class="form-group top">
					<label for="emailSec">Email de contacto</label>
					<input 	type="text"
							ng-model = "user.emailSec"
							name="emailSec"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setEmpresa():return"
					>
				</div>

				<div class="form-group">
					<label for="estado">Estado</label>
					<select id="estado" class="form-control">
						<option ng-selected="$index == user.estado" value="{{$index }}" ng-repeat="estado in estados"> {{ estado.name }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="municipio">Municipio</label>
					<select id="municipio" class="form-control">
						<option ng-selected="municipio._id == user.municipio" value="{{ municipio._id }}" ng-repeat="municipio in municipios | orderBy: 'name'"> {{ municipio.name }}</option>
					</select>
				</div>

				<div class="form-group top">
					<button ng-click="setEmpresa()" class="btn btn-warning pull-right">Guardar</button>
				</div>

				<h3><br>Horarios de apertura</h3>
				<shedules></shedules>
				<button type="button" ng-click="horModal()" class="btn btn-warning pull-right">Editar Horario</button>

				<h3><br>Logo de la empresa</h3>
				<div class="form-group">
					<label for="logo"></label>
					<input 	type="file"
							class="form-control"
							ngf-select=""
							ng-model="file"
							name="file"
							ngf-pattern="'image/*'"
							accept="image/*"
							ngf-max-size="10MB"
					>
				</div>
				<div class="form-group top">
					<button ng-click="uploadProfilePic(file)" class="btn btn-warning pull-right">
						Guardar <i ng-show="uploading == true" class="fa fa-spinner fa-pulse fa-fw"></i>
					</button>
				</div>

				<h3><br>Información de Perfil</h3>
				<div class="form-group">
					<label for="about">Descripción de la empresa</label>
					<textarea 	name="about"
								cols="30"
								rows="5"
								ng-model = "user.about"
								class="form-control"
					></textarea>
					{{user.about.length}}
				</div>
				<div class="form-group">
					<label for="ventajas">Ventajas competitivas</label>
					<textarea 	name="ventajas"
								cols="30"
								rows="5"
								ng-model = "user.ventajas"
								class="form-control"
					></textarea>
					{{user.ventajas.length}}
				</div>
				<div class="form-group">
					<label for="tags">Palabras clave</label>
					<textarea 	name="tags"
								cols="30"
								rows="5"
								ng-model = "user.tags"
								class="form-control"
					></textarea>
					<span>Cada palabra clave tiene que ir separada por una coma (,)</span>
				</div>
				<div class="form-group">
					<label for="products">Productos</label>
					<textarea 	name="products"
								cols="30"
								rows="5"
								ng-model = "user.products"
								class="form-control"
					></textarea>
					<span>Cada producto tiene que ir separada por una coma (,)</span>
				</div>
				<div class="form-group top">
					<button ng-click="setPerfilInfo()" class="btn btn-warning pull-right">Guardar</button>
				</div>


				<h3><br>Redes sociales</h3>
				<div class="form-group">
					<label for="facebook">Facebook</label>
					<input 	type="text"
							ng-model = "user.redes.facebook"
							name="facebook"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>
				</div>
				<div class="form-group">
					<label for="twitter">Twitter</label>
					<input 	type="text"
							ng-model = "user.redes.twitter"
							name="twitter"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>
				</div>
				<div class="form-group">
					<label for="youtube">Youtube</label>
					<input 	type="text"
							ng-model = "user.redes.youtube"
							name="youtube"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>
				</div>
				<div class="form-group">
					<label for="linkedin">Linked In</label>
					<input 	type="text"
							ng-model = "user.redes.linkedin"
							name="linkedin"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>
				</div>
				<div class="form-group">
					<label for="googleplus">Google Plus</label>
					<input 	type="text"
							ng-model = "user.redes.googleplus"
							name="googleplus"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>
				</div>

				<div class="form-group">
					<label for="web">Página web</label>
					<input 	type="text"
							ng-model = "user.web"
							name="web"
							class="form-control"
							ng-keypress="($event.keyCode == 13)?setRedes():return"
					>

				</div>

				<div class="form-group top">
					<button ng-click="setRedes()" class="btn btn-warning pull-right">Guardar</button>
				</div>

				<br>
				<br>
				<br>

			</form>
		</div>

	</div>

</div>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChpILarfnrv9OxONxDhJeDh3LPiBOzpUI&libraries=places&callback=initAutocomplete"></script>
<script>
function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */
    (document.getElementById('pac-input')), {
      types: ['geocode']
    });

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  var place = autocomplete.getPlace();
  newLatLang = {
    lat: place.geometry.location.lat(),
    lng: place.geometry.location.lng()
  }
  $('[ng-controller="UpdateUserCtr"]').scope().user.direccion = $('#pac-input').val();
  $('[ng-controller="UpdateUserCtr"]').scope().place = place;
  $('[ng-controller="UpdateUserCtr"]').scope().newLatLang = newLatLang;
  $('[ng-controller="UpdateUserCtr"]').scope().updateAdress();
}
</script>
