<section class="searchResult">
  <div class="separator gradient-yellow-orange"></div>
  <div style="padding-top:5%;padding-bottom:5%;" class="search-space search-background">
    <h3 class="registro-exitoso">Gracias por ponerte en contacto</h3>
    <div class="col-md-12" style="text-align:center;">
      <p class="gracias-descripcion">A la brevedad posible se pondrá en contacto
        <br/>contigo un asesor de Portalia Plus para proporcionarte más información sobre tu promoción.
        <br/>Cualquier duda estamos a tus órdenes al: 33 47 70 05 04.</p>
    </div>
    <a class="btn gradient-border-white col-lg-12  col-lg-offset-1 col-md-12 col-xs-12 pull-right top-xs" href="/">REGRESAR AL PORTAL</a>
  </div>
  <div class="separator gradient-yellow-orange"></div>
</section>
