
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a ui-sref="dashboard">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Perfil </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->
  <!-- BEGIN PAGE CONTENT-->

  <div ng-controller="PerfilUsuarioController" >
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-list font-blue"></i>
          <span class="caption-subject font-blue sbold uppercase">Logo de mi empresa</span>
        </div>

      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="form-group">

            <div class="col-md-6">
              <div class="fileinput fileinput-new" data-provides="fileinput">

                <div class="input-group input-large">

                  <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                  </div>
                  <span class="input-group-addon btn default btn-file">
                    <span class="fileinput-new"> Seleccionar un archivo </span>
                    <span class="fileinput-exists"> Cambiar </span>
                    <input type="file"
                           nv-file-select=""
                           uploader="uploader"
                           accept=".txt,.csv,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.jpg,.png,.gif"
                           ngf-max-size="10MB"
                           class="ng-pristine ng-untouched ng-valid ng-empty"
                    >
                  </span>
                  <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Eliminar </a>

                </div>

              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"
                      ng-click="uploadProfilePic(logo)"
                      ng-disabled=" isLoading "
              >
                <i class="fa fa-save"
                   ng-show="! isLoading"
                ></i>
                <i ng-show=" isLoading "
                   class="fa fa-circle-o-notch fa-spin"
                ></i>
                Guardar
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

    <div class="row" >

      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic">

                <img alt=""
                     class="img-responsive "
                     ng-if="user.profilePic != null "
                     ng-src="{{ user.profilePic }}"
                />

                <img alt=""
                     class="img-responsive "
                     ng-if="user.hasPic && user.role != 'visitante' && user.profilePic == null "
                     ng-src="assets/uploads/{{ user.sector_name }}/{{ user.categoria_name }}/{{ user._id}}/foto-perfil.jpg"
                />
                <img alt=""
                     class="img-responsive "
                     ng-if="user.hasPic && user.role == 'visitante' && user.profilePic == null "
                     ng-src="assets/uploads/undefined/undefined/{{ user._id}}/foto-perfil.jpg"
                />
                <img alt=""
                     class="img-responsive "
                     ng-if="! user.hasPic"
                     ng-src="assets/images/iconos_sectores/{{ user.sector }}.jpg"
                />


              <!-- END SIDEBAR USERPIC -->
              <!-- SIDEBAR USER TITLE -->
              <div class="profile-usertitle">
                <div class="profile-usertitle-name"> {{ user.nombre }} </div>
                <div class="profile-usertitle-job" style="color:black;"> SECTOR: </div>
                <div class="profile-usertitle-job"> {{ user.sector_name }} </div>
                <div class="profile-usertitle-job" style="color:black;"> CATEGORIA(S): </div>
                <div class="profile-usertitle-job"> {{ user.categoria_name }} </div>
                <div class="profile-usertitle-job" ng-if="user.subcategories.length != 0" ng-repeat="subcategory in user.subcategories"> {{ subcategory }} </div>
              </div>
              <!-- END SIDEBAR USER TITLE -->


            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
              <!-- STAT -->
              <div class="row list-separated profile-stat">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{ user.products.length }} </div>
                  <div class="uppercase profile-stat-text"> Productos </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{ user.tags.length }} </div>
                  <div class="uppercase profile-stat-text"> Tags </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{ user.productsImg.length }} </div>
                  <div class="uppercase profile-stat-text"> Imágenes </div>
                </div>


              </div>
              <!-- END STAT -->
              <div>
                <h4 class="profile-desc-title">Mi calificación</h4>

                <i  ng-repeat="n in range( 1 , user.stars )"
                    class="fa fa-star"
                ></i>

              </div>
            </div>
            <!-- END PORTLET MAIN -->
          </div>
          <!-- END BEGIN PROFILE SIDEBAR -->
        </div>

        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
          <div class="row">
            <div class="col-md-12">
              <!-- BEGIN PORTLET -->
              <div class="portlet light bordered">
                <div class="portlet-title">
                  <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Actividad en mi perfil</span>
                    <span class="caption-helper hide">weekly stats...</span>
                  </div>
                  <div class="actions">
                    <!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
                      <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">-->
                        <!--<input type="radio" name="options" class="toggle" id="option1">Today</label>-->
                      <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
                        <!--<input type="radio" name="options" class="toggle" id="option2">Week</label>-->
                      <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
                        <!--<input type="radio" name="options" class="toggle" id="option2">Month</label>-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="stat-left">
                        <div class="stat-chart">
                          <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                          <div id="sparkline_bar"></div>
                        </div>
                        <div class="stat-number">
                          <div class="title"> Total visitas </div>
                          <div ng-show=" user.paquete != 'gratis' " class="number"> {{ user.numeroVisitasGene }} </div>
                          <div ng-show=" user.paquete == 'gratis' " class="number"> - </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="stat-right">
                        <div class="stat-chart">
                          <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                          <div id="sparkline_bar2"></div>
                        </div>
                        <div class="stat-number">
                          <div class="title" ng-if=" user.role != 'visitante' "> Plan </div>
                          <div class="title" ng-if=" user.role == 'visitante' "> Visitante </div>
                          <div class="number" ng-if=" user.role != 'visitante' " > {{ user.paquete  }} </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-scrollable table-scrollable-borderless">
                    <h3 class="font-blue">Empresas que me han visitado</h3> <br>
                    <div ng-if=" user.paquete == 'gratis' ">
                      <h3> Los datos de visitas dentro del perfil solo están disponibles para usuarios plus o select</h3>
                    </div>
                    <div ng-if=" user.paquete != 'gratis' ">

                      <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                          <th > Nombre </th>
                          <th> Visitas </th>
                        </tr>
                        </thead>
                        <tr>
                          <td>Usuario sin registrar</td>
                          <td> {{ anonymous }} </td>
                        </tr>
                      </table>

                      <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                          <th > Nombre </th>
                          <th> Sector </th>
                          <th> Categoria </th>
                          <th> Calificación </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="visit in visits | limitTo:10 | orderBy:visit._id ">

                          <td> {{ visit.nombre }}</td>
                          <td> {{ (visit.sector_name == undefined ) ? 'usuario visitante' : visit.sector_name }} </td>
                          <td> {{ (visit.categoria_name == undefined ) ? 'usuario visitante' : visit.categoria_name }} </td>
                          <td> {{ visit.stars }} </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET -->
            </div>

          </div>

        </div>
        <!-- END PROFILE CONTENT -->
    </div>
    <!-- END PAGE CONTENT-->

  </div>
  <script>
  console.log('ggg');
  // _pe.isSubscribed(
  //   function(isSubscribed){
  //   console.log(isSubscribed);
  //   });
  </script>
