<div ng-controller="zonaGeograficaClr" style="overflow:hidden;">
  <div class="container-fluid">
    <div class="row text-center">
      <h2 onclick="pan()">BUSCAR POR ZONA GEOGRÁFICA</h2>
      <hr class="title-border">
    </div>
    <div class="row top">
      <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <p class="font-light">Puedes hacerlo de manera manual desde el mapa o indicando en las casillas la información requerida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="row">
          <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-4 text-center">
              <div class="labelContainer form-control">
                <label>Sector</label>
              </div>
            </div>
            <div class="col-xs-8">
              <select id="sector" ng-model="data.sector" ng-change="changeSector(data.sector)" class="form-control border-yellow">
                <option value="">Selecciona un sector</option>
                <option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-4 text-center">
              <div class="labelContainer form-control">
                <label>Categoría</label>
              </div>
            </div>
            <div class="col-xs-8">
              <select ng-model="data.categoria" ng-change="changeCategoria(data.categoria)" id="categoria" class="form-control border-yellow">
                <option value="">Selecciona un sub sector</option>
              </select>
            </div>
          </div>
          <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-4 text-center">
              <div class="labelContainer form-control">
                <label>Estado</label>
              </div>
            </div>
            <div class="col-xs-8">
              <select ng-model="datos.estado" ng-change="changeEstado(datos.estado)" id="estado" class="form-control border-yellow">
                <option selected disabled value="">Estado de Búsqueda</option>
                <option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xs-4 text-center">
          <div class="labelContainer form-control">
            <label>Ubicación</label>
          </div>
        </div>
        <div class="col-xs-8">
          <input id="pac-input" type="text" class="form-control border-yellow" placeholder="selecciona una dirección del listado">
          <input type="hidden" id="latitude">
          <input type="hidden" id="longitude">
        </div>
      </div>
      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xs-4 text-center">
          <div class="labelContainer form-control">
            <label>Radio</label>
          </div>
        </div>
        <div class="col-xs-8">
          <select ng-model="datos.radio" onchange=setMapRadio(this) ng-change="setRadio(datos.radio)" id="radio" class="form-control border-yellow">
            <option selected disabled value="">Radio de Búsqueda</option>
            <option value="2">2KM</option>
            <option value="5">5KM</option>
            <option value="10">10KM</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xs-4 text-center">
          <div class="labelContainer form-control">
            <label>Municipio</label>
          </div>
        </div>
        <div class="col-xs-8">
          <select ng-model="datos.municipio" id="municipio" class="form-control border-yellow">
            <option selected disabled value="">Municipio de Búsqueda</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <button ng-click="buscar()" class="btn btn-editar col-xs-12  "><i class="fa fa-search pull-left "></i>Buscar</button>
      </div>
    </div>
  </div>
</div>
</div>

<section class="buscarPorZonaGeografica">



  <div class="mapContainer" id="map">
    <div class="map"></div>
  </div>
</section>
</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChpILarfnrv9OxONxDhJeDh3LPiBOzpUI&libraries=places&callback=initMap"></script>
<script type="text/javascript" src="assets/js/buscarGeo.js"></script>
