<div ng-controller="ProductoImagenesController"
     ng-init=" init() "
     id="imagenes-producto"
>


  <div class="row margin-top-30">

    <div class="col-md-12">

      <h1 class="text-center orange">Imágenes del producto</h1>
      <br><br>
      <div id="dropzone"  class="dropzone dropzone-file-area">
        <h3 class="sbold dz-message" data-dz-message><span>Arrastra todas las imágenes que quieras agregar para tu producto.</span></h3>
      </div>

      <a class="btn btn-orange center-block next-step"
              href="/perfil-usuario/productos"
      >Finalizar e ir a mis productos</a>

      </a>

    </div>

  </div>


</div>
