<div ng-controller="verificarEmpresaCrl">
	
	<div class="contact-header contact-header-background">
		<h2 class="header-text">Reclamar cuenta de empresa</h2>
		<div class="header-underline gradient-yellow-orange"></div>
		<div class="text-center" style="color: #FFF;">Para anunciar tus servicios/productos gratis es necesario <a href="/registro">registrarte</a> </div>
	</div>

	<div class="contact-space contact-background">
	  
	    <h2 class="text-center">
	    	La empresa {{empresa.nombre}} está registrada con el correo {{ hiddenEmail }}
	    </h2>
	    <h3 class="text-center">
	    	Si es tu correo electrónico puedes solicitar una contraseña nueva <a href="/reestablecerContrasena">aquí</a>
	    </h3>

		<form class="contact-form-container form-font-size" name="formulario">
	    
	  	</form>
		
		<div class="col-md-6 col-md-offset-3">
		  	<form novalidate name="registro">

				<div class="form-row">

					<div class="form-label">
						<span>*Correo</span>
					</div>

					<div class="form-text-field-container ">
						<input  
						ng-model="data.email" 
						ng-class = "{invalid: invalidEmail == true}"
						class="form-text-field bg-white " 
						type="email" 
						required
						/>
					</div>
					<label ng-show="invalidEmail == true" class="text-center invalid-label"> <br>El campo correo es requerido o tiene un formato incorrecto</label>
				</div>
		  	  
				<div class="form-row margin-top-30">
					<div class="form-label form-gray">
						<span>*Nombre Empresa</span>
					</div>
					<div class="form-text-field-container" >
						<input 	ng-class = "{invalid: invalidName == true}" 
								ng-model="data.nombre" 
								id="nombreEmpresa" 
								type="text" 
								class="form-text-field bg-white" 
								value="{{empresa.nombre}}" 
						>
					</div>
					<label ng-show="invalidName == true" class="text-center invalid-label"> <br>El campo noombre de la empresa es requerido </label>
				</div>

				<div class="form-row">
					<div class="form-label form-gray">
						<span>Razón Social</span>
					</div>
					<div class="form-text-field-container">
						<input ng-model="data.razon" value="{{empresa.razon}}" placeholder="Opcional" id="razon" class="form-text-field bg-white" type="text">
					</div>
				</div>

				<div class="form-row">
					<div class="form-label form-gray">
						<span>RFC</span>
					</div>
					<div class="form-text-field-container">
						<input ng-model="data.rfc" id="rfc" placeholder="Opcional" ng-model="data.rfc" class="form-text-field bg-white" type="text">
					</div>
				</div>

				<div class="form-row">
					<div class="form-label form-gray">
						<span>*Sector</span>
					</div>
					<div class="form-text-field-container">
						<select ng-model="data.sector" class="form-text-field" type="text" required>
							<option selected value="{{empresa.sector_name}}">{{empresa.sector_name}}</option>
							<option ng-repeat="sector in sectors" value="{{sector.name}}">{{sector.name}}</option>
						</select>
						<label ng-show="invalidSector == true" class="text-center invalid-label"> <br>Selecciona un sector </label>
					</div>
		  	    </div>

				<div class="form-row">
					<div class="form-label form-gray">
						<span>*Estado base</span>
					</div>
					<div class="form-text-field-container">
						<select ng-model="data.estado" ng-change="changeEstado(data.estado)" class="form-text-field" id=estado type="text" required>
							<option value="">Selecciona un estado</option>
							<option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
						</select>
					</div>
					<label ng-show="invalidEstado == true" class="text-center invalid-label"> <br>Selecciona un estado </label>
				</div>

				<div class="form-row">
					<div class="form-label form-gray">
						<span>*Municipio base</span>
					</div>
					<div class="form-text-field-container">
						<select ng-model="data.municipio" class="form-text-field" type="text" required id="municipio">
							<option value="">Selecciona un municipio</option>

							<option ng-repeat="municipio in municipios" value="{{municipio.name}}">{{municipio.name}}</option>
						</select>
					</div>
					<label ng-show="invalidMunicipio == true" class="text-center invalid-label"> <br>Selecciona un municipio </label>
				</div>
		  	  
		  	  	<div class="form-row">
					<div class="form-label form-gray">
						<span>*Teléfono</span>
					</div>
					<div class="form-text-field-container">
						<input 	ng-model="data.telefono"  
								ng-class = "{invalid: invalidPhone == true}" 
								class="form-text-field bg-white" 
								type="tel"
						>
					</div>
					<label ng-show="invalidPhone == true" class="text-center invalid-label" > <br>Ingresa tu número de teléfono </label>
				</div>

				<div class="col-xs-6 col-xs-offset-4">
					<div class="register-btn-container bot">

						<button ng-click="sendMail()" class="shadow" >
							Enviar correo
							<i ng-show="isSending==true" class="fa fa-circle-o-notch fa-spin "></i>
						</button>
						<button id="boton" ng-click="registrar()" class="hidden"></button>
						<div>
							<label class="invalid-label col-xs-12 hidden" id="error-general">Los campos marcados con rojo son obligatorios</label>
						</div>

					</div>
		  	    </div>

		  	</form>
	  	</div>

		<div class="col-md-12">
			<p class="text-center top">
				Para atención personalizada contáctanos en Celular/Whatsapp: 
				<a href="tel:3331044203">33-3104-4203</a> o número fijo: 
				<a href="tel:47700504">4770-0504</a>
			</p>
		</div>
	</div>


</div>



