<section class="searchResult" ng-controller="resetCrl">
  <div class="search-header search-header-background">
    <h2>
      Reestablece tu contraseña</h2>
    <div class="underline-header-text gradient-yellow-orange"></div>
  </div>
  <div class="separator gradient-yellow-orange"></div>
  <div style="padding-top:5%;padding-bottom:5%;" class="search-space search-background">
    <h3 style="margin-bottom: 0%;font-family: montserrat-hairline;font-size: 10rem;" class="registro-exitoso">* * * * *</h3>
    <div class="col-md-12">
      <p class="reestablecer-descripcion">Por favor, introduce la dirección de correo
        <br/>electrónico asociada a tu cuenta y te envíaremos
        <br/>un enlace para restablecer tu contraseña.</p>
      <br/>
      <div class="correo-reestablecer">
        <form name="formulario">
          <input type="text" required ng-model="data.email" placeholder="Correo electrónico" id="email"/>
      </div>
      <br>
      <div class="btnContainer enviar-enlace">
        <input type="submit" value="Enviar enlace" ng-click="enviar()" />
        </form>
      </div>
    </div>
  </div>
  <!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
  <div id="modal-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h1 class="text-center">¡Te enviamos un correo!</h1>
          <br>
          <p class="text-center">
            Gracias por confiar en Portalia Plus. Te invitamos a revisar tu correo electronico. Revisa tu carpeta de SPAM o NO DESEADO.
          </p>
          <br>
          <img src="assets/images/icons/smile.png" alt="" class="img-center">
          <br>
          <p class="text-center">¡Gracias por tu confianza!</p>
          <button onclick="location.href = '/';" class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal">Entendido</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
<div class="separator gradient-yellow-orange"></div>
