<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div ng-controller="TelefonosController">
  <!-- Modal -->
  <div id="modalTelefonos" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar teléfonos</h4>
        </div>
        <div class="modal-body">
          <p>¿Tu negocio tiene más de un teléfono para contactarlos? Introdúcelos a continuación, puedes añadir hasta 10 teléfonos</p>
          <div class="col-md-12">
            <table class="table table-hover">

              <thead>
                <tr>
                  <th>Teléfono</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="telefono in userData.telefonos">
                  <td>{{ telefono.tel }}</td>
                  <td>{{ telefono.nombre }}</td>
                  <td>
                    <a href="#" class="btn btn-warning" ng-click="editPhone($index, telefono)"><i class="fa fa-pencil"></i> Editar</a>
                    <a href="#" class="btn btn-warning" ng-click="deletePhone($index)"><i class="fa fa-trash"></i> Eliminar</a>
                  </td>
                </tr>
                <tr ng-if="(userData.telefonos.length < 10 && editing == false) || editing == true">
                  <td><input class="form-control" style="width:96px;" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="toAdd.tel"></td>
                  <td><input class="form-control" style="width: 110px;" type="text" ng-model="toAdd.nombre"></td>
                  <td>
                    <a href="#" class="btn btn-editar" ng-click="addPhone()" ng-if="editing == false"><i class="fa fa-plus"></i> Agregar</a>
                    <a href="#" class="btn btn-editar" ng-click="submitEdit()" ng-if="editing == true"><i class="fa fa-pencil"></i> Editar</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div id="mostrarTelefonos" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Teléfonos</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Teléfono</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="telefono in userInfo.telefonos">
                  <td>{{ telefono.tel }}</td>
                  <td>{{ telefono.nombre }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="rateUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Califica a la empresa, sé consciente de que no podrás cambiar tu calificación.</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="rating">
                <span><input type="radio" class="hidden" name="rating" id="str5" value="5"><label ng-click="rate(5)" class="bifor" for="str5"></label></span>
                <span><input type="radio" class="hidden" name="rating" id="str4" value="4"><label ng-click="rate(4)" class="bifor" for="str4"></label></span>
                <span><input type="radio" class="hidden" name="rating" id="str3" value="3"><label ng-click="rate(3)" class="bifor" for="str3"></label></span>
                <span><input type="radio" class="hidden" name="rating" id="str2" value="2"><label ng-click="rate(2)" class="bifor" for="str2"></label></span>
                <span><input type="radio" class="hidden" name="rating" id="str1" value="1"><label ng-click="rate(1)" class="bifor" for="str1"></label></span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<style>
input[type="radio"]+ label:before {
    border: none;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em montserrat-bold;
    height: 16px;
    margin: 0 0.25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}

input[type="radio"]:checked+ label:before {
    color: black;
    content: none;
    text-align: center;
}

.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
</style>
<script>
$(document).ready(function(){
//  Check Radio-box
    $(".rating input:radio").attr("checked", false);
    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
    function(){
        var userRating = this.value;
        // alert(userRating);
    });
});
</script>
