
<div ng-controller="NuevoProductoController"
     ng-init=" init() "
>

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Nuevo producto
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/perfil-usuario/productos">Productos clasificados</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a>Nuevo</a>
    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->


  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-list font-blue"></i>
        <span class="caption-subject font-blue sbold uppercase">Nuevo producto</span>
      </div>
      <div class="actions">
        <!--<a href="" class="btn btn-primary">-->
          <!--<i class="fa fa-plus"></i>-->
          <!--Acción-->
        <!--</a>-->
      </div>
    </div>
    <div class="portlet-body">

      <div class="mt-element-step">

        <div class="row step-thin">
          <div class="mt-step-desc">
            <div class="caption-desc font-grey-cascade">
              Estos son los pasos a seguir para registrar un producto
            </div>
            <br/>
          </div>
          <div class="col-md-4 bg-grey mt-step-col"
               ng-class="{ 'active' : activeStep == 1 }"
               ng-click=""
          >
            <div class="mt-step-number bg-white font-grey">1</div>
            <div class="mt-step-title uppercase font-grey-cascade">Datos generales</div>
            <div class="mt-step-content font-grey-cascade">Ingresa los datos básicos de tu producto</div>
          </div>
          <div class="col-md-4 bg-grey mt-step-col"
               ng-class="{ 'active' : activeStep == 2 }"
               ng-click=""
          >
            <div class="mt-step-number bg-white font-grey">2</div>
            <div class="mt-step-title uppercase font-grey-cascade">Datos técnicos</div>
            <div class="mt-step-content font-grey-cascade">Características adicionales de tu producto</div>
          </div>
          <div class="col-md-4 bg-grey mt-step-col "
               ng-class="{ 'active' : activeStep == 3 }"
               ng-click=""
          >
            <div class="mt-step-number bg-white font-grey">3</div>
            <div class="mt-step-title uppercase font-grey-cascade">Imágenes</div>
            <div class="mt-step-content font-grey-cascade">Sube fotos que describan mejor tu producto</div>
          </div>
        </div>

      </div>

      <producto-datos-generales ng-show=" activeStep == 1 "></producto-datos-generales>

      <producto-datos-tecnicos ng-show=" activeStep == 2 "></producto-datos-tecnicos>

      <imagenes-producto ng-show=" activeStep == 3 "></imagenes-producto>
    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->

</div>
