<section class="searchResult" ng-controller="cambiarPreregistroCtr">
  <div class="search-header search-header-background">
    <h2>
      Activa tu promoción</h2>
    <div class="underline-header-text gradient-yellow-orange"></div>
  </div>
  <div class="separator gradient-yellow-orange"></div>
  <div style="padding-top:5%;padding-bottom:5%;" class="search-space search-background">
    <h3 style="margin-bottom: 0%;font-family: montserrat-hairline;font-size: 10rem;" class="registro-exitoso">* * * * *</h3>
    <div class="col-md-12">
      <p class="reestablecer-descripcion">Por favor, introduce la nueva contraseña
        <br/>que asociarás a tu cuenta</p><br/>
      <div class="correo-reestablecer">
        <input type="password" ng-model="data.password" placeholder="Nueva contraseña"/>
      </div>
      <br>
      <br>
      <div class="btnContainer enviar-enlace">
        <input type="button" ng-click="changePassword()" value="Seleccionar una contraseña"/>
      </div>
    </div>
  </div>
</section>

<div id="modalExito" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="pull-right btn-close-modal" data-dismiss="modal">
        <i class="fa fa-remove"></i>
      </a>
      <div class="modal-body top">
        <h1 class="text-center">¡Contraseña cambiada con éxito!</h1>
        <br>
        <p class="text-center">
          Inicia sesión con tu nueva contraseña para seguir disfrutando de Portalia Plus.
        </p>
        <br>
        <img src="assets/images/icons/smile.png" alt="" class="img-center">
        <br>
        <p class="text-center">¡Gracias por tu confianza!</p>
        <button onclick="location.href = '/?login=true';" class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal">Ir al Inicio</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="separator gradient-yellow-orange"></div>
