<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '542917605891843',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<meta name="robots" content="noindex" />
<div ng-controller="perfilCrl">
  <update-title title="{{title}}"></update-title>
  <update-meta name="description" content="{{description}}"></update-meta>
  <update-meta name="title" content="{{title}}"></update-meta>





  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <div class="col-lg-2 hidden-lg top">

      <button id="closeBlog" class="btn btn-post col-xs-12">
        <div class="triangle-post"></div>REGRESAR</button>

      <div class="row" ng-repeat="post in posts">
        <a href="/blog/post/{{post.slug}}/{{post.id}}">
          <div class="col-xs-12 top postdiv">
            <div class="gradient-yellow-orange gradient-menu"></div>
            <img ng-src="{{post.attachments[0].images.medium.url}}" class="post " alt="">
            <div class="post-in">
              {{ post.title }}
            </div>
            <div class="post-number">
              {{$index + 1}}
            </div>
          </div>
        </a>
      </div>

    </div>

  </nav>

  <button type="button" id="offcanvas" class="btn btn-editar btn-blog hidden-lg hidden-md" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" ng-if="userData.paquete != 'gratis'">
    BLOG
    <i class="fa fa-book"></i>
  </button>
  <button type="button" class="btn btn-editar btn-blog-md visible-md" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" ng-if="userData.paquete != 'gratis'">
    BLOG
    <br>
    <i class="fa fa-book"></i>
  </button>

  <!-- Modal redes sociales -->
  <div id="modal-redes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Por favor inserta la URL de las redes sociales que deseas presentar en tu perfil.</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/facebook-anunciante.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" ng-model="userData.redes.facebook" class="form-control input-yellow" placeholder="Insertar URL">
                </div>
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/twitter-anunciante.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" ng-model="userData.redes.twitter" class="form-control input-yellow" placeholder="Insertar URL">
                </div>
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/linked-in-anunciante.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" ng-model="userData.redes.linkedin" class="form-control input-yellow" placeholder="Insertar URL">
                </div>
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/youtube-anunciante.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" ng-model="userData.redes.youtube" class="form-control input-yellow" placeholder="Insertar URL">
                </div>
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/google_plus-anunciante.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" ng-model="userData.redes.googleplus" class="form-control input-yellow" placeholder="Insertar URL">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="editarSocialMedia();">Finalizar</button>
              <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="orange-divider orange-divider-background"></div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Modal redes sociales -->

  <div id="pasoDos" style="display: none;" ng-show="userData.role != 'visitante'" class="section-register-company section-register-company-background  container-13">
    <h2 ng-click="onInit()">REGISTRO PARA EMPRESAS</h2>

    <div class="header-underline-register gradient-yellow-orange"></div>
    <h2>PASO 2 DE 2</h2>
  </div>
  <section class="top-page perfil-anunciante" ng-init="currentChat = 0">
    <div class="container-fluid">
      <!-- Header Start -->
      <div class="row" id="fotoHash">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-top">
          <div class="row ">
            <div class="col-lg-2 col-lg-offset-1 top bot visible-lg bg-white">

              <img ng-if="userInfo.profilePic == null"
                   ng-src="assets/uploads/{{userInfo.sector_name| decodeURI}}/{{userInfo.categoria_name| decodeURI}}/{{userInfo._id}}/foto-perfil.jpg"
                   onerror="this.src='assets/images/foto-perfil-default.png'"
                   alt=""
                   class="img-responsive img-center profileImg"
              >

              <img ng-if=" userInfo.profilePic != null "
                   ng-src="{{ userInfo.profilePic }}"
                   onerror="this.src='assets/images/foto-perfil-default.png'"
                   alt=""
                   class="img-responsive img-center profileImg"
              >

              <button ng-click="sharetest()" ng-if="nombreInfo != 'me'" style="font-size: 80%;" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12">Compartir <i class="fa fa-share-alt"></i></button>
              <button ng-show="nombreInfo == 'me'" class="btn btn-editar pull-right bot uploadPicture">
                <i class="fa fa-camera "></i> Editar
              </button>
            </div>
            <input ng-show="nombreInfo == 'me'" type="file" class="hidden" id="imgPerfil" ngf-select="uploadProfilePic(file)" ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB">

            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 top-sm bot hidden-lg">
              <div class="row ">
                <div class="col-xs-8 col-xs-offset-2 bg-white" ng-show="nombreInfo == 'me'">
                  <img ng-src="assets/uploads/{{userData.sector_name| decodeURI}}/{{userData.categoria_name| decodeURI}}/{{userData._id}}/foto-perfil.jpg" onerror="this.src='assets/images/foto-perfil-default.png'" alt="" class="img-responsive img-center profileImg">
                  <button class="btn btn-editar pull-right bot uploadPicture">
                    <i class="fa fa-camera "></i> Editar
                  </button>
                </div>
                <div class="col-xs-8 col-xs-offset-2 bg-white" ng-if="nombreInfo != 'me'">
                  <img ng-src="assets/uploads/{{userInfo.sector_name| decodeURI}}/{{userInfo.categoria_name| decodeURI}}/{{userInfo._id}}/foto-perfil.jpg" onerror="this.src='assets/images/foto-perfil-default.png'" alt="" class="img-responsive img-center profileImg">
                </div>
              </div>
            </div>

            <div class="col-lg-7 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-0">
              <div class="row" ng-if="nombreInfo == 'me'">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="row">
                    <div class="col-xs-12">
                      <input style="font-size: 35px;" data-fittext id="txtTitle" type="text" ng-model="userData.nombre" class="big-input text-center img-center" disabled="" />
                    </div>
                  </div>


                </div>
              </div>

              <div class="row" ng-if="nombreInfo == 'me'">
                <div class="col-lg-8 col-lg-offset-2">
                  <button ng-if="nombreInfo == 'me' && userData.paquete != 'gratis' && userData.role == 'empresa'" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12" ng-click="sucursales()">Agregar Sucursales de mi Negocio</button>
                  <!-- <button ng-if="nombreInfo == 'me' && userData.paquete != 'plus' && userData.role == 'empresa'" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12" onclick="window.location.href='/pricing'">Mejora tu Plan</button> -->
                  <!-- <button ng-if="nombreInfo == 'me'" id="btnEditTitle-xs" class="btn btn-editar pull-right btn-top visible-xs" ng-click="editar('txtTitle','btnEditTitle')">
                    <i class="fa fa-edit"></i>
                  </button> -->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2" ng-if="nombreInfo != 'me'">
                  <span data-fittext id="txtTitle" style="font-size: 35px;" class="big-input text-center img-center">{{userInfo.nombre}}</span>
                </div>
              </div>
              <div ng-if="nombreInfo == 'me' && userData.role == 'empresa'">
                <div class="row top bot">
                  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                    <div class="col-xs-2 col-xs-offset-1">
                      <!-- <a ng-if="item.web.indexOf('http://') &&  item.web.indexOf('https://') == -1 " href="http://{{item.web}}" target="_blank">{{item.web}}</a>
                      <a ng-if="item.web.indexOf('http://') != -1 " href="{{item.web}}" target="_blank">{{item.web}}</a>
                      <a ng-if="item.web.indexOf('https://') != -1 " href="{{item.web}}" target="_blank">{{item.web}}</a> -->
                      <a href="{{userData.redes.facebook}}" target="_blank">
                        <img src="assets/images/icons/facebook-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/facebook-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/facebook-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a target="_blank" href="{{userData.redes.twitter}}">
                        <img src="assets/images/icons/twitter-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/twitter-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/twitter-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a target="_blank" href="{{userData.redes.linkedin}}">
                        <img src="assets/images/icons/linked-in-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/linked-in-anunciante-blanco.png'" onmouseout="this.src='assets/images/icons/linked-in-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a target="_blank" href="{{userData.redes.youtube}}">
                        <img src="assets/images/icons/youtube-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/youtube-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/youtube-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a target="_blank" href="{{userData.redes.googleplus}}">
                        <img src="assets/images/icons/google_plus-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/google_plus-anunciante-blaco.png'" onmouseout="this.src='assets/images/icons/google_plus-anunciante.svg'">
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div ng-if="nombreInfo != 'me' && userInfo.role == 'empresa'">
                <div class="row top bot">
                  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                    <div class="col-xs-2 col-xs-offset-1" ng-show="userInfo.redes.facebook != 'http://www.facebook.com/' && userInfo.redes.facebook != ''">
                      <a href="{{userInfo.redes.facebook}}" target="_blank">
                        <img src="assets/images/icons/facebook-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/facebook-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/facebook-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2" ng-show="userInfo.redes.twitter != 'http://www.twitter.com/' && userInfo.redes.twitter != ''">
                      <a target="_blank" href="{{userInfo.redes.twitter}}">
                        <img src="assets/images/icons/twitter-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/twitter-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/twitter-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2" ng-show="userInfo.redes.linkedin != 'http://www.linkedin.com/' && userInfo.redes.linkedin != ''">
                      <a target="_blank" href="{{userInfo.redes.linkedin}}">
                        <img src="assets/images/icons/linked-in-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/linked-in-anunciante-blanco.png'" onmouseout="this.src='assets/images/icons/linked-in-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2" ng-show="userInfo.redes.youtube != 'http://www.youtube.com/' && userInfo.redes.youtube != ''">
                      <a target="_blank" href="{{userInfo.redes.youtube}}">
                        <img src="assets/images/icons/youtube-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/youtube-anunciante-blanco.svg'" onmouseout="this.src='assets/images/icons/youtube-anunciante.svg'">
                      </a>
                    </div>
                    <div class="col-xs-2" ng-show="userInfo.redes.googleplus != 'http://www.plus.google.com/' && userInfo.redes.googleplus != ''">
                      <a target="_blank" href="{{userInfo.redes.googleplus}}">
                        <img src="assets/images/icons/google_plus-anunciante.svg" class="img-ico img-center" onmouseover="this.src='assets/images/icons/google_plus-anunciante-blaco.png'" onmouseout="this.src='assets/images/icons/google_plus-anunciante.svg'">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="nombreInfo == 'me' && userData.role == 'empresa'" class="text-center">
                <p>
                  Tu tipo de plan: {{ userData.paquete }}
                  <a class="btn btn-editar" href="/pricing">Mejorar plan</a>
                  <a target="modal-invitar" class="btn btn-editar " data-toggle="modal" data-target="#modal-amigos">Invitar amigos</a>
                  <br>
                  <div ng-if="userData.paquete != 'gratis'">Fecha de vencimiento: {{ fechaFront }}</div>
                  <div ng-if="information.credito > 0">Tu crédito disponible es: {{ information.credito | currency }}</div>
                  <div>Mi Calificación:</div>
                  <span ng-repeat="estrellas in getStars(userData.stars) track by $index" style="font-size:15pt;"><i class="fa fa-star" aria-hidden="true"></i></span>
                </p>
              </div>
              <div class="text-center" ng-if="nombreInfo != 'me' && userInfo.role == 'empresa'">
                <p>
                  <div>Calificación:   <a ng-if="userData.nombre != null" class="btn btn-editar" ng-click="openRate()" href="#">Calificar</a></div>
                  <span ng-repeat="estrellas in getStars(userInfo.stars) track by $index" style="font-size:15pt;">
                    <i class="fa fa-star" ></i>
                  </span>
                </p>
              </div>

              <div class="row">
                <div class="col-xs-12 margin-top-20">
                  <!--Oportunidades-->
                  <!--<oportunidades></oportunidades>-->

                  <!--Horarios del usuario-->
                  <shedules></shedules>
                  <!--Terminan horarios-->

                  <!--Teléfonos-->
                  <telefonos></telefonos>

                </div>
              </div>

            </div>

            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 ">
              <!--Botones Normales -->
              <button ng-if="nombreInfo == 'me'" id="btnEditTitle" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12" ng-click="editar('txtTitle','btnEditTitle')">Editar</button>
              <button ng-click="agregarFavorito()" ng-if="nombreInfo != 'me'" id="btnEditFavoritosDos" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12">Favorito</button>
              <button data-toggle="modal" style="font-size:50%;" ng-if="nombreInfo == 'me' && userData.role == 'empresa'" data-target="#modal-redes" class="btn btn-editar pull-right btn-top col-lg-12 col-md-12 hidden-xs col-sm-12">Editar redes</button>
              <!--Botones Para movil -->
              <button ng-if="nombreInfo == 'me'" id="btnEditTitle-xs" class="btn btn-editar pull-right btn-top visible-xs" ng-click="editar('txtTitle','btnEditTitle')">
                <i class="fa fa-edit"></i>
              </button>
              <button ng-click="agregarFavorito()" ng-if="nombreInfo != 'me' && userData.role != 'empresa'" id="btnEditFavoritosDos-xs" class="btn btn-editar pull-right btn-top visible-xs">
                <i class="fa fa-heart"></i>
              </button>
              <button id="btnEditSocial-xs" ng-if="nombreInfo == 'me' && userData.role == 'empresa'" data-toggle="modal" data-target="#modal-redes" class="btn btn-editar pull-right btn-top visible-xs">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <br>
          </div>

        </div>
      </div>
      <!-- Header End -->
      <!-- container de empresa Start-->
      <!-- Row de descripciÃ³n -->
      <div class="row" ng-if="userData.role == 'empresa' && nombreInfo == 'me'">
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 bg-white">
          <div class="row">
            <div id="descripcion" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-0 col-xs-12 col-xs-offset-0 page-header">
              <textarea style="font-size: 14px; text-align: justify;" id="descripcionTA" ng-model="userData.about" class="text-center textarea-edit " disabled rows="5" placeholder="Escribe tu descripción aquí" maxlength="1700"></textarea>
            </div>
            <div class="col-lg-1 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1">
              <button id="btnEditDesc" class="btn btn-editar pull-right btn-top hidden-xs col-lg-12" ng-click="editar('descripcionTA','btnEditDesc')">Editar</button>
              <button id="btnEditDesc-xs" class="btn btn-editar visible-xs col-xs-4 col-xs-offset-4" ng-click="editar('descripcionTA','btnEditDesc-xs')">
                <i class="fa fa-edit"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="row" ng-if="nombreInfo != 'me'">
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 bg-white">
          <div class="row">
            <div id="cobertura" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-0 col-xs-12 col-xs-offset-0 page-header">
              <img ng-show=" userInfo.cover == 'Internacional'"
                   src="/assets/images/icons/icono_internacional.png"
                   alt=""
                   class="img-responsive img-cobertura-internacional-perfil">
              <img ng-show=" userInfo.cover == 'Nacional' "
                  src="/assets/images/icons/icono_nacional.png"
                  alt=""
                  class="img-responsive img-cobertura-nacional-perfil">
              <img ng-show=" userInfo.cover == 'Local' "
                  src="/assets/images/icons/icono_local.png"
                  alt=""
                  class="img-responsive img-cobertura-local-perfil">
              <img ng-show=" userInfo.cover == undefined "
                  src="/assets/images/icons/icono_local.png"
                  alt=""
                  class="img-responsive img-cobertura-local-perfil">
              <span ng-show=" userInfo.cover == undefined "
                    class="font-cob-perfil-30"
              >Local
              </span>
              <span ng-show=" userInfo.cover != undefined "
                    class="font-cob-perfil-30"
              >{{userInfo.cover}}
              </span>
            </div>
            <div id="descripcion" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-0 col-xs-12 col-xs-offset-0 page-header">
              <textarea style="font-size: 14px; text-align: justify;" id="descripcionTA" ng-model="userInfo.about" class="text-center textarea-edit " disabled rows="5" maxlength="1700"></textarea>
            </div>
            <!-- <div ng-if="userData.role != 'visitante'" class="col-lg-1 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1">
              <button id="btnEditDesc" class="btn btn-editar pull-right btn-top hidden-xs col-lg-12" ng-click="editar('descripcionTA','btnEditDesc')">Editar</button>
              <button id="btnEditDesc-xs" class="btn btn-editar visible-xs col-xs-4 col-xs-offset-4" ng-click="editar('descripcionTA','btnEditDesc-xs')">
                <i class="fa fa-edit"></i>
              </button>
            </div> -->

          </div>
        </div>
      </div>
      <!-- Row de descripciÃ³n -->
      <!-- Row de tags -->
      <div class="row">

        <div class="container page-header tags-container ">

          <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 ">
            <div class=" text-left">
              <div class="col-md-12">
                <h3 class="orange text-center">PALABRAS CLAVE</h3>
              </div>

            </div>

            <div class="row" id="tags">
              <div class="col-md-12 text-center"

              >
                <button ng-repeat="tag in userInfo.tags track by $index"
                        class="btn btn-orange-dark margin-right-10 margin-top-10"
                > {{ tag }}</button>

              </div>
            </div>

          </div>

          <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 " >
            <div class="row">
              <div class="col-lg-12 font-light " id="favoritos">
                <h3 class="orange text-center ">VENTAJAS COMPETITIVAS</h3>
                <p class="text-center"> {{ userInfo.ventajas }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Row de tags -->

      <!-- Row de datos y productos -->
      <div class="row" ng-show="userData.role == 'empresa' && nombreInfo == 'me'">
        <div class="container page-header ">
          <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 b-right ">
            <strong class="pull-left">DATOS
            </strong>
            <button id="btnEditDatos" class="btn btn-editar btn-edit-tag hidden-xs" ng-click="editarAll()">Editar</button>
            <button id="btnEditDatos-xs" class="btn btn-editar btn-edit-tag visible-xs  pull-right">
              <i class="fa fa-edit"></i>
            </button>
            <div id="datos" class="row top">
              <input id="datosEmail" class=" micro-top form-control input-datos" disabled type="email" ng-model="userData.emailSec" placeholder="Email de contacto">
              <label class="invalid-label pull-left light-16 hidden" id="error-url">Ingresa una URL válida</label>
              <input id="datosUrl" disabled type="text" ng-model="userData.web" class=" micro-top form-control input-datos" placeholder="http://www.portaliaplus.com">
              <label class="invalid-label pull-left light-16 hidden micro-top" id="error-telefono">Ingresa un número de teléfono válido (10-12 dígitos)</label>
              <input maxlength="12" id="datosTelefono" disabled type="text" ng-model="userData.telefono" class="  form-control input-datos " placeholder="33 3333 3333">
              <!-- <input id="datosMail" disabled type="text" ng-model="userData.email" class=" micro-top form-control input-datos" placeholder="ejemplo@portaliaplus.com"> -->
              <!-- <input id="datosDirección" disabled type="text" ng-model="userData.direccion" class=" micro-top form-control input-datos" placeholder="Calle ejemplo #123"> -->
              <input id="pac-input" ng-model="userData.direccion" type="text" class=" micro-top form-control input-datos">

            </div>
            <button class="btn btn-editar btn-edit-tag hidden-xs" data-toggle="modal" data-target="#modalTelefonos">Agregar más teléfonos</button>
          </div>
          <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 top-sm">
            <strong class="">Productos
            </strong>
            <button ng-show="(userData.paquete == 'plus' && userData.products.length < 100) || (userData.paquete == 'select' && userData.products.length < 50) || (userData.paquete == 'gratis' && userData.products.length < 10)" id="btnAddProd" class="btn btn-editar btn-edit-tag ">
              <span class="fa fa-plus"></span>
            </button>

            <div id="productos" class="row top">



              <div class="col-lg-5 col-md-6 col-sm-6 item-prod" ng-repeat="p in userData.products">
                <div class="inner-addon right-addon ">
                  <i onclick="removeComponent(this,'.item-prod')" class="glyphicon glyphicon-remove remove-prod"></i>
                  <input maxlength="30" disabled type="text" class=" micro-top form-control input-productos" value="producto" ng-model="p">
                </div>
              </div>

            </div>


            <input type="file" class="hidden" id="subirCatalogo" ngf-select="uploadCurriculum(fileCu)" ng-model="fileCu" accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ngf-pattern="'application/pdf'">
          </div>
        </div>
      </div>
      <!-- Row de datos y productos -->



      <!-- Row de iconos perfil -->
      <div class="row medium-top" ng-if="nombreInfo != 'me'">
        <div class="container-fluid">
          <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 top-sm">
            <img src="assets/images/icons/perfil-anunciante-web.svg" class="img-responsive img-center select-icon" alt="">
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="light-16 text-center">
              <a ng-if="userInfo.web.indexOf('http://') &&  userInfo.web.indexOf('https://') == -1 " href="http://{{userInfo.web}}" target="_blank">{{userInfo.web}}</a>
              <a ng-if="userInfo.web.indexOf('http://') != -1 " href="{{userInfo.web}}" target="_blank">{{userInfo.web}}</a>
              <a ng-if="userInfo.web.indexOf('https://') != -1 " href="{{userInfo.web}}" target="_blank">{{userInfo.web}}</a>
            </p>
          </div>
          <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 top-sm">
            <img src="assets/images/icons/perfil-anunciante-telefono.svg" class="img-responsive img-center select-icon" alt="">




            <contact-business message=" 'Ver teléfonos' "
                              ng-if=" userData.paquete == 'gratis' "
            ></contact-business>
            <!-- Para cuando no esta loggead -->
            <contact-business message=" 'ver teléfonos' "
                              ng-if=" userData._id == undefined "
            ></contact-business>
            <!-- Para cuando no esta loggead -->

            <div ng-if="userData.paquete != 'gratis' && userData._id != undefined ">
              <p class="light-16 text-center">
                <a href="tel:{{userInfo.telefono}}">{{userInfo.telefono}}</a>
              </p>
              <p class="light-16 text-center"
                 ng-if="userInfo.telefonos.length != 0 "
              >
                <strong>
                  <a id="mostrar" data-toggle="modal" data-target="#mostrarTelefonos" href="" class="yellow">Mostrar más teléfonos</a>
                </strong>
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 top-sm">

            <img src="assets/images/icons/perfil-anunciante-correo.svg" class="img-responsive img-center select-icon" alt="">

            <!--<p ng-show="userInfo.emailSec" class="light-16 text-center">-->
              <!--<a >{{ userInfo.emailSec.slice(0,2) + '.....@' + userInfo.emailSec.split("@")[1] }}</a>-->
            <!--</p>-->



            <!-- Esta es una directiva creada en el controlador del componente contacto dentro del folder perfil -->
            <contact-business message=" userInfo.emailSec.slice(0,2) + '.....@' + userInfo.emailSec.split('@')[1] "
                              ng-if=" userInfo.emailSec && userData.paquete == 'gratis' "
            ></contact-business>
            <contact-business message=" userInfo.email.slice(0,2) + '.....@' + userInfo.email.split('@')[1] "
                              ng-if="! userInfo.emailSec && userData.paquete == 'gratis' "
            ></contact-business>
            <!-- Esta es una directiva creada en el controlador del componente contacto dentro del folder perfil -->

            <!-- Para cuando no esta loggead -->
            <contact-business message=" userInfo.email.slice(0,2) + '.....@' + userInfo.email.split('@')[1] "
                              ng-if=" userData._id == undefined "
            ></contact-business>
            <!-- Para cuando no esta loggead -->

            <!-- En caso que sea select se le muestran los datos directamente -->
            <p ng-if="userData.paquete != 'gratis' && userData._id != undefined && userData.paquete != undefined " class="light-16 text-center">
              <a href="mailto:{{ userInfo.email }}">{{ userInfo.email }}</a>
            </p>
            <!-- En caso que sea select se le muestran los datos directamente -->

          </div>
          <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 top-sm">
            <img src="assets/images/icons/perfil-anunciante-ubicacion.svg" class="img-responsive img-center select-icon" alt="">
            <p class="light-16 text-center" ng-hide="userInfo.direccion == '' || userInfo.direccion == undefined"><a target="_blank" href="http://maps.google.com/?q={{userInfo.direccion}}">{{userInfo.direccion}}</a></p>
            <p class="light-16 text-center" ng-show="userInfo.direccion == '' || userInfo.direccion == undefined"><a target="_blank" href="http://maps.google.com/?q={{userInfo.municipio_name}}+{{userInfo.estado_name}}">{{userInfo.municipio_name}}, {{userInfo.estado_name}}</a></p>
          </div>

          <div id="startChat"
               class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3  col-xs-10 col-xs-offset-1 top-sm"

          >
            <img src="assets/images/icons/perfil-anunciante-mensaje.svg" class="img-responsive img-center select-icon" alt="">

            <div ng-show="userInfo.paquete != 'gratis' && userData._id != undefined && userData._id != userInfo._id " >
              <!-- Liga para crear un chat en caso de que no esté -->
              <a ng-click=" createChat() " href="#" ng-show=" ! hasCreatedChat  ">
                <p  class="light-16 text-center">Envíanos un MENSAJE</p>
              </a>
              <!-- Liga para ir al chat actual entre empresa -->
              <a href="/perfil-usuario/chat" target="_blank" ng-show=" hasCreatedChat ">
                <p class="light-16 text-center">Ver chat con {{ userInfo.nombre }}</p>
              </a>
            </div>

            <div ng-show="userInfo.paquete == 'gratis' && userData._id != undefined && userData._id != userInfo._id " >
              <!-- Liga para crear un chat en caso de que no esté -->
              <a data-toggle="modal" data-target="#myModal" href="#" ng-show=" ! hasCreatedChat  ">
                <p  class="light-16 text-center">Envíanos un MENSAJE</p>
              </a>

            </div>

          </div>

          <div id="alreadyChatting" class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3  col-xs-10 col-xs-offset-1 top-sm" style="display:none;" ng-show="userInfo.paquete != 'gratis'">
            <a href="/perfil/me#chat" style="cursor:pointer;">
              <img src="assets/images/icons/perfil-anunciante-mensaje.svg" class="img-responsive img-center select-icon" alt="">
              <p class="light-16 text-center">Continúa tu Chat</p>
            </a>
          </div>

        </div>
      </div>
      <!-- Row de iconos perfil -->

      <!-- Row ver productos -->
      <div class="row   padding-30" >

        <div class="col-md-12 products-container ">
          <img src="assets/images/icons/productos.svg" class="center-block img-responsive img-prod" alt="">
          <p class="text-center">
            <strong>PRODUCTOS</strong>
          </p>
          <div class="row">
            <div class=" col-md-3 margin-top-20 "
                 ng-repeat="product in products"

            >

              <div class="product-box">

                <img ng-src="{{ getProductImage(product) }}" alt="">

                <h3 class="text-center orange">{{ product.name }}</h3>

                <a class="btn btn-orange-dark btn-block"
                   href="/detalle-producto/{{ product.name }}/{{ product._id }}"
                   target="_blank"
                >
                  <i class="fa fa-list"></i>
                  <span class="hidden-sm">Ver producto</span>
                </a>

              </div>

            </div>
          </div>
        </div>


      </div>
      <!-- Row ver productos -->

      <!-- container de empresa End-->

      <!-- Catálogos de productos-->
      <div class="row margin-bottom-30"
           ng-if=" userInfo.productsCatalog.length > 0 "
      >
        <div class="col-md-12 text-center">
          <h2 class="orange "> Catálogos {{ userInfo.nombre }}</h2>
          <a class="btn btn-orange-dark margin-left-10"
             ng-repeat=" catalog in userInfo.productsCatalog "
             ng-href=" {{ catalog.url }}"
             target="_self"
             download
          >
            <i class="fa fa-download"></i>
            {{ catalog.name }}
          </a>
        </div>
      </div>
      <!-- Termina catálogo de productos-->

      <!-- SecciÃ³n de favoritos -->
      <div class="row" ng-if="userData.role == 'visitante' && nombreInfo == 'me'">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-3 hidden-xs">

              <hr>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <img src="assets/images/icons/favorito-perfil.svg" class="img-favorite pull-left" alt="">
              <h1 class="text-center">FAVORITOS</h1>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-3 hidden-xs">

              <hr>
            </div>
          </div>
          <!-- Este es el content de un cuadro informativo -->
          <div id="favoritos">
            <!-- Seccion favoritos     -->
            <div ng-repeat="cuadros in userData.favoritos" class="col-lg-2 col-md-3 col-sm-6 top item-favorito">
              <div class="img-container-background">
                <div class="img-container">
                  <div ng-click="removerFavorito($index)" class="favorite">
                    <img style="height: 40px;width: 40px;" src="assets/images/icons/eliminar-favorito.svg" class="favorite-free ico" alt="">
                  </div>
                  <a href="/perfil/{{listaFavoritos[$index]._id}}#fotoHash">
                    <img onerror="this.src='assets/images/foto-perfil-default.png'" ng-src="assets/uploads/{{listaFavoritos[$index].sector_name| decodeURI}}/{{listaFavoritos[$index].categoria_name| decodeURI}}/{{listaFavoritos[$index]._id}}/foto-perfil.jpg" alt="" class=" img-responsive">
                  </a>
                </div>
              </div>
            </div>
            <!-- Seccion favoritos     -->
          </div>

          <!-- termina el content -->

          <div class="page-header header-yellow col-xs-12"></div>
          <!-- <button id="btnEditFavoritos" class="btn btn-editar pull-right bot hidden-xs">Editar</button>
          <button id="btnEditFavoritos-xs" class="btn btn-editar bot visible-xs col-xs-4 col-xs-offset-4">
            <i class="fa fa-edit"></i>
          </button> -->

        </div>

      </div>
      <!-- SecciÃ³n de los favoritos -->
      <div style="min-height:0px;height:0px;" class="header-space" ng-if="userData.role == 'empresa'"></div>

      <!-- Seccion imÃ¡genes -->
      <div ng-show="(userData.role == 'empresa' || nombreInfo != 'me') && (userInfo.productsImg.length != 0)">
        <div class="row" ng-show="userInfo.role != 'visitante' || (!userInfo && userInfo.role != 'visitante')">
          <h1 class="text-center bot" ng-show="nombreInfo != 'me' && userInfo.productsImg.length != 0">IMÁGENES</h1>
          <h1 class="text-center bot" ng-show="nombreInfo == 'me'">IMÁGENES</h1>
          <div ng-class="sliderImages()">
            <ul id="lightSlider">

              <!-- ESTE ES CUANDO NO ERES EL DUEÑO -->
              <li ng-repeat="image in userInfo.productsImg" ng-show="nombreInfo != 'me'">
                <img ng-src="assets/uploads/{{userInfo.sector_name | decodeURI}}/{{userInfo.categoria_name | decodeURI}}/{{userInfo._id | decodeURI}}/productos/{{ image }}"
                     alt=""
                     class="responsiveItemSliderOne responsiveItemSlider"
                     ng-if=" ! image.includes('/assets/uploads') "
                >
                <img ng-src="{{ image }}"
                     alt=""
                     class="responsiveItemSliderOne responsiveItemSlider"
                     ng-if=" image.includes('/assets/uploads') "
                >
                <div class="row">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                      <button data-toggle="modal"
                              data-target="#modal-preview"
                              class="btn btn-warning top  col-xs-12 "
                              ng-click="seeImage(image , $index)"
                      >
                        <i class="fa fa-eye"></i>
                        <span class="hidden-xs">Vista previa</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>


        </div>
      </div>

      <!-- <div class="row" ng-show="userData.role == 'visitante' && nombreInfo != 'me'">
        <h1 class="text-center bot">IMÁGENES</h1>
        <div ng-class="{'col-xs-12 col-xs-offset-0 col-sm-10 col-lg-8 col-lg-offset-2':userInfo.productsImg.length < 5,'col-xs-12 col-xs-offset-0 col-sm-12 col-lg-10 col-lg-offset-2':userInfo.productsImg.length >= 5}">
          <ul id="lightSliderDos">
            <li ng-repeat="p in userInfo.productsImg">
              <img ng-src="assets/uploads/{{userInfo.sector_name | decodeURI}}/{{userInfo.categoria_name | decodeURI}}/{{userInfo._id | decodeURI}}/productos/{{pDos}}" alt="" class="responsiveItemSliderOne responsiveItemSlider">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <button data-toggle="modal" data-target="#modal-preview" class="btn btn-warning top  col-xs-12 " ng-click="seeImage(p)">
                      <i class="fa fa-eye"></i>
                      <span class="hidden-xs">Vista previa</span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->


      <!-- Seccion imÃ¡genes -->

      <!-- Seccion videos -->
      <div ng-show="(userData.role == undefined && userInfo.videos.length != 0) ||(userData.role == 'empresa' && userInfo.videos.length != 0) || (userData.role == 'visitante' && nombreInfo != 'me' && userInfo.videos.length != 0)">
        <div class="row">
          <h1 class="text-center bot top" ng-show="userData.paquete != 'gratis'">VIDEOS</h1>
          <div ng-class="sliderVideos()">
            <ul id="lightSlider-video">
              <li ng-repeat="videos in userData.videos">
                <!-- <img style="width:194px;height:194px;    margin-left: 15%;" src="assets/images/play.png" alt="" class="img-responsive"> -->
                <!-- <video controls class="img-responsive">
                  <source src="" type="video/mp4">
                </video> -->
                <div class="row">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                      <button data-toggle="modal" ng-click="seeVideo(videos)" data-target="#modal-video-preview" class="btn btn-warning top  col-xs-12 ">
                        <i class="fa fa-eye"></i>
                        <span class="hidden-xs">Ver Video {{$index + 1}}</span>
                      </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                      <button ng-show="(!userInfo && userInfo.role != 'visitante')" ng-click="borrarVideo($index)" class="btn btn-danger micro-top  col-xs-12" ng-if="userData.role != 'visitante'">
                        <i class="fa fa-trash"></i>
                        <span class="hidden-xs">Eliminar</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li ng-repeat="videos in userInfo.videos">
                <!-- <img src="assets/images/galeria/prueba.jpg" alt="" class="img-responsive"> -->
                <div class="row">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                      <button data-toggle="modal" ng-click="seeVideo(videos)" data-target="#modal-video-preview" class="btn btn-warning top  col-xs-12 ">
                        <i class="fa fa-eye"></i>
                        <span class="hidden-xs">Ver Video {{$index + 1}}</span>
                      </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                      <button ng-show="(!userInfo && userInfo.role != 'visitante')" ng-click="borrarVideo($index)" class="btn btn-danger micro-top  col-xs-12" ng-if="userData.role != 'visitante'">
                        <i class="fa fa-trash"></i>
                        <span class="hidden-xs">Eliminar</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0 micro-top bot " ng-show="userData.videos.length < vidLimit">
            <img id="videoUpload" src="assets/images/upload.png" class="img-responsive img-upload top" alt="">
            <input type="file" class="hidden" id="fileVid" ngf-select="uploadVideo(fileV)" ng-model="fileV" name="fileV" ngf-pattern="'video/*'" accept="video/*" ngf-max-size="100MB">
          </div>
        </div>
      </div>

      <!-- Seccion videos -->

      <div class="row" id="finalizar" style="display:none;" ng-show="userData.role != 'visitante' && nombreInfo == 'me'">
        <div class="register-btn-container">
          <button onClick="window.location='/registroExitoso';">Finalizar</button>
        </div>
      </div>

      <br>

      <!-- SecciÃ³n del chat -->
      <div id="chat" class="row bot my-bg-black hidden-xs hidden-sm" ng-show="(userData.role == 'visitante' && nombreInfo == 'me') || (userData.role == 'empresa' && userData.paquete != 'gratis' && nombreInfo == 'me')">
        <div class="container ">
          <div class="row bot">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h1 class="text-left white">MENSAJES
                <img src="assets/images/icons/chat-message.png" class="icon-message" alt=""></h1>
              <div class="header-yellow col-xs-12"></div>
            </div>
          </div>
          <div class="row chat-container">
            <div style="pointer-events:none;" class="col-lg-3 col-md-3 bg-white nuevos-container">
              <div class="row">
                <!-- <div style="pointer-events:all;" class="col-lg-12 col-md-12 bg-yellow nuevos-title">
                  <strong style="cursor:pointer;" ng-click="getMessages()" class="text-center font-light white ">Actualizar</strong>
                </div> -->
                <div ng-if="lista.personsId[0].id == userData._id || lista.personsId[1].id == userData._id" style="pointer-events:all;" ng-repeat="lista in datos" ng-click="changeChat(lista._id, $index)" class="col-lg-12 col-md-12 list-chat chat-list">
                  <p class="vcenter" ng-show="lista.personsId[0].id == userData._id">{{lista.personsId[1].name}} <span style="color:orange;">({{lista.msj.length}})</span></p>
                  <p class="vcenter" ng-show="lista.personsId[1].id == userData._id">{{lista.personsId[0].name}} <span style="color:orange;">({{lista.msj.length}})</span></p>
                </div>
                <!-- <div class="col-lg-12 col-md-12 list-chat chat-list">
                  <p class="vcenter">VOLKSWAGEN</p>
                </div> -->
              </div>
            </div>
            <div class="col-lg-9 col-md-9 jumbotron ">
              <div id="conversation" class="conversation hidden-sm hidden-xs">

                <!-- Esto es una linea de conversacion -->
                <div ng-repeat="dato in datos | filter:{ _id: currentChat} | orderBy: dato.msj.timestamp:true" ng-show="currentChat != 0">
                  <div style="margin-right: 50%" ng-repeat="texto in dato.msj" ng-class="{'msg col-lg-5 col-md-6 micro-top':texto.idEnv != userData._id, 'msg col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6 micro-top':texto.idEnv == userData._id}">
                    <!-- <div ng-class="{'message-left':texto.idEnv == userData._id, 'message-right':texto.idEnv != userData._id}">
                      <p class="black">{{texto.msj}}</p>
                    </div> -->
                    <div ng-class="{'message-right':texto.idEnv == userData._id, 'message-left':texto.idEnv != userData._id}">
                      <p class="black">{{texto.msj}}</p>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12"></div>
                </div>

              </div>
              <div ng-show="currentChat !=0">
                <div class="col-lg-11 col-md-11 div-messages">

                  <div class="col-lg-9 col-md-9">
                    <textarea ng-model="mensaje" name="txtMessage" rows="2" id="mensajeChido" class="form-control" placeholder="Escribe tu mensaje..."></textarea>
                  </div>
                  <button ng-click="createChat();" class="btn col-lg-2 col-md-2 btn-chat">
                  <i class="fa fa-send"></i>
                </button>
                </div>
                <img ng-src="assets/uploads/{{userData.sector_name| decodeURI}}/{{userData.categoria_name| decodeURI}}/{{userData._id}}/foto-perfil.jpg" onerror="this.src='assets/images/foto-perfil-default.png'" class="img-responsive icon-chat" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SecciÃ³n del chat -->
      <!-- Chat Start
      <div class="chatContainer">
        <div class="titleContainer">
          <span>Mensajes</span>
          <div class="line-separator"></div>
        </div>
        <div class="messageContainer">
          <div class="col-md-3">
            <div class="mensajesNuevos">
              <span>

                Nuevos (
                <span class="cantidad">3</span>)</span>
            </div>
            <div class="listaChats">
              <ul>
                <div>
                  <li ng-repeat="lista in datos" ng-click="changeChat(lista._id, $index)">
                    <span class="mensajeNuevo"></span>
                    <span>Chat</span>
                  </li>
                  <li ng-click="changeChat(0)">
                    <span class="mensajeNuevo"></span>
                    <span>Nuevo Chat</span>
                  </li>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="message-list" id="barra">
              <div class="msg" ng-repeat="dato in datos | filter:{ _id: currentChat} | orderBy: dato.msj.timestamp:true" ng-show="currentChat != 0">
                <div class="message" ng-repeat="texto in dato.msj" ng-class="{'in':texto.idEnv == userData._id, 'out':texto.idEnv != userData._id}">
                  <div>
                    <span>{{texto.msj}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="controlChatContainer">
              <div class="col-xs-1">
                <div class="imgContainerCenter fotoChat"><img class="profileImg" ng-src="assets/uploads/{{userData._id}}/foto-perfil.jpg" onerror="this.src='assets/images/foto-perfil.jpg'" /></div>
              </div>
              <div class="col-xs-11">
                <textarea placeholder="Escribe tu mensaje..." name="message" id="mensaje" ng-model="mensaje"></textarea>
              </div>
              <div class="btnContainer enviarMensaje">
                <a ng-click="createChat();">Enviar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      Chat End -->
      <!-- SecciÃ³n de artÃ­culos guardados -->
      <div class="row" ng-if="userData.role == 'visitante' && nombreInfo == 'me'">

        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs">

              <hr>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
              <img src="assets/images/icons/favorito-perfil.svg" class="img-favorite pull-left" alt="">
              <h1 class="text-center">ARTÍCULOS GUARDADOS</h1>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs">

              <hr>
            </div>
          </div>
          <!-- Este es el content de un cuadro informativo -->
          <div id="guardados">
            <!-- Seccion favoritos     -->
            <div class="col-lg-3 col-md-3 col-sm-6 top item-favorito" ng-repeat="post in userData.articulosGuardados">
              <div class="gradient-yellow-orange gradient-menu"></div>
              <div class="img-container-background">
                <div class="img-container">
                  <!-- <div ng-click="removerArticulo($index)" class="favorite">
                    <img style="height: 40px;width: 40px;" src="assets/images/icons/eliminar-favorito.svg" class="favorite-free ico" alt="">
                  </div> -->
                  <a href="/blog/post/{{listaPosts[$index].post.slug}}/{{listaPosts[$index].post.id}}">
                    <img ng-src="{{listaPosts[$index].post.attachments[0].images.medium.url}}" alt="" class=" img-responsive">
                  </a>
                </div>
              </div>
              <div class="favorite">
                <br>
                <p class="text-center">{{listaPosts[$index].post.title}}
                  <img ng-click="removerArticulo($index)" style="height: 40px;width: 40px;position: static;" src="assets/images/icons/eliminar-favorito.svg" class="favorite-free ico" alt="">
                </p>
              </div>
            </div>

            <!-- Seccion favoritos     -->
          </div>

          <!-- termina el content -->

          <div class="page-header header-yellow col-xs-12"></div>

          <!-- <button id="btnEditArticulos" class="btn btn-editar pull-right bot hidden-xs">Editar</button>
          <button id="btnEditArticulos-xs" class="btn btn-editar bot visible-xs col-xs-4 col-xs-offset-4">
            <i class="fa fa-edit"></i>
          </button> -->

        </div>

      </div>
      <!-- SecciÃ³n de artÃ­culos guardados -->
      <!-- <div class="orange-divider orange-divider-background"></div> -->
    </div>
  </section>

  <!-- Modal de preview de imÃ¡genes -->
  <div id="modal-preview" style="z-index:10000" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-transparent">
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close white"></i>
          </button>

          <div class="row">
            <div class="col-xs-12">
              <img src="assets/images/galeria/prueba.png"
                   alt=""
                   id="modal-image"
                   class="img-responsive center-block">
            </div>
          </div>


        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal de preview de imÃ¡genes -->

  <!-- Modal de preview de videos -->
  <div id="modal-video-preview" class="modal fade" style="z-index:10000" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-transparent">
        <div class="modal-body">
          <button onclick="document.getElementById('video').pause();" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close white"></i>
          </button>
          <br>
          <div id="divVid" class="embed-responsive embed-responsive-16by9">
            <!-- <iframe id="video-ventana" class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe> -->
            <video id="video" width="320" height="240" controls>
              <source id="video-ventana" src="movie.mp4" type="video/mp4">
            </video>
            <!-- Modal de preview de videos -->

          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal de preview de videos -->

  <!-- Modal chat -->
  <div id="modal-chat" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content ">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <div class="row bot">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <img ng-src="assets/uploads/{{userInfo.sector_name| decodeURI}}/{{userInfo.categoria_name| decodeURI}}/{{userInfo._id}}/foto-perfil.jpg" class="hidden-xs img-big-ico" onerror="this.src='assets/images/foto-perfil-default.png'" alt="">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 text-center">
              <h1 class="border-bottom">{{userInfo.nombre}}</h1>
            </div>
          </div>
          <div class="row my-bg-black">
            <div class="container col-xs-12 chat-modal">
              <div class="row chat-container-modal">

                <div style="height: 0%;" class="col-xs-12  jumbotron bg-beige">
                  <div class="col-md-11 col-sm-11 col-xs-12 div-messages">

                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea name="txtMessage" ng-model="mensajeDos" id="txtMessage" rows="2" class="form-control" placeholder="Escribe tu mensaje..."></textarea>
                    </div>
                    <button ng-click="createChat();" id="btnSend" class="btn col-lg-2 col-md-2 btn-chat">
                      <i class="fa fa-send"></i>
                    </button>
                  </div>
                  <img ng-src="assets/uploads/{{userData.sector_name| decodeURI}}/{{userData.categoria_name| decodeURI}}/{{userData._id}}/foto-perfil.jpg" class="img-responsive icon-chat hidden-xs" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal chat -->

  <!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
  <div id="modal-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h1 class="text-center">¡BIENVENIDO!</h1>
          <br>
          <p class="text-center">
            Gracias por registrarte en Portalia Plus. Te invitamos a completar la información de tu página de negocio para que tus clientes te encuentren más rápido. Si no puedes en este momento, hazlo cuando quieras iniciando sesión con tu cuenta.
          </p>
          <br>
          <img src="assets/images/icons/smile.png" alt="" class="img-center">
          <br>
          <p class="text-center">¡Gracias por tu confianza!</p>
          <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal">Personalizar perfil</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id="modal-amigos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Invitar a tus amigos y obtén $500 de crédito canjeable por cada registro exitoso</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1" id="emails">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 pagination-centered">
                  <img src="assets/images/icons/add-image.png" class="img-ico img-center" alt="" id="addExtraEmail" ng-click="agregarEmailExtra()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="enviar();">Invitar</button>
            <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top text-center">
            <a ng-click="gotoPromotion()" style="cursor: click;">
              Click aquí para más información
            </a>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Modal -->
  <div id="modalShare" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h2 class="text-center top orange" >COMPARTIR POR CORREO</h2>
          <div class="header-yellow" style="border-bottom: 1px solid black;"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <form novalidate name="modalFacturacion">
                  <div class="form-row">
                    <div class="form-label form-gray">
                      <span>Tu correo</span>
                    </div>
                    <div class="form-text-field-container">
                      <input ng-model="shareData.tuCorreo" required class="form-text-field bg-white" type="email">
                      <!-- Volver a hacerlo required después del testing -->
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-gray">
                      <span>Tu nombre</span>
                    </div>
                    <div class="form-text-field-container">
                      <input required ng-model="shareData.tuNombre" class="form-text-field bg-white" type="text">
                      <!-- Volver a hacerlo required después del testing -->
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-gray">
                      <span>Correo a Compartir</span>
                    </div>
                    <div class="form-text-field-container">
                      <input ng-model="shareData.suCorreo" required class="form-text-field bg-white" type="email">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-gray">
                      <span>Nombre Destinatario</span>
                    </div>
                    <div class="form-text-field-container">
                      <input required ng-model="shareData.suNombre" class="form-text-field bg-white" type="text">
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <button class="btn btn-warning btn-40 col-xs-12" ng-click="shareMail()">
                <i ng-show="sendingEmail==true" class="fa fa-circle-o-notch fa-spin"></i>
                Compartir
              </button>
              <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
            </div>
          </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Modal -->

  <div id="easteregg" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">doctor_egg_1969.mp4</h3>
          <div class="header-yellow">
          </div>
          <div class="row top">
            <iframe id="blink" width="560" height="315" src="https://www.youtube.com/embed/dfPo93nbW4s?controls=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <div class="panel-footer row">
              <!-- panel-footer -->
              <div class="col-xs-6 text-left">
                <div class="previous">
                  <button style="font-size: 17px;" type="button" data-dismiss="modal" class="btn btn-warning btn-40 col-xs-12">
              TRUTH
          </button>
                </div>
              </div>
              <div class="col-xs-6 text-right">
                <div class="next">
                  <button style="font-size: 17px;" type="button" onclick="speech()" class="btn btn-warning btn-40 col-xs-12">
              CONSEQUENCES
          </button>
                </div>
              </div>
              <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 top text-center">
              <a href="https://es.wikipedia.org/wiki/Huevo_de_pascua_(virtual)" target="_blank">
              ¿Qué es esto?
            </a>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </div>
  <div id="mainModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h2 class="text-center top" style="color:#ec971f;">COMPARTIR</h2>
          <div class="header-yellow" style="border-bottom: 1px solid black;"></div>
          <div class="row top">
            <div class="col-xs-6">
              <div class="row">
                <button class="btn btn-warning btn-40 col-xs-12" ng-click="openMail()">Correo</button>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <button class="btn btn-warning btn-40 col-xs-12" style="background-color:#3b5998;" ng-click="openFB()">Facebook</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Modal -->
</div>


<script src="assets/js/perfil.js"></script>
<script>
  // a key map of allowed keys
  var allowedKeys = {
    37: 'left',
    38: 'up',
    39: 'right',
    40: 'down',
    65: 'a',
    66: 'b'
  };

  // the 'official' Konami Code sequence
  var konamiCode = ['up', 'up', 'down', 'down', 'left', 'right', 'left', 'right', 'a', 'b'];

  // a variable to remember the 'position' the user has reached so far.
  var konamiCodePosition = 0;

  // add keydown event listener
  document.addEventListener('keydown', function(e) {
    // get the value of the key code from the key map
    var key = allowedKeys[e.keyCode];
    // get the value of the required key from the konami code
    var requiredKey = konamiCode[konamiCodePosition];

    // compare the key with the required key
    if (key == requiredKey) {

      // move to the next key in the konami code sequence
      konamiCodePosition++;

      // if the last key is reached, activate cheats
      if (konamiCodePosition == konamiCode.length)
        activateCheats();
    } else
      konamiCodePosition = 0;
  });

  function activateCheats() {
    var iframe = document.getElementById('blink');
    iframe.src = iframe.src + '&autoplay=1';
    $('#easteregg').modal('show');
  }

  $('#easteregg').on('hide.bs.modal', function() {
    var iframe = document.getElementById('blink');
    iframe.src = "https://www.youtube.com/embed/dfPo93nbW4s?controls=0";
  });

  function speech() {
    var iframe = document.getElementById('blink');
    iframe.src = "https://www.youtube.com/embed/BJP9o4BEziI?autoplay=1&controls=0";
  }
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChpILarfnrv9OxONxDhJeDh3LPiBOzpUI&libraries=places&callback=initAutocomplete"></script>
