<section class="searchResult" ng-controller="registroExitosoCrl">
  <div class="search-header search-header-background">
    <h2>	¡ Bienvenido !</h2>
    <div class="underline-header-text gradient-yellow-orange"></div>
  </div>
  <div class="separator gradient-yellow-orange"></div>
  <div style="padding-top:5%;padding-bottom:5%;" class="search-space search-background">
    <h3 class="registro-exitoso">Gracias por registrarte</h3>
    <div class="col-md-6">
      <div class="imgContainerRight"><img src="assets/images/icons/smile.png" /></div>
    </div>
    <div class="col-md-6">
      <p class="gracias-descripcion">Gracias por registrarte en Portalia,
        <br/>el portal industrial con la mejor
        <br/>experiencia de búsqueda para
        <br/>ofertantes y compradores.
        <br/>Personaliza tu perfil para que comiences a recibir oportunidades de negocio, no olvides agregar palabras clave y todos tus productos y servicios.</p>
      <br/>
    </div>
    <button data-toggle="modal" data-target="#modal-amigos" class="btn gradient-border col-lg-5  col-md-5 col-xs-12 pull-left top-sm">INVITAR AMIGOS</button>
    <a class="btn gradient-border-white col-lg-5  col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-12 pull-right top-xs" ng-click="redirect()" href="#">COMPLETAR PERFIL</a>

  </div>
  <div class="separator gradient-yellow-orange"></div>
  <div id="modal-amigos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Invitar a tus amigos</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1" id="emails">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 pagination-centered">
                  <img src="assets/images/icons/add-image.png" class="img-ico img-center" alt="" id="addExtraEmail" ng-click="agregarEmailExtra()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="enviar();">Invitar</button>
            <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
