
<div class="container-fluid" ng-controller="detalleCotizacionController">

  <div class="row">
    <div class="col-md-12 padding-90 bg-oportunidades">
      <img src="/assets/images/icons/oportunidades.png" class="img-responsive center-block" alt="">
      <h2 class="header-text">Detalle oportunidad de negocio</h2>
      <div class="header-underline gradient-yellow-orange"></div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-12 margin-top-30 margin-bottom-30">

      <div class="container"
           ng-if="userData.paquete != 'gratis' && userData != null "
      >

        <quotationdetail></quotationdetail>

      </div>

      <div class="container"
           ng-if="userData.paquete == 'gratis' || userData == null "
      >

        <h3 class="orange text-center">
          Lo sentimos, para ver el detalle de las cotizaciones es necesario que adquieras una membresía select, te invitamos a adquirirla para que disfrutes de
          todos los beneficios del portal <a href="/pricing">aqui</a>
        </h3>

      </div>

    </div>

  </div>

</div>
