<div ng-controller="OportunidadesUserController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Mis cotizaciones
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Mis cotizaciones</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list font-blue"></i>
            <span class="caption-subject font-blue sbold uppercase">Listado de las cotizaciones de {{ user.sector_name }}</span>
          </div>
          <div class="actions">

          </div>
        </div>
        <div class="portlet-body">

          <table class="table table-striped table-hover table-bordered"
                 id="quotesTable"
          >

            <thead>
            <tr>
              <th> Producto </th>
              <th> Sector </th>
              <th> Categoria </th>
              <th> Acciones </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quote in quotes">
              <td> {{ quote.product }}</td>
              <td> {{ quote.sector }}</td>
              <td> {{ quote.category }}</td>
              <td>
                <button class="btn btn-primary btn-xs"
                        ng-click=" showQuote( quote._id ) "
                        ng-if=" user.paquete != 'gratis' "
                >Ver cotización</button>
                <button class="btn btn-primary btn-xs"
                        ng-if=" user.paquete == 'gratis' "
                        ng-click=" showQuote( quote._id ) "
                >Ver cotización</button>
              </td>
            </tr>
            </tbody>

          </table>

          <div class="row padding-30" ng-show="activeQuote" id="activeQuote">
            <div class="col-md-12 "
                 ng-if=" user.paquete != 'gratis' || 1 == 1"
            >
              <quotationdetail></quotationdetail>
            </div>
          </div>


        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>

</div>
