<div class="container-fluid" ng-controller="cotizacionesCtr">

	<div class="row ">

		<div class="col-md-12 padding-90 bg-callcenter">

			<h2 class="header-text">¿Búscas proveedores, fabricantes o distribuidores industriales?</h2>
			<div class="header-underline gradient-yellow-orange"></div>
			<div class="text-center white">
				<br>Contacta con proveedores industriales de todos los sectores, de manera rápida, fácil y gratuita. Solicita aquí los productos o servicios que requieres y nosotros hacemos llegar tu solicitud a más de 30,000 empresas mexicanas en nuestro directorio
				Industrial. Somos la mejor manera de recibir cotizaciones formales para tus proyectos ¡Solicita ahora y ahorra tiempo y dinero!
				<br>
			</div>



		</div>


	</div>

	<div class="row bg-gray padding-60">
		<div class="col-md-12">
			<h2 class="text-center">LO QUE OBTIENES</h2> <br>
		</div>
		<div class="col-md-3">
			<img src="assets/images/cotizacion/icon-telefono.png" class="center-block" alt="">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p> <br>Contacto directo con las empresas que tienen los productos o servicios que solicitaste.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/cotizacion/icon-calculadora.png" class="center-block" alt="">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p> <br>Un costo estimado de tu proyecto en base a tu petición.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/cotizacion/icon-empresa.png" class="center-block" alt="">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p> <br>Cotizaciones de diferentes empresas que te permitirán comparar costos, ahorrandote tiempo y dinero.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/cotizacion/icon-privacidad.png" class="center-block" alt="">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p> <br>Privacidad 100% garantizada, tus datos están seguros y protegidos con nosotros.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row padding-60 bg-black">

		<div class="col-md-8 col-md-offset-2 text-center">

			<h3 class="orange">¿QUÉ DESEAS COTIZAR? </h3>
			<p class="white">
				Envía una solicitud de cotización al sector industrial o empresarial que requiere tu proyecto y recibe multiples cotizaciones, compara precios y ahorra hasta un 80%
			</p>


      <h2 class="text-center">
        <b>
        <img src="/assets/images/icons/contactanos-white.png" alt="" class="icon-100">
        Llámanos asistencia personalizada
        <a class="white" href="tel:+5247700504">(33) 47700504</a>
        </b>
      </h2>

		</div>

	</div>
	<div class="container">

		<contactform></contactform>
    <br>

  </div>

</div>
