<section class="error-404 text-center">
  <div class="header-space">
    <div class="titleContainer">
      <h2>OH, NO!</h2>
    </div>
  </div>
  <div class="orange-divider orange-divider-background listContainer"></div>
  <h4>ERROR 404</h4>
</section>
<script>
  $(document).ready(function() {
    $(".ng-scope").css("height", '80%');
  });
</script>
