@import "init";
@import "styles";
.error-404{
	background:url('../images/404-background.jpg')no-repeat center center;
	@include cover();
	height: calc(100% - 116px);
	.header-space{
		background: rgba(0,0,0,.5);
		.titleContainer{
			position: relative;
    		top: 0;
    		@media screen and (min-width:1500px){
    			top: 20%;
    		}
    		h2{
				color:#F08F04;
				font-size: 6rem;
			}
		} 
	}
	.orange-divider{
		height:3px;
	}
	h4{
		color:white;
		text-align: center;
		font-family: montserrat-light;
		font-size: 4rem;
	}
	
}