@mixin cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin spacer($x){
	height:$space*$x;
	clear:both;

}
@mixin translate($x,$y){

  transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  -webkit-transform:translate($x,$y);
}
@mixin translateX($x){
  transform: translateX($x);
  -ms-transform: translateX($x);
  -webkit-transform:translateX($x);
}

@mixin translateY($x){
  transform: translateY($x);
  -ms-transform: translateY($x);
  -webkit-transform:translateY($x);
}
@mixin setBgColorAndHover($baseColor){
	 background-color: $baseColor;
    &:hover{
          background-color: darken($baseColor, 5%);
    }
}
.imgContainerCenter img{
    display: block;
    margin: 0 auto;
}
.imgContainerRight img{
    display: block;
    margin-left: auto;
}
.imgContainerLeft img{
    display: block;
    margin-right: auto;
}
.txt-blanco{
  color:white;
}
.txt-naranja{
  color:#F08F04;
}
.textSeparator{
    clear: both;
    height: 1px;
    padding-bottom: 20px;
    border-top: 1px solid #989898;
    margin-top: 20px;
    border-bottom: 0;
    text-align: center;
    div{
      background-color: rgb(208,208,208);
      border: 1px solid transparent;
      display: inline-block;
      position: relative;
      padding: 0 35px;
      line-height: 36px;
      top: -19px;
      span{
        color:black;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

}

/*checkboxes*/
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {

  color: black;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}