@import "styles";
@import "blog";
.filtrosContainer{
    max-width: 80%;
    margin: 0 auto;
}
.listContainer{
    height: auto;
    padding: 12px;

}
.listaAlfabetica{
    list-style: none;
    margin:0 auto;
    display: inline-block;
    li{
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        padding: 4px;
        @media screen and(min-width:1500px){
            font-size: 1.8rem;
            margin-right: 10px;
        }
        
        &:hover{
            color:white;
        }
    }
}
.buscarPorZona{
    display: inline-block;
    float:right;
    input{

        width: 250px;
        border: none;
        background: black;
        border-radius: .3em;
        padding: 3px 10px 5px 10px;
        @media screen and(min-width:1500px){
            padding: 8px 10px 8px 10px;
        }
        
        display: inline-block;
    }
    .icon{
        display: inline-block;
        width: 30px;
        img{
            max-width: 25px;
            @media screen and(min-width:1500px){
                max-width: 30px;
            }
            
        }
    }
}
.anunciosDestacados{
    background: #000000;
  .anunciosDestacadosContainer{
        width: 70%;
        max-width: 1100px;
        min-height: 400px;
        overflow: auto;
        padding-top: 20px;
        margin: 0 auto;
        .anuncioContainer .infoContainer{
            h4{
                color: white;
            }
        }
  }  
}
.imgContainerCenter{
    img{
        width:100%;
        margin:0 auto;
        display: block;
    }
}
.anuncioContainer{
    padding: 10px;
    .imgDestacado img{
        width: 218px;
        height: 218px;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(240, 143, 4, .7);
        -moz-box-shadow:    7px 7px 5px 0px rgba(240, 143, 4, .7);
        box-shadow:         7px 7px 5px 0px rgba(240, 143, 4, .7);
    }
}
.infoContainer{
    margin-top: 20px;
    h4{
        text-align: center;
        text-transform: uppercase;
        font-family: montserrat-light;
        letter-spacing: 4px;
        font-size: 1.9rem;
    }
}
.datosAnunciante{
    list-style: none;
    padding-left: 50px;
    li{
        display: inline-block;
        line-height: 34px;
        .icon{
            display: inline-block;
            img{
                width: 25px;
                margin-right: 10px;
            }
        }
        span{
            font-family: montserrat-light;
            color:white;
        }
    }
}
.otrosAnunciantes{
    background:white;
    .otrosAnunciantesContainer{
        overflow: auto;
        padding-top: 20px;
        width:80%;
        max-width: 1400px;
        margin:0 auto;

    }
}
.anuncioContainer{
    .imgAnuncio img{
        width:154px;
        border: 3px solid black;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.9);
        -moz-box-shadow:    7px 7px 5px 0px rgba(0, 0, 0, 0.9);
        box-shadow:         7px 7px 5px 0px rgba(0, 0, 0, 0.9);
    }
    .imgAnuncio + .infoContainer h4{
        font-family: montserrat-bold;
        font-size: 1.69rem;
    }
    .datosAnunciante.otros{
        padding-left: 10px;
        li{
            line-height: 28px;
        }
        li .icon img{
            width: 24px;
            margin-right: 5px;
        }
        li span{
            color:#666666;
        }
    }

}
.row.anuncio{
    margin-top: 20px;
}

.favorito{
    cursor:pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    background: url('../images/icons/favorito-before.svg');
    left: 67%;
    top: 5%;
    &:hover{
        background: url('../images/icons/favorito-after.svg');
    }
}

.favorito.agregado{
    background: url('../images/icons/favorito-after.svg')!important;
}
