@import "init";
@import "styles";
.metodos-de-pago{
	background:url('../images/forma-de-pago-background.jpg')no-repeat center center;
	@include cover();
	overflow:auto;
	padding-top:20px;
	padding-bottom:20px;
	.pagosContainer{
		    padding: 0;
		h3{
			text-align: left;
		    text-transform: uppercase;
		    font-family: montserrat;
		    @media screen and (min-width:1400px){
		    	 margin-left: 30%;
		    }
		   	margin-left: 16%;
		    span{
		    	font-family: montserrat-light;
			    color: #666666;
			    margin-left: 10px;
			    text-transform: none;
		    }
		}
		.line-separator{
			height:1px;
			@media screen and (min-width:1400px){
				width: 65%;
			}
    		margin: 0 auto;
    		width: 84%;
		}
		.btnPago{
			background: black;
    		text-align: center;
    		padding-top: 10px;
    		padding-bottom: 10px;
    		margin-top: 20px;
    		margin-bottom:20px;
    		a{
    			font-family: montserrat-light;
    			text-transform:uppercase;
    			letter-spacing: 2px;
    			font-size: 1.8rem;
    			cursor:pointer;
    		}
    		&:hover{
    			background:#F08F04;
    			a{
    				text-decoration: none;
    				color:white;
    			}
    		}
		}
		.container-fluid{
			padding: 0;
			.col-xs-6:nth-of-type(2n+1){
				padding-left:0!important;
			}
			.col-xs-6:nth-of-type(2n){
				padding-right:0!important;
			}
		}
		
		.col-xs-6 .btnPago{
			margin-top: 0;
		}
		@media screen and (max-width:1400px){
			.txt-naranja{
			    font-size: 1rem!important;
			}
		}
		.borderRight{
			border-right:1px solid #989898;
		}


		.datosTarjetaContainer{
			.col-xs-6.center{
				margin: 0 auto;
    			float: none;
    			.btnPago{
    				background:#F08F04;
    				&:hover{
    					background:black;
    				}
    			}
			}
			input[type="text"]{
				width: 100%;
			    border: 2px solid #F08F04;
			    padding: 4px;
			}
			input:focus{
				outline: 2px solid #F08F04;
			}
			
		}
		


	}
}