@import "styles";
@import "init";



.pricing-header {
    height: 145px;
    width: 100%;
    overflow: hidden;
    h2{
        text-transform: uppercase;
    }
}
.pricingContainer{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    @media screen and (min-width:1500px){
        padding-left: 15%;
        padding-right: 15%;
    }
    .two-colors{
            list-style: none;
            padding-left: 0;
            border:1px solid #808080;
            li{
                padding: 10px 5px 10px 20px;
            }
            li:nth-of-type(2n){
                background:#CBCBCB;
            }
            li:nth-of-type(2n+1){
                background:#F1F1F1;
            }
    }
    .features{
        padding-top: 7%;
        padding-left: 0;
        @media screen and (max-width:1500px){
            padding-top: 8%;

        }

        ul{
            li span{
                font-family: montserrat-semibold;
                color:#000;
                .light{

                }

            }
            li a{
                color:#F08F04;
                font-family: montserrat;
                position: absolute;
                right: 30px;
            }
            .light{
                font-family: montserrat-light;
            }
        }
    }
    .plans{

        padding-top: 2%;
        .inline{
            display: inline-block;
        }
        .col-md-4{
            padding:0;
            cursor:pointer;
            ul{
                list-style: none;
                padding: 0;
                li{
                        padding: 13px 5px 11px 20px;
                        &:nth-child(8){
                            padding: 21px 5px 22px 20px;
                        }
                }
            }
            .spaceTable{
                height: 15px;
            }
        }
        .planTitle{
            width: 60%;
            margin:0 auto;
            cursor:pointer;
            h3{
                text-transform: uppercase;
                text-align: center;
                font-size: 2rem;
                margin: 0;
            }
        }
        .free{
            border: 1px solid black;
            background:white;
            padding: 2px 0 2px 0;
            margin-bottom: 21px;
            h3{
                font-family: montserrat-hairline;
            }
        }
        .plus{
            background:#F08F04;
            margin-bottom: 11px;
            h3{
                font-family: montserrat-bold;
                color:black;
                font-size: 2.5rem;
            }
            span{
                color:white;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: montserrat-light;
                &:after{
                    content: '__';
                    position: relative;
                    top: -5px;
                }
                 &:before{
                    content: '__';
                    position: relative;
                    top: -5px;
                }

            }
        }
        .select{
            background:black;
            padding: 2px 0 2px 0;
            margin-bottom: 23px;
            h3{
                font-family: montserrat-light;
                color:white;
            }
        }
        .check img{
            max-width: 23px;
        }
        .feature-limit{
            padding: 3px 5px 5px 20px!important;
            overflow: auto;
        }
        .none{
            margin:0 auto;
            width:30%;
            background: black;
            height:1px;
            margin-top: 9.5px;
            margin-bottom: 6px;
        }
        .active-plan, .selected-plan{
            border: 2px solid black;
           
            .plus.title{
                margin-bottom: 0;
                padding: 6px 0 6px 0;
                width: 100%;
            }
            .plus.title h3{
                font-size: 3.7rem;
            }
            .plus.title span{
                &:after{
                    content: '___';
                    position: relative;
                    top: -5px;
                }
                 &:before{
                    content: '___';
                    position: relative;
                    top: -5px;
                }
            }
            .spaceTable{
                display: none;
            }
            .free.title{
                padding: 16px 0 22px 0;
                margin-bottom: 0;
                width: 100%;
            }
            .select.title{
                    padding: 18px 0 22px 0;
                 margin-bottom: 0;
                 width: 100%;
            }
        }
    }
}
.pricing-header-background {
    background-image: url(../images/pricing-header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pricing-header-text {
    color: white;
    display: block;
    font-family: montserrat-light;
    font-size: 3.5rem;
    width: 14.6rem;
    margin: 4rem auto;
    margin-bottom: 1.5rem;
}

.underline-header-text {
    width: 30rem;
    height: 2px;
    position: relative;
    top: 0rem;
    margin: 0 auto;
}

.pricing-space {
    /*height: 816px;
    width: 100%;
    overflow: auto;*/
    max-height: 720px;
    /* height: auto; */
    width: 100%;
    overflow: auto;
}

section.pricing{
    background-image: url(../images/pricing-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.separator {
    width: 100%;
    height: 15px;
}

.pricing-table {
    width: 120rem;
    margin: 2rem auto;
}
.pricing-table tr {
    height: 4rem;
}
.pricing-table tr:nth-child(odd) td {background-color: #cbcbcb;}
.pricing-table tr:nth-child(even) td {background-color: #f1f1f1;}
.pricing-table tr:first-child td {
    background-color: transparent; 
    text-align: center; 
    height: 6.5rem; 
}
.pricing-table tr:first-child td:first-child,  .pricing-table tr:first-child td:nth-child(3), .pricing-table tr:first-child td:nth-child(5){
    border: none!important;
}
.pricing-table tr:last-child td {background-color: transparent; height: 6.5rem; }

.pricing-table tr:last-child td:first-child,  .pricing-table tr:last-child td:nth-child(3), .pricing-table tr:last-child td:nth-child(5){
    border: none!important;
}

.pricing-table td:first-child {
    padding-left: 2rem;
    font-family: montserrat-bold;
    color: black;
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    position: relative;
}
.pricing-table td:first-child span {
    font-family: montserrat-light;
}
.pricing-table tr:nth-child(2) td:first-child {
    border-top: solid 1px #808080;
}
.pricing-table tr:nth-last-child(2) td:first-child {
    border-bottom: solid 1px #808080;
}

.pricing-table td:last-child {
    border-right: solid 1px #808080;
}
.pricing-table td:nth-child(3) {
    border-left: solid 1px #808080;
}
.pricing-table tr:nth-child(2) td:nth-child(n+3) {
    border-top: solid 1px #808080;
}
.pricing-table tr:nth-last-child(2) td:nth-child(n+3) {
    border-bottom: solid 1px #808080;
}

.empty-cell {
    width: 3rem;
    background-color: transparent!important;
}
.feature-name-column {
    width: 40rem;
}
.free-column {
    width: 15rem;
}
.plus-column {
    width: 15rem;
}
.select-column {
    width: 15rem;
}
.plus-cell {
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    background-color: #f08f04!important;
    border-top: solid 1.5px black;
}
/*.pricing-table td:nth-child(4) {
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
}*/
.pricing-table .active-price{
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
}
.pricing-table tr:last-child td:nth-child(4) {
    border-bottom: solid 1.5px black;
}

.pricing-table tr:last-child td:first-child div{
    padding: 0;
    width: 22rem;
    height: 4.2rem;
    display: table;
    margin: 0 auto;
    text-align: center;
    font-family: montserrat;
    font-size:1.8rem;
    background-color: black;
    color: white;
}
.pricing-table tr:last-child td:first-child div > span {
    display: table-cell;
    vertical-align: middle;
}
.pricing-table tr:last-child td:first-child div > span > span {
    font-family: montserrat-hairline;
    font-size: 1.6rem;
}

.check-container {
    width: 23px;
    height: 31px;
    float:left;
    margin-left: 45%;
    position: relative;
}
img.check-icon {
    width: 23px;
    position: absolute;
    top: 20%;
}
.check-info {
    margin-left: 1rem;
    width: 5rem;
    height: 31px;
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
}
.check-info span {
    font-family: montserrat; 
    position: absolute;
    bottom: 0;
    font-weight: bold;
}
.check-info span.unlimited {
    font-family: montserrat;
    bottom: 0.9rem;
}

.not-feature-container {
    width: 23px;
    height: 31px;
    float:left;
    margin-left: 45%;
    position: relative;
}

.not-feature {
    width: 23px;
    position: absolute;
    top: 48%;
    width: 100%;
    height: 4%;
    border-radius: 1px;
    background-color: black;
}

.free-cell div {
    width: 11rem;
    height: 3.5rem;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid black;
    font-size: 1.7rem;
    display: table;
    text-align: center;
}
.free-cell span {
    display: table-cell;
    vertical-align: middle;
    font-family: montserrat-hairline;
    font-weight: bold;
}
.plus-cell > div:first-child {
    width: 100%;
    height: 4rem;
    font-size: 4rem;
    line-height: 3.7rem;
    color: black;
    font-family: montserrat-bold;
}
.plus-cell > div:last-child {
    width: 100%;
    height: 2rem;
}

.recomended-line {
    margin-top: 1rem;
    height: 0.2rem;
    width: 14%;
    background-color: white;
    display: inline;
    float: left;
    border-radius: 2px;
}
.recomended-line:first-child {
    margin-left: 5%;
    margin-right: 1%;
}
.recomended-line:last-child {
    margin-left: 1%;
    margin-right: 5%;
}

.recomended {
    display: inline;
    float: left;
    color: white;
    text-align: center;
    width: 60%;
}
.select-cell div {
    width: 13rem;
    height: 3.5rem;
    margin: 1rem auto;
    background-color: black;
    font-size: 1.85rem;
    display: table;
    text-align: center;
}
.select-cell span {
    display: table-cell;
    vertical-align: middle;
    font-family: montserrat;
    color: white;
}

.plus-price-cell div {
    width: 14rem;
    height: 4rem;
    margin: 1rem auto;
    background-color: #f08f04;
    font-size: 2.5rem;
    display: table;
    text-align: center;
}
.plus-price-cell span {
    display: table-cell;
    vertical-align: middle;
    font-family: montserrat;
    color: black;
}

.view-more {
    font-family: montserrat;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #f08f04!important;
    text-decoration: none!important;
}

.time-span {
    background-color: #f1f1f1;
    height: 4rem;
    width: 70rem;
    margin: 2rem auto;
}
.time-span div{
        width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  margin-right: 8px; 
}
label .claro{
    color:#666666;
}
input[type="checkbox"] + label:before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em montserrat-bold;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {

  color: black;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
.btnPago{
        background: #F08F04;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom:20px;
        cursor:pointer;
}
.btnPago a{
    font-family: montserrat-light;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size: 1.8rem;
    cursor:pointer;
    color:white;
}
.btnPago:hover{
            background:black;
}

.col-xs-3.center{
    float:none;
    margin:0 auto;
}