<div ng-controller="FavoritesController">

	<!-- BEGIN PAGE HEAD-->
	<div class="page-head">
	  <!-- BEGIN PAGE TITLE -->
	  <div class="page-title">
	    <h1>Favoritos
	    </h1>
	  </div>
	  <!-- END PAGE TITLE -->

	</div>
	<!-- END PAGE HEAD-->
	<!-- BEGIN PAGE BREADCRUMB -->
	<ul class="page-breadcrumb breadcrumb">
	  <li>
	    <a href="/perfil-usuario">Inicio</a>
	    <i class="fa fa-circle"></i>
	  </li>
	  <li>
	    <a href="#">Favoritos</a>

	  </li>
	</ul>
	<!-- END PAGE BREADCRUMB -->

	<!-- List Favorites -->
	<div class="row">
	  <div class="col-md-12">
	      <div class="portlet light portlet-fit bordered">
	          <div class="portlet-title">
	              <div class="caption">
	                  <i class=" icon-layers font-blue"></i>
	                  <span class="caption-subject font-blue bold uppercase"> Listado de Empresas Favoritas</span>
	              </div>
	          </div>
	          <div class="portlet-body">
	              <div class="mt-element-card mt-card-round mt-element-overlay">
	                  <div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="favorito in listaFavoritos">

								<h3 ng-show="listaFavoritos.length == 0">
									No has agregado ninguna empresa a tus Favoritos
								</h3>

							  <div class="mt-card-item">
							      <div class="mt-card-avatar mt-overlay-1 card-favorite">
							          <img alt=""
							               class="img-circle img-card-favorite"
							               ng-show="favorito.hasPic"
							               ng-src="assets/uploads/{{ favorito.sector_name }}/{{ favorito.categoria_name }}/{{ favorito._id}}/foto-perfil.jpg"
	                         onerror="this.src='assets/images/foto-perfil-default.png'"
							          />
							          <img alt=""
							               class="img-circle img-card-favorite bg-white padding-10"
							               ng-show="! favorito.hasPic"
							               ng-src="assets/images/iconos_sectores/{{ favorito.sector }}.jpg"
	                         onerror="this.src='assets/images/foto-perfil-default.png'"
							          />

							          <div class="mt-overlay">
							              <ul class="mt-info">
							                  <li>
							                      <a class="btn default btn-outline"
							                      	 target="_blank"
							                      	 href="/perfil/{{ favorito._id }}/{{ favorito.nombre.split(' ').join('-') }}">
							                          <i class="icon-user"></i>
							                      </a>
							                  </li>
							              </ul>
							          </div>
							      </div>
							      <div class="mt-card-content">
                        <button class="btn btn-danger btn-delete-favorite"
                                ng-click=" deleteFavorite( favorito._id ) "
                        >
                          <i class="fa fa-trash"></i>
                        </button>
							          <h3 class="mt-card-name">
							          	{{favorito.nombre}}
						          	  </h3>
							          <p class="mt-card-desc font-grey-mint">
							          	{{favorito.telefono}}
							          	<br>
							          	{{ favorito.email }}
						          	  </p>
							          <div class="mt-card-social">
							              <ul>
							                  <li>
							                      <a target="_blank"
							                      	 href="{{ favorito.redes.facebook }}">
							                          <i class="icon-social-facebook"></i>
							                      </a>
							                  </li>
							                  <li>
							                      <a target="_blank"
							                      	 href="{{ favorito.redes.twitter }}">

							                          <i class="icon-social-twitter"></i>

							                      </a>
							                  </li>
							                  <li>
							                      <a target="_blank"
							                      	 href="{{ favorito.redes.youtube }}">

							                          <i class="fa fa-youtube"></i>

							                      </a>
							                  </li>
							                  <li>
							                      <a target="_blank"
							                      	 href="{{ favorito.redes.linkedin }}">

							                          <i class="fa fa-linkedin"></i>

							                      </a>
							                  </li>
							                  <li>
							                      <a target="_blank"
							                      	 href="{{ favorito.redes.googleplus }}">

							                          <i class="fa fa-google"></i>

							                      </a>
							                  </li>
							              </ul>
							          </div>
							      </div>
							  </div>
							</div>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </div>
	</div>
	<!-- End List Favorites -->

</div>
