
<div ng-controller="ExportarCotizacionesController">


  {{ since }}
  <div class="container margin-bottom-30">

    <div class="row">

      <div class="col-md-12">

        <h2 class="orange text-center">
          Listado de los últimos prospectos
        </h2>

      </div>

    </div>

    <div class="row">


      <div class="col-md-4">
        <label for="">Desde cuando</label>
        <input id="since" type='text' class="form-control no-radius">
      </div>
      <div class="col-md-4">
        <label for="">Desde cuando</label>
        <input id="until" type='text' class="form-control no-radius">
      </div>
      <div class="col-md-4">
        <label for="">Acciones</label>
        <button class="btn btn-orange-dark btn-block"
                ng-click=" filter() "
        >
          <i class="fa fa-spinner fa-spin fa-fw"
             ng-show=" isLoading "
          ></i>
          <span ng-show=" ! isLoading ">Filtrar</span>
        </button>
      </div>

    </div>


    <div class="row margin-top-30">

      <div class="col-md-12">
        <button class="btn btn-orange-dark center-block"
                ng-click="getProspectsReport( quotes )"
        >
          <i class="fa fa-file-excel-o"></i>
          Exportar reporte de usuarios
        </button>
      </div>

    </div>


    <div class="row margin-top-30">

      <div class="col-md-12">

        <table class="table table-hover">
          <thead>
          <tr>
            <th> Nombre cotizacion </th>
            <th> Fecha de creación </th>
            <th>Acciones</th>

          </tr>
          </thead>
          <tbody>
          <tr ng-repeat=" quote in quotes "
              ng-class=" { 'active-row' : quote == activeQuote }"
          >
            <td>{{ quote.product }}</td>
            <td>{{ getDateForHummans(quote.createdAt) }}</td>
            <td>
              <button class="btn btn-xs btn-orange-dark"
                      ng-click="viewQuoteProspects( quote )"
              >
                <i class="fa fa-edit"></i> Ver
              </button>
              <button class="btn btn-xs btn-primary"
                      ng-click="setWatcherToQuote( quote )"
                      ng-show=" ! quote.watched "
              >
                <i class="fa fa-random"></i> Seguir
              </button>
              <button class="btn btn-xs btn-danger"
                      ng-click="setUnwatchedQuote( quote )"
                      ng-show="quote.watched "
              >
                <i class="fa fa-close"></i> No seguir
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>


    <div class="row margin-top-30"
         ng-show=" prospects.length > 0 "
    >

      <button class="btn btn-orange-dark pull-right"
              ng-click=" exportToCsv()"
      >
        <i class="fa fa-file-excel-o"
           ng-show=" ! isLoading "
        ></i>
        <i class="fa fa-spinner fa-spin fa-fw"
           ng-show=" isLoading "
        ></i>
        Exportar
      </button>

      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Sector</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat=" entity in prospects ">
              <td>{{ entity.user.nombre }}</td>
              <td>{{ entity.user.email }}</td>
              <td>{{ entity.user.telefono }}</td>
              <td>{{ entity.user.sector_name }}</td>
              <td>{{ entity.user.categoria_name }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-md-12 margin-top-30">
        <quotationdetail></quotationdetail>
      </div>

    </div>

  </div>


</div>
