
<div ng-controller=" ProductosController ">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Productos clasificados
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a>Productos clasificados</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-list orange"></i>
        <span class="caption-subject orange sbold uppercase">Listado de mis productos</span>
      </div>
      <div class="actions">
        <a href="/perfil-usuario/productos/nuevo" class="btn btn-orange">
          <i class="fa fa-plus"></i>
          Agregar un nuevo producto
        </a>
      </div>
    </div>
    <div class="portlet-body">

      <table class="table table-striped table-hover table-bordered"
             id="products-table"
      >
        <thead>
        <tr>
          <th> Nombre del producto</th>
          <th> Categoria </th>
          <th> Subcategoria </th>
          <th> Fecha de creación </th>
          <th> Acciones </th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td> {{ product.name }} </td>
            <td> {{ product.category }} </td>
            <td> {{ product.subCategory }} </td>
            <td> {{ getDateForHummans(product.createdAt) }} </td>
            <td>
              <a class="btn btn-outline blue btn-xs"
                 ng-href="/perfil-usuario/editar-producto/{{ product._id }}"
              >
                <i class="icon-pencil"></i>
              </a>
              <button class="btn btn-outline red btn-xs"
                      ng-click=" deleteProduct(  product._id ) "
              >
                <i class="icon-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->



</div>
