

<div class="container" ng-controller="LogsCtr">
	
	<div class="row">
		
		<div class="col-md-12 margin-top-30">
			<h1 class="text-center">Lista de cambios</h1>
			
			<div class="row">
				<div class="col-md-6">
					<label for="datePickerStart">Desde</label>
					<input id="datePickerStart"  required type='text' class="form-control" ng-model="start" ng-blur="updateLogs()" />
				</div>
				<div class="col-md-6">
					<label for="datePickerEnd">Hasta</label>
					<input id="datePickerEnd"  required type='text' class="form-control" ng-model="end" ng-blur="updateLogs()"	/>
				</div>
			</div>

			<table class="table table-bordered margin-top-30">
				
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Empresa</th>
						<th>Fecha</th>
						<th>Zona de modificación</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="log in logs">
						<td> {{ log.user[0].nombre }}</td>
						<td> {{ log.userUpdated[0].nombre }} </td>
						<td> {{ log.date | date:'yyyy-MM-dd' }} </td>
						<td> {{ log.type }} </td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>


</div>
