

<div ng-controller="CatalogoDeProductosController"
     nv-file-drop=""
     uploader="uploader"
     filters="queueLimit, customFilter"
>

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Catálogo de productos
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a>Catálogo de productos</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-list font-blue"></i>
        <span class="caption-subject font-blue sbold uppercase">Mis catálogos</span>
      </div>
      <div class="actions">

      </div>
    </div>
    <div class="portlet-body">

      <div class="row margin-top-20">
        <div class="form-group">

          <div class="col-md-4">
            <div class="fileinput fileinput-new" data-provides="fileinput">

              <div class="input-group input-large">

                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                  <i class="fa fa-file fileinput-exists"></i>&nbsp;
                  <span class="fileinput-filename"> </span>
                </div>
                <span class="input-group-addon btn default btn-file">
                      <span class="fileinput-new"> Subir un catálogo</span>
                      <span class="fileinput-exists"> Subir un catálogo</span>
                      <input type="file"
                             nv-file-select=""
                             uploader="uploader"
                             accept=".txt,.csv,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.jpg,.png,.gif"
                             ngf-max-size="10MB"
                             class="ng-pristine ng-untouched ng-valid ng-empty"
                      >
                    </span>

              </div>

            </div>

          </div>
          <div class="col-md-2">
            <input type="text"
                   class="form-control"
                   placeholder="Nombre del catálogo"
                   ng-model="fileName"
            >
          </div>
          <div class="col-md-6">

            <button class="btn btn-primary"
                    ng-click="uploadCatalog()"

            >
              <i  ng-show=" ! isLoading "
                  class="fa fa-upload">  </i>
              <i  ng-show=" isLoading "
                  class="fa fa-spinner fa-pulse  fa-fw">  </i>
              Subir catálogo
            </button>
          </div>


        </div>

      </div>

      <div class="row margin-top-30">

        <div class="col-md-3 margin-top-20"
             ng-repeat=" catalog in user.productsCatalog "
        >

          <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-color-primary">
              {{ catalog.name }}
            </div>
            <div class="ribbon-content">
              <a class="btn btn-outline blue"
                 target="_self"
                 href="{{ catalog.url }}"
                 download
              >
                Descargar
              </a>
              <button class="btn btn-outline red margin-left-10"
                      ng-click=" deleteCatalog( catalog ) "
              >
                Eliminar
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->

</div>
