<section class="contactanos" ng-controller="contactoCrl">
  <update-title title="Contactar | Directorios Industriales Portalia Plus"></update-title>
  <update-meta name="description" content="Ponte en contacto con nosotros para ayudarte o resolver tus dudas, también puedes registrarte para anunciar tus servicios gratis."></update-meta>
  <update-meta name="title" content="Contactar | Directorios Industriales Portalia Plus"></update-meta>

  <div class="contact-header contact-header-background">
    <h2 class="contact-header-text">CONTÁCTANOS</h2>
    <div class="header-underline gradient-yellow-orange"></div>
    <div ng-show="!logged()" class="text-center" style="color: #FFF;">Para anunciar tus servicios/productos gratis es necesario <a href="/registro">registrarte</a> </div>


  </div>
  <div class="contact-space contact-background">
    <h2 class="text-center orange">
      <b>
        <img src="/assets/images/icons/contactanos.png" alt="" class="icon-80 margin-right-10">
        Llámanos asistencia personalizada
        <a class="orange" href="tel:+5247700504">(33) 47700504</a>
      </b>
    </h2>
    <form class="contact-form-container form-font-size" name="formulario">
      <div class="contact-form-header">
        <div class="contact-form-header-image envelope-background"></div>
        <h3>Estamos a tus ordenes</h3>
        <div>
          <span>Envíanos un mensaje, resuelve tus dudas.</span>
        </div>
      </div>

      <div class="contact-form-row-sm">
        <div class="contact-form-label">
          <span>Promoción</span>
        </div>

        <select ng-model="data.promocion"
                class="contact-text-field bg-white"
        >
          <option ng-repeat="promotion in promotions"
                  ng-value=" promotion.name "

          > {{ promotion.name }}</option>

        </select>

      </div>

      <div class="contact-form-row-sm">
        <div class="contact-form-label">
          <span>*Nombre / Empresa</span>
        </div>
        <input class="contact-text-field bg-white" ng-model="data.nombre" type="text" required>
      </div>
      <div class="contact-form-row-sm">
        <div class="contact-form-label">
          <span>*Correo electrónico</span>
        </div>
        <input class="contact-text-field bg-white" ng-model="data.from" type="email" required>
      </div>
      <div class="contact-form-row-sm">
        <div class="contact-form-label">
          <span>*Teléfono</span>
        </div>
        <input class="contact-text-field bg-white" ng-model="data.telefono" type="text" required>
      </div>
      <div class="contact-form-row-lg">
        <div class="contact-form-label">
          <span>*Mensaje</span>
        </div>
        <textarea class="contact-text-area" ng-model="data.msj" required></textarea>
      </div>
      <div class="contact-form-row-sm">
        <div class="contact-form-label visibility-hidden"></div>
        <input class="btn-transition"
               type="submit"
               value="Enviar"
               ng-click="enviar()"
               ng-disabled=" isLoading "
        >
      </div>
    </form>
    <p class="text-center">Para atención personalizada contáctanos en: <a href="tel:47700504">(33)4770-0504</a></p>
  </div>
</section>
