<div ng-controller="ListadoProductosController" >


  <!-- Banner de publicidad del listado de empresas -->
  <a target="_blank" href="https://tecnotanques.com/venta-calentadores-solares-mayoreo/">
    <img src="/assets/images/gifs/categorias1.gif" class="categorias1" alt="">
  </a>
  <a target="_blank" href="https://tecnotanques.com/tanques-industriales/">
    <img src="/assets/images/gifs/categorias2.gif" class="categorias2" alt="">
  </a>
  <a target="_blank" href="https://proproyectos.com/Tinacos-para-proyectos">
    <img src="/assets/images/gifs/categorias3.gif" class="categorias3" alt="">
  </a>
  <!-- Termina banner de publicidad del listado de empresas -->

  <div class="container bg-white padding-30 margin-top-20 margin-bottom-20">



    <div class="row ">


      <!--Lista de empresas-->
      <div class="col-md-10 col-xs-12 text-left">

        <h1 class="text-center orange">Listado de productos</h1>

        <div class="row margin-top-30" ng-show=" products.length == 0 ">
          <div class="col-md-12">
            <h3 class="text-center orange"

            > No se encontraron resultados</h3>
            <br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="row">

            <img src="/assets/images/gifs/cargando.gif" class="center-block margin-top-30" alt="" ng-show="loading">
            <div class=" col-md-4 margin-top-20 "
                 ng-repeat="product in products"
                 ng-show=" ! loading "
            >

              <div class="product-box">

                <img ng-src="{{ getProductImage(product) }}" alt="">

                <h3 class="text-center orange">{{ product.name }}</h3>

                <a class="btn btn-orange-dark btn-block"
                   href="/detalle-producto/{{ product.name }}/{{ product._id }}"
                   target="_blank"
                >
                  <i class="fa fa-list"></i>
                  <span class="hidden-sm">Ver producto</span>
                </a>

              </div>

            </div>

        </div>

      </div>

      <!--Termina listado de empresas-->



    </div>


  </div>



</div>
