

<div ng-controller="ChatController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Chat empresarial
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Chat empresarial</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-list font-blue"></i>
        <span class="caption-subject font-blue sbold uppercase">Chat de {{ user.nombre }}</span>
      </div>
      <!--<div class="actions">-->
        <!--<a href="" class="btn btn-primary">-->
          <!--<i class="fa fa-plus"></i>-->
          <!--Acción-->
        <!--</a>-->
      <!--</div>-->
    </div>
    <div class="portlet-body">

      <div class="row">
        <div class="col-md-12">

          <div class="chat-container" >

            <div class="row " >
              <div class="col-md-3 last-chats chat-scroll" >
                <ul >

                  <li class="active"
                      ng-repeat=" chat in userChats "
                      ng-click=" changeChat( chat._id ) "
                  >
                    <img  ng-show=" user._id != chat.userOrigin[0]._id"
                          ng-if="chat.userOrigin[0].role != 'visitante'"
                          ng-src="assets/uploads/{{ chat.userOrigin[0].sector_name }}/{{ chat.userOrigin[0].categoria_name }}/{{ chat.userOrigin[0]._id}}/foto-perfil.jpg"
                          alt=""
                    >
                    <img  ng-show=" user._id != chat.userOrigin[0]._id"
                          ng-if="chat.userOrigin[0].role == 'visitante'"
                          ng-src="assets/uploads/undefined/undefined/{{ chat.userOrigin[0]._id}}/foto-perfil.jpg"
                          alt=""
                    >

                    <img  ng-show=" user._id == chat.userOrigin[0]._id"
                          ng-if=" chat.userOrigin[0].userDest.role != 'visitante'"
                          ng-src="assets/uploads/{{ chat.userDest[0].sector_name }}/{{ chat.userDest[0].categoria_name }}/{{ chat.userDest[0]._id}}/foto-perfil.jpg"
                          alt=""
                    >
                    <img  ng-show=" user._id == chat.userOrigin[0]._id"
                          ng-if=" chat.userOrigin[0].userDest.role == 'visitante'"
                          ng-src="assets/uploads/{{ chat.userDest[0].sector_name }}/{{ chat.userDest[0].categoria_name }}/{{ chat.userDest[0]._id}}/foto-perfil.jpg"
                          alt=""
                    >

                    {{ ( chat.userOrigin[0]._id == user._id ) ? chat.userDest[0].nombre : chat.userOrigin[0].nombre }}
                    <span class="badge badge-warning pull-right margin-top-15"
                          ng-show=" unreadMessages[chat._id] > 0 "
                    >
                      {{ unreadMessages[chat._id] }}
                    </span>
                  </li>

                </ul>
              </div>
              <div class="col-md-9 active-chat">

                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <i class="icon-bubble font-hide hide"></i>
                      <span class="caption-subject font-hide bold uppercase">
                        Chat activo {{( user._id == activeChat.userDest[0]._id ) ?  activeChat.userOrigin[0].nombre : activeChat.userDest[0].nombre }}
                      </span>
                    </div>
                    <!--<div class="actions">-->
                      <!--<div class="portlet-input input-inline">-->
                        <!--<div class="input-icon right">-->
                          <!--<i class="icon-magnifier"></i>-->
                          <!--<input type="text" class="form-control input-circle" placeholder="search..."> </div>-->
                      <!--</div>-->
                    <!--</div>-->
                  </div>
                  <div class="portlet-body" >
                    <div class="scroller chat-scroll" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                      <ul class="chats" id="chats">

                        <li ng-repeat="message in activeChat.messages track by $index"
                            ng-class="
                              {
                                  'in' : user._id == message.to,
                                  'out' : user._id == message.from,
                                  'lastElement' : $index == activeChat.messages.length - 2,
                              }"
                        >

                          <!-- Imágen para empresa-->
                          <img class="avatar" alt=""
                               ng-if=" user._id == message.to && chatWith.role != 'visitante' "
                               ng-src="assets/uploads/{{ chatWith.sector_name }}/{{ chatWith.categoria_name }}/{{ chatWith._id}}/foto-perfil.jpg"
                          />
                          <!-- Imágen para visitante -->
                          <img class="avatar" alt=""
                               ng-if=" user._id == message.to && chatWith.role== 'visitante' "
                               ng-src="assets/uploads/undefined/undefined/{{ chatWith._id}}/foto-perfil.jpg"
                          />

                          <!-- Imágen para empresa-->
                          <img class="avatar" alt=""
                               ng-if=" user._id != message.to && user.role != 'visitante' "
                               ng-src="assets/uploads/{{ user.sector_name }}/{{ user.categoria_name }}/{{ user._id}}/foto-perfil.jpg"
                          />
                          <!-- Imágen para visitante-->
                          <img class="avatar" alt=""
                               ng-if=" user._id != message.to && user.role == 'visitante' "
                               ng-src="assets/uploads/undefined/undefined/{{ user._id}}/foto-perfil.jpg"
                          />

                          <div class="message">
                            <span class="arrow"> </span>

                            <a ng-show=" user._id == message.to " href="javascript:;" class="name"> {{ chatWith.nombre }} </a>

                            <a ng-show=" user._id != message.to " href="javascript:;" class="name"> {{ user.nombre }} </a>

                            <!--<span class="datetime"> at 20:30 </span>-->
                            <span class="body">
                              {{ message.content }}
                            </span>
                          </div>
                        </li>

                      </ul>

                    </div>
                    <div class="chat-form">
                    <div class="input-cont">
                      <input class="form-control"
                             ng-model="chatMessage"
                             ng-keypress="onMessageKeyPress($event)"
                             ng-click="setReadChats( activeChat._id , user )"
                             type="text"
                             placeholder="Escribe tu mensaje..."
                      /> </div>
                    <div class="btn-cont">
                      <span class="arrow"> </span>
                      <a href="" ng-click="sendChat()" class="btn blue icn-only">
                        <i class="fa fa-check icon-white"></i>
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- END PORTLET-->

              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->



</div>

