

<div ng-controller="CategoriasProductosController">

  <div class="container">

    <div class="row margin-top-30">

      <div class="col-md-12">
        <h1 class="text-center orange"> Módulo para manipular las categorias de los productos</h1>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-6 col-md-offset-1">
        <input type="text"
               class="form-control"
               ng-model="newCategory.name"
        >
      </div>
      <div class="col-md-4">
        <button class="btn btn-warning btn-block"
                ng-click="createCategorie()"
        >
          Agregar categoría
        </button>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">

        <ul class="list-group">
          <li class="list-group-item"
              ng-class=" { 'active-list' : category._id == activeCategory._id } "
              ng-repeat=" category in categories "
          >
            {{ category.name }}

            <button class="btn btn-xs btn-danger pull-right margin-right-10"
                    ng-click="deleteCategory(category._id)"
            >
              <i class="fa fa-trash"></i>
            </button>

            <button class="btn btn-xs btn-primary pull-right margin-right-10"
                    ng-click="setActiveCategory(category)"
            >
              <i class="fa fa-angle-down"></i>
            </button>

          </li>
        </ul>

      </div>

    </div>

    <div>

    </div>
    <div class="row margin-top-30"
         ng-if=" activeCategory != null "
    >

      <h3 ng-if=" activeCategory.subCategories.length == 0 "
          class="text-center orange"
      >
        No se han agregado subcategorias
      </h3>

      <div class="col-md-6">
        <input type="text"
               class="form-control"
               ng-model=" newSubcategory.name "
        >
      </div>

      <div class="col-md-3">
        <button class="btn btn-warning"
                ng-click="addSubcategory()"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-success no-radius margin-left-10"
                ng-click="saveCategory()"
        >
          <i class="fa fa-save"></i>
        </button>
      </div>

      <div class="col-md-12">


        <ul class="list-group margin-top-30">

          <li class="list-group-item"
              ng-repeat=" subcategorie in activeCategory.subCategories"
          > {{ subcategorie.name }}
            <button class="btn btn-danger btn-xs pull-right"
                    ng-click=" deleteSubcategory( $index ) "
            >
              <i class="fa fa-trash"></i>
            </button>
          </li>

        </ul>

      </div>

    </div>

  </div>

</div>
