<section class="searchResult">
  <div class="search-header search-header-background">
    <h2>	Registro Exitoso</h2>
    <div class="underline-header-text gradient-yellow-orange"></div>
  </div>
  <div class="separator gradient-yellow-orange"></div>
  <div style="padding-top:5%;padding-bottom:5%;" class="search-space search-background">
    <h3 class="registro-exitoso">¡Gracias por registrarte!</h3>
    <div class="col-md-3 col-md-offset-1">
      <div class="imgContainerRight"><img src="assets/images/icons/smile.png" /></div>
    </div>
    <div class="col-md-6">
      <p class="gracias-descripcion">Ahora ya puedes disfrutar los beneficios de visitante:
        <br/>personalizar tu foto de perfil, agregar empresas a tu lista de
        <br/>favoritos, guardar artículos de interés y tener
        <br/>conversaciones directamente con las empresas desde tu perfil.</p>
      <br/>
      <p class="gracias-descripcion">¡ESTAMOS A TUS ÓRDENES!</p>
    </div>
    <a class="btn gradient-border-white col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-xs-12 text-center top-xs" href="/">IR AL INICIO</a>
  </div>
  <div class="separator gradient-yellow-orange"></div>
</section>
