<div class="container-fluid" ng-controller="eventosCtrl">
  <div class="row top">
    <div class="col-md-3"></div>
    <admin-menu-superior></admin-menu-superior>
  </div>
  <div class="row bot">
    <div class="col-md-12 top">
      <div class="text-center">
        <h1 ng-click="rename()">CREAR UN EVENTO</h1>
        <form novalidate name="event">
          <hr class="title-border"></hr>
          <div class="row">
            <div class="col-md-2">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Título</button>
              <input id="titulo" ng-model="datos.title" required name="titulo" type='text' class="form-control" placeholder="Ej: Aniversario de Portalia Plus" />
            </div>
            <div class="col-md-2">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Descripción</button>
              <textarea placeholder="Ej: Ven a celebrar" name="description" class="form-control" ng-model="datos.description" required></textarea>
            </div>
            <div class="col-md-2">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">URL</button>
              <input type="text" placeholder="Ej: http://www.facebook.com" name="url" class="form-control" ng-model="datos.uerl" required>
            </div>
            <div class="col-md-2">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active" ng-click="valor()">Inicio</button>
              <input id="datetimepicker" name="start" required type='text' class="form-control" />
            </div>
            <div class="col-md-2">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active" ng-click="valor()">Finalización</button>
              <input id="datetimepickerDos" name="end" required type='text' class="form-control" />
            </div>
            <div class="col-md-2">
              <button id="imagenBoton" onclick='$( "#subirImagen" ).trigger( "click" );' class="col-xs-12 btn btn-menu-active">Imagen</button>
              <br>
              <span style="font-size:12px;">{{fileName | limitTo:28}}</span>
              <input type="file" class="hidden" id="subirImagen" ngf-select="subirImagen(fileEvento)" ng-model="fileEvento" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB">
            </div>
            <div class="col-md-2">
              <button ng-click="destacar()" style="margin-top: 1%;" id="destacar" class="col-xs-12 btn btn-menu-active">Destacar</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Lugar</button>
              <input id="lugar" ng-model="datos.lugar" required name="titulo" type='text' class="form-control" placeholder="Ej: Central Park" />
            </div>
            <div class="col-md-6">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Sector</button>
              <select ng-model="datos.sector" id="sector" class="form-text-field" type="text" required>
                <option value="">Selecciona un sector</option>
                <option ng-repeat="sector in sectors" value="{{sector.name}}">{{sector.name}}</option>
              </select>
            </div>
          </div>
        </form>
        <div style="height:50px;"></div>
        <div class="row">
          <div class="col-md-12">
            <button ng-click="crearEvento()" type="submit" id="nightmare" class="col-xs-12 btn btn-menu-active">CREAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bot">
    <div class="col-md-12 top">
      <div class="text-center">
        <h1>EVENTOS PROGRAMADOS</h1>
        <hr class="title-border"></hr>
        <div class="row" ng-repeat="evento in eventos">
          <div class="col-md-12">
            <button style="cursor:default;" class="col-xs-12 btn-menu-active">{{evento.title}} | {{evento.start | limitTo:10}}   <img ng-click="deleteEvent(evento)" style="width: 3%; cursor:pointer;" src="assets/img/basura.svg" />    <span ng-if="evento.destacado == false" ng-click="destacarList(evento)" style="cursor:pointer;">DESTACAR</span><span style="cursor:pointer;" ng-click="noDestacar(evento)" ng-if="evento.destacado == true">NO DESTACAR</span></button>
          </div>
          <div style="height:60px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/admin/masonry.js"></script>
<script src="assets/js/admin/registros.js"></script>
