

<div class="container" ng-controller="CreateUserController">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a href="/admin/searchUser" class="btn btn-warning pull-right margin-top-10"><i class="fa fa-chevron-left"></i> Regresar</a> <br>
        </div>
    </div>

    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">Agregar un nuevo usuario</h1>



            <h3><br> Datos básicos</h3>
            <div class="form-group top">
                <label for="telefono">Teléfono</label>
                <input 	 type="number"
                          ng-model = "user.telefono"
                          name="telefono"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group top">
                <label for="email">Email</label>
                <input 	type="text"
                          ng-model = "user.email"
                          name="email"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>

            <div class="form-group top">
                <label for="">Contraseña</label>
                <input 	 type="text"
                           ng-model = "user.password"
                           name="telefono"
                           class="form-control"
                           ng-keypress="($event.keyCode == 13)?create():return"
                           placeholder="la contraseña se visualizará, es recomendable que se restaure cuanto antes"
                >
            </div>
            <div class="form-group top">
              <label for="role">Rol (usar solo minúsculas)</label>
              <input type="text"
                      value="empresa"
                      ng-model = "user.role"
                      class="form-control"
                      ng-keypress="($event.keyCode == 13)?create():return"
              >
            </div>

            <div class="form-group top">
                <label for="">Tipo de usuario</label>
                <select name="role" id="" class="form-control" ng-model="user.role" >
                    <option value="empresa">Empresa</option>
                    <option value="tmk">Telemarketing</option>
                </select>
            </div>

            <h3> <br>Datos de facturación</h3>
            <div class="form-group">
                <label for="razon">Razón Social</label>
                <input 	type="text"
                          ng-model = "user.razon"
                          name="razon"
                          class="form-control"
                >
            </div>
            <div class="form-group">
                <label for="rfc">RFC</label>
                <input 	type="text"
                          ng-model = "user.rfc"
                          name="rfc"
                          class="form-control text-uppercase"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input 	type="text"
                          ng-model = "user.direccion"
                          name="direccion"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>


            <h3><br>Datos de la empresa</h3>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input 	type="text"
                          ng-model = "user.nombre"
                          name="nombre"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="sector">Sector</label>
                <select id="sector" class="form-control">
                    <option selected value="">Selecciona un sector</option>
                    <option value="{{ sector._id }}" ng-repeat="sector in sectors">{{ sector.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subsector">Subsector</label>
                <select id="subsector" class="form-control">
                    <option selected value="">Selecciona un subsector</option>
                    <option value="{{$index }}" ng-repeat="subsector in subsectores">{{ subsector.name }}</option>
                </select>
            </div>
            <div class="form-group top">
                <label for="emailSec">Email de contacto</label>
                <input 	type="text"
                          ng-model = "user.emailSec"
                          name="emailSec"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <select id="estado" class="form-control">
                    <option value="" selected>Selecciona un estado</option>
                    <option value="{{$index }}" ng-repeat="estado in estados"> {{ estado.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="municipio">Municipio</label>
                <select id="municipio" class="form-control">
                    <option value="" selected>Selecciona un municipio</option>
                    <option ng-selected="municipio._id == user.municipio" value="{{ municipio._id }}" ng-repeat="municipio in municipios"> {{ municipio.name }}</option>
                </select>
            </div>


            				<h3><br>Horarios de Apertura</h3>
            				<div class="row margin-top-20" ng-repeat="item in user.shedules" >

            					<div class="col-md-3 text-center">
            						{{ item.day }}
            					</div>

            					<div class="col-md-3">

            						<div class="switch">
            							<input id="cmn-toggle-{{ item.day }}" ng-model="item.oppened"  class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            							<label for="cmn-toggle-{{ item.day }}"></label>
            						</div>

            					</div>
            					<div class="col-md-3">

            						<div class="input-group bootstrap-timepicker timepicker" ng-show="item.oppened" >
            							<input ng-model="item.opening"
            										 class="form-control"
            										 data-provide="timepicker"
            										 data-minute-step="1"
            										 type="text"
            										 placeholder="Apertura"
            										 class="opening"
            							/>
            						</div>

            					</div>
            					<div class="col-md-3">
            						<div class="input-group bootstrap-timepicker timepicker" ng-show="item.oppened" >
            							<input ng-model="item.closing"
            										 class="form-control"
            										 data-provide="timepicker"
            										 data-minute-step="1"
            										 type="text"
            										 placeholder="Cierre"
            										 class="closing"
            							/>
            						</div>
            					</div>
            				</div>

            <h3><br>Logo de la empresa</h3>
            <div class="form-group">
              <label for="logo"></label>
              <input type="file"
                class="form-control"
                ngf-select=""
                ng-model="file"
                name="file"
                ngf-pattern="'image/*'"
                accept="image/*"
                ngf-max-size="10MB"
              >
            </div>
            <!--<h3><br>Logo de la empresa</h3>-->
            <!--<div class="form-group">-->
                <!--<label for="logo"></label>-->
                <!--<input 	type="file"-->
                          <!--class="form-control"-->
                          <!--ngf-select=""-->
                          <!--ng-model="file"-->
                          <!--name="file"-->
                          <!--ngf-pattern="'image/*'"-->
                          <!--accept="image/*"-->
                          <!--ngf-max-size="10MB"-->
                <!--&gt;-->
            <!--</div>-->
            <!--<div class="form-group top">-->
                <!--<button ng-click="uploadProfilePic(file)" id="uploadLogo" class="btn btn-warning pull-right hidden"></button>-->
            <!--</div>-->


            <h3><br>Información de Perfil</h3>
            <div class="form-group">
                <label for="about">Descripción de la empresa</label>
                <textarea 	name="about"
                             cols="30"
                             rows="5"
                             ng-model = "user.about"
                             class="form-control"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="ventajas">Ventajas competitivas</label>
                <textarea 	name="ventajas"
                             cols="30"
                             rows="5"
                             ng-model = "user.ventajas"
                             class="form-control"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="tags">Palabras clave</label>
                <textarea 	name="tags"
                             cols="30"
                             rows="5"
                             ng-model = "user.tags"
                             class="form-control"
                ></textarea>
                <span>Cada palabra clave tiene que ir separada por una coma (,)</span>
            </div>
            <div class="form-group">
                <label for="products">Productos</label>
                <textarea 	 name="products"
                             cols="30"
                             rows="5"
                             ng-model = "user.products"
                             class="form-control"
                ></textarea>
                <span>Cada producto tiene que ir separada por una coma (,)</span>
            </div>



            <h3><br>Redes sociales</h3>
            <div class="form-group">
                <label for="facebook">Facebook</label>
                <input 	type="text"
                          ng-model = "user.redes.facebook"
                          name="facebook"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="twitter">Twitter</label>
                <input 	type="text"
                          ng-model = "user.redes.twitter"
                          name="twitter"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="youtube">Youtube</label>
                <input 	type="text"
                          ng-model = "user.redes.youtube"
                          name="youtube"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="linkedin">Linked In</label>
                <input 	type="text"
                          ng-model = "user.redes.linkedin"
                          name="linkedin"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>
            <div class="form-group">
                <label for="googleplus">Google Plus</label>
                <input 	type="text"
                          ng-model = "user.redes.googleplus"
                          name="googleplus"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >
            </div>

            <div class="form-group">
                <label for="web">Página web</label>
                <input 	type="text"
                          ng-model = "user.web"
                          name="web"
                          class="form-control"
                          ng-keypress="($event.keyCode == 13)?create():return"
                >

            </div>

            <div class="form-group top">
                <button ng-click="create()" class="btn btn-warning pull-right">Guardar</button>
            </div>

            <br>
            <br>
            <br>

            </form>
        </div>

    </div>

</div>
