<section class="pricing" ng-controller="pricingCrl">

  <update-title title="Pricing | Portalia Plus Directorios Industriales"></update-title>
  <update-meta name="description" content="Inscríbete en el directorio industrial más grande de México y disfruta los beneficios para tu empresa. "></update-meta>
  <update-meta name="title" content="Pricing | Portalia Plus Directorios Industriales"></update-meta>


  <div class="pricing-header pricing-header-background">
    <h2 class="pricing-header-text">
      Pricing</h2>
    <div class="underline-header-text gradient-yellow-orange"></div>
    <a href="/promocionInvitar">

    </a>
  </div>
  <div class="separator gradient-yellow-orange"></div>



  <div class="container-fluid margin-top-30">

    <div class="row bg-transparent">
      <div class="col-md-6 hidden-sm hidden-xs no-padding ">
        <div class="tab-pricing-left"
             ng-class="{ 'active' : periodo == 'sixmonth' }"
             ng-click=" periodo='sixmonth' "
        >
          6 Meses
          <div class="triangle-pricing" ng-show="periodo == 'sixmonth' "></div>
        </div>

      </div>
      <div class="col-md-6 hidden-sm hidden-xs no-padding ">
        <div class="tab-pricing-right"
             ng-class="{ 'active' : periodo == 'year' }"
             ng-click=" periodo='year' "
        >
          1 Año
          <div class="triangle-pricing" ng-show="periodo == 'year' "></div>
        </div>
      </div>
    </div>
    <div class="row bg-gray">

    </div>
    <!-- Tabla de pricing -->
    <div class="row margin-30  padding-bottom-15 bg-white hidden-sm hidden-xs">

      <div class="col-md-12 bg-gray-table-dark padding-5">

        <div class="checkbox text-center">
          <input id="pay-per-month"
                 ng-checked="frecuencia=='mensual'"
                 ng-model="frecuencia"
                 ng-true-value="'mensual'"
                 class="hidden"
                 type="checkbox"
                 name="check"
                 value="pay-per-month"
          >
          <label for="pay-per-month" class="check">Cobro Mensual</label>

          <input id="pay-per-three-months"
                 ng-checked="frecuencia=='trimestral'"
                 ng-model="frecuencia"
                 ng-true-value="'trimestral'"
                 class="hidden"
                 type="checkbox"
                 name="check"
                 value="pay-per-three-months"
          >
          <label for="pay-per-three-months" class="check">Cobro Trimestral</label>

          <input id="pay-per-week"
                 ng-checked="frecuencia=='semestral'"
                 ng-model="frecuencia"
                 ng-true-value="'semestral'"
                 class="hidden"
                 type="checkbox"
                 name="check"
                 value="pay-per-week"
          >
          <label for="pay-per-week" class="check">Cobro Semestral</label>

          <input id="pay-per-year"
                 ng-checked="frecuencia=='anual'"
                 ng-model="frecuencia"
                 ng-true-value="'anual'"
                 class="hidden"
                 type="checkbox"
                 name="check"
                 value="pay-per-year"
          >
          <label for="pay-per-year"
                 ng-show=" periodo == 'year' "
                 class="check"
          >Cobro Anual</label>

        </div>

      </div>

      <div class="col-md-12 no-padding margin-top-20">
        <table class="table table-pricing ">

        <tbody>

          <!-- Renglón de títulos de los planes-->
          <tr>
            <td class="w-1-6"></td>
            <td class="w-1-6"></td>
            <td class="w-1-6"></td>
            <td class="w-1-6 ">
              <div class="free-title">
                GRATIS
              </div>
            </td>
            <td class="w-1-6">
              <div class=" plus-title">
                PLUS
              </div>
            </td>
            <td class="w-1-6 ">
              <div class="select-title">
                SELECT
              </div>
            </td>
          </tr>
          <!-- Renglón de títulos de los planes-->

          <!-- Renglón de titulo beneficios portalia -->
          <tr>
            <td colspan="3" class="font-table plus-color  text-center">
              <h3 class="margin-0">BENEFICIOS PORTALIA</h3>
            </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                CACA
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border font-select">
                <span ng-show="plusPrice > 0">
                  {{ numeroPagos }} {{ (numeroPagos == 1) ? 'pago' : 'pagos'  }} de {{ plusPrice | currency }}
                </span>
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border font-select">
                <span ng-show="selectPrice > 0">
                  {{ numeroPagos }} {{ (numeroPagos == 1) ? 'pago' : 'pagos'  }} de ${{ selectPrice | number }}
                </span>
                <span class="font-transparent" ng-show="selectPrice <= 0">blank</span>
              </div>
            </td>
          </tr>
          <!-- Renglón de titulo beneficios portalia -->

          <!-- Renglón vacío, solo border -->
          <tr>
            <td colspan="3"> </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border font-select">
                IVA INCLUIDO
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border font-select">
                IVA incluido
              </div>
            </td>
          </tr>
          <!-- Renglón vacío, solo border -->

          <!-- Renglón de descripción  -->
          <tr class="bg-gray-table">
            <td colspan="3"> Perfil Empresarial amigable y autoadministrable</td>
            <td class="w-1-6">
              <div class="free-border check-img">
                <img src="/assets/images/icons/check_gratis.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border check-img">
                <img src="/assets/images/icons/check_plus.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr>
            <td colspan="3"> Contenido multimedia y redes sociales (imágenes, videos, catálogos de productos)</td>
            <td class="w-1-6 font-table">
              <div class="free-border">
                Hasta 7 contenidos
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border">
                Contenidos ilimitados
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border">
                 Hasta 50 contenidos
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr class="bg-gray-table">
            <td colspan="3"> Ubicación y sucursales</td>
            <td class="w-1-6 font-table">
              <div class="free-border ">
                Solo ubicación
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border check-img">
                <img src="/assets/images/icons/check_plus.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr>
            <td colspan="3"> Boletín mensual (Oportunidades de negocio, visitas al perfil empresarial, notas especializadas)</td>
            <td class="w-1-6">
              <div class="free-border check-img">
                <img src="/assets/images/icons/check_gratis.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border">
                Material exclusivo
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr class="bg-gray-table">
            <td colspan="3"> Panel administrativo de perfil empresarial </td>
            <td class="w-1-6">
              <div class="free-border check-img">
                <img src="/assets/images/icons/check_gratis.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border check-img">
                <img src="/assets/images/icons/check_plus.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr>
            <td colspan="3"> Apoyo personalizado para la optimización de perfil y contenidos clave </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border check-img">
                <img src="/assets/images/icons/check_plus.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr class="bg-gray-table">
            <td colspan="3"> Chat entre empresas </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border check-img">
                <img src="/assets/images/icons/check_plus.png" class="img-responsive center-block" alt="">
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border check-img">
                <img src="/assets/images/icons/check_select.png" class="img-responsive center-block" alt="">
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr>
            <td colspan="3"> Posicionamiento destacado en resultados de búsqueda Portalia </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table ">
              <div class="plus-border">
                Primera posición
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border">
                Segunda posición
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr class="bg-gray-table">
            <td colspan="3"> Publicación de empresas líderes por sector </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border">
                Primera posición
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border">
                Segunda posición
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de descripción  -->
          <tr>
            <td colspan="3"> Publicación de artículos destacados por categoría </td>
            <td class="w-1-6">
              <div class="free-border font-transparent">
                blank
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="plus-border ">
                24 contenidos
              </div>
            </td>
            <td class="w-1-6 font-table">
              <div class="select-border ">
                12 contenidos
              </div>
            </td>
          </tr>
          <!-- Renglón de descripción  -->

          <!-- Renglón de contratación de los planes-->
          <tr>
            <td class="w-1-6"></td>
            <td class="w-1-6"></td>
            <td class="w-1-6"></td>
            <td class="w-1-6 ">
              <div class="free-bottom">
                <a href="/registro" ng-if="userData.role == undefined" class="btn btn-continue-free">REGÍSTRATE</a>
              </div>
            </td>
            <td class="w-1-6">
              <div class=" plus-bottom">
                <a href="/contacto" class="btn btn-continue-plus" ng-if="userData.role == 'empresa'">CONTÁCTANOS</a>
              </div>
            </td>
            <td class="w-1-6 ">
              <div class="select-bottom">
                <button  ng-click="sendToPay('select')" class="btn btn-continue-select"  ng-if="userData.role == 'empresa'">CONTINUAR</button>
              </div>
            </td>
          </tr>
          <!-- Renglón de contratación de los planes-->


        </tbody>
      </table>

      </div>

      <div class="col-md-12 margin-top-15 text-center">

        <h2 class="orange">
          <b>
            <img src="/assets/images/icons/contactanos.png" alt="" class="icon-100">
            Llámanos asistencia personalizada
            <a class="hidden-xs orange" href="tel:+5247700504">(33) 47700504</a>

          </b>
        </h2>
      </div>
    </div>
    <div class="row  margin-30 padding-top-15 padding-bottom-15 bg-white visible-sm visible-xs">
      <div class="col-sm-12 text-center">
        <h1>Para comprar una membresía es necesario que ingreses en una computadora de escritorio</h1>
      </div>
    </div>
    <!-- Termina tabla de pricing -->

    <!-- Bloque de métodos de pago -->
    <div class="row bg-white margin-top-30">

      <div class="col-md-6  margin-top-30">
        <h3 class="orange">
          Métodos de pago <img src="/assets/images/icons/tarjetas.png" class="img-credit-card img-responsive" alt="">
        </h3>
      </div>
      <div class="col-md-6 margin-top-30">
        <img src="/assets/images/icons/openpay.png" class="openpay center-block img-responsive" alt="">
      </div>

    </div>
    <!-- Terminan métodos de pago-->
    <div class="separator-black"></div>

    <!-- Bloque de iconos de pricing -->
    <div class="row bg-white ">

      <div class="col-md-3 text-center margin-top-30">
        <img src="/assets/images/pricing/icons/panel_administrativo.png" class="img-responsive center-block icon-pricing" alt="">
        <b>Más de 100 mil usuarios activos en el portal ya están buscando nuevos proveedores para su empresa.</b>
        <p class="gray">
          <!-- Descripción -->
        </p>
      </div>

      <div class="col-md-3 text-center margin-top-30">
        <img src="/assets/images/pricing/icons/perfil_empresarial.png" class="img-responsive center-block icon-pricing" alt="">
        <b>Al mes generamos más de 50 mil oportunidades de negocio para miembros select </b>
        <p class="gray">
          <!-- Descripción -->
        </p>
      </div>
      <div class="col-md-3 text-center margin-top-30">
        <img src="/assets/images/pricing/icons/contenido_multimedia.png" class="img-responsive center-block icon-pricing" alt="">
        <b>Te ayudaremos a que entiendas y apliques web marketing para tu empresa mediante capacitaciones continuas y webinars. </b>
        <p class="gray">
          <!-- Descripción -->
        </p>
      </div>

      <div class="col-md-3 text-center margin-top-30">
        <img src="/assets/images/pricing/icons/chat.png" class="img-responsive center-block icon-pricing" alt="">
        <b>Podrás contactarte de manera directa con tus clientes y proveedores a través de un chat directo que encontrarás en tu perfil</b>
        <p class="gray">
          <!-- Descripción -->
        </p>
      </div>


    </div>

    <div class="row bg-white ">

      <div class="col-md-3 text-center margin-top-30">
        <img src="/assets/images/pricing/icons/apoyo_personalizado.png" class="img-responsive center-block icon-pricing" alt="">
        <b>Te daremos atención personalizada vía telefónica o en nuestro chat en línea para que no pierdas ni un solo cliente potencial </b>
        <p class="gray">
          <!-- Descripción -->
        </p>
      </div>
    </div>



    <!-- Termina bloque de iconos de pricing -->

    <div class="row bg-gray-light padding-30 ">

      <div  class="col-md-6   bg-white padding-30">
        <h2 class="text-center">
          PREGUNTAS FRECUENTES
        </h2>
        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title orange">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#primera">
                  <i class="chevron"></i>
                  ¿Puedo solicitar factura y cómo la solicito?
                </a>
              </div>
            </div><!--Here heading has to close and collapse has to start-->
            <div class="panel-collapse collapse" id="primera">
              <div class="panel-body">
                Sí, la factura es electrónica, al momento de realizar el pago se le solicita la información para su factura y se le hace llegar por correo electrónico.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title orange">

                <a class="collapsed" href="#segunda" data-toggle="collapse" data-parent="#accordion">
                  <i class="chevron"></i>
                  ¿Los precios incluyen iva?
                </a>
              </div>
            </div>
            <div class="panel-collapse collapse" id="segunda">
              <div class="panel-body">
                Los precios que se visualizan en la página ya incluyen IVA
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title orange">
                <a class="collapsed" href="#tercera" data-toggle="collapse" data-parent="#accordion">
                  <i class="chevron"></i>
                  ¿Cuánto cuesta utilizar el sitio?
                </a>
              </div>
            </div>
            <div class="panel-collapse collapse" id="tercera">
              <div class="panel-body">
                Es gratuito sí eres visitante y lo que te interesa es contactar empresas y proveedores. <br>
                Cuando lo que estás buscando son noticias de la industria, consejos de web marketing para empresas o información de productos y servicios de proveedores registrados en Portalia Plus, el sitio es gratuito.
                <br>
                Si estás buscando vender, necesitas registrar tu empresa, llenar tu perfil y puedes elegir entre un paquete gratuito (limitado) o pagar por una membresía select para recibir oportunidades de negocio para tu empresa.

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title orange">
                <a class="collapsed" href="#cuarta" data-toggle="collapse" data-parent="#accordion">
                  <i class="chevron"></i>
                  ¿Cómo puedo conocer el precio de un equipo/producto?
                </a>
              </div>
            </div>
            <div class="panel-collapse collapse" id="cuarta">
              <div class="panel-body">
                Portalia Plus no vende productos, somos un Directorio Industrial en donde encontrarás empresas registradas en
                nuestros directorios especializados por industria y sector.  Las empresas pueden tener visibles algunos de los
                servicios o productos que ofertan pero tendrás que contactar directamente a la empresa para tener acceso a
                precios y compras.
                <br>
                Sí -Falta te interesa recibir varías cotizaciones sobre uno o varios productos te recomendamos lo solicites aquí (link a cotizar).
                <br><br>
                -Falta el botón para descargar la presentación corporativa. Adjunto el pdf que se descargará. <br>
                -Nos gustaría que le agregue m{as margen a los costados del pricing por que todo se ve muy grande.

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6 padding-30" id="video">
        <h2 class="text-center">
          Nuestros beneficios
        </h2>
        <div class="embed-responsive embed-responsive-4by3">
          <!-- <video  controls class="embed-responsive-item" poster="assets/images/thumbnailNosotros.jpg">
            <source src="assets/videos/landing.mp4" type="video/mp4">
          </video> -->
          <iframe src="https://www.youtube.com/embed/jM5fRZmdqrA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>


    </div>

  </div>

  <!-- <div class="container-fulid ">
    <div style="padding-left:5%;padding-right:5%;" class="center">
      <div onclick="$('#myModal').modal('show');" class="btnPago" ng-if="userData.role == undefined">
        <a data-fittext class="txt-blanco">Para poder contratar un plan tiene que estar registrado</a>
      </div>
      <br>
    </div>
  </div> -->

  <!-- <form action="">
    <div class="time-span ">
      <div>
        <input id="1mes" type="radio" name="period" checked="" />
        <label for="1mes">1 mes</label>
        <input id="3mes" type="radio" name="period" />
        <label for="3mes">3 meses
          <span class="claro">(5% descuento)</span>
        </label>
        <input id="6mes" type="radio" name="period" />
        <label for="6mes">6 meses
          <span class="claro">(10% descuento)</span>
        </label>
        <input id="12mes" type="radio" name="period" />
        <label for="12mes">1 año
          <span class="claro">(20% descuento)</span>
        </label>
      </div>
    </div>
  </form> -->
  <!-- <div class="container-fulid ">
    <div style="padding-left:5%;padding-right:5%;" class="center">
      <div ng-click="submit()" class="btnPago" ng-if="userData.role == 'empresa'">
        <a data-fittext class="txt-blanco">Continuar</a>
      </div>
      <br>
    </div>
  </div> -->



  <!-- Modal -->
  <div class="modal fade lg" id="myModalo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a class="pull-right btn-close-modal" data-dismiss="modal">
            <i class="fa fa-remove"></i>
          </a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Previsualización de {{tituloModal}}</h4>
        </div>
        <div class="modal-body">
          <img style="height:325px;width:525px" ng-src="{{link}}" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-login text-center col-xs-12 micro-top" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade lg" id="modalCupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="overflow-x:hidden;">
        <div class="modal-header">
          <a class="pull-right btn-close-modal" data-dismiss="modal">
            <i class="fa fa-remove"></i>
          </a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">¿Tienes un código de Portalia Plus? ¡Aplícalo aquí!</h4>
        </div>
        <div class="modal-body">
          <input autocomplete="off" ng-keyup="getCode()" id="codigoBox" ng-model="data.codigo" type="text" class="form-control" />
          <br>
          <div ng-if="codigoObtenido != null">
            <div style="color:#228B22;text-align: center;">Válido</div>
            <br> Paquete otorgado: {{codigoObtenido.paquete}}
            <br> Periodo: {{codigoObtenido.numeroOfrecido}} <span ng-if="codigoObtenido.unidadOfrecida == 'd'">días</span><span ng-if="codigoObtenido.unidadOfrecida == 'm'">meses</span><span ng-if="codigoObtenido.unidadOfrecida == 'y'">años</span>
          </div>
          <div ng-if="codigoObtenido == null && typed == true">
            <div style="color:#8B0000;text-align: center;">Inválido</div>
            <br>
            <span ng-if="vigenciaIncorrecta == true">Este código promocional ya ha expirado y no puede ser utilizado, ¡lo sentimos!</span>
            <span ng-if="usado == true">Este código promocional ya ha superado su límite de usos, ¡lo sentimos!</span>
            <span ng-if="correoDif == true">Este código promocional no se encuentra ligado a tu correo, ¡lo sentimos!</span>
            <span ng-if="yaUsado == true">Ya has utilizado este código promocional anteriormente, ¡lo sentimos!</span>
          </div>
        </div>
        <div class="modal-footer">
          <button disabled id="aplicar" type="button" ng-click="aplicarCode()" class="btn btn-login text-center col-xs-12 micro-top">Aplicar</button>
        </div>
      </div>
    </div>
  </div>

</section>
<script src="assets/js/pricing.js"></script>
