<div class="container" ng-controller="redaccionMailCrl">
  <div class="modal-body row">
    <div class="col-md-6">
      <input type="text" name="title" ng-model="test.title" class="form-control" placeholder="Titulo" value="">
      <textarea name="name" ng-model="test.body" class="form-control" rows="8" cols="80">
      </textarea>
        <li> &#123 &#123 nombre &#125 &#125 </li><br>
        <li> &#123 &#123 categoria_name &#125 &#125 </li><br>
        <li> &#123 &#123 sector_name &#125 &#125 </li><br>
        <input type="button" class="btn btn-warning" name="Enviar" value="Enviar" ng-click="enviarMail()">
    </div>
    <div class="col-md-6">
      <label for="mail_id">
        <img src="assets/images/contacto.png" width="40%" alt="">
        <input type="radio" name="" id="mail_id" style="display: inherit">
      </label>
    </div>
  </div>
</div>
