
<div ng-controller="ShedulesController">
  <div class="row"
       ng-if=" user.schedules != null "
  >

    <h3 class="text-center-xs"
        ng-class=" { 'text-center' : isMyProfile }"
        ng-if="(nombreInfo != 'me') || (nombreInfo == 'me' && userData.role == 'empresa')"
    >
      Horarios de apertura <br class="visible-xs">

    </h3>

    <div class="col-md-4 text-center-xs" ng-repeat="item in user.shedules" ng-if=" ! isMyProfile && user.role == 'empresa'">
      <h4>
        <b>{{ item.day }}</b>
        <span class="margin-left-10" ng-if="item.oppened"> <br class="visible-xs"> {{ item.opening }} - {{ item.closing }}</span>
        <span class="margin-left-10" ng-if=" ! item.oppened"></span>
      </h4>
    </div>


  </div>




  <!-- Modal -->
  <div class="modal fade" id="shedules-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content no-overflow">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Horarios de apertura</h4>
        </div>
        <div class="modal-body">


          <div class="row margin-top-20" ng-repeat="item in user.shedules" >

            <div class="col-md-3 text-center">
              {{ item.day }}
            </div>

            <div class="col-md-3">

              <div class="switch">
                <input id="cmn-toggle-{{ item.day }}" ng-model="item.oppened"  class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-{{ item.day }}"></label>
              </div>

            </div>

            <div class="col-md-3">

              <div class="input-group bootstrap-timepicker timepicker" ng-show="item.oppened" >
                <input ng-model="item.opening"
                       class="form-control"
                       data-provide="timepicker"
                       data-minute-step="1"
                       type="text"
                       placeholder="Apertura"
                       class="opening"
                />
              </div>

            </div>
            <div class="col-md-3">
              <div class="input-group bootstrap-timepicker timepicker" ng-show="item.oppened" >
                <input ng-model="item.closing"
                       class="form-control"
                       data-provide="timepicker"
                       data-minute-step="1"
                       type="text"
                       placeholder="Cierre"
                       class="closing"
                />
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-warning" ng-click="setShedules()">Guardar horarios</button>
        </div>
      </div>
    </div>
  </div>


</div>
