

<div ng-controller="DetalleProductoController">


  <div class="container margin-top-30">

    <h1 class="text-center orange">{{ product.name }}</h1>

    <div id="product-images" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#product-images"
            data-slide-to="{{ $index }}"
            ng-class="{ 'active' : $index == 0 }"
            ng-repeat=" image in product.pictures"
        >
        </li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item"
             ng-repeat=" image in product.pictures"
             ng-class=" { 'active' : $index == 0 }"
        >
          <img ng-src="{{ image.url.replace('./client','') }}"
               alt="Los Angeles"
               class="img-responsive center-block"
          >
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#product-images" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#product-images" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="row margin-top-30">

      <div class="col-md-12 text-center">
        <a class="btn btn-orange-dark"
           href="/perfil/{{ user._id }}/{{ user.nombre.replace('/','_') }}"
        >
          Contactar al vendedor
        </a>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">
        <h2 class="orange">Descripción</h2>
        <div ng-bind-html="product.description"></div>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">
        <h2 class="orange">Valor agregado</h2>
        <div ng-bind-html="product.addedValue"></div>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">
        <h2 class="orange">Precio</h2>
        <h3 >
          {{ ( product.price ).formatMoney(2, '.', ','); }}
        </h3>
      </div>

    </div>


  </div>


</div>
