<div ng-controller="resultadosObtenidosCrl" class="bg-gray-light padding-bottom-30">
  <update-title title="{{title}}"></update-title>
  <update-meta name="description" content="{{description}}"></update-meta>
  <update-meta name="title" content="{{title}}"></update-meta>
  <div class="container-fluid">

    <div class="row ">

      <div class="col-md-12 padding-60 bg-busqueda">

        <h2 class="header-text text-uppercase">Resultados obtenidos</h2>
        <div class="header-underline gradient-yellow-orange "></div>
        <div class="margin-bottom-30"></div>

      </div>

    </div>
    <!-- Termina header -->

    <!-- Componente de listado de empresas -->
    <bussinesslist></bussinesslist>
    <!-- Termina componente de listado de empresas -->

    <!--Modal de contqacto-->
    <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9000;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <a class="pull-right btn-close-modal" data-dismiss="modal">
                    <i class="fa fa-remove"></i>
                </a>
                <div class="modal-body top">

                    <!-- Formulario de contacto básico -->
                    <contactform></contactform>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
</div>
