<section class="buscarPorZonaGeografica" ng-controller="agregarSucursalCrl">
  <div class="nuevaSucursalContainer">
    <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="titleContainer">
        <div class="btnContainer col-xs-12 ">
          <input type="button" ng-click="goProfile()" value="Regresar a mi Perfil" class="buscar" />
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
      <div class="titleContainer">
        <h2>ubicación</h2>
        <div class="line-separator"></div>
      </div>
      <div class="textContainer">
        <p>
          Puedes hacerlo de manera manual desde el mapa o
          <br>indicando en las casillas la información requerida.</p>
      </div>
      <div class="informacionContainer">
        <div class="col-xs-12">
          <div class="labelContainer">
            <label>*Estado</label>
          </div>
          <div class="inputContainer">
            <input ng-model="sucursales.estadoSucursal" id="estado" type="text" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="labelContainer">
            <label>*Ciudad</label>
          </div>
          <div class="inputContainer">
            <input ng-model="sucursales.ciudad" id="ciudad" type="text" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="labelContainer">
            <label>*Colonia</label>
          </div>
          <div class="inputContainer">
            <input ng-model="sucursales.colonia" id="colonia" type="text" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="labelContainer">
            <label>*Calle</label>
          </div>
          <div class="inputContainer">
            <input ng-model="sucursales.calle" id="calle" type="text" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-12">
            <div class="labelContainer">
              <label>Número</label>
            </div>
            <div class="inputContainer">
              <input ng-model="sucursales.numero" id="numero" type="text" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="labelContainer">
              <label>CP</label>
            </div>
            <div class="inputContainer">
              <input ng-model="sucursales.cp" id="cp" type="text" />
              <input ng-model="sucursales.latitud" id="lat" type="hidden" />
              <input ng-model="sucursales.longitud" id="long" type="hidden" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="labelContainer">
              <label>Nombre</label>
            </div>
            <div class="inputContainer">
              <input id="nombreSucursal" ng-model="sucursales.nombreSucu" type="text" />
            </div>
          </div>
        </div>
        <div style="margin-top:20px;" class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0"  ng-if="editing == false">
          <div class="btnContainer col-xs-12 ">
            <input type="button" ng-click="agregarSucursal()" value="Agregar" class="buscar" />
          </div>
        </div>
        <div style="margin-top:20px;" class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0" ng-if="editing == true">
          <div class="btnContainer col-xs-12 ">
            <input type="button" ng-click="saveEdit()" value="Guardar" class="buscar" />
          </div>
        </div>
      </div>
      <div class="textContainer nota">
        <p>Nota: Es posible que Google Maps no ubique correctamente tu colonia debido a que no existe un registro anterior. De ser así arrastra el puntero rojo y ubicalo en el lugar deseado.</p>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="row">
        <div class="mapContainer" id="map"></div>
        <div class="btnContainer col-xs-12 ">
          <input type="button" onclick="pan()" value="Ir a mi ubicación actual" class="buscar" />
        </div>
      </div>
      <div class="row">
        <div class="tableResults" style="font-size: 14px;">
          <table>
            <tbody>
              <tr ng-repeat="sucus in userData.sucursales">
                <td class="col-xs-2" ng-if="sucus.nombreSucu != ''"><span class="name">{{sucus.nombreSucu}}</span></td>
                <td class="col-xs-2" ng-if="sucus.nombreSucu == ''"><span class="name">Nombre de la Sucursal</span></td>
                <td class="col-xs-2"><span class="adress">{{sucus.colonia}}</span></td>
                <td class="col-xs-2 hidden-xs"><a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr={{sucus.latitud}},{{sucus.longitud}}" class="indicaciones">Consultar indicaciones</a></td>
                <td class="col-xs-2 visible-xs"><a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr={{sucus.latitud}},{{sucus.longitud}}" class="indicaciones">Ir</a></td>
                <td class="col-xs-2"> <img style="width: 25%; cursor:pointer;" ng-click="removerSucursal($index)" src="assets/img/basura.svg" /> </td>
                <td class="col-xs-2"><span style="cursor:pointer;" ng-click="activateEdit($index, sucus)"><i class="fa fa-pencil"></i>Editar</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="clear: both;" class="orange-divider orange-divider-background"></div>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChpILarfnrv9OxONxDhJeDh3LPiBOzpUI&callback=initMap"></script>
<script type="text/javascript" src="assets/js/agregarSucursal.js"></script>
