<div class="container-100">
  <update-title title="Eventos Para Empresas | Portalia Plus "></update-title>
  <update-meta name="description" content="Encuentra soluciones especializadas para tu negocio en los eventos que organizamos, además puedes regístrate gratis en nuestro directorio para empresas y disfrutar de conferencias, exposiciones y mucho más."></update-meta>
  <update-meta name="title" content="Eventos Para Empresas | Portalia Plus "></update-meta>


  <div class="bloque-1 row height-100 ">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 top">
      <h1 class="white text-center mega">Retos económicos y su efecto en <br> las finanzas de las empresas </h1>
      <h3 class="white text-center"> Entérate de lo que beneficiará o afectará a tu negocio en la recta final del 2016.</h3>
      <div class="col-xs-4 col-xs-offset-4 top">
        <div class="gradient-yellow-orange gradient-menu-5 top"></div>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="subtitle-landing gray text-center font-light"> <br>Impartida por el MBA.Eduardo Morán Mendoza</div>
      </div>
    </div>

    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 top">
      <iframe id="video" width="100%" height="500px" src="https://www.youtube.com/embed/iZBlrejyjCg" frameborder="0" allowfullscreen></iframe>
      <!-- <div class="soon" data-face="flip color-dark corners-sharp shadow-hard fast" data-scale-max="xxl" data-face="slot" data-format="d,h,m,s" data-labels-days="Dia,Dias" data-labels-hours="Hora,Horas" data-labels-minutes="Minuto,Minutos" data-labels-seconds="Segundo,Segundos"></div> -->
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 top hidden-xs">
      <!-- <button id="streamingbtn" onclick='location.hash = "#videodiv";' class="btn gradient-border col-lg-12  col-md-12 col-sm-12 top-sm">VER VIDEO</button> -->
      <a href="/registro" class="btn gradient-border-white col-lg-12 col-md-12 col-sm-12  pull-right top-xs">REGÍSTRA TU EMPRESA EN PORTALIA</a>
    </div>

    <div class="col-md-12 col-lg-12 col-xs-12">
      <div class="footer-title top">Medios</div>
      <div class="" style="z-index: 10; position: relative; cursor:pointer;">

        <div class="social col-lg-4 col-md-4 col-xs-12 top">
          <div onclick="window.open('http://www.forbes.com.mx/brand-voice/5-claves-financieras-para-pymes-y-emprendedores/', '_blank')">
            <img src="https://cdn.forbes.com.mx/2014/12/logo-heil.svg" class="img-responsive img-center" width="200px" style="margin-bottom:10px;">
          </div>
        </div>
        <div class="social col-lg-4 col-md-4 col-xs-12 top">
          <div onclick="window.open('https://www.entrepreneur.com/article/280509', '_blank')">
            <img src="https://assets.entrepreneur.com/static/20160721060814-ENT-logo-white.svg" class="img-responsive img-center" width="250px">
          </div>
        </div>
        <div class="social col-lg-4 col-md-4 hidden-xs">
          <div onclick="window.open('http://www.1070noticias.com.mx/jalisco/recomiendan-a-empresarios-aprovechar-instrumentos-tecnologicos-ante-recortes-presupuestales/', '_blank')">
            <h1 class="white text-center mega"><h1>Radio Noticias 1070</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="bloque-3 row height-100 " id="videodiv">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 top-nav-fixed bot">
      <h1 class="white text-center mega">Retos económicos y su efecto en las finanzas de las empresas</h1>
      <div class="col-xs-4 col-xs-offset-4 top">
        <div class="gradient-yellow-orange gradient-menu-5 top"></div>
      </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 height-100" id="video">
      <div id='playerjxJRqLMFuJaA' class="embed-responsive-item height-100"></div>
    </div>

  </div> -->


  <!-- TODO Desocultar los ng-if o cambiarlos por algo de fecha para portalito -->
  <div id="modal-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body top">
          <h1 class="text-center">¡Correo validado!</h1>
          <br>
          <p class="text-center">
            Gracias por validar tu correo en Portalia Plus. Te invitamos a completar la información de tu página de negocio para que tus clientes te encuentren más rápido.
          </p>
          <br>
          <img src="assets/images/icons/smile.png" alt="" class="img-center">
          <br>
          <p class="text-center">¡Gracias por tu confianza!</p>
          <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal">Entendido</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id="modal-amigos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="pull-right btn-close-modal" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </a>
        <div class="modal-body">
          <h3 class="text-center top">Invitar a tus amigos</h3>
          <div class="header-yellow"></div>
          <div class="row top">
            <div class="col-xs-10 col-xs-offset-1" id="emails">
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 bot">
                  <img src="assets/images/icons/destacado-correo.svg" class="img-ico img-center" alt="">
                </div>
                <div class="col-xs-10 bot">
                  <input type="text" class="form-control input-yellow" placeholder="Insertar correo">
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-2 pagination-centered">
                  <img src="assets/images/icons/add-image.png" class="img-ico img-center" alt="" id="addExtraEmail" ng-click="agregarEmailExtra()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 top">
            <button class="btn btn-warning btn-40 col-xs-12" data-dismiss="modal" ng-click="enviar();">Invitar</button>
            <div class="col-xs-10 col-xs-offset-1 header-yellow top"></div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

  </div>
  <script type='text/javascript'>
    // function construirVideo() {
    //   var $width = $("#playerjxJRqLMFuJaA").width();
    //   var $height = $width / 1.5;
    //   if ($height < 768) {
    //     $('#video').height($('#playerjxJRqLMFuJaA').height());
    //     $('.bloque-3').height($height * 2);
    //   } else {
    //     //var $height = $width;
    //   }
    //   jwplayer('playerjxJRqLMFuJaA').setup({
    //     androidhls: true,
    //     playlist: [{
    //       sources: [{
    //         file: "rtmp://50.7.98.234:1935/jcarlos/videojcarlos"
    //       }, {
    //         file: "http://50.7.98.234:1935/jcarlos/videojcarlos/playlist.m3u8"
    //       }]
    //     }],
    //     controls: 'true',
    //     title: 'Retos económicos y su efecto en las finanzas de las empresas',
    //     width: $width,
    //     height: $height,
    //     aspectratio: '16:9',
    //     autostart: 'true',
    //     stretching: 'fill',
    //     primary: 'flash',
    //     sharing: '{}'
    //   });
    // }

    $(document).ready(function() {
      // construirVideo()

      var $width = $("#video").width();
      var $height = $width / 1.5;
      if ($height < 768) {
        $('#video').height($(window).height() * .5);
        //$('.bloque-3').height($height * 2);
      } else {
        //var $height = $width;
      }
    });
  </script>
  <script src="assets/js/evento.js"></script>
