<div ng-controller="SolicitudBannerController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Solicitud de banner
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Solicitud de banner</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Solicitar un nuevo banner publicitario</span>
          </div>
          <div class="actions">
            <h4 class="orange"></h4>
          </div>
        </div>
        <div class="portlet-body">


          <div class="row">

            <div class="col-md-12">

              <h3 class="orange">Selecciona el rango de fechas que quieres para tu banner</h3>

              <div class="row margin-bottom-30">

                <div class="form-group">

                <div class="col-md-4">
                  <label class="control-label">¿Por cuanto tiempo quieres el banner?</label>
                  <input type="text"
                         id="daterange"
                         ng-model="bannerTime"
                         class="form-control"
                  />
                </div>

                <div class="col-md-4"
                     ng-show="user.role == 'admin'"
                >
                  <label class="control-label">Asignar el banner a un usuario</label>
                  <input type="text"
                         ng-model="userBanner"
                         class="form-control"
                         placeholder="Escribe el id del usuario"
                  >
                </div>

              </div>

              </div>

              <h3 class="orange">
                Escribe 5 palabras claves con las que te gustaría que apareciera tu banner.
              </h3>

              <div class="row margin-top-30">

                <div class="form-group ">

                  <div class="col-md-3">

                    <input type="text"
                           class="form-control"
                           placeholder="Agregar palabra clave"
                           ng-model="newTag"
                           ng-keypress="$event.keyCode === 13 && addTag( newTag )"
                    >

                  </div>

                  <div class="col-md-3">
                    <button class="btn btn-orange"
                            ng-click=" addTag( newTag )"
                            ng-disabled=" isLoading "
                    >
                      <i class="fa fa-plus"
                         ng-show=" ! isLoading "
                      ></i>
                      <i class="fa fa-spinner fa-spin fa-fw"
                         ng-show=" isLoading "
                      ></i>
                    </button>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-md-12 margin-top-15">
                    <input type="text"
                           class="form-control"
                           id="tags"
                    >
                  </div>
                </div>


              </div>


              <h3 class="orange">Escribe la URL de tu banner</h3>

              <div class="row margin-top-30">

                <div class="form-group">

                  <div class="col-md-8">
                    <input type="text"
                           ng-model="url"
                           class="form-control"
                           placeholder="URL de tu banner"
                    />
                  </div>


                </div>

              </div>


            </div>

          </div>

          <div class="row margin-top-30">
            <div class="form-group">

                <div class="col-md-4">

                  <label class="orange">Imágen 1 ( 300px x 300px )</label>
                  <div class="dropzone-img dropzone"
                       id="img1"
                  >
                    <div class="dz-message" data-dz-message><span>Selecciona una imágen</span></div>
                  </div>
                </div>

                <div class="col-md-4">

                  <label class="orange">Imágen 1 ( 350px x 150px )</label>
                  <div class="dropzone-img dropzone"
                       id="img2"
                  >
                    <div class="dz-message" data-dz-message><span>Selecciona una imágen</span></div>
                  </div>
                </div>



            </div>
          </div>

          <div class="row margin-top-30">

            <div class="col-md-12">

              <h3 class="orange text-center bold">
                Recuerda que esto es una solicitud y no se te cobrará nada hasta que se llegue a un acuerdo con nuestros asesores de venta,
                los cuales los puedes encontrar marcando al (33) 47700504, o por el uso de nuestro chat
              </h3>
              <button class="btn btn-orange margin-top-15"
                      ng-click=" sendRequest() "
                      ng-disabled="isLoading"
              >
                <span ng-show=" ! isLoading ">Enviar solicitud de banner</span>
                <i class="fa fa-spinner fa-spin fa-fw"
                   ng-show="isLoading"
                ></i>
              </button>

            </div>

          </div>

        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>


  </div>



</div>
