<div class="container-fluid" ng-controller="codigosCtrl">
  <div class="row top">
    <div class="col-md-3"></div>
    <admin-menu-superior></admin-menu-superior>
  </div>
  <div class="row bot">
    <div class="col-md-12 top">
      <div class="text-center">
        <h1>GENERAR CÓDIGOS DE PROMOCIÓN</h1>
        <form novalidate name="code">
          <hr class="title-border"></hr>
          <div class="row">
            <div class="col-md-3">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Paquete</button>
              <select required ng-model="datos.paquete" name="paquete" type='text' class="form-control" placeholder="Ej: Plus">
              <option value="" disabled="" selected="">Selecciona un paquete</option>
              <option value="select">Select</option>
              <option value="plus">Plus</option>
            </select>
            </div>
            <div class="col-md-3">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Usos</button>
              <input min="1" id="usos" ng-model="datos.usos" required name="usos" type='number' class="form-control" placeholder="Ej: 1000" />
            </div>
            <div class="col-md-3">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Desde</button>
              <input ng-model="datos.fechaInicial" name="fechaInicial" required type='date' class="form-control" />
            </div>
            <div class="col-md-3">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Hasta</button>
              <input ng-model="datos.fechaFinal" name="fechaFinal" required type='date' class="form-control" />
            </div>
          </div>
          <div style="height:25px;"></div>
          <div class="row">
            <div class="col-md-6">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Tiempo Ofrecido</button>
              <input min="1" id="numeroOf" name="numero" ng-model="datos.numeroOfrecido" required class="col-md-6 form-control" style="width:50%;" type='number' class="form-control" placeholder="Ej: 3" />
              <select id="unidadOf" name="unidad" ng-model="datos.unidadOfrecida" required class="col-md-6 form-control" style="width:50%;" type='text' class="form-control" placeholder="Ej: Plus">
              <option value="" disabled="" selected="">Día/Mes/Años</option>
              <option value="d">Días</option>
              <option value="m">Meses</option>
              <option value="y">Años</option>
            </select>
            </div>
            <div class="col-md-6">
              <button style="pointer-events:none" class="col-xs-12 btn btn-menu-active">Cuenta Específica</button>
              <input id="correo" disabled name="cuenta" ng-model="datos.email" type='email' class="form-control" placeholder="Ej: doctor@who.com" />
            </div>
          </div>
        </form>
        <div style="height:50px;"></div>
        <div class="row">
          <div class="col-md-12">
            <button ng-click="generateCode()" type="submit" id="nightmare" class="col-xs-12 btn btn-menu-active">GENERAR</button>
            <input id="codigoBox" style="text-align: center;" type='text' class="form-control" disabled/>
          </div>
        </div>
        <div style="height:25px;"></div>
        <div class="row">
          <div class="col-md-12">
            <button ng-click="custom()" id="nightmareCustom" class="col-xs-12 btn btn-menu-active" disabled>PERSONALIZAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/admin/masonry.js"></script>
<script src="assets/js/admin/registros.js"></script>
