

<div ng-controller="AutorizacionBannersController">


  <div class="container margin-bottom-30">

    <div class="row">

      <div class="col-md-3">
        <h3 class="orange text-center">
          Listado de solicitudes
        </h3>
        <select  class="form-control"
                 id="status"
        >
          <option value="pending" selected >Pendientes</option>
          <option value="approved" >Aprobadas</option>
        </select>
      </div>

      <div class="col-md-3 col-md-offset-6 margin-top-30">
        <button class="btn btn-orange-dark pull-right"
                ng-click="addBanner()"
        >
          <i class="fa fa-plus"></i>
          Agregar banner
        </button>
      </div>
    </div>



    <div class="row margin-top-30">

      <div class="col-md-12">


        <table class="table table-striped">
          <thead>
            <tr>
              <th>Empresa</th>
              <td>Desde</td>
              <th>Hasta</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="banner in banners"
                ng-class="{ 'active-row' : banner._id == activeBanner._id }"
            >
              <td> {{ banner.user.nombre }} </td>
              <td> {{ getDateForHummans( banner.since ) }}</td>
              <td> {{ getDateForHummans( banner.until ) }}</td>
              <td>
                <button class="btn btn-orange-dark btn-xs"
                        ng-click=" viewBanner( banner ) "
                >
                  <i class="fa fa-edit"></i> Ver
                </button>
                <button class="btn btn-success btn-xs"
                        ng-click=" approveBanner( banner ) "
                        ng-show=" banner.status == 'pending' "
                >
                  <i class="fa fa-check"></i> Aprobar
                </button>
                <button class="btn btn-xs btn-success no-radius"
                        ng-if=" banner.status == 'approved' && ! banner.isActive "
                        ng-click="activateBanner(banner)"
                >
                  <i class="fa fa-check"></i>
                  Activar
                </button>
                <button class="btn btn-xs btn-danger no-radius"
                        ng-if=" banner.isActive "
                        ng-click="desactivateBanner(banner)"
                >
                  <i class="fa fa-close"></i>
                  Desactivar
                </button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>


    <div class="row margin-top-30"
         ng-show="activeBanner != null "
    >

      <div class="col-md-12">

        <h3 class="orange text-center">Banner de : {{ activeBanner.user.nombre }}</h3>


        <div class="row margin-top-30">

          <div class="col-md-12">

            <button class="btn btn-orange-dark pull-right margin-left-10"
                    ng-click="operationWithBannerTime( 1 , 'months' , '+' )"
            >
              <i class="fa fa-plus"></i>
              Agregarle un mes
            </button>
            <button class="btn btn-orange-dark pull-right margin-left-10"
                    ng-click="operationWithBannerTime( 1 , 'months' , '-' )"
            >
              <i class="fa fa-minus"></i>
              Quitarle un mes
            </button>

          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <input type="text"
                   class="form-control"
                   ng-model="activeBanner.url"
                   placeholder="URL de tu banner"
            >
          </div>
          <div class="col-md-8">
            <button class="btn btn-orange-dark"
                    ng-click="saveChanges()"
            >
              <i class="fa fa-save"></i>
            </button>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12">

            <h3>
              <b>Desde: </b> {{ getDateForHummans(activeBanner.since)}} <br>
            </h3>

            <h3>
              <b>Hasta: </b> {{ getDateForHummans(activeBanner.until)}}
            </h3>

            <h3><b>Estado del banner: </b>{{ getStatusText(activeBanner.status) }}</h3>

            <h3 class="margin-top-15 orange"><br>Palabras claves del banner</h3>
            <button class="btn btn-orange-dark margin-right-10"
                    ng-repeat=" tag in activeBanner.tags "
                    ng-click=" deleteTag($index) "
            >
              {{ tag }} <i class="fa fa-close"></i>
            </button>

          </div>

        </div>

        <div class="row margin-top-30">
          <div class="col-md-6 ">
            <img ng-src="{{ activeBanner.img1 }}"
                 alt=""
                 class="img-responsive center-block img-thumbnail banner-img"
            >
          </div>
          <div class="col-md-6 ">
            <img ng-src="{{ activeBanner.img2 }}"
                 alt=""
                 class="img-responsive center-block img-thumbnail banner-img"
            >
          </div>
        </div>

        <div class="row margin-top-30">

          <div class="col-md-6">
            <h5 class="orange text-center">Esta imágen debe de ser de 300px * 300px</h5>
            <div class="dropzone-img dropzone"
                 id="img1"
            >
              <div class="dz-message" data-dz-message><span>Cambiar imágen</span></div>
            </div>
          </div>

          <div class="col-md-6">
            <h5 class="orange text-center">Esta imágen debe de ser de 400px * 150px</h5>
            <div class="dropzone-img dropzone"
                 id="img2"
            >
              <div class="dz-message" data-dz-message><span>Cambiar imágen</span></div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>


</div>
