<div class="container-fluid" ng-controller="logsCtrl">

	<div class="row top">

	</div>

	<div class="row top">

		<h1 class="text-center">Pagos Realizados</h1>
		<a href="#" class="btn btn-warning pull-right" ng-click="requestCSV()">
			<i class="fa fa-plus"></i> Exportación a CSV
		</a>

	</div>
	<div class="row margin-top-20">

		<div class="col-md-6">
			<label for="">Buscar por Sector</label>
			<select ng-model="filterData.sector" ng-change="changeSector(filterData.sector)" class="form-control" id="sector">
				<option value="">Selecciona un sector</option>
				<option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="email">Buscar por Categoria</label>
			<select ng-model="filterData.categoria" class="form-text-field" type="text" required id="categoria">
				<option value="">Selecciona una categoría</option>
			</select>
		</div>
	</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <label for="name">Buscar por estado</label>
			<select ng-model="filterData.estado" ng-change="changeEstado(data.estado)" class="form-control" id="estado">
				<option value="">Selecciona un estado</option>
				<option ng-repeat="estado in estados" value="{{$index}}">{{estado.name}}</option>
			</select>
    </div>
  </div>
	<br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<a href="#" class="btn btn-warning" ng-if="filtering == false" ng-click="filter()">
				Aplicar Filtros
			</a>
			<a href="#" class="btn btn-warning" ng-if="filtering == true" ng-click="cleanFilter()">
				Limpiar Filtros
			</a>
		</div>
	</div>

	<div class="row margin-top-30">

		<div class="col-md-12">
			<table class="table table-hover">

				<thead>
					<tr>
						<th>Id de Usuario</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Sector</th>
            <th>Categoría</th>
            <th>Paquete adquirido</th>
            <th>Periodo</th>
            <th>Pagos</th>
            <th>Precio por pago</th>
            <th>Total</th>
            <th>Fecha de Pago</th>
            <th>Fecha de Vencimiento</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="log in paymentLogs">
						<td>{{log.userId}}</td>
						<td>{{log.userName}}</td>
						<td>{{log.userEmail}}</td>
            <td>{{log.userSector}}</td>
            <td>{{log.userCategoria}}</td>
            <td>{{log.paquete}}</td>
            <td>{{log.periodo}}</td>
            <td>{{log.numeroPagos}}</td>
            <td>{{log.precioPorPago}}</td>
            <td>{{log.total}}</td>
            <td>{{getMomentTime(log.paymentDate)}}</td>
            <td>{{getMomentTime(log.endDate)}}</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
	<!--Paginación-->
	<div class="row ">
			<div class="col-md-12 margin-top-10">
					<nav aria-label="Page navigation" class="text-center">
							<ul class="pagination">
									<li ng-if="currentPage != 1 && currentPage != undefined" ng-click="paginate(currentPage-1)">
											<a href="#" aria-label="Previous">
													<i class="fa fa-long-arrow-left"></i>
											</a>
									</li>
									<li ng-repeat="n in range( lowerLimit , upperLimit )"
											ng-class=" { 'active': n+1 == currentPage || ($index == 0 && currentPage == undefined ) } "
									>

											<a ng-click="paginate( n+1 )"
											>
													{{ n +1}}
											</a>

									</li>
									<li ng-if="currentPage != totalPages && currentPage != undefined">
											<a aria-label="Next" ng-click="paginate(currentPage+1)">
													<i class="fa fa-long-arrow-right"></i>
											</a>
									</li>
							</ul>
					</nav>
			</div>
	</div>
	<!--Termina paginación-->

	<div id="modal-export" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sector y categoría a exportar</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.sector" ng-change="changeSector(exportData.sector)" id="sector" class="form-text-field" type="text">
							<option value="">Selecciona un sector</option>
							<option ng-repeat="sector in sectors" value="{{$index}}">{{sector.name}}</option>
						</select>
						</div>
						<br>
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.categoria" class="form-text-field" type="text" id="categoria">
		          <option value="">Selecciona un sub sector</option>
		        </select>
						</div>
						<br>
						<div class="form-text-field-container" style="margin-left:0;">
							<select ng-model="exportData.estado" class="form-text-field" id=estado type="text">
		          <option value="">Selecciona un estado</option>
		          <option ng-repeat="estado in estados" value="{{estado.name}}">{{estado.name}}</option>
		        </select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<button class="btn btn-warning btn-40 col-xs-12" ng-click="export();">Exportar a CSV</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>

	<div id="modal-loading" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<img id="gif" src="assets/images/gifs/cargando.gif" class="img-center" alt="">
						</div>
					</div>
				</div>

				<div class="modal-footer">
				</div>
			</div>

		</div>
	</div>




</div>

<br><br>
