<div ng-controller="BannerController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Mis Banners
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Mis Banners</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <div class="row">

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Listado de Banners</span>
          </div>
          <div class="actions">
            <h4 class="orange"></h4>
          </div>
        </div>
        <div class="portlet-body">

          <div ng-if="banners.length == 0">
            <h3 class="text-center orange">No tenemos ningún banner, te invitamos a que hagas la solicitud de uno.
              <a href="/perfil-usuario/banners/solicitud-banner">aquí</a></h3>
          </div>
          <table class="table table-responsive table-striped margin-top-30">
            <thead>
              <tr>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
            <tr ng-repeat="banner in banners"
                ng-class="{ 'active-row' : banner == activeBanner }"
            >
              <td> {{ getDateForHummans( banner.since )}}</td>
              <td> {{ getDateForHummans( banner.until )}}</td>
              <td> {{ getStatusText(banner.status) }}</td>
              <td>
                <button class="btn btn-primary btn-xs"
                        ng-click="  showBanner(banner) "
                >
                  <i class="fa fa-edit"></i> Ver
                </button>
                <a  class="btn btn-xs hidden"
                    ng-href="/perfil-usuario/activar-banner/{{ banner._id }} "
                    ng-class="{ 'green btn-outline' : banner.isActive , 'btn-success' : ! banner.isActive }"
                >
                  <span ng-if="! banner.isActive">Activar</span>
                  <span ng-if="banner.isActive">Probar</span>
                </a>
                <button class="btn btn-xs btn-danger"
                        ng-click="deleteBanner( banner )"
                >
                  <i class="fa fa-trash"></i>
                </button>

              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>

  </div>

  <div class="row"
       ng-show="activeBanner != null "
  >

    <div class="col-md-12">

      <!-- Comienza portlet Detalle de Banner-->
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-list orange"></i>
            <span class="caption-subject orange sbold uppercase">Detalle de Banner</span>
          </div>
          <div class="actions">
            <h4 class="orange"></h4>
          </div>
        </div>
        <div class="portlet-body">

          <div class="row">
            <div class="col-md-4">
              <input type="text"
                     class="form-control"
                     ng-model="activeBanner.url"
                     placeholder="URL de tu banner"
              >
            </div>
            <div class="col-md-8">
              <button class="btn btn-orange"
                      ng-click="saveChanges()"
              >
                <i class="fa fa-save"></i>
              </button>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">

              <h3>
                <b>Desde: </b> {{ getDateForHummans(activeBanner.since)}} <br>
              </h3>

              <h3>
                <b>Hasta: </b> {{ getDateForHummans(activeBanner.until)}}
              </h3>

              <h3><b>Estado del banner: </b>{{ getStatusText(activeBanner.status) }}</h3>

              <h3 class="margin-top-15 orange"><br>Palabras claves del banner</h3>
              <button class="btn btn-orange margin-right-10"
                      ng-repeat=" tag in activeBanner.tags "
              >
                {{ tag }}
              </button>

            </div>

          </div>

          <div class="row margin-top-30">
            <div class="col-md-6 ">
              <img ng-src="{{ activeBanner.img1 }}"
                   alt=""
                   class="img-responsive center-block img-thumbnail banner-img"
              >
            </div>
            <div class="col-md-6 ">
              <img ng-src="{{ activeBanner.img2 }}"
                   alt=""
                   class="img-responsive center-block img-thumbnail banner-img"
              >
            </div>
          </div>

          <div class="row margin-top-30">
            <div class="col-md-6">
              <div id="img1" class="dropzone-img dropzone">
                <div class="dz-message" data-dz-message><span>Cambiar esta imágen</span></div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="img2" class="dropzone-img dropzone">
                <div class="dz-message" data-dz-message><span>Cambiar esta imágen</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Termina portlet Detalle de Banner-->
    </div>
  </div>


  <div class="modal fade"
       id="modal-activate-banner"
       tabindex="-1"
       role="modal-activate-banner"
       aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">¿Quieres que tu banner sea visible en nuestro sitio web?</h4>
        </div>
        <div class="modal-body">
          Para poder visualizar tu banner dentro de nuestro portal es necesario que se calcule el precio dependiendo de las palabras que hayas seleccionado.
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn dark btn-outline"
                  data-dismiss="modal"
          >Cerrar</button>
          <a type="button"
             class="btn green"
             ng-href="/perfil-usuario/activar-banner/{{ bannerToActivate._id }}"
          >Ir a pantalla de activación.</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</div>
