<div ng-controller="QuotationDetailController" >


  <!-- Formulario de contacto básico -->
  <div id="quotation">

    <div class="row border-orange">



      <div class="col-md-6 col-xs-12">

        <div class="row">

          <!-- Input de producto solicitado -->
          <div class="form-group">
            <div class="col-md-12 margin-top-15">
              <label class="control-label big-label orange-dark">
                * Producto / Servicio Solicitado
              </label>
              <label class="label-input"> {{ quotation.product}}</label>
            </div>
          </div>
          <!-- Termina producto solicitado-->

          <!-- Grupo sector -->
          <div class="form-group">
            <div class="col-md-6 margin-top-15">

              <label class="control-label big-label"><span class="orange-dark">*</span> Sector</label>
              <label class="label-input">{{ quotation.sector }}</label>

            </div>
          </div>
          <!-- Termina grupo sector -->

          <!-- Grupo categoría -->
          <div class="form-group">
            <div class="col-md-6 margin-top-15">
              <label class="control-label big-label"> Categoria</label>
              <label class="label-input">{{ quotation.category }}</label>
            </div>
          </div>
          <!-- Termina grupo categoria-->


          <div class="col-md-12 margin-top-15">
            <p class="orange">Ubicación</p>
          </div>


          <!-- Grupo estado -->
          <div class="form-group" >
            <div class="col-md-4">
              <label for="state" class="control-label big-label"> Estado <span class="orange-dark">*</span></label>
            </div>
            <div class="col-md-8">
              <label class="label-input">{{ quotation.state }}</label>
            </div>
          </div>
          <!-- Termina grupo estado -->

          <div class="col-md-12 margin-top-15">
            <p class="orange-dark text-left">Consumo</p>
          </div>
          <!-- Grupo cantidad -->
          <div class="form-group">
            <div class="col-md-4">

              <label class="control-label big-label ">
                <span class="orange-dark">*</span> Cantidad
              </label>
              <label class="label-input">{{ quotation.quantity }}</label>
            </div>
          </div>
          <!-- Termina grupo cantidad -->

          <!-- Grupo unidad -->
          <div class="form-group" >
            <div class="col-md-4" ng-class="{ 'has-error': contactForm.unity.$touched && quotation.unity == '' }">
              <label for="unity" class="control-label big-label"><span class="orange-dark">*</span> Unidad</label>
              <label class="label-input">{{ quotation.unity }}</label>
            </div>
          </div>
          <!-- Termina grupo unidad -->

          <!-- Grupo frecuencia -->
          <div class="form-group ">
            <div class="col-md-4 ">
              <label for="frecuency" class="control-label big-label"> Frecuencia</label>
              <label class="label-input">{{ quotation.frecuency }}</label>
            </div>
          </div>
          <!-- Termina grupo frecuencia-->

          <div class="col-md-12 margin-top-15">
            <p class="orange-dark text-left">Otros datos</p>
          </div>

          <!-- Grupo fecha -->
          <div class="form-group ">
            <div class="col-md-4">
              <label for="date" class="control-label big-label"> Fecha</label>
            </div>
            <div class="col-md-8">
              <label class="label-input">{{ getDate(quotation.date) }}</label>
            </div>

          </div>
          <!-- Termina grupo fecha -->

          <!-- Grupo uso del producto -->
          <div class="form-group ">
            <div class="col-md-4 margin-top-15">
              <label class="control-label big-label"> Uso del producto</label>
            </div>
            <div class="col-md-8 margin-top-15">
              <label class="label-input">{{ quotation.product_use }}</label>
            </div>
          </div>
          <!-- Termina grupo uso del producto -->

          <!-- Grupo comentarios -->
          <div class="form-group ">
            <div class="col-md-4 margin-top-15 margin-bottom-30">
              <label for="comments" class="control-label big-label"> Comentarios </label>
            </div>
            <div class="col-md-8 margin-top-15">
              <label class="label-input">{{ quotation.comments }}</label>
            </div>
          </div>
          <!-- Termina grupo comentarios -->

        </div>

      </div>

      <div class="col-md-6 col-xs-12">

        <div class="row bg-black  container-rounded">
          <div class="col-md-12 padding-30">
            <div class="row">
              <div class="col-md-12">
                <h4 class="orange">Datos del solicitante</h4>
              </div>

              <!-- Grupo email -->
              <div class="form-group" >
                <div class="col-md-3 margin-top-15">
                  <label class="control-label big-label"> <span class="orange">*</span> E-mail </label>
                </div>
                <div class="col-md-9 margin-top-15">
                  <label class="label-input">{{ quotation.contact_email }}</label>
                </div>
              </div>
              <!-- Termina grupo email -->

              <!-- Grupo nombre-->
              <div class="form-group">
                <div class="col-md-6 margin-top-15">
                  <label for="name" class="control-label big-label"> Nombre <span class="orange">*</span></label>
                  <label class="label-input">{{ quotation.contact_name }}</label>
                </div>
              </div>
              <!-- Termina grupo nombre -->

              <!-- Grupo apellido -->
              <div class="form-group" >
                <div class="col-md-6 margin-top-15">
                  <label for="lastname" class="control-label big-label"> Apellido <span class="orange">*</span></label>
                  <label class="label-input">{{ quotation.contact_lastname }}</label>
                </div>
              </div>
              <!-- Termina grupo apellido -->

              <div class="form-group ">
                <div class="col-md-12 margin-top-15">
                  <label for="comments" class="control-label big-label"> Empresa </label>
                  <label class="label-input">{{ quotation.bussiness_name }}</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 margin-top-15">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="comments" class="control-label big-label"> Tipo </label>
                      <label class="label-input">{{ quotation.contact_phone.type }}</label>
                    </div>
                    <div class="col-md-6">
                      <label class="control-label big-label"> Lada </label>
                      <label class="label-input">{{ quotation.contact_phone.lada }}</label>
                    </div>
                  </div>

                </div>

              </div>

              <div class="form-group">
                <div class="col-md-6 margin-top-15">
                  <label for="comments" class="control-label big-label"> Número <span class="orange">*</span> </label>
                  <label class="label-input">{{ quotation.contact_phone.number }}</label>
                </div>

              </div>


            </div>
          </div>

          <div class="col-md-12 margin-top-15 margin-bottom-20"></div>
        </div>
      </div>


    </div>


  </div>



</div>
