
<div ng-controller="RegistroDeAccesosController">


  {{ since }}
  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <h2 class="orange text-center">
          Listado de empresas que hicieron loggin en Portalia
        </h2>

      </div>

    </div>

    <div class="row">


      <div class="col-md-4">
        <label for="">Desde cuando</label>
        <input id="since" type='text' class="form-control no-radius">
      </div>
      <div class="col-md-4">
        <label for="">Desde cuando</label>
        <input id="until" type='text' class="form-control no-radius">
      </div>
      <div class="col-md-4">
        <label for="">Acciones</label>
        <button class="btn btn-orange-dark btn-block"
                ng-click=" filter() "
        >
          <i class="fa fa-spinner fa-spin fa-fw"
             ng-show=" isLoading "
          ></i>
          <span ng-show=" ! isLoading ">Filtrar</span>
        </button>
      </div>

    </div>


    <div class="row margin-top-30">

      <div class="col-md-12">
        <button class="btn btn-orange-dark pull-right"
                ng-click=" exportToCsv()"
        >
          <i class="fa fa-file-excel-o"
             ng-show=" ! isLoading "
          ></i>
          <i class="fa fa-spinner fa-spin fa-fw"
             ng-show=" isLoading "
          ></i>
          Exportar
        </button>
      </div>

    </div>


    <div class="row margin-top-30">

      <div class="col-md-12">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre del usuario</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat=" register in registers | limitTo:20"
                ng-if=" register.user.role == 'empresa'"
            >
              <td>{{ register.user.nombre }}</td>
              <td>{{ register.user.email }}</td>
              <td>{{ register.user.telefono }}</td>
              <td>{{ getDateForHummans(register.startAt) }}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>


</div>
