<div ng-controller="SeguimientoProspectosController">


  <div class="container margin-top-30 margin-bottom-30">

    <h3 class="orange text-center">Listado de seguimientos</h3>
    <div class="row">

      <div class="col-md-12">

        <table class="table table-striped">

          <thead>
            <tr>
              <th>Cotización</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="quote in quotes">
              <td> {{ quote.product }}</td>
              <td>{{ getDateForHummans( quote.createdAt ) }}</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

  </div>


</div>
