<div ng-controller="oportunidadesCtrl">
  <div class="row">

    <h3 class="text-center">
     <br class="visible-xs">
      <!-- Button trigger modal -->
      <button type="button"
              class="btn btn-editar "
              data-toggle="modal"
              data-target="#oportunidades-modal"
              ng-if="nombreInfo == 'me' && userData.role == 'empresa'"
      >
        Mis Oportunidades de Negocio
      </button>
    </h3>


  </div>

  <div class="modal fade" id="oportunidades-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Oportunidades de Negocio</h3>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" ng-click="changeCurrentQuotes('new')"><a href aria-controls="Aprobadas" role="tab" data-toggle="tab">Nuevas</a></li>
            <li role="presentation" ng-click="changeCurrentQuotes('archived')"><a href aria-controls="Rechazadas" role="tab" data-toggle="tab">Archivadas</a></li>
          </ul>
          <span ng-show="currentQuotes.length == 0"><br>Por el momento no tienes cotizaciones <span ng-show="currentID == 'new'">nuevas</span><span ng-if="currentID == 'archived'">archivadas</span></span>
          <table class="table table-striped" id="tblGrid" ng-show="currentQuotes.length != 0">
            <thead id="tblHead">
              <tr>
                <th>Nombre del Contacto</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="quote in currentQuotes">
                <td>{{quote.contact_name}} {{quote.contact_lastname}}</td>
                <td>
                  <a href class="btn btn-success" ng-show="currentID == 'new'"><i class="fa a-envelope-o"></i> Nueva </a>
                  <a href class="btn btn-danger" ng-show="currentID == 'archived'"><i class="fa a-envelope-o"></i> Archivada </a>
                </td>
                <td>
                  <a href class="btn btn-warning" ng-show="currentID == 'new'" ng-click="markAsSeen(quote._id)"><i class="fa a-envelope-o"></i> Marcar como vista </a>
                  <a href class="btn btn-warning" data-toggle="modal" data-target="#contact-modal" ng-click="setModalInfo(quote)"><i class="fa a-envelope-o"></i> Ver </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!--Modal de contqacto-->
  <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9000;">
      <div class="modal-dialog modal-lg">
          <div class="modal-content ">
              <a class="pull-right btn-close-modal" data-dismiss="modal">
                  <i class="fa fa-remove"></i>
              </a>
              <div class="modal-body top">

                  <!-- Formulario de contacto básico -->
                  <div id="contact">
                      <div class="row border-orange">

                          <form name="contactForm"
                                id="forma"
                                novalidate
                                ng-submit="saveContact( contactForm.$valid )"
                          >

                              <div class="col-md-6 col-xs-12">

                                  <div class="row">

                                      <!-- Input de producto solicitado -->
                                      <div class="form-group"
                                           ng-class="{ 'has-error': ( contactForm.product.$touched || contactForm.$submitted ) && ! contactForm.product.$valid }"
                                      >
                                          <div class="col-md-12 margin-top-15">
                                              <label class="control-label big-label orange-dark">
                                                  * Producto / Servicio Solicitado
                                              </label>
                                              <input  type="text"
                                                      class="form-control no-radius"
                                                      ng-model="contactData.product"
                                                      name="product"
                                                      ng-required="true"
                                                      pattern="([A-z0-9À-ž\s]){4,}"
                                                      maxlength="100"
                                              >
                                              <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.required">
                                                  El campo producto es requerido
                                              </span>
                                              <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.pattern">
                                                  No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                                              </span>
                                              <span class="help-block" ng-show="( contactForm.product.$touched || contactForm.$submitted )&& contactForm.product.$error.maxlength ">
                                                  No puedes ingresar más de 100 caracteres en este campo
                                              </span>
                                          </div>
                                      </div>
                                      <!-- Termina producto solicitado-->

                                      <!-- Grupo sector -->
                                      <div class="form-group" ng-class="{ 'has-error': ( contactForm.sector.$touched || contactForm.$submitted ) && ! contactForm.sector.$valid }">
                                          <div class="col-md-6 margin-top-15">
                                              <label class="control-label big-label"><span class="orange-dark">*</span> Sector</label>

                                              <input class="form-control select-rounded"
                                                      name="sector"
                                                      id="sector"
                                                      type="text"
                                                      ng-model="contactData.sector"
                                                      ng-required="true"
                                              >
                                              <span class="help-block" ng-show="( contactForm.sector.$touched || contactForm.$submitted )&& contactForm.sector.$error.required">
                                                  Este campo es requerido
                                              </span>

                                          </div>
                                      </div>
                                      <!-- Termina grupo sector -->

                                      <!-- Grupo categoría -->
                                      <div class="form-group">
                                          <div class="col-md-6 margin-top-15">
                                              <label class="control-label big-label"> Categoria</label>
                                              <input class="form-control select-rounded"
                                                      type="text"
                                                      name="category"
                                                      id="category"
                                                      ng-model="contactData.category"
                                              >
                                          </div>
                                      </div>
                                      <!-- Termina grupo categoria-->


                                      <div class="col-md-12 margin-top-15">
                                          <p class="orange">Ubicación</p>
                                      </div>


                                      <!-- Grupo estado -->
                                      <div class="form-group"
                                           ng-class="{ 'has-error': ( contactForm.state.$touched || contactForm.$submitted ) && ! contactForm.state.$valid }"
                                      >
                                          <div class="col-md-4">
                                              <label for="state" class="control-label big-label"> Estado <span class="orange-dark">*</span></label>
                                          </div>
                                          <div class="col-md-8">
                                              <input class="form-control select-rounded"
                                                      id="state"
                                                      name="state"
                                                      ng-model="contactData.state"
                                                      type="text"
                                                      ng-required="true"
                                              >
                                              <span class="help-block" ng-show="( contactForm.state.$touched || contactForm.$submitted )&& contactForm.state.$error.required">
                                                  Este campo es requerido
                                              </span>
                                          </div>
                                      </div>
                                      <!-- Termina grupo estado -->

                                      <div class="col-md-12 margin-top-15">
                                          <p class="orange-dark text-left">Consumo</p>
                                      </div>
                                      <!-- Grupo cantidad -->
                                      <div class="form-group" ng-class="{ 'has-error': ( contactForm.quantity.$touched || contactForm.$submitted ) && ! contactForm.quantity.$valid }">
                                          <div class="col-md-4">

                                              <label class="control-label big-label ">
                                                  <span class="orange-dark">*</span> Cantidad
                                                  <span ng-show="contactForm.quantity.$error.integer">The value is not a valid integer!</span>
                                              </label>
                                              <input type="text"
                                                     name="quantity"
                                                     class="form-control no-radius"
                                                     ng-model="contactData.quantity"
                                                     ng-required="true"
                                                     pattern="[0-9$,.]*"
                                              >
                                              <span class="help-block" ng-show="( contactForm.quantity.$touched || contactForm.$submitted )&& contactForm.quantity.$error.required">
                                                  Este campo es requerido
                                              </span>
                                              <span class="help-block" ng-show="( contactForm.quantity.$touched || contactForm.$submitted )&& contactForm.quantity.$error.pattern">
                                                  Este campo solo puede contener números
                                              </span>
                                          </div>
                                      </div>
                                      <!-- Termina grupo cantidad -->

                                      <!-- Grupo unidad -->
                                      <div class="form-group"
                                           ng-class="{ 'has-error': ( contactForm.unity.$touched || contactForm.$submitted ) && ! contactForm.unity.$valid }"
                                      >
                                          <div class="col-md-4" ng-class="{ 'has-error': contactForm.unity.$touched && contactData.unity == '' }">
                                              <label for="unity" class="control-label big-label"><span class="orange-dark">*</span> Unidad</label>
                                              <input class="form-control select-rounded"
                                                      name="unity"
                                                      ng-model="contactData.unity"
                                                      type="text"
                                                      ng-required="true"
                                              >
                                              <span class="help-block" ng-show="( contactForm.unity.$touched || contactForm.$submitted )&& contactForm.unity.$error.required">
                                                  Este campo es requerido
                                              </span>
                                          </div>
                                      </div>
                                      <!-- Termina grupo unidad -->

                                      <!-- Grupo frecuencia -->
                                      <div class="form-group ">
                                          <div class="col-md-4 ">
                                              <label for="frecuency" class="control-label big-label"> Frecuencia</label>
                                              <input class="form-control select-rounded"
                                                      id="frecuency"
                                                      ng-model="contactData.frecuency"
                                                      type="text"
                                              >
                                          </div>
                                      </div>
                                      <!-- Termina grupo frecuencia-->

                                      <div class="col-md-12 margin-top-15">
                                          <p class="orange-dark text-left">Otros datos</p>
                                      </div>

                                      <!-- Grupo fecha -->
                                      <div class="form-group ">
                                          <div class="col-md-4">
                                              <label for="date" class="control-label big-label"> Fecha</label>
                                          </div>
                                          <div class="col-md-8">
                                              <input id="date" type='text' ng-model="contactData.date" class="form-control no-radius">
                                          </div>

                                      </div>
                                      <!-- Termina grupo fecha -->

                                      <!-- Grupo uso del producto -->
                                      <div class="form-group ">
                                          <div class="col-md-4 margin-top-15">
                                              <label for="productUse" class="control-label big-label"> Uso del producto</label>
                                          </div>
                                          <div class="col-md-8 margin-top-15">
                                              <input class="form-control select-rounded"
                                                      id="productUse"
                                                      ng-model="contactData.product_use"
                                                      type="text"
                                              >
                                          </div>
                                      </div>
                                      <!-- Termina grupo uso del producto -->

                                      <!-- Grupo comentarios -->
                                      <div class="form-group ">
                                          <div class="col-md-4 margin-top-15 margin-bottom-30">
                                              <label for="comments" class="control-label big-label"> Comentarios </label>
                                          </div>
                                          <div class="col-md-8 margin-top-15">
                                              <textarea id="comments" class="form-control" ng-model="contactData.comments" cols="30" rows="3" oncopy="return false" onpaste="return false"></textarea>
                                          </div>
                                      </div>
                                      <!-- Termina grupo comentarios -->

                                  </div>

                              </div>

                              <div class="col-md-6 col-xs-12">

                                  <div class="row bg-black  container-rounded">
                                      <div class="col-md-12 padding-30">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <h4 class="orange">Datos del solicitante</h4>
                                              </div>

                                              <!-- Grupo email -->
                                              <div class="form-group"
                                                   ng-class="{ 'has-error': ( contactForm.email.$touched || contactForm.$submitted ) && ! contactForm.email.$valid }"
                                              >
                                                  <div class="col-md-3 margin-top-15">
                                                      <label class="control-label big-label"> <span class="orange">*</span> E-mail </label>
                                                  </div>
                                                  <div class="col-md-9 margin-top-15">
                                                      <input type="email"
                                                             name="email"
                                                             ng-model="contactData.contact_email"
                                                             class="form-control no-radius"
                                                             oncopy="return false"
                                                             onpaste="return false"
                                                             ng-required="true"
                                                      >
                                                      <span class="help-block" ng-show="( contactForm.email.$touched || contactForm.$submitted )&& contactForm.email.$error.required">
                                                          Este campo es requerido
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.email.$touched || contactForm.$submitted )&& contactForm.email.$error.email">
                                                          El correo no contiene un formato válido
                                                      </span>
                                                  </div>
                                               </div>
                                              <!-- Termina grupo email -->

                                              <!-- Grupo nombre-->
                                              <div class="form-group"
                                                   ng-class="{ 'has-error': ( contactForm.contact_name.$touched || contactForm.$submitted ) && ! contactForm.contact_name.$valid }"
                                              >
                                                  <div class="col-md-6 margin-top-15">
                                                      <label for="name" class="control-label big-label"> Nombre <span class="orange">*</span></label>
                                                      <input  type="text"
                                                              name="contact_name"
                                                              ng-model="contactData.contact_name"
                                                              class="form-control no-radius"
                                                              oncopy="return false"
                                                              onpaste="return false"
                                                              ng-required="true"
                                                              pattern="([A-z0-9À-ž\s]){4,}"
                                                              maxlength="50"
                                                      >
                                                      <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.required">
                                                          Este campo es requerido
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.pattern ">
                                                          No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.contact_name.$touched || contactForm.$submitted )&& contactForm.contact_name.$error.maxlength ">
                                                          No puedes ingresar más de 50 caracteres en este campo
                                                      </span>
                                                  </div>
                                              </div>
                                              <!-- Termina grupo nombre -->

                                              <!-- Grupo apellido -->
                                              <div class="form-group"
                                                   ng-class="{ 'has-error': ( contactForm.contact_lastname.$touched || contactForm.$submitted ) && ! contactForm.contact_lastname.$valid }"
                                              >
                                                  <div class="col-md-6 margin-top-15">
                                                      <label for="lastname" class="control-label big-label"> Apellido <span class="orange">*</span></label>
                                                      <input type="text"
                                                             name="contact_lastname"
                                                             ng-model="contactData.contact_lastname"
                                                             class="form-control no-radius"
                                                             oncopy="return false"
                                                             onpaste="return false"
                                                             ng-required="true"
                                                             pattern="([A-z0-9À-ž\s]){4,}"
                                                             maxlength="50"
                                                      >
                                                      <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.required">
                                                          Este campo es requerido
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.pattern ">
                                                          No puedes ingresar caracteres especiales y tiene que tener una longitud mínima de 4 caracteres
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.contact_lastname.$touched || contactForm.$submitted )&& contactForm.contact_lastname.$error.maxlength ">
                                                          No puedes ingresar más de 50 caracteres en este campo
                                                      </span>
                                                  </div>
                                              </div>
                                              <!-- Termina grupo apellido -->

                                              <div class="form-group "
                                                   ng-class="{ 'has-error': ( contactForm.bussiness_name.$touched || contactForm.$submitted ) && ! contactForm.bussiness_name.$valid }"
                                              >
                                                  <div class="col-md-12 margin-top-15">
                                                      <label for="comments" class="control-label big-label"> Empresa </label>
                                                      <input type="text"
                                                             class="form-control no-radius"
                                                             name="bussiness_name"
                                                             ng-model="contactData.bussiness_name"
                                                             oncopy="return false"
                                                             onpaste="return false"
                                                             maxlength="50"
                                                      >
                                                      <span class="help-block" ng-show="( contactForm.bussiness_name.$touched || contactForm.$submitted )&& contactForm.bussiness_name.$error.maxlength ">
                                                          No puedes ingresar más de 50 caracteres en este campo
                                                      </span>
                                                  </div>
                                              </div>

                                              <div class="form-group"

                                              >
                                                  <div class="col-md-6 margin-top-15">
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label for="comments" class="control-label big-label"> Tipo </label>
                                                              <input class="form-control select-rounded"
                                                                      id="phone-type"
                                                                      type="text"
                                                                      ng-model="contactData.contact_phone.type"
                                                              >
                                                          </div>
                                                          <div class="col-md-6">
                                                              <label class="control-label big-label"> Lada </label>
                                                              <input type="text"
                                                                     class="form-control no-radius"
                                                                     ng-model="contactData.contact_phone.lada"
                                                              >
                                                          </div>
                                                      </div>

                                                  </div>

                                              </div>

                                              <div class="form-group"
                                                   ng-class="{ 'has-error': ( contactForm.phone.$touched || contactForm.$submitted ) && ! contactForm.phone.$valid }"
                                              >
                                                  <div class="col-md-6 margin-top-15">
                                                      <label for="comments" class="control-label big-label"> Número <span class="orange">*</span> </label>
                                                      <input type="text"
                                                             class="form-control no-radius"
                                                             name="phone"
                                                             ng-model="contactData.contact_phone.number"
                                                             oncopy="return false"
                                                             onpaste="return false"
                                                             ng-required="true"
                                                             pattern="[0-9$,.]*"
                                                      >
                                                      <span class="help-block" ng-show="( contactForm.phone.$touched || contactForm.$submitted )&& contactForm.phone.$error.required">
                                                          Este campo es requerido
                                                      </span>
                                                      <span class="help-block" ng-show="( contactForm.phone.$touched || contactForm.$submitted )&& contactForm.phone.$error.pattern ">
                                                          Solo puedes ingresar números en este campo
                                                      </span>

                                                  </div>

                                              </div>


                                          </div>
                                      </div>

                                      <div class="col-md-12 margin-top-15 margin-bottom-20"></div>
                                  </div>
                              </div>

                          </form>

                      </div>


                  </div>


              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
