<div ng-controller="ProductoDatosGeneralesController"
     ng-init=" init() "
>


  <form name="productForm"
        id="productForm"
        novalidate
        ng-submit="createProduct( productForm.$valid )"
  >

    <div class="row margin-top-30">

      <div class="col-md-6"
           ng-class="{ 'has-error': ( productForm.name.$touched || productForm.$submitted ) && ! productForm.name.$valid }"
      >
        <label for="">Nombre de tu producto</label>
        <input type="text"
               class="form-control"
               placeholder="escribe el nombre de tu producto"
               ng-model=" productData.name "
               ng-required="true"
               pattern="([A-z0-9À-ž\s]){4,}"
               maxlength="100"
               name=" name "
        >
        <span class="help-block"
                     ng-show="( productForm.name.$touched || productForm.$submitted )&& productForm.name.$error.required"
        >
              El campo nombre es requerido
        </span>
        <span class="help-block"
              ng-show="( productForm.name.$touched || productForm.$submitted )&& productForm.name.$error.pattern"
        >
              El nombre del producto tiene que tener al menos 4 caracteres
        </span>
      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-6"
           ng-class="{ 'has-error': ( productForm.category.$touched || productForm.$submitted ) && ! productForm.category.$valid }"
      >
        <label for="">Selecciona una categoría</label>
        <select class="form-control"
                ng-model=" category "
                ng-options="entity.name for entity in categories "
                ng-required=" true "
                name=" category "
        >
        </select>
      </div>
      <div class="col-md-6"
           ng-class="{ 'has-error': ( productForm.category.$touched || productForm.$submitted ) && ! productForm.category.$valid }"
      >
        <label for="">Selecciona una sub categoría</label>
        <select class="form-control"
                ng-model=" subCategory "
                ng-options="entity.name for entity in category.subCategories "
                ng-required=" true "
                name=" subCategory "
        ></select>
        <span class="help-block"
              ng-show="( productForm.subCategory.$touched || productForm.$submitted )&& productForm.subCategory.$error.required"
        >
              La subcategoria es requerida
        </span>

      </div>

    </div>

    <div class="row margin-top-30">

      <div class="col-md-12">

        <div id="summernote"></div>

      </div>

    </div>

    <div class="row margin-top-30">
      <button class="btn btn-orange center-block next-step">
        Siguiente
      </button>
    </div>

  </form>



</div>
