<div ng-controller="MultiCategoryController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>
        Multiples categorías
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Múltiples categorías</a>

    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->


  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-grid font-blue"></i>
        <span class="caption-subject font-blue sbold uppercase">Categorias en las que aparezco</span>
      </div>

    </div>
    <div class="portlet-body">

      <div class="row">

        <div class="col-md-4">

          <label for="">Selecciona un sector </label>
          <select class="form-control" ng-model="selectedSector" >
            <option ng-repeat="sector in sectors">
              {{ sector.name }}
            </option>
          </select>


        </div>

        <div class="col-md-4">
          <label for="">Selecciona una categoría</label>
          <select class="form-control" ng-model=" selectedCategory ">
            <option ng-repeat=" category in subSectors"
                    ng-show=" ! subcategories.includes(category.name)"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4" >
          <br>
          <button class="btn blue margin-top-5"
                  ng-click=" addSubcategory() "
          >
            <i class="fa fa-plus"></i>
            Agregar
          </button>

          <button class="btn green margin-top-5 margin-left-10"
                  ng-click=" saveSubcategories() "
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </div>

      </div>

      <div class="row margin-top-30" >

        <div class="col-lg-3 col-md-4 col-xs-12" >
          <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-color-success ">{{ user.categoria_name }}</div>
            <p class="ribbon-content">
              Tu empresa aparecerá en las búsquedas que se realicen con esta categoría
            </p>
            <button class="btn green btn-outline center-block "
            >
              Categoria principal
            </button>
            <br>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-12"
             ng-repeat=" item in subcategories track by $index"
             ng-show=" item != user.categoria_name"
        >
          <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-color-primary ">{{ item }}</div>
            <p class="ribbon-content">
              Tu empresa aparecerá en las búsquedas que se realicen con esta categoría
            </p>
            <button class="btn blue btn-outline center-block "
                    ng-click=" deleteSubcategory( $index ) "
            >
              <i class="fa fa-trash"></i>
              Quitar
            </button>
            <br>
          </div>
        </div>

      </div>

      <div class="row margin-top-30" >
      <div ng-show="user.pushSuscriberId.length != 0">
        <h4 class="profile-desc-title">¿Notificarme sobre oportunidades de negocio?</h4>
        <input type="radio" name="notifications" ng-click="changeNotifications(true)" ng-checked="user.wantsNotifications == true" id="si"> <label for="si" ng-click="changeNotifications(true)">Sí</label>
        <br>
        <input type="radio" name="notifications" ng-click="changeNotifications(false)" ng-checked="user.wantsNotifications == false" id="no"> <label for="no" ng-click="changeNotifications(false)">No</label>
      </div>
    </div>
    <div class="row margin-top-30" style="margin: 0 auto;">
      <h4 class="profile-desc-title">Encuesta</h4>
      <iframe style="width: 1000px;height: 900px;" src="https://es.surveymonkey.com/r/KNZ7LYD"></iframe>
    </div>



    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->
</div>
