
<div ng-controller="EditarProductoController">

  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Edición de {{ product.name }}
      </h1>
    </div>
    <!-- END PAGE TITLE -->

  </div>
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="/perfil-usuario">Inicio</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/perfil-usuario/productos">Productos clasificados</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a>{{ product.name }}</a>
    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->

  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-list orange"></i>
        <span class="caption-subject orange sbold uppercase">Edición de {{ product.name }}</span>
      </div>
      <div class="actions">

      </div>
    </div>
    <div class="portlet-body">

      <div class="row">

        <div class="col-md-6">

          <label for="">Nombre de tu producto</label>
          <input type="text"
                 class="form-control"
                 ng-model="product.name"
          >

        </div>

      </div>

      <div class="row margin-top-30">

        <div class="col-md-6">
          <label for="">Categoría</label>
          <select class="form-control"
                  ng-options="entity.name for entity in categories.options track by entity.name "
                  ng-model="categories.selectedOption"
          >
          </select>
        </div>
        <div class="col-md-6">
          <label for="">Sub categoría</label>
          <select class="form-control"
                  ng-options="entity.name for entity in subCategories.options track by entity.name "
                  ng-model="subCategories.selectedOption"
          >
          </select>
        </div>

      </div>

      <div class="row margin-top-30">

        <div class="col-md-12">
          <div id="summernote"></div>
        </div>

      </div>

      <div class="row margin-top-30">

        <div class="col-md-6">
          <label for="">Ficha técnica</label> <br>
          <div class="fileinput fileinput-new" data-provides="fileinput">

            <div class="input-group input-large">

              <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                <span class="fileinput-filename"> </span>
              </div>
              <span class="input-group-addon btn default btn-file">
                      <span class="fileinput-new"> Seleccionar un archivo </span>
                      <span class="fileinput-exists"> Cambiar </span>
                      <input type="file"
                             nv-file-select=""
                             name="datasheet"
                             accept=".txt,.csv,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.jpg,.png,.gif"
                             ngf-max-size="10MB"
                             uploader="uploader"
                      >
                    </span>
              <a href="javascript:;"
                 class="input-group-addon btn red fileinput-exists"
                 data-dismiss="fileinput"
              > Eliminar </a>

            </div>

          </div>
        </div>

        <div class="col-md-1">
          <label for="">Divisa</label>
          <select class="form-control"
                  ng-model=" product.currency "
          >
            <option value="MXN" ng-selected="product.currency == 'MXN'">MXN</option>
            <option value="USD" ng-selected="product.currency == 'USD'">USD</option>
          </select>
        </div>
        <div class="col-md-5">
          <label for="">Precio</label>
          <input type="text"
                 class="form-control"
                 name="price"
                 id="price"
          >
        </div>

      </div>

      <div class="row margin-top-30">

        <div class="col-md-12">
          <label for="">¿Cual es el valor agregado de tu producto?</label>
          <textarea class="form-control"
                    rows="5"
                    ng-model=" product.addedValue "
          ></textarea>
        </div>

      </div>

      <div class="row margin-top-30" >

        <div class="col-md-3"
             ng-repeat="image in product.pictures"
        >
          <div class="product-image margin-top-15"
               ng-class=" { 'main-picture' : image.mainPicture } "
          >
            <img ng-src="{{ image.url.replace('./client','') }}"
                 alt=""
                 class="img-responsive"
            >
            <button class="btn btn-outline red"
                    ng-click="deleteImage( $index )"
            >
              <i class="icon-trash"></i>
              Borrar
            </button>
            <button class="btn btn-outline yellow-gold margin-top-30 center-block"
                    ng-show="!image.mainPicture"
                    ng-click=" setAsMainImage( image.url ) "
            >
                Imágen principal
            </button>
            <button class="btn yellow-gold margin-top-30 center-block"
                    ng-show="image.mainPicture"
            >
              <i class="fa fa-star"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="row margin-top-30">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn  yellow-gold btn-block"
                  ng-click="saveChanges()"
          >
            Guardar cambios
          </button>
        </div>
      </div>
      <imagenes-producto></imagenes-producto>

    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->



</div>
